= simple_form_for [:admin, @resource ], url: @form_url do |f|
  =f.association :location, collection: Location.pluck(:name, :id), input_html: {class: 'chosen-select' }
  =f.association :user, collection: User.pluck(:email, :id), input_html: {class: 'chosen-select' }
  =f.input :status, collection: Rating.statuses.keys
  =f.input :comment
  =f.button :submit
