tr
  td=link_to list.location.name, location_path(list.location, anchor: "review#{list.id}")
  td=list.status.titleize
  td=list.user.email
  td=list.reason_label
  td=l list.created_at
  td=link_to "Edit", edit_admin_rating_path(list), class: 'button tiny'
