h1=@resource_name

.row
  .columns.medium-12
    = link_to "Doctor Reviews", admin_doctor_reviews_path, class: 'button secondary'
    = link_to "Practice Reviews", admin_practice_reviews_path, class: 'button secondary ml-10'


  .row
    .columns.medium-6.well.green-box
      = simple_form_for :rating, method: :get, url: admin_ratings_path do |f|        
        =f.input :search, label: 'Search', placeholder: "Search by email or location", input_html: { value: @search_term }
        =f.button :submit, "Search", value: 'Search'
        =f.button :submit, "Clear", value: 'Clear', class: 'secondary ml-10'
    
    .columns.medium-6.well.blue-box
      = simple_form_for :rating, method: :get, url: admin_ratings_path do |f|
        =f.input :co, label: 'Country', placeholder: "Enter Country"
        =f.button :button, "Download", value: 'Download'

    

.button-group
table
  thead
    tr
      th Location
      th Status
      th User
      th Department
      th Created
      th
  tbody
    = render partial: "list", collection: @resources
- if @resources.present?
  .text-center
    = paginate(@resources)
  
script[type="text/javascript"]
  |
    $('button[name=button]').click(function () {
      country = $('#rating_co').val();
      if (country != ''){
        $('#rating_co').css("border", "");
        return true;
      }
      else{
        $('#rating_co').css("border", "1px solid red"); 
        $('#rating_co').focus();
        return false;
      }
    })