h1 Languages
p=link_to "New", new_admin_language_path, title: 'Add Language', class: 'button'

table data-nosort=""
  thead
    tr
      th Language
  tbody
    - @resources.order(:title).each do |resource|
      tr
        td=link_to resource.title, edit_admin_language_path(resource), title: "Edit #{resource.title}"

- if @resources.present?
  .text-center
    = paginate(@resources)