div id="question#{question.id}" class="question"
  .body
    =simple_format question.body
    p
      small
        | Was this question...
      =render "votes/vote_buttons", voteable: question
  .answers
    p
      a href="#" class="toggle-answers"
        i class="fa fa-chevron-down" aria-hidden="true"
        span.answer-label View 
        |  #{question.answers.count} Answers
    p=link_to "Answer this question", new_question_answer_path(question), class: 'button hollow upcase secondary', title: 'Give your valuable answer'
    .answer
      h4 Answers

    =render partial: "answers/answer", collection: question.answers



