hr
.container
  h1.text-center New Question
  - if @question.location.doctor?
    = link_to @question.location&.name, doctor_path(@question.location)
  - elsif @question.location
    = link_to @question.location&.name, location_path(@question.location)
  .well
    = simple_form_for [@resource, @question] do |f|
      .form-group
        =f.input :body, label: false, placeholder: "Enter your question here...", input_html:{ class: 'form-control'}
      .form-group
        =f.button :submit, class: 'btn btn-primary'
