-if @resource.persisted?
  p.text-right=link_to "Delete", [:admin, @resource], method: :delete, title: 'Delete'
=simple_form_for [:admin, @resource] do |f|
  =f.input :name
  =f.association :practice_specialities, collection: PracticeSpeciality.all.order(:name), input_html: {class: 'height_500'}
  =f.button :button
