h1 Conditions
p=link_to "New", new_admin_condition_path, title: 'Add Condition', class: 'button'

table data-nosort=""
  thead
    tr
      th Name
  tbody
    - @resources.order(:name).each do |resource|
      tr
        td=link_to resource.name, edit_admin_condition_path(resource), title: "Edit #{resource.name}"

- if @resources.present?
  .text-center
    = paginate(@resources)