.row
  .columns
    - if @search.has_query?
      - if @search.has_results?
        p.search-start 
          strong Step 2: 
          | Filter your results by using the filters to the left or review the results below.
      - else
        p.search-start Please try a different search. There are no results for this search.
    - else
      p.search-start
        strong Step 1: 
        | Start your search by entering a name or country or both!
.row.collapse
  .columns.medium-8
    =f.input :name, placeholder: "Name", label: false
  .columns.medium-2.end
    = render 'button', f: f

= render "results_and_clear"
