h1 Doctor Upload Breakdown

p Total: #{@total}
table
  thead
    tr
      th State
      th.text-right Queue Count
      th.text-right Queue Imported
      th.text-right Actual Count
      th.text-right Queue - Actual
  tbody
    tr
      th Totals
      th.text-right=@total
      th.text-right=@total_queue_uploaded
      th.text-right=@total_actual
      th
    - @report.each do |record|
      tr
        td=record.State
        td.text-right=record.count
        td.text-right=record.imported_count
        td.text-right=@report_actual[record.State]
        td.text-right=record.count.to_i - @report_actual[record.State].to_i
