h1 Doctor Report

p
  strong Queue
p In Queue: #{DoctorUpload.count}
p Imported from Queue: #{DoctorUpload.imported_count}
p Total Doctors: #{Doctor.count}
p=link_to "Restart Importer", "/admin/doctor_reports?restart=true"
=simple_form_for @report, method: :get, url: '/admin/doctor_reports' do |f|
  = f.input :speciality, as: :select, collection: @report.possible_specialities, label: false, :include_blank => "All Specialities"
  = f.button :button, "Search"

- if @report.possible_states
	-@report.possible_states.each do |state|
	  p=state[0]
