h1= 'PRACTICE REVIEWS'

.row
  .columns.medium-12
    = link_to "Doctor Reviews", admin_doctor_reviews_path, class: 'button secondary'
    = link_to "Ratings", admin_ratings_path, class: 'button secondary ml-10'

.well
  = simple_form_for :practice_review, method: :get, remote: true, url: admin_practice_reviews_path do |f|
    .row
      .columns.medium-8
        =f.input :search, placeholder: "Enter Practice name or User email", input_html: { value: @search_term}
      .columns.medium-4.align-middle
        =f.button :button, "Search", value: 'Search'
        =f.button :button, "Clear", value: 'Clear', class: 'ml-10'

.button-group
#list
  = render partial: 'list', locals: {resources: @resources}
