p
  | Error report from
  = Time.now
  | with Healthsoul

h2
  | Error details
h4
  | Message:
p
  = @exception.message

h4
  | Backtrace:
p
  = @exception.backtrace

h2
  | Request Information
p
  b
    | Request method:
  = @env['REQUEST_METHOD']
p
  b
    | Request URI:
  = @env['REQUEST_URI']
p
  b
    | Controller:
  = @params["controller"]
p
  b
    | Action:
  = @params["action"]
p
  b
    | Client IP Address:
  = @env['REMOTE_ADDR']
p
  b
    | User agent:
  = @env['HTTP_USER_AGENT']

p
  b
    | HOST:
  = @env['HTTP_HOST']
