hr
.container
  h1.text-center
    = "Claim This #{@location.class.name.titleize}"
  p
    = 'For detail information refer '
    - if @location.class.to_s == 'MedicalStudent'
      = link_to @location&.name, medical_student_path(@location)
    - elsif @location.doctor?
      = link_to @location&.name, doctor_path(@location)
    - else
      = link_to @location&.name, location_path(@location)

  - unless current_user
    = render partial: 'shared/contact_form'
  - else
    p 
      = "Please fill out the information below about you and your relationship to the business and we'll review your request."

    .well
      =simple_form_for [@location, @claim_request] do |f|
        = render 'shared/errors', object: @claim_request
        .form-group
          b
            = 'Claimed By'
          br
          = @current_user.email
        - if @current_user.referral_code.present?
          .form-group
            b
              = 'Referral Code'
            br
            = @current_user.referral_code
        .form-group
          = f.input :description, input_html: { class: 'form-control'}
        p.text-bold
          = "Optional"
      	.form-group
          = f.input :phone, input_html: { class: 'form-control'}
        
        .form-group
          =f.button :submit, class: 'btn btn-primary'
