<div class='tab-content'>
  <div>
    <b>Age in Years:</b>
    <input class="form-control"  id="age-years" type="number" min="0" max="150"/>
  </div>
  <div>
    <b>Gender:</b> <br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        Male <input id="gender_male" name="gender" type="radio" value="male" checked />
      </label>
      <label class="btn btn-primary">
        Female <input id="gender_female" name="gender" type="radio" value="female" />
      </label>
    </div>
  </div>
  <div>
     <b> Units </b> <br>
      <a class="nav-link btn btn-primary active" id="pills-imperial-tab" data-toggle="pill" href="#pills-imperial" role="tab" aria-controls="pills-imperial" aria-selected="true">Imperial</a>
      <a class="nav-link btn btn-primary" id="pills-metric-tab" data-toggle="pill" href="#pills-metric" role="tab" aria-controls="pills-metric" aria-selected="false">Metric</a>
  </div>

  <div class="tab-content"  id="pills-tabContent">
    <div class="tab-pane active" id="pills-imperial" role="tabpanel" aria-labelledby="pills-imperial-tab">
      <div>
        <b> Height: </b> <br>
        <input class="form-control" id="height-feet" type="number" min="2" max="9"/>
        feet
        <input class="form-control" id="height-inches" type="number" min="0" max="11"/>
        inches
      </div>
      <div>
        <b> Weight: </b> <br>
        <input class="form-control" id="weight-pounds" type="number" min="0" max="700"/>
        lbs
      </div>
    </div>
    <div class="tab-pane fade" id="pills-metric" role="tabpanel" aria-labelledby="pills-metric-tab">
      <div>
        <b> Height: </b> <br>
        <input class="form-control" id="height-centimeters" type="number" min="0"/>
        cm
      </div>
      <div>
        <b> Weight: </b> <br>
        <input class="form-control" id="weight-kilograms" type="number" min="0"/>
        kg
      </div>
    </div>
    <div>
      <b>Activity Level:</b><br>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <input id="activity_0" name="activity" type="radio" value="none" />&nbsp;<label>No Exercise or Sedentary </label> <br>
        <input id="activity_2" name="activity" type="radio" value="light" />&nbsp;<label> Light Exercise (1-3 day per week)</label><br>
        <input id="activity_3" name="activity" type="radio" value="moderate" />&nbsp;<label> Moderate Exercise (3-5 days per week)</label><br>
        <input id="activity_4" name="activity" type="radio" value="heavy" />&nbsp;<label> Heavy Exercise (6-7 days per week)</label><br>
        <input id="activity_5" name="activity" type="radio" value="very_heavy"  />&nbsp;<label> Very Heavy Exercise (2 times a day)</label><br>
      </div>
    </div>
  </div>
</div>