<div>
  <%= link_to "BMI Calculator", bmi_calculator_path, title: 'BMI Calculator' %>
</div>
<div>
  <%= link_to "BMR Calculator", bmr_calculator_path, title: 'BMR Calculator'%>
</div>
<div>
  <%= link_to "Recomended Daily Calorie Intake Calculator", calorie_calculator_path, title: 'Recomended Daily Calorie Intake Calculator' %>
</div>
<div>
  <%= link_to "Waist Hip Calculator", waist_hip_calculator_path, title: 'Waist Hip Calculator' %>
</div>
<!-- <div>
  <%#= link_to "Pregnancy", waist_hip_calculator_path, title: 'Waist Hip Calculator' %>
</div>
<div>
  <%#= link_to "Weight Gain", waist_hip_calculator_path, title: 'Waist Hip Calculator' %>
</div>
<div>
  <%#= link_to "Carbohydrate", waist_hip_calculator_path, title: 'Waist Hip Calculator' %>
</div> -->