<div class="no_display" id="email_results_form">
  <b>Email me my results: </b>
  <%= form_for :calculator_email, url: email_my_calculator_results_url do |f|%>
    <%= f.email_field :email, class: "form-control mb-5" %>
    <%= f.hidden_field :email_subject, value: subject %>
    <%= f.hidden_field :content, id: "email_contents" %>
    <%= f.submit "Email My Results",  class: "btn btn-primary mb-25" %>
  <% end %>
</div>