.container
  .row
    .col-md-12
      .health-guides
        ul
          li=link_to "Argentina", health_guide_co_path(:arg)
          li=link_to "Australia", health_guide_co_path(:aus)
          li=link_to "Austria", health_guide_co_path(:aut)
          li=link_to "Bahamas", health_guide_co_path(:bhs)
          li=link_to "Barbados", health_guide_co_path(:brb)
          li=link_to "Belgium", health_guide_co_path(:bel)
          li=link_to "Bolivia", health_guide_co_path(:bol)
          li=link_to "Brazil", health_guide_co_path(:bra)
          li=link_to "Canada", health_guide_co_path(:can)
          li=link_to "Chile", health_guide_co_path(:chl)
          li=link_to "Colombia", health_guide_co_path(:col)
          li=link_to "Costa Rica", health_guide_co_path(:cri)
          li=link_to "Denmark", health_guide_co_path(:dnk)
          li=link_to "Dominica", health_guide_co_path(:dma)
          li=link_to "Dominican Republic", health_guide_co_path(:dom)
          li=link_to "Ecuador", health_guide_co_path(:ecu)
          li=link_to "England (UK)", health_guide_co_path(:gbr)
          li=link_to "Finland", health_guide_co_path(:fin)
          li=link_to "France", health_guide_co_path(:fra)
          li=link_to "Germany", health_guide_co_path(:deu)
          li=link_to "Guyana", health_guide_co_path(:guy)
          li=link_to "Hungary", health_guide_co_path(:hun)
          li=link_to "India", health_guide_co_path(:ind)
          li=link_to "Ireland", health_guide_co_path(:irl)
          li=link_to "Italy", health_guide_co_path(:ita)
          li=link_to "Malaysia", health_guide_co_path(:mys)
          li=link_to "Mexico", health_guide_co_path(:mex)
          li=link_to "Netherlands", health_guide_co_path(:nld)
          li=link_to "New Zealand", health_guide_co_path(:nzl)
          li=link_to "Northern Ireland (UK)", health_guide_co_path(:gbr)
          li=link_to "Norway", health_guide_co_path(:nor)
          li=link_to "Paraguay", health_guide_co_path(:pry)
          li=link_to "Peru", health_guide_co_path(:per)
          li=link_to "Philippines", health_guide_co_path(:phl)
          li=link_to "Suriname", health_guide_co_path(:sur)
          li=link_to "Saudi Arabia", health_guide_co_path(:sau)
          li=link_to "Scotland (UK)", health_guide_co_path(:gbr)
          li=link_to "Singapore", health_guide_co_path(:sgp)
          li=link_to "Switzerland", health_guide_co_path(:che)
          li=link_to "UAE", health_guide_co_path(:are)
          li=link_to "Uruguay", health_guide_co_path(:ury)
          li=link_to "Venezuela", health_guide_co_path(:ven)
          li=link_to "Wales (UK)", health_guide_co_path(:gbr)
          li=link_to "USA", health_guide_co_path(:usa)
