<section id="benifits-overview">
	<div class="container">
		<div class = "how-it-works-card-container">
			<div class="row">
				<div class = "how-it-works-heading col-md-12 text-center">
					<h1 class="green-underlined-heading">Search > Book > Review</h1>
				</div>
				<div class = "how-it-works-card col-md-5">
					<div class = "row">
						<div class = "col-xs-8 col-sm-8 col-md-8">
							<h2>Find the Right Doctor</h2>
							<p>Search by name, specialty and location from extensive directory of healthcare providers. Read reviews and ratings from other users.</p>
						</div>
						<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right" >
							<%= image_tag "HIW_5_Featured Doctor.png", size: "100"%>
						</div>
					</div>
				</div>
				<div class = "how-it-works-card col-md-5">
					<div class = "row">
						<div class = "col-xs-8 col-sm-8 col-md-8">
							<h2>Book Appointments</h2>
							<p>Request appointments with your doctors from your phone. Modify, cancel and set reminders about your appointments.</p>
						</div>
						<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right" >
							<%= image_tag "HIW_7_Calendar.png", size: "100"%>
						</div>
					</div>
				</div>
				<div class = "how-it-works-card col-md-5">
					<div class = "row">
						<div class = "col-xs-8 col-sm-8 col-md-8">
							<h2>Reviews and Ratings</h2>
							<p>Complete review about your doctor in 2 minutes and let others learn from your experience.</p>
						</div>
						<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right" >
							<%= image_tag "HIW_9_Rating.png", size: "100"%>
						</div>
					</div>
				</div>
				<div class = "how-it-works-card col-md-5">
					<div class = "row">
						<div class = "col-xs-8 col-sm-8 col-md-8">
							<h2>Favorites</h2>
							<p>Add doctors and hospitals to your Favorites for quick access.</p>
						</div>
						<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right" >
							<%= image_tag "HIW_10_Favorite.png", size: "100"%>
						</div>
					</div>
				</div>
				<div class = "how-it-works-card col-md-5">
					<div class = "row">
						<div class = "col-xs-8 col-sm-8 col-md-8">
							<h2>Health Blog</h2>
							<p>Read about your medical problem on Health problem to better prepare for appointment.</p>
						</div>
						<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
							<%= image_tag "HIW_11 Blog.png", size: "100"%>
						</div>
					</div>
				</div>
				<div class = "how-it-works-card col-md-5">
					<div class = "row">
						<div class = "col-xs-8 col-sm-8 col-md-8">
							<h2>Points and Rewards</h2>
							<p>You get social points for posting reviews and also participating in exciting promotions.</p>
						</div>
						<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right" >
							<%= image_tag "HIW_12 Rewards.png", size: "100"%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>