<section id="banner_frame" class="review-banner">
  <div class="container container_banner_frame">
    <div class="banner-review-frame">
      <div class="banner-review-frame_middle">
        <div class="about-us_main_heading">
            <h1>ABOUT US</h1>
        </div>
      </div>
    </div>
    

  </div>
</section>
<div class="clear"></div>
<section id="about-us-frame">
  <div class="container">
    <div class="about-us-frame-cont">
      <p>HealthSoul offers an integrated international platform for patients to search, book appointments and review doctors, hospitals, health insurance and travel health insurance companies. Our vision is to become a key healthcare resource for patients, that is trusted to empower improved health outcomes. We are committed to increasing healthcare efficiency and satisfaction, with a focus on improving patient education and care access.</p>
    </div>
  </div>
</section>
<!--about-us-frame-->
<div class="clear"></div>
<section id="about-vision-misson">
  <div class="about-vision container">
    <div class="about-vision-misson-heading">
      <h2>HEALTHSOUL VISION</h2>
    </div>
    <div class="media">
      <h4>We Believe in a Future Where Patients Are Empowered to Make Optimal Healthcare Decisions</h4>
      <div class="media-body">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <p>
            Our vision is to become a key healthcare resource for patients, that is trusted to empower improved health outcomes. We are committed to increasing healthcare efficiency and satisfaction, with a focus on improving patient education and care access. Achieving our vision for a patient-empowered future depends on achieving three goals:
          </p>
          <ul>
            <li>Creating a social community dedicated to patient empowerment</li>
            <li>Efficiently connecting patients with doctors, care facilities and health insurance providers</li>
            <li>Supporting the community with ongoing access to evolving healthcare knowledge and new paths to success</li>
          </ul>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
  <div class="about-mission container">
    <div class="about-vision-misson-heading">
      <h2>HEALTHSOUL MISSION</h2>
    </div>
    <div class="media">
      <h4>Innovation, Support and Leadership for Better Healthcare Decisions</h4>
      <div class="media-body">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <p>
            Health Soul is committed to helping people identify challenges in their healthcare strategies, increasing access to healthcare professionals, facilities and insurers, and innovating community solutions that lead to superior health outcomes. We believe optimal healthcare access rests on a foundation of more informed and effective decisions. Health Soul is implementing a comprehensive data and knowledge resource able to:
          </p>
          <ul>
            <li>Recognize and align with people's healthcare goals</li>
            <li>Transform healthcare data into an effective analytical resource</li>
            <li>Provide tools to simply and effectively review healthcare options</li>
            <li>Promote direct connections between patients and the healthcare practitioners, facilities and insurers most relevant to their needs</li>
          </ul>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</section>
<!--about-vision-misson-->
<div class="clear"></div>
<section id="about-management-team-frame">
  <div class="container">
    <div class="about-management-team-frame-heading">
      <h2>MANAGEMENT TEAM</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="middle_team_pic">
          <h4>Ish Singla, MD</h4>
          <p>Co-Founder and CEO</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="middle_team_pic">
          <h4>Dr Sunil Agarwal, MD,MPH,PhD</h4>
          <p>Chief Medical Officer</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="middle_team_pic">
          <h4>Adish Singla, PhD</h4>
          <p>Chief Information Officer</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about-management-team-frame">
  <div class="container">
    <div class="about-management-team-frame-heading">
      <h2>ADVISORY TEAM 2019</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="middle_team_pic">
          <h4>Amit Gupta</h4>
          <p>President and Co-Founder DocHalo</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="middle_team_pic">
          <h4>Deepali Singla, MBA, MHA</h4>
          <p>Co-Founder HealthSoul</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="middle_team_pic">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clear"></div>
<section id="about-vision-misson" class="about-offer">
  <div class="container">
    <div class="about-vision-misson-heading">
      <h2>WHAT WE OFFER</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="about-rating-frame">
          <%= image_tag "img/offer-1.png" %>
          <div class="about-vision-misson-heading_image_frame">
            <%= image_tag "img/hosp-about.png" %>
            <h5>Hospital</h5>
            <p><span>Rating :</span><span><%= image_tag "img/star-about.png" %></span></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-rating-frame">
          <%= image_tag "img/offer-2.png" %>
          <div class="about-vision-misson-heading_image_frame">
            <%= image_tag "img/offer-health.png" %>
            <h5>Health Insurance</h5>
            <p><span>Rating :</span><span><%= image_tag "img/star-about.png" %></span></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-rating-frame">
          <%= image_tag "img/offer-3.png" %>
          <div class="about-vision-misson-heading_image_frame">
            <%= image_tag "img/offer-travel.png" %>
            <h5>Travel Health Insurance</h5>
            <p><span>Rating :</span><span><%= image_tag "img/star-about.png" %></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clear"></div>
<section id="journey-offer-about-us">
  <div class="container">
    <div class="journey-offer-about-us_inner">
      <h2>OUR JOURNEY SO FAR</h2>
      <%= image_tag 'img/about-jonery.png', class:"img-responsive"%>
    </div>
  </div>
</section>
<div class="clear"></div>
