<div class="container">
  <div class="row">
    <div class="col-md-3 calculator_type">
      <%= render partial: 'calculator_list' %>
    </div>
    <div class='col-md-9 calculator-form'>
      <h1>BMI Calculator</h1>

      <div>
        <b> Units </b> <br>
          <a class="nav-link btn btn-primary active" id="pills-imperial-tab" data-toggle="pill" href="#pills-imperial" role="tab" aria-controls="pills-imperial" aria-selected="true">Imperial</a>
          <a class="nav-link btn btn-primary" id="pills-metric-tab" data-toggle="pill" href="#pills-metric" role="tab" aria-controls="pills-metric" aria-selected="false">Metric</a>
      </div>
      
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane active" id="pills-imperial" role="tabpanel" aria-labelledby="pills-imperial-tab">
          <div>
            <b> Height: </b> <br>
            <input class="form-control" id="height-feet" type="number" min="2" max="9"/>
            feet
            <input class="form-control" id="height-inches" type="number" min="0" max="11"/>
            inches
          </div>
          <div>
            <b> Weight: </b> <br>
            <input class="form-control" id="weight-pounds" type="number" min="0" max="700"/>
            lbs
          </div>
        </div>

        <div class="tab-pane fade" id="pills-metric" role="tabpanel" aria-labelledby="pills-metric-tab">
          <div>
            <b> Height: </b> <br>
            <input class="form-control" id="height-centimeters" type="number" min="0"/>
            cm
          </div>
          <div>
            <b> Weight: </b> <br>
            <input class="form-control" id="weight-kilograms" type="number" min="0"/>
            kg
          </div>
        </div>
        <div class="btn btn-primary" id="bmi-calculator"> Calculate My BMI</div>
      </div>

      <div class="tab-content" id="bmi-result-holder"></div>

      <div class='tab-content'>
        <table id = "bmi_table" class="bmi_table">
          <thead>
            <th class="blue"> < 18.5 </th>
            <th class="green"> 18.5 - 24.9 </th>
            <th class="orange"> 25 - 29.9 </th>
            <th class="red"> > 30 </th>
          </thead>
          <tbody>
            <tr>
              <td class="blue"> Underweight </td>
              <td class="green"> Normal Weight</td>
              <td class="orange"> Overweight </td>
              <td class="red"> Obese</td>
            </tr>
          </tbody>
        </table>

        <%= render partial: 'calculate_result_list', locals: {subject: 'Your BMI Calculation From Healthsoul'} %>  

      </div>

    </div>
  </div>
</div>