<div class="container">
  <div class="row">
    <div class="col-md-3 calculator_type">
      <%= render partial: 'calculator_list' %>
    </div>
    <div class='col-md-9 calculator-form'>
      <h1>BMR Calculator</h1>

      <%= render partial: 'bmr' %>
     
      <div class="btn btn-primary" id="bmr-calculator"> Calculate My BMR</div>

      <div class="tab-content" id="bmr-result-holder"></div>

      <%= render partial: 'calculate_result_list', locals: {subject: 'Your BMR Calculation From Healthsoul'} %>  

    </div>
  </div>
</div>