<div class="container min_height_750">
	<h1 class='text-center'>Calculators</h1>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'calculator_list' %>
    </div>
  </div>
</div>
