h1.text-center
  = 'Health Soul Copyrights Policy'
.container

	p 
    = "We or Our licensors, and not You, own and retain all copyrights, trademarks, service marks, and other proprietary or intellectual property rights in the Website and all material, content and information posted thereon, including without limitation photographs, text, graphics, logos, icons, sound recording, tutorials, audio/visual clips and design (collectively, “Content”). For clarity, any use of Our trademarks or copyrighted materials outside the Website is strictly prohibited. We reserve the right to aggressively enforce Our intellectual property rights to the fullest extent of the law, including seeking criminal prosecution."

	p 
    = "If you believe that contents posted on our website (www.healthsoul.com) violate or breach your copyright material, please contact us immediately via email at "
    = mail_to('info@healthsoul.com', 'info@healthsoul.com')
