<!DOCTYPE html>
<html amp>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.7.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="img/healthsoul.png" type="image/x-icon">
  <meta name="description" content="Health Soul">
  <title>FAQ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="style2.css"> -->
  <link rel="canonical" href="home_new.html">

  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }
  </style>
  <noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
      }
    </style>
  </noscript>
  <!-- <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet"> -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <style amp-custom>
    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Bold.woff2') format('woff2'), url('fonts/Barlow-Bold.woff') format('woff'), url('fonts/Barlow-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Thin.woff2') format('woff2'), url('fonts/Barlow-Thin.woff') format('woff'), url('fonts/Barlow-Thin.ttf') format('truetype');
      font-weight: 100;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-SemiBold.woff2') format('woff2'), url('fonts/Barlow-SemiBold.woff') format('woff'), url('fonts/Barlow-SemiBold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-ExtraLight.woff2') format('woff2'), url('fonts/Barlow-ExtraLight.woff') format('woff'), url('fonts/Barlow-ExtraLight.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Medium.woff2') format('woff2'), url('fonts/Barlow-Medium.woff') format('woff'), url('fonts/Barlow-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Regular.woff2') format('woff2'), url('fonts/Barlow-Regular.woff') format('woff'), url('fonts/Barlow-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Black.woff2') format('woff2'), url('fonts/Barlow-Black.woff') format('woff'), url('fonts/Barlow-Black.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Light.woff2') format('woff2'), url('fonts/Barlow-Light.woff') format('woff'), url('fonts/Barlow-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-ExtraBold.woff2') format('woff2'), url('fonts/Barlow-ExtraBold.woff') format('woff'), url('fonts/Barlow-ExtraBold.ttf') format('truetype');
      font-weight: 800;
      font-style: normal;
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }

    body {
      font-family: 'Barlow';
      font-weight: 400;
      color: #1A1A1A;
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    section {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    section,
    .container,
    .container-fluid {
      position: relative;
      word-wrap: break-word;
    }

    button:focus {
      outline: none;
    }

    .cid-qPydcGGZlE .navbar-dropdown {
      padding: 0.5rem 1rem;
      position: fixed;
    }





 





    .cid-qPydcGGZlE .navbar {
      z-index: 100;
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 77px;
      transition: all 0.3s;
      background: #fff;
    }

    .cid-qPydcGGZlE .container {
      display: flex;
    }

    .cid-qPydcGGZlE .navbar-brand {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      margin-right: 0;
      padding: 0;
      transition: all 0.3s;
      word-break: break-word;
      z-index: 1;
    }

    .cid-qPydcGGZlE .navbar .navbar-collapse {
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      flex-basis: 100%;
      align-items: center;
    }

    .cid-qPydcGGZlE amp-img {
      width: 150px;
      display: flex;
      align-items: center;
    }

    .cid-qPydcGGZlE ul.navbar-nav {
      float: right;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    p,
    li,
    blockquote {
      color: #15181b;
      letter-spacing: 0.5px;
      line-height: 1.7;
    }

    ul,
    ol,
    pre,
    blockquote {
      margin-bottom: 0;
      margin-top: 0;
    }
#navbarSupportedContent .navbar-nav > li > a {
    color: #1A1A1A;
    font-size: 16px;
    padding: 1px 2px;
    line-height: 24px;
}
#navbarSupportedContent .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #18b079;
}
    .cid-qPydcGGZlE .navbar-expand-lg .navbar-nav .nav-link {
      float: right;
      color: #1A1A1A;
      font-size: 16px;
      padding: 1px 10px;
      line-height: 24px;
    }

    a.nav-link.link.login-menu {
      border-left: 1px solid #D8D8D8;
      margin-left: 10px;
      padding-left: 20px;
    }

    .cid-qPydcGGZlE .navbar-nav .nav-link {
      float: right;
      font-weight: normal;
    }

    .cid-qPydcGGZlE a.nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cid-qPydcGGZlE .navbar-nav {
      float: right;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding-left: 0;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger.sticky-but {
      position: fixed;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger {
      position: absolute;
      top: 35px;
      right: 20px;
      margin-left: auto;
      width: 30px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1000;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(1) {
      top: 0;
      transition: all 0.2s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span {
      position: absolute;
      right: 0;
      width: 30px;
      height: 2px;
      border-right: 5px;
      background-color: #000;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(2) {
      top: 8px;
      transition: all 0.15s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(3) {
      top: 8px;
      transition: all 0.15s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(4) {
      top: 16px;
      transition: all 0.2s;
    }

    .cid-qPydcGGZlE .builder-sidebar {
      background-color: #000000;
      position: relative;
      height: 100vh;
      z-index: 1030;
      padding: 1rem 2rem;
      max-width: 20rem;
    }

    .cid-qPydcGGZlE .close-sidebar {
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin-bottom: 20px;
    }

    .cid-qPydcGGZlE .close-sidebar span:nth-child(1) {
      transform: rotate(45deg);
    }

    .cid-qPydcGGZlE .close-sidebar span {
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      border-right: 5px;
      background-color: #ffffff;
    }

    .cid-qPydcGGZlE .close-sidebar span:nth-child(2) {
      transform: rotate(-45deg);
    }

    .cid-qPydcGGZlE .nav-item.dropdown {
      position: relative;
    }

    .cid-qPydcGGZlE .open {
      transform: translateX(0%);
      display: block;
    }

    .cid-qPydcGGZlE .navbar .dropdown.open>.dropdown-menu {
      display: block;
    }

    .cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
      background-color: #fff;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 8px 0px;
    }

    .cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu a.dropdown-item {
      display: block;
      padding: 0px 20px;
    }

    .cid-qPydcGGZlE .nav-item.dropdown .dropdown-menu {
      z-index: -1;
      opacity: 0;
      pointer-events: none;
    }

    .cid-qPydcGGZlE .nav-dropdown .dropdown-menu {
      border-radius: 0;
      border: 0;
      left: 0;
      margin: 0;
      min-width: 10rem;
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
      position: absolute;
    }

    .language-translater amp-img {
      width: 24px;
      height: 16px;
      margin-top: 7px;
    }

    .cid-qPydcGGZlE .nav-item.dropdown:hover>.dropdown-menu {
      z-index: 1;
      opacity: 1;
      pointer-events: all;
    }

    .logo-header {
      width: 150px;
      align-items: center;
      height: 50px;
    }

    header {
      padding: 20px 0px;
    }

    .sidenav ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
    }

    .sidenav ul li {
      display: inline;
    }

    .sidenav ul li a {
      color: #1A1A1A;
      font-size: 16px;
      padding: 10px;
      display: inline-block;
    }

    .login_btn {
      border-left: 1px solid #D8D8D8;
      margin-left: 20px;
      padding-left: 20px;
    }

    /* End header css */

    /* Start Faq Page CSS */
    #faq-banner {
      background: linear-gradient(216.71deg, #21E4A8 0%, #20A8C5 100%);
      padding-top: 11rem;
      padding-bottom: 7rem;
      text-align: center;
    }

    #faq-banner h2 {
      color: #fff;
      font-size: 48px;
      margin: 0px;
    }

    #faq-section {
      padding: 60px 0px;
    }

    .faq-box {
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
      margin-bottom: 30px;
      padding: 20px;
    }

    .faq-box h3 {
      margin: 0px 0px 10px;
      color: #00B07A;
      font-size: 16px;
      font-weight: 500;
    }

    .faq-box p {
      margin: 0px;
      line-height: 24px;
    }

    .faq-box ul li h4 {
      margin: 0;
      font-size: 16px;
    }

    .faq-box ul {
      padding: 0px;
      list-style: none;
    }

    .faq-box ul li {
      margin-top: 15px;
    }

    .faq-box address {
      margin-top: 15px;
      font-style: normal;
      line-height: 24px;
    }

    /* End Faq Page CSS */

    /* Start Footer CSS */
    section#footer {
      background-color: #0E87A3;
      color: #fff;
      padding: 40px 0px;
    }

    .footer-items p {
      color: #fff;
      font-size: 14px;
      width: 90%;
    }

    .footer-logo {
      width: 150px;
      height: 50px;
    }

    .social-icons {
      display: flex;
    }

    .social-icons amp-img {
      width: 25px;
      height: 25px;
    }

    .social-icons a {
      margin-right: 16px;
    }

    .address-outter {
      margin-top: 30px;
    }

    .address-outter amp-iframe {
      width: 90%;
    }

    .address-outter .footer-adderss p {
      margin-top: 0px;
      line-height: 28px;
    }

    .footer-items ul {
      list-style: none;
      padding: 0px;
    }

    .footer-items ul li a {
      color: #fff;
      font-size: 14px;
      margin-bottom: 15px;
      display: block;
    }

    section#bottom-footer p {
      color: #fff;
      font-size: 11px;
    }

    section#bottom-footer {
      background-color: #818285;
      padding: 10px 0px;
    }

    /* End Footer CSS */


    @media (min-width: 768px) {
      .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
      }

      .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
      }

      .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
      }

      .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
      }

      .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
      }

      .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
      }

      .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
      }

      .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
      }

      .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
      }

      .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
      }

      .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
      }

      .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
      }

      .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
      }

      .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
      }

      .container {
        max-width: 720px;
      }

      .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }

      .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
      }
    }


    @media (min-width: 992px) {
      .container {
        max-width: 960px;
      }

      .cid-qPydcGGZlE .ampstart-btn,
      .cid-qPydcGGZlE amp-sidebar {
        display: none;
      }
    }


    @media (min-width: 1200px) {
      .container {
        max-width: 1140px;
      }
    }


    @media (max-width:991px) {
      .cid-qPydcGGZlE .navbar .navbar-collapse {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100vh;
        background: #000000;
        padding: 1rem 2rem 1rem 2rem;
      }

      .builder-sidebar .nav-item {
        width: 100%;
        margin: 5px 10px;
      }

      .builder-sidebar a.nav-link {
        color: #fff;
        display: block;
      }
    }

    @media (max-width:812px) {}

    @media (max-width:600px) {

      .footer-items {
        margin-bottom: 20px;
      }


    }
  </style>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <!-- <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script> -->
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>

<body>

  <amp-sidebar id="sidebar" class="cid-qPydcGGZlE" layout="nodisplay" side="right">
    <div class="builder-sidebar" id="builder-sidebar">
      <button on="tap:sidebar.close" class="close-sidebar">
        <span></span>
        <span></span>
      </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hospitals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Health Insurance</a>
        </li>s
        <li class="nav-item">
          <a class="nav-link" href="#">Travel health Insurance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown-submenu" aria-expanded="true">
            <amp-img src="img/ic_flag.png" width="24" height="16" layout="responsive"></amp-img>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">Eng</a>
            <a class="dropdown-item" href="">Arb</a>
          </div>
        </li>
      </ul>
    </div>
  </amp-sidebar>

  <section class="menu horizontal-menu cid-qPydcGGZlE" id="menu1-a">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <amp-img >
           
            <%=  image_tag("healthsoul.png", :size => "150x50") %> 
                
             </amp-img>
          </span>
        </div>

  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true" >

        
          
             <li><%= link_to "Doctors", search_doctors_path(clear: 'true'), title: "Doctors" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Hospitals", search_hospitals_path(clear: 'true'), title: "Hospitals" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Health Insurance", search_health_insurances_by_country_path, title: "Health Insurance" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Travel Health Insurance", search_travel_health_insurances_by_country_path, title: "Travel Health Insurance" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Blog", blogs_path, title: "Blog" %> </li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Events", events_path, title: "Events" %> </li> 
            &nbsp;
            &nbsp;
           

            <% if user_signed_in? %>
              <li class="login"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, title: "Sign Out" %></li>
              <% if current_user.is_admin? %>
              &nbsp;
              &nbsp;
                <li><%= link_to "Admin", '/admin', title: "Admin" %></li>
              <% end %>
              &nbsp;
              &nbsp;
              <li><%= link_to "Profile", user_path(current_user), title: "Profile" %></li>
              <% else %>
              &nbsp;
              &nbsp;
                  <li class="login"><%= link_to "Login", new_user_session_path, title: "Login" %></li>
                  &nbsp;
                  &nbsp;
                  <li><%= link_to "Sign Up", new_user_registration_path, title: "Sign Up" %></li>
              <% end %>


            <li class="nav-item dropdown language-translater">
              <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu"
                aria-expanded="true">
                <amp-img src="img/ic_flag.png" layout="responsive" width="24" height="16"></amp-img>
              </a>
              <div class="dropdown-menu" >
                <a class="dropdown-item" href="">Eng</a>
                <a class="dropdown-item" href="">Arb</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- AMP plug -->
    <button on="tap:sidebar.toggle" class="ampstart-btn hamburger sticky-but">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </section>




  <section id="faq-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="faq-banner-text">
            <h2>FAQ</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="faq-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="faq-box">
            <h3>What is Health Soul?</h3>
            <p>Health Soul is online portal for healthcare consumers to share their opinion and reviews
              regarding their experience of healthcare provider (Hospitals, Health Insurance, Travel
              health Insurance)</p>
          </div>

          <div class="faq-box">
            <h3>Who can write the hospital review?</h3>
            <p>Patient or immediate care taker only should write the review. The hospitalization should be
              within last 24 months.</p>
          </div>

          <div class="faq-box">
            <h3>Who can write review for health insurance review?</h3>
            <p>You are eligible to write the review If you have used health or medical insurance for any
              reason in last 18 months.</p>
          </div>

          <div class="faq-box">
            <h3>Who can write review for health insurance or travel health insurance?</h3>
            <p>Anybody who has purchased the travel health insurance within last 18 months can write review.
            </p>
          </div>

          <div class="faq-box">
            <h3>Is there a limit on number of reviews?</h3>
            <p>You can review one entity only 2 times in one month. This is to prevent fraudulent reviews.
            </p>
          </div>

          <div class="faq-box">
            <h3>Do you provide listing based on financial interest in healthcare entity?</h3>
            <p>You can sort the listing by distance or star rating. Your search results are based on your
              search criteria not the financial interests. The featured providers are listed separately.
            </p>
          </div>

          <div class="faq-box">
            <h3>Do you sell medical tourism package or health insurance?</h3>
            <p>Currently we don’t sell any sort of healthcare service including insurance or hospital
              admissions. We have third party vendors listed on our website for purchasing insurance.</p>
          </div>

          <div class="faq-box">
            <h3>Can I post a medical question on my recent hospitalization?</h3>
            <p>Our website is not involved in providing any sort of advise on medical conditions or
              diagnosis. Per our terms and Conditions, you cannot post any Personal Health information.
              Our website is not HIPAA compliant at this point.</p>
          </div>

          <div class="faq-box">
            <h3>Why my review has been deleted?</h3>
            <p>Our team reserves the right to hide or delete the reviews which have profanity or vulgar
              language. Please read Code of Conduct in our Terms and Conditions.</p>
          </div>

          <div class="faq-box">
            <h3>What are the points listed by my User Id?</h3>
            <p>You can accumulate points when you post a review, post a question or answer a question. You
              also get points if your review gets helpful votes. The points get you the social badge on
              our website. The higher points can also provide access to discount coupons with our
              promotions or</p>
          </div>

          <div class="faq-box">
            <h3>Can I get paid to post reviews?</h3>
            <p>We do not pay cash for posting reviews or answering questions on our website to avoid
              fraudulent activity. We may run certain promotions from time to time for gift cards for
              advertisement of our website. You can accumulate points when you post a review, post a
              question or answer a question. The higher points can also provide access to discount coupons
              with our third party vendors.</p>
          </div>

          <div class="faq-box">
            <h3>How can I earn HealthSoul points?</h3>
            <p>You can earn points in several ways.</p>
            <ul>
              <li>
                <h4>Writing a Review</h4>
                <p>
                  You will get 5 points for every Review which is posted and meet guidelines of
                  HealthSoul LLC. If your review is removed due to foul language or not meeting the
                  standards, then you will not get any points.
                </p>
              </li>

              <li>
                <h4>Refer a friend</h4>
                <p> If you refer a friend who register and post review on HealthSoul will count as a
                  referral and earn you 5 points.
                </p>
              </li>

              <li>
                <h4>Appointment feature</h4>
                <p>Appointment feature is available in limited countries. If appointment made
                  through HealthSoul portal and you come back review your doctor after the
                  appointment, then you get 5 points for that appointment.
                </p>
              </li>

              <li>
                <h4>Share blogs</h4>
                <p>Earn 5 points for sharing one blog. You can earn maximum 25 points with this
                  activity.</p>
              </li>
            </ul>
          </div>

          <div class="faq-box">
            <h3>What is the value of the HealthSoul points?</h3>
            <p>You need atleast 100 points to Redeem. If you continue to let points grow and redeem all at
              one time, then point value increases. Point values or Gift card company can be changed at
              any time by HealthSoul LLC. Only one gift card can be redeemed in a calendar year.</p>
            <ul>
              <li>If redeemed 100 HealthSoul Points you will get $10.00 Amazon.com Gift card.</li>
              <li>If redeemed 250 HealthSoul Points you will get $25.00 Amazon.com Gift card.</li>
              <li>If redeemed 500 HealthSoul Points you will get $75.00 Amazon.com Gift card.</li>
            </ul>
            <span>Amazon.com Gift cards cannot be substituted for Amazon gift cards based in another country
              like Amazon.in, amazon.com.br etc.</span>
          </div>

          <div class="faq-box">
            <h3>What are HealthSoul Social Badges?</h3>
            <p>HealthSoul Social Badges are awarded to users who remain active on the website.</p>
            <ul>
              <li>25 points Badge 1: Reviewer</li>
              <li>100 points Badge 2: Advisor</li>
              <li>250 points Badge 3: Guide</li>
              <li>500 points Badge 4: Expert</li>
            </ul>
          </div>

          <div class="faq-box">
            <h3>How can I refer a friend?</h3>
            <p>Your personalized link for referral is available in your profile.You can use the following
              message to refer your friends. Your friends must click through your link to count towards as
              your friend.</p>

            <address>
              Hi Friends,<br>
              Visit www.Healthsoul.com and post reviews if you have recently used Healthcare.<br>
              Help me grow my HealthSoul Circle by clicking on link below:<br>
              You can find your own link in your profile.
            </address>
          </div>


        </div>
      </div>
    </div>
  </section>
  
  <!-- <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script> -->

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  <!-- <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script> -->
</body>

</html>



