- set_meta_tags title: 'Health Guides By Country'
.container
  .row
    .col-md-12
      =image_tag "health-guide.jpg", class: "float-right"
      h1 Know your country's healthcare system

= render "forum_list"
