
	<!DOCTYPE html>
<html amp>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="generator" content="Mobirise v4.7.1, mobirise.com">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<link rel="shortcut icon" href="img/healthsoul.png" type="image/x-icon">
	<meta name="description" content="Health Soul">
	<title>Privacy Policy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="style2.css"> -->
	<link rel="canonical" href="home_new.html">

	<style amp-boilerplate>
		body {
			-webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
			-moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
			-ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
			animation: -amp-start 8s steps(1, end) 0s 1 normal both
		}

		@-webkit-keyframes -amp-start {
			from {
				visibility: hidden
			}

			to {
				visibility: visible
			}
		}

		@-moz-keyframes -amp-start {
			from {
				visibility: hidden
			}

			to {
				visibility: visible
			}
		}

		@-ms-keyframes -amp-start {
			from {
				visibility: hidden
			}

			to {
				visibility: visible
			}
		}

		@-o-keyframes -amp-start {
			from {
				visibility: hidden
			}

			to {
				visibility: visible
			}
		}

		@keyframes -amp-start {
			from {
				visibility: hidden
			}

			to {
				visibility: visible
			}
		}
	</style>
	<noscript>
		<style amp-boilerplate>
			body {
				-webkit-animation: none;
				-moz-animation: none;
				-ms-animation: none;
				animation: none
			}
		</style>
	</noscript>

	<style amp-custom>
		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-Bold.woff2') format('woff2'), url('fonts/Barlow-Bold.woff') format('woff'), url('fonts/Barlow-Bold.ttf') format('truetype');
			font-weight: bold;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-Thin.woff2') format('woff2'), url('fonts/Barlow-Thin.woff') format('woff'), url('fonts/Barlow-Thin.ttf') format('truetype');
			font-weight: 100;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-SemiBold.woff2') format('woff2'), url('fonts/Barlow-SemiBold.woff') format('woff'), url('fonts/Barlow-SemiBold.ttf') format('truetype');
			font-weight: 600;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-ExtraLight.woff2') format('woff2'), url('fonts/Barlow-ExtraLight.woff') format('woff'), url('fonts/Barlow-ExtraLight.ttf') format('truetype');
			font-weight: 200;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-Medium.woff2') format('woff2'), url('fonts/Barlow-Medium.woff') format('woff'), url('fonts/Barlow-Medium.ttf') format('truetype');
			font-weight: 500;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-Regular.woff2') format('woff2'), url('fonts/Barlow-Regular.woff') format('woff'), url('fonts/Barlow-Regular.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-Black.woff2') format('woff2'), url('fonts/Barlow-Black.woff') format('woff'), url('fonts/Barlow-Black.ttf') format('truetype');
			font-weight: 900;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-Light.woff2') format('woff2'), url('fonts/Barlow-Light.woff') format('woff'), url('fonts/Barlow-Light.ttf') format('truetype');
			font-weight: 300;
			font-style: normal;
		}

		@font-face {
			font-family: 'Barlow';
			src: url('fonts/Barlow-ExtraBold.woff2') format('woff2'), url('fonts/Barlow-ExtraBold.woff') format('woff'), url('fonts/Barlow-ExtraBold.ttf') format('truetype');
			font-weight: 800;
			font-style: normal;
		}

		*,
		::after,
		::before {
			box-sizing: border-box;
		}

		body {
			font-family: 'Barlow';
			font-weight: 400;
			color: #1A1A1A;
		}

		a {
			text-decoration: none;
			cursor: pointer;
		}

		.col,
		.col-1,
		.col-10,
		.col-11,
		.col-12,
		.col-2,
		.col-3,
		.col-4,
		.col-5,
		.col-6,
		.col-7,
		.col-8,
		.col-9,
		.col-auto,
		.col-lg,
		.col-lg-1,
		.col-lg-10,
		.col-lg-11,
		.col-lg-12,
		.col-lg-2,
		.col-lg-3,
		.col-lg-4,
		.col-lg-5,
		.col-lg-6,
		.col-lg-7,
		.col-lg-8,
		.col-lg-9,
		.col-lg-auto,
		.col-md,
		.col-md-1,
		.col-md-10,
		.col-md-11,
		.col-md-12,
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6,
		.col-md-7,
		.col-md-8,
		.col-md-9,
		.col-md-auto,
		.col-sm,
		.col-sm-1,
		.col-sm-10,
		.col-sm-11,
		.col-sm-12,
		.col-sm-2,
		.col-sm-3,
		.col-sm-4,
		.col-sm-5,
		.col-sm-6,
		.col-sm-7,
		.col-sm-8,
		.col-sm-9,
		.col-sm-auto,
		.col-xl,
		.col-xl-1,
		.col-xl-10,
		.col-xl-11,
		.col-xl-12,
		.col-xl-2,
		.col-xl-3,
		.col-xl-4,
		.col-xl-5,
		.col-xl-6,
		.col-xl-7,
		.col-xl-8,
		.col-xl-9,
		.col-xl-auto {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    section {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    section,
    .container,
    .container-fluid {
      position: relative;
      word-wrap: break-word;
    }

    button:focus {
      outline: none;
    }

    .cid-qPydcGGZlE .navbar-dropdown {
      padding: 0.5rem 1rem;
      position: fixed;
    }





 





    .cid-qPydcGGZlE .navbar {
      z-index: 100;
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 77px;
      transition: all 0.3s;
      background: #fff;
    }

    .cid-qPydcGGZlE .container {
      display: flex;
    }

    .cid-qPydcGGZlE .navbar-brand {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      margin-right: 0;
      padding: 0;
      transition: all 0.3s;
      word-break: break-word;
      z-index: 1;
    }

    .cid-qPydcGGZlE .navbar .navbar-collapse {
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      flex-basis: 100%;
      align-items: center;
    }

    .cid-qPydcGGZlE amp-img {
      width: 150px;
      display: flex;
      align-items: center;
    }

    .cid-qPydcGGZlE ul.navbar-nav {
      float: right;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    p,
    li,
    blockquote {
      color: #15181b;
      letter-spacing: 0.5px;
      line-height: 1.7;
    }

    ul,
    ol,
    pre,
    blockquote {
      margin-bottom: 0;
      margin-top: 0;
    }
#navbarSupportedContent .navbar-nav > li > a {
    color: #1A1A1A;
    font-size: 16px;
    padding: 1px 2px;
    line-height: 24px;
}
#navbarSupportedContent .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #18b079;
}
    .cid-qPydcGGZlE .navbar-expand-lg .navbar-nav .nav-link {
      float: right;
      color: #1A1A1A;
      font-size: 16px;
      padding: 1px 10px;
      line-height: 24px;
    }

    a.nav-link.link.login-menu {
      border-left: 1px solid #D8D8D8;
      margin-left: 10px;
      padding-left: 20px;
    }

    .cid-qPydcGGZlE .navbar-nav .nav-link {
      float: right;
      font-weight: normal;
    }

    .cid-qPydcGGZlE a.nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cid-qPydcGGZlE .navbar-nav {
      float: right;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding-left: 0;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger.sticky-but {
      position: fixed;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger {
      position: absolute;
      top: 35px;
      right: 20px;
      margin-left: auto;
      width: 30px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1000;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(1) {
      top: 0;
      transition: all 0.2s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span {
      position: absolute;
      right: 0;
      width: 30px;
      height: 2px;
      border-right: 5px;
      background-color: #000;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(2) {
      top: 8px;
      transition: all 0.15s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(3) {
      top: 8px;
      transition: all 0.15s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(4) {
      top: 16px;
      transition: all 0.2s;
    }

    .cid-qPydcGGZlE .builder-sidebar {
      background-color: #000000;
      position: relative;
      height: 100vh;
      z-index: 1030;
      padding: 1rem 2rem;
      max-width: 20rem;
    }

    .cid-qPydcGGZlE .close-sidebar {
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin-bottom: 20px;
    }

    .cid-qPydcGGZlE .close-sidebar span:nth-child(1) {
      transform: rotate(45deg);
    }

    .cid-qPydcGGZlE .close-sidebar span {
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      border-right: 5px;
      background-color: #ffffff;
    }

    .cid-qPydcGGZlE .close-sidebar span:nth-child(2) {
      transform: rotate(-45deg);
    }

    .cid-qPydcGGZlE .nav-item.dropdown {
      position: relative;
    }

    .cid-qPydcGGZlE .open {
      transform: translateX(0%);
      display: block;
    }

    .cid-qPydcGGZlE .navbar .dropdown.open>.dropdown-menu {
      display: block;
    }

    .cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
      background-color: #fff;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 8px 0px;
    }

    .cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu a.dropdown-item {
      display: block;
      padding: 0px 20px;
    }

    .cid-qPydcGGZlE .nav-item.dropdown .dropdown-menu {
      z-index: -1;
      opacity: 0;
      pointer-events: none;
    }

    .cid-qPydcGGZlE .nav-dropdown .dropdown-menu {
      border-radius: 0;
      border: 0;
      left: 0;
      margin: 0;
      min-width: 10rem;
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
      position: absolute;
    }

		.language-translater amp-img {
			width: 24px;
			height: 16px;
			margin-top: 7px;
		}

		.cid-qPydcGGZlE .nav-item.dropdown:hover>.dropdown-menu {
			z-index: 1;
			opacity: 1;
			pointer-events: all;
		}

		.logo-header {
			width: 150px;
			align-items: center;
			height: 50px;
		}

		header {
			padding: 20px 0px;
		}

		.sidenav ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

		.sidenav ul li {
			display: inline;
		}

		.sidenav ul li a {
			color: #1A1A1A;
			font-size: 16px;
			padding: 10px;
			display: inline-block;
		}

		.login_btn {
			border-left: 1px solid #D8D8D8;
			margin-left: 20px;
			padding-left: 20px;
		}

		/* End header css */

		/* Start Faq Page CSS */
		#faq-banner {
			background: linear-gradient(216.71deg, #21E4A8 0%, #20A8C5 100%);
			padding-top: 11rem;
			padding-bottom: 7rem;
			text-align: center;
		}

		#faq-banner h2 {
			color: #fff;
			font-size: 48px;
			margin: 0px;
		}

		#faq-section {
			padding: 60px 0px;
		}


		.Privacy-Policy-page h3 {
			font-weight: 600;
			font-size: 22px;
		}

		.Privacy-Policy-question ul {
			padding-left: 20px;
		}

		.Privacy-Policy-question h5 {
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 0px;
		}

		.Privacy-Policy-question a {
			color: #1D7CF2;
		}

		/* End Faq Page CSS */

		/* Start Footer CSS */
		section#footer {
			background-color: #0E87A3;
			color: #fff;
			padding: 40px 0px;
		}

		.footer-items p {
			color: #fff;
			font-size: 14px;
			width: 90%;
		}

		.footer-logo {
			width: 150px;
			height: 50px;
		}

		.social-icons {
			display: flex;
		}

		.social-icons amp-img {
			width: 25px;
			height: 25px;
		}

		.social-icons a {
			margin-right: 16px;
		}

		.address-outter {
			margin-top: 30px;
		}

		.address-outter amp-iframe {
			width: 90%;
		}

		.address-outter .footer-adderss p {
			margin-top: 0px;
			line-height: 28px;
		}

		.footer-items ul {
			list-style: none;
			padding: 0px;
		}

		.footer-items ul li a {
			color: #fff;
			font-size: 14px;
			margin-bottom: 15px;
			display: block;
		}

		section#bottom-footer p {
			color: #fff;
			font-size: 11px;
		}

		section#bottom-footer {
			background-color: #818285;
			padding: 10px 0px;
		}

		/* End Footer CSS */


		@media (min-width: 768px) {
			.col-md {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%
			}

			.col-md-auto {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				width: auto;
				max-width: none
			}

			.col-md-1 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 8.333333%;
				flex: 0 0 8.333333%;
				max-width: 8.333333%
			}

			.col-md-2 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 16.666667%;
				flex: 0 0 16.666667%;
				max-width: 16.666667%
			}

			.col-md-3 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				max-width: 25%
			}

			.col-md-4 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 33.333333%;
				flex: 0 0 33.333333%;
				max-width: 33.333333%
			}

			.col-md-5 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 41.666667%;
				flex: 0 0 41.666667%;
				max-width: 41.666667%
			}

			.col-md-6 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%
			}

			.col-md-7 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 58.333333%;
				flex: 0 0 58.333333%;
				max-width: 58.333333%
			}

			.col-md-8 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 66.666667%;
				flex: 0 0 66.666667%;
				max-width: 66.666667%
			}

			.col-md-9 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 75%;
				flex: 0 0 75%;
				max-width: 75%
			}

			.col-md-10 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 83.333333%;
				flex: 0 0 83.333333%;
				max-width: 83.333333%
			}

			.col-md-11 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 91.666667%;
				flex: 0 0 91.666667%;
				max-width: 91.666667%
			}

			.col-md-12 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%
			}

			.container {
				max-width: 720px;
			}

			.col-md-2 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 16.666667%;
				flex: 0 0 16.666667%;
				max-width: 16.666667%;
			}

			.col-md-10 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 83.333333%;
				flex: 0 0 83.333333%;
				max-width: 83.333333%;
			}
		}


		@media (min-width: 992px) {
			.container {
				max-width: 960px;
			}

			.cid-qPydcGGZlE .ampstart-btn,
			.cid-qPydcGGZlE amp-sidebar {
				display: none;
			}
		}


		@media (min-width: 1200px) {
			.container {
				max-width: 1140px;
			}
		}


		@media (max-width:991px) {
			.cid-qPydcGGZlE .navbar .navbar-collapse {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				min-height: 100vh;
				background: #000000;
				padding: 1rem 2rem 1rem 2rem;
			}

			.builder-sidebar .nav-item {
				width: 100%;
				margin: 5px 10px;
			}

			.builder-sidebar a.nav-link {
				color: #fff;
				display: block;
			}
		}

		@media (max-width:812px) {}

		@media (max-width:600px) {

			.footer-items {
				margin-bottom: 20px;
			}


		}
	</style>

	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
	<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
	<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
	<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
	<!-- <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script> -->
	<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>

<body>

  <amp-sidebar id="sidebar" class="cid-qPydcGGZlE" layout="nodisplay" side="right">
    <div class="builder-sidebar" id="builder-sidebar">
      <button on="tap:sidebar.close" class="close-sidebar">
        <span></span>
        <span></span>
      </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hospitals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Health Insurance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Travel health Insurance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown-submenu" aria-expanded="true">
            <amp-img src="img/ic_flag.png" width="24" height="16" layout="responsive"></amp-img>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">Eng</a>
            <a class="dropdown-item" href="">Arb</a>
          </div>
        </li>
      </ul>
    </div>
  </amp-sidebar>


   <section class="menu horizontal-menu cid-qPydcGGZlE" id="menu1-a">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <amp-img >
           
            <%=  image_tag("healthsoul.png", :size => "150x50") %> 
                
             </amp-img>
          </span>
        </div>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true" >
             <li><%= link_to "Doctors", search_doctors_path(clear: 'true'), title: "Doctors" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Hospitals", search_hospitals_path(clear: 'true'), title: "Hospitals" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Health Insurance", search_health_insurances_by_country_path, title: "Health Insurance" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Travel Health Insurance", search_travel_health_insurances_by_country_path, title: "Travel Health Insurance" %></li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Blog", blogs_path, title: "Blog" %> </li>
            &nbsp;
            &nbsp;
            <li><%= link_to "Events", events_path, title: "Events" %> </li> 
            &nbsp;
            &nbsp;
           

            <% if user_signed_in? %>
              <li class="login"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, title: "Sign Out" %></li>
              <% if current_user.is_admin? %>
              &nbsp;
              &nbsp;
                <li><%= link_to "Admin", '/admin', title: "Admin" %></li>
              <% end %>
              &nbsp;
              &nbsp;
              <li><%= link_to "Profile", user_path(current_user), title: "Profile" %></li>
              <% else %>
              &nbsp;
              &nbsp;
                  <li class="login"><%= link_to "Login", new_user_session_path, title: "Login" %></li>
                  &nbsp;
                  &nbsp;
                  <li><%= link_to "Sign Up", new_user_registration_path, title: "Sign Up" %></li>
              <% end %>
            <li class="nav-item dropdown language-translater">
              <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu"
                aria-expanded="true">
                <amp-img src="img/ic_flag.png" layout="responsive" width="24" height="16"></amp-img>
              </a>
              <div class="dropdown-menu" >
                <a class="dropdown-item" href="">Eng</a>
                <a class="dropdown-item" href="">Arb</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- AMP plug -->
    <button on="tap:sidebar.toggle" class="ampstart-btn hamburger sticky-but">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </section>

	<section id="faq-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="faq-banner-text">
						<h2>HealthSoul.com Privacy Policy</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="faq-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="Privacy-Policy-page">
						<p>This privacy policy has been compiled to better serve those who are concerned with how their
							'Personally Identifiable Information' (PII) is being used online. PII, as described in US
							privacy law and information security, is information that can be used on its own or with
							other information to identify, contact, or locate a single person, or to identify an
							individual in context. Please read our privacy policy carefully to get a clear understanding
							of how we collect, use, protect or otherwise handle your Personally Identifiable Information
							in accordance with our website.</p>
						<p>
							This Privacy Policy describes the policies and procedures of Health Soul, LLC (“Company ”,
							“we”, “our” or “us”) on the collection, use and disclosure of your information on
							www.healthsoul.com (the “Website”) and the services, features, content or applications we
							offer.
						</p>
						<p>
							We receive information about you from various sources, including: (i) if you register for
							the Website and the Services, through your user account on the Services (your “Account”);
							(ii) your use of the Services generally; and (iii) from third party websites and services.
							When you use the Services, you are consenting to the collection, transfer, manipulation,
							storage, disclosure and other uses of your information as described in this Privacy Policy.
						</p>

						<div class="Privacy-Policy-question">
							<h3>What personal information do we collect from the people that visit our website or blog?
							</h3>
							<p>When filling out contact forms or registering on our site, as appropriate, you may be
								asked to enter your name, age, sex, zip code, postal address and e-mail address or other
								details to help you with your experience. You can choose not to provide certain
								information, but then you might not be able to take advantage of some of our features.
								This information is collected only with your knowledge and permission, and is kept in
								our databases and mailing lists. If you are purchasing something using the third party
								vendor or advertisement on our Website, you may be asked to provide your credit card
								details. These details are transferred to third party website, hosted outside Health
								Soul, LLC. Credit card information is not retained by our Website.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>When do we collect information?</h3>
							<p>We collect information from you when you register on our site, subscribe to a newsletter
								or fill out a form or enter information on our site.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>How do we use your information?</h3>
							<p>We may use the information we collect from you when you register, make a purchase, sign
								up for our newsletter, respond to a survey or marketing communication, surf the website,
								or use certain other site features in the following ways:</p>
							<ul>
								<li>To allow us to better service you in responding to your customer service requests
								</li>
								<li>To follow up with them after correspondence (live chat, email or phone inquiries)
								</li>
							</ul>
						</div>

						<div class="Privacy-Policy-question">
							<h3>How do we protect your information?</h3>
							<p>Your personal information is contained behind secured networks and is only accessible by
								a limited number of persons who have special access rights to such systems, and are
								required to keep the information confidential. In addition, all sensitive/credit
								information you supply is encrypted via Secure Socket Layer (SSL) technology.
							</p>
							<p>
								We implement a variety of security measures when a user enters, submits, or accesses
								their information to maintain the safety of your personal information.
							</p>
							<p>
								Your Account information will be protected by a password for your privacy and security.
								You need to prevent unauthorized access to your Account and Personal Information by
								selecting and protecting your password appropriately and limiting access to your
								computer and browser by signing off after you have finished accessing your account. We
								seek to protect Account information to ensure that it is kept private; however, we
								cannot guarantee the security of any Account information. Unauthorized entry or use,
								hardware or software failure, and other factors, may compromise the security of user
								information at any time. We store all of our information, including your IP address
								information, using industry-standard techniques.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>Do we use 'cookies'?</h3>
							<p>Yes. Cookies are small files that a site or its service provider transfers to your
								computer's hard drive through your Web browser (if you allow) that enables the site's or
								service provider's systems to recognize your browser and capture and remember certain
								information. For instance, we use cookies to help us remember and process the items in
								your shopping cart. They are also used to help us understand your preferences based on
								previous or current site activity, which enables us to provide you with improved
								services. We also use cookies to help us compile aggregate data about site traffic and
								site interaction so that we can offer better site experiences and tools in the future.
							</p>
							<p>
								Registering or supplying personal information sets a cookie. By setting this cookie,
								Health Soul, LLC will remember your details the next time you visit, so you don’t have
								to re-enter the information. This helps us to provide you with a better service. This
								Privacy Policy covers our use of cookies only and does not cover the use of cookies by
								third parties. We do not control when or how third parties place cookies on your
								computer. To support and enhance the Services, we may serve advertisements, and also
								allow third parties advertisements, through the Services. These advertisements are
								sometimes targeted and served to particular users and may come from third party
								companies called “ad networks.” Ad networks include third party ad servers, ad agencies,
								ad technology vendors and research firms.
							</p>
							<p>
								Posting reviews on our Website may mean that other registrants of the Website will see
								personal information that you have volunteered. All content submitted by you to the
								Website may be retained by us indefinitely, even after you terminate your account. We
								may continue to disclose such content to third parties in a manner that does not reveal
								Personal Information, as described in this Privacy Policy.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>We use cookies to:</h3>
							<ul>
								<li>Keep track of advertisements.
								</li>
								<li>Compile aggregate data about site traffic and site interactions in order to offer
									better site experiences and tools in the future. We may also use trusted third-party
									services that track this information on our behalf such as Google Analytics. Our
									Google Analytics user-level and event-level data is stored for 14 months and is then
									is permanently deleted
								</li>
							</ul>
							<p>You can choose to have your computer warn you each time a cookie is being sent, or you
								can choose to turn off all cookies. You do this through your browser settings. Since
								each browser is a little different, look at your browser's Help Menu to learn the
								correct way to modify your cookies.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>Third-party disclosure</h3>
							<p>We do not sell or trade to outside parties your Personally Identifiable Information. This
								does not include website hosting partners and other parties who assist us in operating
								our website, conducting our business, or serving our users, so long as those parties
								agree to keep this information confidential. We may also release information when it's
								release is appropriate to comply with the law, enforce our site policies, or protect
								ours or others' rights, property or safety.
							</p>
							<p>
								However, non-personally identifiable visitor information may be provided to other
								parties for marketing, advertising, or other uses.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>Third-party links</h3>
							<p>Occasionally, at our discretion, we may include or offer third-party products or services
								on our website. These third-party sites have separate and independent privacy policies.
								We therefore have no responsibility or liability for the content and activities of these
								linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any
								feedback about these sites.
							</p>
							<h5>Google</h5>
							<p>
								<a href="">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a>
								Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of
								the DART cookie enables it to serve ads to our users based on previous visits to our
								site and other sites on the Internet. Users may opt-out of the use of the DART cookie by
								visiting the Google Ad and Content Network privacy policy.
								<a href="">https://support.google.com/ads/answer/2662922?hl=en</a>
							</p>
							<h5>We have implemented the following:</h5>
							<p>
								We, along with third-party vendors such as Google use first-party cookies (such as the
								Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie and
								Facebook Pixel) or other third-party identifiers together to compile data regarding user
								interactions with ad impressions and other ad service functions as they relate to our
								website.</p>
							<h5>Opting out:</h5>
							<p>
								Users can set preferences for how Google advertises to you using the Google Ad Settings
								page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt
								Out page or by using the Google Analytics Opt Out Browser add on.
								https://tools.google.com/dlpage/gaoptout</p>
						</div>
						<div class="Privacy-Policy-question">
							<h3>California Online Privacy Protection Act</h3>
							<p>CalOPPA is the first state law in the nation to require commercial websites and online
								services to post a privacy policy. The law's reach stretches well beyond California to
								require any person or company in the United States (and conceivably the world) that
								operates websites collecting Personally Identifiable Information from California
								consumers to post a conspicuous privacy policy on its website stating exactly the
								information being collected and those individuals or companies with whom it is being
								shared.
							</p>
							<p>
								See more at:
								<a
									href="">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
							</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>According to CalOPPA, we agree to the following:</h3>
							<p>Users can visit our site anonymously. This can be achieved through using a VPN, using
								browsers that do not collect cookies, or using an the anonymous mode depending on your
								browser.
							</p>
							<p>
								Once this privacy policy is created, we will add a link to it on our home page or as a
								minimum, on the first significant page after entering our website.
							</p>
							<p>
								Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page
								specified above.
							</p>
							<p>
								You will be notified of any Privacy Policy changes:</p>
							<ul>
								<li>On our Privacy Policy Page</li>
							</ul>
							<p>Can change your personal information:</p>
							<ul>
								<li>By emailing us</li>
							</ul>
						</div>

						<div class="Privacy-Policy-question">
							<h3>Does our site allow third-party behavioral tracking?</h3>
							<p>It's also important to note that we allow third-party behavioral tracking through our
								Facebook Pixel, Twitter, Instagram, YouTube and Google Analytics account.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>COPPA (Children Online Privacy Protection Act)</h3>
							<p>When it comes to the collection of personal information from children under the age of 13
								years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control.
								The Federal Trade Commission, United States' consumer protection agency, enforces the
								COPPA Rule, which spells out what operators of websites and online services must do to
								protect children's privacy and safety online.
							</p>
							<p>We do not specifically market to children under the age of 13 years old.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>Fair Information Practices</h3>
							<p>The Fair Information Practices Principles form the backbone of privacy law in the United
								States and the concepts they include have played a significant role in the development
								of data protection laws around the globe. Understanding the Fair Information Practice
								Principles and how they should be implemented is critical to comply with the various
								privacy laws that protect personal information.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>In order to be in line with Fair Information Practices we will take the following
								responsive action, should a data breach occur:</h3>
							<p>We will notify you via email Within 72 hours</p>
							<p>
								We also agree to the Individual Redress Principle which requires that individuals have
								the right to legally pursue enforceable rights against data collectors and processors
								who fail to adhere to the law. This principle requires not only that individuals have
								enforceable rights against data users, but also that individuals have recourse to courts
								or government agencies to investigate and/or prosecute non-compliance by data
								processors.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>CAN SPAM Act</h3>
							<p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes
								requirements for commercial messages, gives recipients the right to have emails stopped
								from being sent to them, and spells out tough penalties for violations.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>We collect your email address in order to:</h3>
							<ul>
								<li>Send information, respond to inquiries, and/or other requests or questions</li>
							</ul>
						</div>

						<div class="Privacy-Policy-question">
							<h3>To be in accordance with CANSPAM, we agree to the following:</h3>
							<ul>
								<li>Not use false or misleading subjects or email addresses.</li>
								<li>Identify the message as an advertisement in some reasonable way.</li>
								<li>Include the physical address of our business or site headquarters.</li>
								<li>Monitor third-party email marketing services for compliance, if one is used.</li>
								<li>Honor opt-out/unsubscribe requests quickly.</li>
								<li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
							</ul>
						</div>

						<div class="Privacy-Policy-question">
							<h3>What if I don’t want to provide personal information?</h3>
							<p>Providing personal information to Health Soul, LLC and on the Website is optional. If you
								choose not to provide personal information, you can still browse and use the the
								Website, but you will not be able to carry out certain actions such as post reviews,
								register for a newsletter or apply for a job.</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>How can I change my information?</h3>
							<p>At any time, you can modify your information by logging into your account</p>
						</div>

						<div class="Privacy-Policy-question">
							<h3>How can I cancel my account?</h3>
							<p>If you want to cancel or delete your account, please email us. Your posted reviews or Q/A
								cannot be deleted once they appear on our website.<br>
								<strong>If at any time you would like to unsubscribe from receiving future emails, you
									can email
									us at info@healthsoul.com</strong></p>
							<ul>
								<li>Follow the instructions at the bottom of each email and we will promptly remove you
									from strong ALL</li>
							</ul>
						</div>

						<div class="Privacy-Policy-question">
							<h3>Contacting Us</h3>
							<p>If there are any questions regarding this privacy policy, you may contact us using the
								information below.
							</p>
							<p>
								HealthSoul.com<br>
								P.O Box 9924<br>
								Springfield, IL 62791<br>
								United States<br>
								info@healthsoul.com</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


	
	<!-- <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script> -->

	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
	<!-- <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script> -->
</body>

</html>