h1.text-center Terms and Conditions of Use
.container 
  p PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE.

  p By accessing and using this website, you signify your agreement to these Terms and Conditions and all other policies and procedures that may be published from time to time on the website, each of which is incorporated by reference and each of which may be updated from time to time without notice to you. If you do not agree to all of these Terms and Conditions, do not access or use this website.

  p This website, www.healthsoul.com (hereafter referred to at times as the “website”) and the features, services, content and applications offered by the website and Health Soul, LLC (hereafter referred to at times as the “Company or We”).  These terms set forth the legally binding terms and conditions for the use of the website.  The Company may revise and update these Terms and Conditions at any time and your continued usage of the website shall mean that you accept any such changes.

  h3 Introduction

  p The website is a consumer driven healthcare website which provides directory of Hospitals, Health Insurance Companies and Travel Health Insurance providers (collectively referred to as “Healthcare Providers”) in various countries. It provides consumer driven ratings of the Healthcare Providers.

  p The website is not a portal for or provider of medical advice or diagnosis. All content and information provided on the website are for informational purposes only and are intended to be used only as a guide. The content and information on the website is not a substitute for professional medical advice, diagnosis or treatment.  Professional medical advice should not be disregarded or delayed and you should not delay in seeking such advice or treatment because of something you read on the website.

  p The website is owned by private company, Health Soul, LLC, and is not affiliated with the Government or Medicare Hospital ratings (HCHAPS ratings, NHS ratings, etc.)  Health Soul, LLC does not recommend or endorse any specific Healthcare Providers, products, procedures, opinions, tests or other information that may be mentioned on the website.  

  h3 Use of Content and Information

  p All content and information posted on this website is protected by the copyright, trademark and intellectual property laws in the United States and in foreign countries as may be applicable.  Any special rules for the use of certain software and other items accessible on the website may be included elsewhere within the website and are incorporated into these Terms and Conditions by reference.

  p Title to the materials remains with Health Soul, LLC  or its licensors, but company makes no representation or warranty as to such title. Any use of the materials not expressly permitted by these Terms and Conditions is a breach of these Terms and Conditions and may violate copyright, trademark, and other laws. Content, information and features are subject to change or termination without notice in the editorial discretion of the company. All rights not expressly granted herein are reserved to Health Soul, LLC and its licensors. 

  p If you violate any of these Terms and Conditions, your permission to use the website and its content and information automatically terminates and you must immediately destroy any copies you have made of any portion of the website and its content and information.

  h3 Registration and Eligibility

  p This website is not intended or designed to attract individuals under the age of 18.  You have to be more than 18 years old to create the account. If you are under the age of 18, you cannot create the account but you may use the website under the permission and supervision of a parent or guardian 18 years of age or older. 

  p We may, in our sole discretion, refuse to offer access to the website to any person or entity and change its eligibility criteria at any time. You are solely responsible for ensuring that these Terms and Conditions are in compliance with all laws, rules and regulations applicable to you.  The right to access the website is revoked where these Terms and Conditions or use of the website is prohibited or to the extent offering, sale or provision of the services of the website conflicts with any applicable law, rule or regulation. Further, the website use is offered only for your use, and not for the use or benefit of any third party.

  h3 Content

  p For purposes of these Terms and Conditions, the term "Content" includes, without limitation, information, data, text, photographs, videos, audio clips, written posts and comments, software, scripts, graphics, interactive features, and items purchased, generated, provided, or otherwise made accessible on or through the Services. For the purposes of this Agreement, "Content" also includes all User Content (as defined below).

  p All Content added, created, uploaded, submitted, distributed, or posted to the website by users (collectively "User Content"), whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such User Content. 

  p You represent that all User Content provided by you is accurate, complete, up-to-date, and in compliance with all applicable laws, rules and regulations. You acknowledge that all Content, including User Content, accessed by you using the website is at your own risk and you will be solely responsible for any damage or loss to you or any other party resulting therefrom.   We do not guarantee that any Content you access on or through the website is or will continue to be accurate.

  p You agree that you will not upload or transmit any communications or content of any type to the website that infringes or violates any rights of any party. By submitting communications or content to the website, you agree that such submission is non-confidential for all purposes and you warrant that you have permission from all persons appearing in or have rights thereto for you to make such a submission and grant rights described herein.

  p If you make any such submission you agree that you will not send or transmit to Health Soul, LLC by email, any communication or content that infringes or violates any rights of any party. If you submit any business information, idea, concept or invention to the company by email, you agree such submission is non-confidential for all purposes.

  p If you make any submission to the website or if you submit any business information, idea, concept or invention to the company by email, you automatically grant-or warrant that the owner of such content or intellectual property has expressly granted Health Soul, LLC a royalty-free, perpetual, irrevocable, world-wide nonexclusive license to use, reproduce, create derivative works from, modify, publish, edit, translate, distribute, perform, and display the communication or content in any media or medium, or any form, format, or forum now known or hereafter developed. The company may sublicense its rights through multiple tiers of sublicenses.  

  h3 Account Registration and Posting content

  p To provide reviews of a Healthcare Provider, you must register for an account on the website (an "Account").  You must provide accurate and complete information and keep your Account information updated. You are solely responsible for the activity that occurs on your Account, and for keeping your Account password secure. 

  p You may never use another person's user account or registration information without permission. You should never publish, distribute or post login information for your Account. You shall have the ability to delete your Account, through a request made to one of our employees or affiliates.  You shall not: (i) select or use as a username a name of another person with the intent to impersonate that person; (ii) use as a username a name subject to any rights of a person other than you without appropriate authorization; or (iii) use, as a username, a name that is otherwise offensive, vulgar or obscene.

  p You warrant and agree that the information provided with respect to your Account will be true and accurate and are the original work of your authorship. If you are a person authorized by a Healthcare Provider to submit or edit the content specifically related to that Healthcare Provider, you are authorized by the healthcare provider identified in the Content being submitted or edited to make such edits and submissions. You further warrant that you can submit the content without violating the copyright, trademark or other intellectual property rights of any third party, and the content will not contain any personally identifiable information (other than the name of the Healthcare Providers being reviewed); and your submissions of the Content will not violate any law, or in any manner infringe or interfere with the rights of others.

  h3 Personal Health or Identifiable Information

  p You agree not to post any Personal Health Information (PHI) or Personal Identifiable Information (like social security number, passport number, home address, phone number, etc.) on the website which will lead to HIPAA violation.

  h3 Account Termination

  p We may terminate your Account or access to all or any part of the website at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your use of the website. If you wish to terminate your Account, you may do so by following the instructions on the website.  All amounts paid hereunder are non-refundable.  All provisions of these Terms and Conditions which by their nature shall survive termination, including, without limitation, licenses of User Content, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

  h3 Availability of Content and Reviews

  p We do not guarantee that any reviews or Content will be made available immediately on the website or through Health Soul, LLC.  We reserve the right to, but do not have any obligation to remove, edit or modify any Content in our sole discretion, at any time, without notice to you and for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if we are concerned that you may have violated these Terms and Conditions), or for no reason at all and to remove or block any content from the website.

  p It will be at sole discretion of Health Soul, LLC and the website to determine whether any or all content should be placed or not placed on our website. It will be at sole discretion of Health Soul, LLC and the website to determine to transmit the content to the registered users of our website such as hospitals or Healthcare Providers; or summarize, extract, modify or remove any or all content from the website. 

  h3 Data or Content Protection

  p Data or Reviews or Opinions may be submitted by users onto the website and transferred by Health Soul, LLC  to third party vendors or Healthcare Providers.

  h3 Rules of Conduct

  p As a condition of use, you agree not to use the website for any purpose that is prohibited by these Terms and Conditions. You are responsible for all of your activity in connection with the website.

  p You shall not (and shall not permit any third party to) either (i) take any action or (ii) upload, download, post, submit or otherwise distribute or facilitate distribution of any Content on or through the website, including without limitation any User Content, that: infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity or violates any law or contractual duty; you know is false, misleading, untruthful or inaccurate; is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another's privacy, tortious, obscene, vulgar, pornographic, offensive, profane, contains or depicts nudity, contains or depicts sexual activity, or is otherwise inappropriate as determined by us in our sole discretion; constitutes unauthorized or unsolicited advertising, junk or bulk e-mail ("spamming"); contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password or other information of ours or of any third party; impersonates any person or entity, including any of our employees or representatives; or includes anyone's identification documents or sensitive financial information.

  p You shall not: (i) take any action that imposes or may impose (as determined by us in our sole discretion) an unreasonable or disproportionately large load on our (or our third party providers') infrastructure; (ii) interfere or attempt to interfere with the proper working of the website or any activities conducted on the website; (iii) bypass, circumvent or attempt to bypass or circumvent any measures we may use to prevent or restrict access to the website (or other accounts, computer systems or networks connected to the website); (iv) run any form of auto-responder or "spam" on the website; (v) use manual or automated software, devices, or other processes to "crawl" or "spider" any page of the website; (vi) harvest or scrape any Content from the website; or (vii) otherwise take any action in violation of our Terms and Conditions, guidelines and policies.

  p You shall not (directly or indirectly): (i) decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the website (including without limitation any application), except to the limited extent applicable laws specifically prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the website, or (iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder. You shall abide by all applicable local, state, national and international laws and regulations.

  p We reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce these Terms of Conditions, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of us, our users and the public.

  h3 Notices and Restrictions

  p The website may contain Content specifically provided by us, our partners or our users, and such Content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. You shall abide by and maintain all copyright notices, information, and restrictions contained in any Content accessed through the Services.

  p The use, reproduction, modification, distribution or storage of any Content for purposes other than using the website is expressly prohibited without prior written permission from Health Soul, LLC. You shall not sell, license, rent, or otherwise use or exploit any Content for commercial use or in any way that violates any of Health Soul, LLC rights or third party right.

  p By submitting reviews, information and other User Content to the website , you hereby do and shall grant Health Soul, LLC a worldwide, non-exclusive, perpetual, royalty-free, fully paid, sub licensable and transferable license to use, edit, modify, truncate, aggregate, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the same in connection with the website, Health Soul, LLC and company’s (and our successors' and assigns') businesses, including without limitation for promoting and redistributing part or all of the website (and derivative works thereof) in any media formats and through any media channels (including, without limitation, third party websites and feeds), and including after your termination of your Account or the website.  For clarity, the foregoing license grant to us does not affect your other ownership or license rights in your User Content, including the right to grant additional licenses to your User Content, unless otherwise agreed in writing. You represent and warrant that you have all rights to grant such licenses to us without infringement or violation of any third party rights, including without limitation, any privacy rights, publicity rights, copyrights, trademarks, contract rights, or any other intellectual property or proprietary rights.

  h3 Services which requires payment

  p For the services which requires any payment, the legal binding agreement between you and the website and/or company will be made and entered into by clicking the accept button by you. Health Soul, LLC shall not return any payment once received for whatever reason. All purchases made through the website and with Health Soul, LLC are final, and no refunds will be given after a transaction is completed.

  h3 Third Party Services

  p The website and comany may permit you to or otherwise link the website to other sites, services or resources on the Internet, and other sites, services or resources may contain links to the website. When you access third party resources on the Internet, you do so at your own risk. These other resources are not under our control, and you acknowledge that we are not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites or resources. The inclusion of any such link does not imply our endorsement or any association between us and their operators. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such website or resource.

  p We do not screen or validate any content posted by Healthcare Providers, nor do we endorse or recommend any particular Healthcare Provider listed on the website. If you decide to purchase or use any healthcare services listed on the website, you do so at your own risk. You should undertake your own research into any Healthcare Provider and you should consult with your doctor or primary Healthcare Provider before engaging any Healthcare Provider from this website. You should be aware that the results of any search you perform on the website for healthcare providers should not be construed as endorsement by Health Soul, LLC of any particular Healthcare Provider or constituting any comparative ranking of Healthcare Providers.

  p Advertisements made on the website are the sole responsibility of the respective advertisers. Health Soul, LLC and the website does not endorse or guarantee any of the claims made in any advertisement appeared on our website or any reviews provided by registered users of our website. You understand and agree that you are solely responsible for using any of the services and Content on the website, including advertisements, and for making independent judgments on any information on our website.

  h3 Making Healthcare Decision or Choosing Healthcare Provider or Service (Hospitals, health Insurance or Travel health insurance)

  p You assume all responsibility in connection with choosing any particular Healthcare Provider. When you decide to make an appointment after having conducted any search on our website, please contact the hospital or any other provider first and confirm beforehand your appointment or content thereof.  The data and reviews are for informational purpose only and not intended to be the only method for evaluation of quality of Healthcare Providers. You acknowledge and understand that you are solely responsible for all decisions regarding your healthcare choice. The website, Health Soul, LLC and/or their affiliates are not responsible for cost or quality of treatment from your Healthcare Provider. 

  h3 Liability

  p We have no special relationship with or duty, fiduciary or otherwise, to you. You acknowledge that we have no duty to take any action regarding: which users gain access to the website, reviews or content; what Content you access via the website; or how you may interpret or use the Content.  

  p The use of this website is at your own risk.  The website and its content and information are provided on an “as is” and “as available” basis.  Health Soul, LLC, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE. Without limiting the foregoing, Health Soul, LLC makes no representations or warranties about the following:

  ol
    li  The reliability, accuracy, timeliness and/or completeness of the information or content provided on or through the use of the website.
    li  The information or content will be secure or available at any particular time or location.
    li  That any defects or errors will be corrected.
    li  That any content or software available at or through the website is free of viruses or other harmful components.
    li  The results of using the website will meet your requirements.
    li  That data, reviews or content is accurate.  

  p Health Soul, LLC shall not be liable for any damages (including, without limitation, punitive damages, incidental, indirect and/or consequential damages, personal injury/wrongful death, lost profits, lost expectations, or damages resulting from lost data or business interruption or any other damages not otherwise expressly allowed in these Terms and Conditions) resulting from the use of or inability to use the website or the Content, whether based on warranty, contract, tort, or any other legal or equitable theory, and whether or not Health Soul, LLC is advised of the possibility of such damages. Health Soul, LLC shall be liable only to the extent of actual, direct damages incurred by you, not to exceed U.S. $100 and as expressly allowed by these Terms and Conditions. 

  p Health Soul, LLC is not liable for any personal injury, including death, caused by your use or misuse of website.   Any claims arising out of your use of the website or any information or content from the website must be brought within six (6) months of the date of your use of the website that gave rise to such action. Remedies under these Terms and Conditions are exclusive and are limited to those expressly provided for in these Terms and Conditions.

  h3 Indemnification

  p You shall defend and indemnify Health Soul, LLC as well as its affiliates, subsidiaries, successors and assigns and each of our and their respective owners, members, officers, directors, employees, contractors, and representatives from all liabilities, claims, fines, damages, causes of actions and expenses, including reasonable attorneys' fees and accounting fees, that arise from or relate to your use or misuse of, or access to, the website, its information and content, or otherwise from your User Content, violation of these Terms of Conditions, or infringement by you, or any third party using your Account or identity in the website, of any intellectual property or other right of any person or entity. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses.

  h3 Governing Law and Jurisdiction

  p These Terms of Conditions shall be governed by and construed in accordance with the laws of the State of Illinois, including its conflicts of law rules, and the United States of America. You agree that any dispute arising from or relating to the subject matter of these Terms of Conditions or the website shall be governed by the exclusive jurisdiction and venue of the Circuit Court of Sangamon County, Illinois or Federal Courts of the Central District of Illinois.

  h3 Modification

  p We reserve the right, in our sole discretion, to modify or replace any of these Terms of Conditions, or change, suspend, or discontinue the website (including without limitation, the availability of any feature, database, or content) at any time by posting a notice on the website or by sending you notice through the website, via e-mail, via SMS messaging, or by another appropriate means of electronic communication. We may also impose limits on certain features and services or restrict your access to parts or all of the website without notice or liability. While we will timely provide notice of modifications, it is also your responsibility to check these Terms of Conditions periodically for changes. Your continued use of the website following notification of any changes to these Terms of Conditions constitutes acceptance of those changes.

  h3 General

  p Health Soul, LLC is based in Springfield, Illinois in the United States of America.  Health Soul, LLC makes no claims that the website or its Content is appropriate or may be downloaded outside of the United States.  Accessing the website may not be legal in certain countries.  You access this website at your own risk.  

  h3 Complete Agreement

  p These Terms and Conditions constitute the entire agreement between you and Health Soul, LLC with respect to the website and the Content.  The agreement can only be amended by Health Soul, LLC, amendment to the Terms and Conditions as provided herein and no amendment or various to this agreement shall take effect in any other manner. Health Soul, LLC failure or delay in enforcing an obligation, or exercising a right or remedy under this agreement will not amount to a waiver of that obligation, right or remedy.   
