<section id="healthcare-user">
  <div class="container">
    <div class="row">
      <div class="col-md-7">

        <div class="healthcare-user-left-section healthcare-user-left-section_healthcareprovider">
          <h1>How It Works</h1>
          <p>Review your Healthcare Experience or get answers to all your questions
          <br> about Healthcare.</p>
          <p><a href="<%= search_hospitals_path %>">WRITE A REVIEW</a><a href="<%= search_hospitals_path %>">SHARE & LEARN</a></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="healthcare-user-right-section">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src=<%= "https://www.youtube.com/embed/#{YOUTUBE_CHANNEL}?rel=0" %> frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='blue-box'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h3 class='text-center'>Earn HealthSoul points?</h3>
        <ul>
          <li><b>Writing a Review:</b> You will get 5 points for every Review which is posted and meet guidelines of HealthSoul LLC. If your review is removed due to foul language or not meeting the standards, then you will not get any points.</li>
          <li><b>Refer a friend:</b> If you refer a friend who register and post review on HealthSoul will count as a referral and earn you 5 points.</li>
          <li><b>Share blogs</b> - earn 5 points for sharing one blog. You can earn maximum 25 points with this activity.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class='green-box'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h3 class='text-center'>What is the value of the HealthSoul points?</h3>
        <p>You need atleast 100 points to Redeem. If you continue to let points grow and redeem all at one time, then point value increases. Point values or Gift card company can be changed at any time by HealthSoul LLC. Only one gift card can be redeemed in a calendar year.</p>
        <p>
          If redeemed 100 HealthSoul Points you will get $10.00 Amazon.com Gift card.
        </p>
        <p>
          If redeemed 250 HealthSoul Points you will get $25.00 Amazon.com Gift card.
        </p>
        <p>
          If redeemed 500 HealthSoul Points you will get $75.00 Amazon.com Gift card.
        </p>
        <p>
          Amazon.com Gift cards cannot be substituted for Amazon gift cards based in another country like Amazon.in, amazon.com.br etc.
        </p>
      </div>
    </div>
  </div>
</div>

<div class='blue-box'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h3 class='text-center'>
          How do I redeem HealthSoul points?
        </h3>
        <p>
          Please email your request for number of points to be redeemed to <%= mail_to('info@healthsoul.com', 'info@healthsoul.com') %>. It will be processed in 7-10 days.
        </p>
      </div>
    </div>
  </div>
</div>

<% if @promotion.present? %>
  <section id="promotion ptb-70">
    <div class="container">
      <h1 class='header'><%= @promotion.title.html_safe %></h1>
      <div class="row">
        <div class="col-md-8">
          <%= @promotion.blurb.html_safe %>
          <% if !@promotion.terms_and_conditions_content.blank? %>
            <h4> Terms and Conditions </h4>
            <%= @promotion.terms_and_conditions_content.html_safe %>
          <% end %>
        </div>
        <div class='col-md-4'>
          <%= @promotion.decorate.users_info_landing_page_promotion_image %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% if @promotion_winners %>
  <div class="container green-box">
    <h2><span class='fa fa-trophy'></span> Winners </h2>
    <% @promotion_winners.each do |promotion| %>
      <h3><%= promotion['promotion_year'] %>-<%= promotion['promotion_month'] %></h3>
      <% JSON.parse(promotion['winners']).each_slice(3) do |ws| %>
        <div class='row'>
          <% ws.each do |w| %>
            <div class='col-md-4'>
              <div class='col-md-12 winner-box grey-box'>
                <h4><%= w['winner_type'] %></h4>
                <b><%= w['name'] %></b><br/>
                <%= w['prize'] %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <br/>
  </div>
<% end %>

<%= render partial: "user_benifits_overview" %>

<section class="healthcareprovider-page">
  <div class="container">
    <div class="row">
      <div class="find-the-best-hosp_mail_frame">
        <div class="col-md-6">
          <div class="find-the-best-hosp_middle_frame">
            <h2>FIND THE BEST HOSPITALS NEAR YOU</h2>
            <p>Use the knowledge of others to help you choose the right hospital
            <br> Find out what the experience others had with the hospital you're considering.</p>
            <p><a href="<%= search_hospitals_path %>">Search Hospitals</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="find-the-best-hosp_right_frame">
            <p>
            <%= image_tag "img/near.jpg", class:"img-responsive" %>
            </p>
          </div>
        </div>
      </div>
      <!--find-the-best-hosp_mail_frame-->
      <div class="clear"></div>
    </div>
  </div>
</section>
<section class="healthcareprovider-page healthcareprovider-page_bottom">
  <div class="container">
    <div class="row">
      <div class="find-the-best-hosp_mail_frame">
        <div class="col-md-6">
          <div class="find-the-best-hosp_right_frame">
            <p>
            <%= image_tag "img/near-4.jpg", class:"img-responsive" %>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="find-the-best-hosp_middle_frame">
            <h2>ASK QUESTIONS</h2>
            <p>You can ask questions for a specific hospital or health insurance.
            <br> Questions will be answered by our experts or community people.
            <br> More general questions can be asked in forum section.</p>
            <p><a href="<%= forum_path %>">Search our Forum</a></p>
          </div>
        </div>
      </div>
      <!--find-the-best-hosp_mail_frame-->
      <div class="clear"></div>

    </div>
  </div>
</section>