<div class="container">
  <div class="row">
    <div class="col-md-3 calculator_type">
      <%= render partial: 'calculator_list' %>
    </div>
    <div class='col-md-9 calculator-form'>
      <h1>Waist Hip Ratio Calculator</h1>
      <div>
        <b> Units </b> <br>
        <a class="nav-link btn btn-primary active" id="pills-imperial-tab" data-toggle="pill" href="#pills-imperial" role="tab" aria-controls="pills-imperial" aria-selected="true">Imperial</a>
        <a class="nav-link btn btn-primary" id="pills-metric-tab" data-toggle="pill" href="#pills-metric" role="tab" aria-controls="pills-metric" aria-selected="false">Metric</a>
      </div>
      
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane active" id="pills-imperial" role="tabpanel" aria-labelledby="pills-imperial-tab">
          <div>
            <b> Waist: </b> <br>
            <input class="form-control" id="waist-inches" type="number" min="0" max="11"/>
            inches
          </div>
          <div> 
            <b> Hip: </b> <br>
            <input class="form-control" id="hip-inches" type="number" min="0" max="700"/>
            inches
          </div>
        </div>

        <div class="tab-pane fade" id="pills-metric" role="tabpanel" aria-labelledby="pills-metric-tab">
          <div>
            <b> Waist: </b> <br>
            <input class="form-control" id="waist-centimeters" type="number" min="0"/>
            cm
          </div>
          <div>
            <b> Hip: </b> <br>
            <input class="form-control" id="hip-centimeters" type="number" min="0"/>
            cm
          </div>
        </div>
        
        <div class="btn btn-primary" id="waist-hip-calculator"> Calculate My Waist-Hip Ratio</div>
      </div>

      <div class="tab-content" id="waist-hip-result-holder"></div>

      <div class="tab-content">
        <%= render partial: 'calculate_result_list', locals: {subject: 'Your Waist Hip Ratio Calculation From Healthsoul'} %>
      </div>
    </div>
  </div>
</div>