= simple_form_for [:admin, @resource ] do |f|
  =f.input :name
  =f.input :address
  =f.input :city
  =f.input :state
  =f.input :zip
  =f.input :phone
  =f.input :website, as: :url
  =f.input :country, as: :select, collection: country_collection
  =f.input :country_code, as: :select, collection: country_alpha3_collection
  =f.button :submit

-if @resource.persisted?
  hr
  p=link_to "Delete", admin_doctor_organization_path(@resource), method: :delete, data: {confirm: "Are you sure?"}, title: 'Delete'
  p 
    | This Org has 
    =link_to @resource.doctors.size, admin_doctors_path(:search_doctor => {practice_id: @resource.id}), title: 'Associated Doctors'
    |  doctors. If you delete it, they won't be affiliated with an organization.
