h1 Doctor Organizaions

p=link_to "New", new_admin_doctor_organization_path, class: 'button', title: 'Add Doctor Organization'
form method="get" action="/admin/doctor_organizations/"
  select class="chosen-select-org-search" name="id"
