.row
  .large-12.columns
    =simple_form_for [:admin, @resource] do |f|
      .row
        .small-2.large-4.columns
          =f.input :name
        .small-2.large-2.columns
          =f.input :hwaid
        .small-2.large-2.columns.align-middle
          =f.input :is_claimed
        .small-2.large-4.columns
          = f.input :featured_or_sponsored, as: :radio_buttons, collection: FEATURED_OR_SPONSORED, label: false 

      .row
        -unless f.object.practice?
          .small-2.large-4.columns
            = f.association :location_type
        .small-2.large-4.columns
          = f.input :sub_type 
        .small-2.large-4.columns
          - if !@resource.new_record?
            label Slug
            = @resource.slug
      
      .row  
        .small-2.large-12.columns
          =f.input :description
      .row
        .small-2.large-6.columns
          =f.input :address
        .small-2.large-6.columns
          =f.input :address2
      .row
        .small-2.large-4.columns
          =f.input :city
        .small-2.large-4.columns
          =f.input :state
        .small-2.large-4.columns
          =f.input :zip
      .row
        .small-2.large-12.columns
          =f.input :country, as: :select, collection: country_collection
      .row
        .small-2.large-4.columns
          =f.input :website, as: :url
        .small-2.large-4.columns
          =f.input :phone
        .small-2.large-4.columns
          =f.input :email
      .row
        .small-2.large-4.columns.align-middle
          =f.input :simple_geocode, label: 'Simple Geocode? (Geocode by city, state, zip, country)'
        .small-2.large-4.columns
          =f.input :latitude, disabled: true
        .small-2.large-4.columns
          =f.input :longitude, disabled: true
      .row
        .small-2.large-8.columns
          = f.input :photo, as: :file, label: 'Upload Photo'
          = f.hidden_field :photo_cache
          - if @resource.photo?
            - alt = @resource.photo_alt
            = image_tag(@resource.photo.thumb.url, alt: alt)
            br
            label
              | Remove Photo
              = f.check_box :remove_photo
        .small-2.large-4.columns
          = f.input :photo_alt, label: 'Photo ALT text'
        - if f.object.practice?
          table
            / Split specialities into groups of three to render checkbox rows as rows of a table
            - PracticeSpeciality.where(common_speciality: true).sort_by{|ps| ps.name}.in_groups_of(3).each do |common|
              tr
                =f.association :practice_specialities, as: :check_boxes, collection: common.reject { |i| i.nil?}, label: false, item_wrapper_tag: :td, boolean_style: :inline, item_wrapper_class: "speciality"
          label Other Specialities
          table
            / Split specialities into groups of three to render checkbox rows as rows of a table
            - PracticeSpeciality.where(common_speciality: false).sort_by{|ps| ps.name}.in_groups_of(3).each do |other|
              tr
                =f.association :practice_specialities, as: :check_boxes, collection: other.reject { |i| i.nil?}, label: false, item_wrapper_tag: :td, boolean_style: :inline, item_wrapper_class: "speciality"
      - if @resource.practice? || @resource.hospital?
        hr
        = render 'business_hours_section', f: f
      .row
        .small-2.large-6.columns
          =f.input :placeid, label: 'Place'
        .small-2.large-6.columns
          =f.input :place_photo
      .row
        .small-2.large-12.columns
          =f.button :button
