tr
  td
    - if list.image.present?
      - alt = list.photo_alt
      = image_tag(list.image, width: 75, alt: alt)
  td=list.hwaid
  td=list&.location_type&.name
  td
    =link_to list.name, admin_location_path(list)
    br
    small=list.full_street_address
  td
    =list.city
    - if list.state.present?
      | , 
      =list.state
    |  
    span.label.secondary=list.country
  td=list.lat_lng

  td=link_to "Edit", [:edit, :admin, list], class: 'button tiny'
