h1=@resource_name

.button-group
  =link_to "Add", [:new, :admin, @resource_slug.singularize ], class: "button"
  =link_to "Import", [:new, :admin, :import, @resource_slug.singularize ], class: "button"
  =link_to "Types", [:admin, :location_types], class: "button"

.well
  = simple_form_for @search, method: :get, url: admin_locations_path, data: {search_form: "ajax"} do |f|
    .row
      .columns.medium-4
        =f.input :name, placeholder: '', label: 'Name'
      .columns.medium-3
        =f.input :state, placeholder: "State", label: "Near"
      .columns.medium-3
        =f.input :co, as: :select, collection: @search.countries_select_code, label: 'Country', prompt: "Any Country"
      .columns.medium-2.align-middle
        =f.input :without_geolocation, as: :boolean
    .row
      .columns.medium-4
        =f.input :location_type_id, as: :select, collection: LocationType.all.order(:name)
      .columns.medium-3
        =f.input :hwaid, label: "HWA ID"
      .columns.medium-4.align-middle
        =f.button :button, "Search", value: 'Search'


- if @resources.present?
  br
  .text-center
    = paginate(@resources)

table
  thead
    tr
      th
      th HWAId
      th Type
      th Name
      th Location
      th Lat/Lng?
      th
  tbody
    = render partial: "list", collection: @resources

- if @resources.present?
  .text-center
    = paginate(@resources)
