h1=@resource.name
h3=@resource.hwaid
.button-group
  =link_to "Visit public page", location_path(@resource), class: 'button'
  =link_to "Edit", edit_admin_location_path(@resource), class: 'button'
  =link_to "Delete", admin_location_path(@resource), method: :delete, data: {confirm: "Are you sure? This will delete all associated reviews, questions, answers, etc with this location"}, class: 'button alert'
.row
  .large-7.columns
    table
      = render partial: 'manage/locations/location_info', locals: {location: @resource}

  .columns.large-5
    = render partial: 'manage/locations/analytics_chart', locals: {location: @resource}

    hr

    h4 Mail Analytics:
    =simple_form_for @resource, method: :post, url: analytics_report_admin_location_path(@resource.slug), html: {multipart: true}  do |f|
      .row
        .columns.medium-12
          #error
      .row
        .columns.medium-9
          = f.input :email, type: "email", required: true
          = f.input :analytic_chart, as: :hidden
        .columns.medium-3.mt-20
          = f.button :button, "Send Mail", onclick: "javascript: return allow_for_submission();"

    hr
    h3 Moderators:
    ul
      - User.with_role(:moderator, @resource).each do |user|
        li=link_to user.email, edit_admin_user_path(user)

    - if @resource.claim_requests.present?
      hr
      h3 Claim Requests:
      ul
        - @resource.claim_requests.each do |claim_request|
          li=link_to claim_request.position, edit_admin_claim_request_path(claim_request)

.row
  .columns
    hr
    h3 Choose another photo
    p Click on the photo to make it current.
    #place-photos[data-id="#{@resource.slug}"]
    br.clear
    br
    hr
    - content_for :extra_js do
      javascript:
        initShowPlacePhotos(#{@resource.latitude},#{@resource.longitude}, "#{@resource.name}", "#{@resource.placeid}")
        
= render partial: 'manage/widget', locals: {obj: @resource, type: @resource.location_type.name.downcase.gsub(" ", "_")}
