div id="faq#{faq.id}" class="question" data-tag-list="#{faq.tag_list}"
  .row
    .col-md-9
      .body
        =simple_format faq.body
    .col-md-3.text-right
      .date=l(faq.created_at, format: :created_at)
      - if policy(faq).admin?
        .row
          .col-md-12
            div.frm_faq
              p Admin Only
              =simple_form_for faq do |f|
                =f.input :tag_list, input_html: {value: f.object.tag_list.to_s}
                =f.button :button
  .row
    .col-md-12
      p
        -faq.tag_list.each do |tag|
          span class="label label-info"=tag 
          |  
  .answers
    .row
      .col-md-6
        p
          a href="#" class="toggle-answers"
            i class="fa fa-chevron-down" aria-hidden="true"
            span.answer-label View 
            |  #{faq.answers.size} Answers
    - faq.answers.each do |answer|
      .row.answer
        .col-md-12
          =simple_format answer.body
    .row.answer
      .col-md-12
        =simple_form_for [faq, faq.answers.new] do |answer|
          .form-group
            =answer.input :body, label: false, placeholder: "Answer this question", input_html: {class: 'form-control'}
          =answer.button :button, "Submit", class: 'btn btn-default'

