.container
  .row
    .col-md-12
      h1.text-center Forum
      h3=@country.try(:name)
      - if @faqs.present?
        #faq
          - if @faqs.tag_counts.present?
            p
              | Filter By Tag:
              template[v-for="tag in tags"]
                |
                span.label[v-bind:class="labelClass(tag)"]
                  a[@click.prevent="filterTags(tag)" href="#"]
                    | {{tag}}
                | &nbsp;
          =render @faqs
      - else
        p No questions yet. Be the first to ask!
      h2 Questions & Answers
      =simple_form_for @faq do |f|
        .form-group
          =f.input :body, label: false, placeholder: "Your Question", input_html: {class: 'form-control'}
        =f.input :country, as: :hidden
        =f.button :button, "Submit", class: 'btn btn-default'

      br
- content_for :extra_js do
  <script src="https://unpkg.com/vue"></script>
  javascript:
    var tag_list = #{raw @faqs.tag_counts.pluck(:name).to_json}
    var app = new Vue({
      el: '#faq',
      data: {
        tags: tag_list,
        currentTag: ''
      },
      computed: {
      },
      methods: {
        labelClass: function(tag) {
          if(this.currentTag == tag) {
            return 'label-success'
          } else {
            return 'label-default'
          }
        },
        filterTags: function(tag) {
          this.currentTag = tag
          $('.question').hide()
          $("[data-tag-list*='"+tag+"']").show()();
        }
      }
    });
