.nested-fields
  .row
    .small-2.large-3.columns
      = f.input :day, collection: BusinessHour::SELECT_VALUES
    .small-2.large-3.columns
      = f.input :start_time, collection: BusinessHour.create_time, selected: f.object.start_time
    .small-2.large-3.columns
      = f.input :end_time, collection: BusinessHour.create_time, selected: f.object.end_time
    .small-2.large-2.columns.align-middle
      = f.input :closed
    .small-2.large-1.columns.align-middle
      = link_to_remove_association "Remove", f
hr
