table.table.table-striped
  - specialities = doctor.practice_specialities.uniq
  - if specialities.present?
    tr
      th{colspan= 2} Specialities
    - specialities.each_with_index do |speciality, index|
      - if speciality.user_facing_description.present?
        tr
          td{colspan= 2}
            = speciality.name
            = speciality.user_facing_description
  = render partial: 'doctors/overview', locals: {doctor: doctor}
