<div id="review-respond" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content review-respond-modal">
			<div class="modal-header">
				<h4 class="modal-title"><%= image_tag(doctor.photo) %> Facebook Review</h4>
			</div>
			<div class="modal-body">
				<div class="review-user">
					<div class="review-user-inner">
						<%= image_tag("dr-singla.png", :alt => "rss feed") %>
						
						<div class="">
							<h5><%= doctor.name %></h5>
							<p><%= rating.created_at.strftime("%d-%m-%Y") %></p>
							<span data-stars="<%= doctor.ratings_count %>"></span>
						</div>
					</div>
					<p>
						<%= rating.comment %>
					</p>
					<h4>Your response</h4>
					<textarea></textarea>
					<div class="review-subimt-btn">
						<button type="button" class="main_btn green-border-btn" data-dismiss="modal">Close</button>
						<button type="button" class="main_btn green-color-btn" data-dismiss="modal">Respond</button>



					</div>

				</div>
			</div>

		</div>
	</div>
</div>