h1 Edit Profile

= simple_form_for [:manage, @doctor ], url: manage_doctor_path(@doctor) do |f|
  p
    strong Doctor Info
  =f.input :credential
  =f.input :name, disabled: true
  =f.input :gender, as: :radio_buttons, collection: Doctor.genders.keys
  =f.input :email
  =f.input :should_be_notified_by_email_for_appointments
  =f.input :website, as: :url,  placeholder: 'Website must start with http or https'
  =f.input :description
  =f.input :phone
  =f.input :should_be_notified_by_sms_for_appointments
  =f.input :address
  =f.input :city
  =f.input :state
  =f.input :zip
  =f.input :country, as: :select, collection: country_collection
  =f.input :country_code, as: :select, collection: country_alpha3_collection
  = f.association :languages, input_html: {class: 'select2'}, multiple: true

  hr
  p
    strong Organization Info
    =f.input :organization_name
  label Photo
  = f.input :photo, as: :file, label: false
  = f.hidden_field :photo_cache
  - if @doctor.photo?
    - alt = @doctor.photo_alt
    = image_tag(@doctor.photo.thumb.url, alt: alt)
    br
    label
      | Remove Photo
      = f.check_box :remove_photo
  = f.input :photo_alt, label: 'Photo ALT text'

  =f.association :med_school, input_html: {class: 'chosen-select' }, label: "Professional School"
  p If you cannot find your school above, add it below:
  =f.input :med_school_other, placeholder: "Add a Medical School"
  =f.input :graduation
  = f.association :board_certifications, collection: BoardCertification.pluck(:certification, :id), :as => :select, input_html: { multiple: true, class: ' select2' }
  = f.input :areas_of_expertise, input_html: {class: 'froala_editor'}
  =f.input :residency
  =f.input :fellowship, label: 'Fellowship'
  =f.input :fellowship_2, label: '2nd Fellowship'
  =f.input :academic_affiliation, as: :select, collection: Doctor.academic_affiliations.keys.map{|a| [a.titleize, a] }
  =f.input :hospital_ids, as: :select, collection: @doctor.hospitals.map{|h| [h.name, h.id] }, input_html: {multiple: true, class: 'select2-ajax'}, label: "Affiliated Hospitals"
  p If you can't find your hospital above, list it below:
  =f.input :affiliated_hospitals, label: false
  label Common Specialities
  table
    / Split specialities into groups of three to render checkbox rows as rows of a table
    - PracticeSpeciality.where(common_speciality: true).sort_by{|ps| ps.name}.in_groups_of(3).each do |common|
      tr
        =f.association :practice_specialities, as: :check_boxes, collection: common.reject { |i| i.nil?}, label: false, item_wrapper_tag: :td, boolean_style: :inline, item_wrapper_class: "speciality"
  label Other Specialities
  table
    / Split specialities into groups of three to render checkbox rows as rows of a table
    - PracticeSpeciality.where(common_speciality: false).sort_by{|ps| ps.name}.in_groups_of(3).each do |other|
      tr
        =f.association :practice_specialities, as: :check_boxes, collection: other.reject { |i| i.nil?}, label: false, item_wrapper_tag: :td, boolean_style: :inline, item_wrapper_class: "speciality"
  =f.input :display_hours_and_fees
  hr
  = render 'business_hours_section', f: f
  =f.input :new_patient_fees
  =f.input :current_patient_fees

  hr
  p
    strong Additional Locations
    / Add Button
    = f.simple_fields_for :additional_locations do |al|
      = render 'additional_location_fields', f: al
    .links
      = link_to_add_association 'Add Location', f, :additional_locations
  =f.button :submit
