console.log("reply_review");	
$("#modals").html("<%= escape_javascript render(:partial => 'review_respond', :locals => { :doctor => @doctor , :rating => @rating }) %>");
$("#review-respond").modal("show");
