.locations-show
  .row.location-heading
    .columns.medium-7
      = render 'doctors/heading'

  .button-group
    =link_to "View Public Page", doctor_path(@doctor), class: 'button', title: 'View Profile'
    =link_to "Edit Profile", edit_manage_doctor_path(@doctor), class: 'button', title: 'Edit Profile'

.container
  .row
    .columns.medium-7
      = render partial: 'doctor_info', locals: {doctor: @doctor}
    .columns.medium-5
      h3 Analytics:
  
      table
        thead
          tr
            th
            th Last Month
            th Last 12 Months
        tbody
          tr
            td Total Page Impressions
            td= monthly_pg_views = timed_impressions(@doctor, 1.month.ago)
            td= yearly_pg_views = timed_impressions(@doctor, 1.year.ago)
          tr
            td Total Page Clicks
            td= monthly_pg_clicks = @doctor.impressionist_count(start_date: 1.month.ago)
            td= yearly_pg_clicks = @doctor.impressionist_count(start_date: 1.year.ago)
          tr
            td Unique Page Clicks
            td= monthly_uniq_pg_clicks = @doctor.impressionist_count(start_date: 1.month.ago, filter: :ip_address)
            td= yearly_uniq_pg_clicks = @doctor.impressionist_count(start_date: 1.year.ago, filter: :ip_address)
          tr
            td Reviews
            td=@doctor.ratings.last_month
            td=@doctor.ratings.last_year

      = column_chart \
        [         \                                                                       
          {name: "#{1.month.ago.strftime('%d %b, %Y')} - #{Date.today.strftime('%d %b, %Y ')}", data: [ \
          ['Total Page Impressions', monthly_pg_views], \
          ['Total Page Clicks', monthly_pg_clicks], \
          ['Unique Page Clicks', monthly_uniq_pg_clicks] \
          ]}, 
          {name: "#{1.year.ago.strftime('%d %b, %Y')} - #{Date.today.strftime('%d %b, %Y')}", data: [ \
          ['Total Page Impressions', yearly_pg_views], \
          ['Total Page Clicks', yearly_pg_clicks], \
          ['Unique Page Clicks', yearly_uniq_pg_clicks]]}  \
        ]                                                                                                      
      hr

      h4 Mail Analytics:
      =simple_form_for @doctor, method: :post, url: analytics_report_admin_doctor_path(@doctor.slug), html: {multipart: true}  do |f|
        .row
          .columns.medium-12
            #error
        .row
          .columns.medium-9
            = f.input :email, type: "email", label: false, placeholder: 'Email', required: true, input_html: {class: 'form-control'}
            = f.input :analytic_chart, as: :hidden
          .columns.medium-3
            = f.button :button, "Send Mail", onclick: "javascript: return allow_for_submission();", class: 'btn btn-secondary'                                                                                        

  /= render partial: 'locations/user_rating', collection: @doctor.reviews, as: :rating
  /= render partial: "questions/question", collection: @doctor.questions.order(created_at: :desc)

button.button id='btn_toggle' data-target="#widget" data-toggle="collapse"  Widgets
#widget.collapse
  = render partial: 'manage/widget', locals: {obj: @doctor, type: 'doctor'}

- content_for :extra_js do
  javascript: 
    var canvas = $('.chartjs-render-monitor')[0];
    var data_url = canvas.toDataURL();
    $('#doctor_analytic_chart').val(data_url);
      
    function allow_for_submission(){
      $('#error').html();
      if ($('#doctor_email').val() == ''){
        $('#error').html('Provide email.');
        $('#error').css({ 'color': 'red'});
        return false;
      }
      else{
        return true;
      }
    }
    
    $("#widget").hide();
    $("#btn_toggle").click(function(){
      $("#widget").toggle();
    });
