
<section class="inner-pages">
	<div class="container">
		<div class="col-md-12">
			<div class="dashboard-page">
				<div class="tab">
					<button class="tablinks active" onclick="openCity(event, 'Analytics')">Analytics</button>
					<button class="tablinks" onclick="openCity(event, 'Current-Profile')">Current
						Profile</button>
					<button class="tablinks" onclick="openCity(event, 'Reviews')">Reviews</button>
					<button class="tablinks" onclick="openCity(event, 'Widgets')" id="defaultOpen">Widgets</button>

					<%- if @doctor.digitial_health_score_enabled %>
						<button class="tablinks" onclick="openCity(event, 'graph')" id="defaultOpen">Digitial Health score </button>
					<% end %>
				</div>
				<div class="tab-info-box">
					<!-- Start Analytics Section  -->
					<div id="Analytics" class="tabcontent">
						<div class="analytics_table">
							<table>
								<tr>
									<th>Analytics</th>
									<th>Last Month</th>
									<th>Last 12 Months</th>
								</tr>
								<tr>
									<td>Total Page Impressions</td>
									<td><%= monthly_pg_views = timed_impressions(@doctor, 1.month.ago) %></td>
									<td><%= yearly_pg_views = timed_impressions(@doctor, 1.year.ago) %></td>
								</tr>
								<tr>
									<td>Total Page Clicks</td>
									<td><%= monthly_pg_clicks = @doctor.impressionist_count(start_date: 1.month.ago) %></td>
									<td><%= yearly_pg_clicks = @doctor.impressionist_count(start_date: 1.year.ago) %> </td>
								</tr>
								<tr>
									<td>Unique Page Clicks</td>
									<td><%= monthly_uniq_pg_clicks = @doctor.impressionist_count(start_date: 1.month.ago, filter: :ip_address) %> </td>
									<td>3771</td>
								</tr>
								<tr>
									<td>Reviews</td>
									<td><%= @doctor.ratings.last_month %></td>
									<td><%= @doctor.ratings.last_year %> </td>
								</tr>
							</table>
						</div>




<!-- 
remove this and add the below one
 -->								<div class="analytics_chart">
									<div class="analytics_chart_date">
										<ul>
											<li>
												<span class="red_process"></span>
												<p>03 Nov, 2019 - 03 Dec, 2019</p>
											</li>
											<li>
												<span class="blue_process"></span>
												<p>03 Dec, 2019 - 03 Dec, 2019</p>
											</li>
										</ul>
									</div>
								</div>

<!-- 						<div class="analytics_chart">
							<%= column_chart [ {name: "#{1.month.ago.strftime('%d %b, %Y')} #{Date.today.strftime('%d %b, %Y ')}", data: [ 
							  ['Total Page Impressions', monthly_pg_views], 
							  ['Total Page Clicks', monthly_pg_clicks], 
							  ['Unique Page Clicks', monthly_uniq_pg_clicks] 
							  ]}, 
							  { name: "#{1.year.ago.strftime('%d %b, %Y')} #{Date.today.strftime('%d %b, %Y')}", data: [ 
							  ['Total Page Impressions', yearly_pg_views], 
							  ['Total Page Clicks', yearly_pg_clicks], 
							  ['Unique Page Clicks',   @doctor.impressionist_count(start_date: 1.year.ago, filter: :ip_address)  ]]} 
							]  
							 %>
						</div> -->

						<div class="email_analytics">
							<h2>Email analytics</h2>
							<%= simple_form_for @doctor, method: :post, url: analytics_report_admin_doctor_path(@doctor.slug), html: {multipart: true}  do |f| %>
								<div class="email_analytics_field">
									<%= f.input :email, type: "email", label: false, placeholder: 'Email', required: true, input_html: {class: 'form-control'} %>
									<%= f.input :analytic_chart, as: :hidden %>
									<!-- <input type="text" placeholder="Enter email address">
									<a href="">Send email</a> -->
									<%= f.button :button, "Send Mail", onclick: "javascript: return allow_for_s	ubmission();", class: 'btn btn-secondary' %>
								</div>
							<% end %>
						</div>
					</div>
					<!-- End Analytics Section  -->
					<!-- Start Current Profile Section  -->
					<div id="Current-Profile" class="tabcontent">
						<div class="dr-profile">
							<div class="dr-profile-outter">
								<div class="dr-profile-image">
								

								    <a href="#"><%= @doctor.photo %></a>
								
									<!-- <img class="dr-image" src="img/dr-singla.png"> -->
								</div>
								
									<div class="dr-profile-detail">
										<h2><%= @doctor.full_name %></h2>
										<% if @doctor.has_reviews? %>
											<p> Rating 
												<span data-stars="<%= @doctor.overall %>" >
											</p>
												<% end %>
													<p>Recommendation<span>
														<%= number_to_percentage(@doctor.ratings.recommend_percentage, precision: 1) %>
														</span>
													</p>
											</span>



										<div class="mt30">

    <%= link_to "Edit Profile", doctor_path(@doctor), class: 'main_btn green-border-btn', title: 'View Profile' %>
    <%= link_to "View Public Page", edit_manage_doctor_path(@doctor), class: 'main_btn green-color-btn', title: 'Edit Profile' %>


<!-- 
											<a class="main_btn green-border-btn" href="">Edit profile</a>
											<a class="main_btn green-color-btn" href="">View Public Profile</a> -->
										</div>
									</div>
								
							</div>
							<h3>Specialities</h3>
							<%- specialities = @doctor.practice_specialities.uniq %>
								<%- if specialities.present? %>
									<% specialities.each_with_index do |speciality, index| %>
										<p>
											<%= speciality.user_facing_description %>
										</p>
									<% end %>
								<% end %>
							<div class="dr-general-details">
								<%- credential = @doctor.credential %>
								<% if credential.present? %>
									<ul>
										<li>
											Credentials
											<span>
												<%= credential.upcase %>
											</span>
										</li>
									</ul>
								<% end %>

								<ul>
									<%- if @doctor.look_for_gender.present? %>
									<li>Gender
										<span>
											<%= @doctor.look_for_gender.titleize %>
										</span>
									</li>
									<% end %>
									<%- if @doctor.graduation.present? %>
									<li>Graduation year :
										<span>
											<%= @doctor.graduation %>
										</span>
									</li>
									<% end %>
									<%- if @doctor.graduation.present? %>
									<li>Years of experience :
										<span>
											<%= Time.current.year - @doctor.graduation.to_i %>
										</span>
									</li>
									<% end %>
									<%- if @doctor.med_school_info.present? %>
									<li>Professional School :
										<span>
											<%= @doctor.med_school_info.titleize %>
										</span>
									</li>
									<% end %>
									<%- if @doctor.residency.present? %>
									<li>Residency
										<span>
											<%= @doctor.residency %>
										</span>
									</li>
									<% end %>
									<%- if @doctor.fellowship.present? %>
									<li>Fellowship
										<span>
											<%= @doctor.fellowship %>
										</span>
									</li>
									<% end %>
									<%- if @doctor.fellowship_2.present? %>
									<li>2nd Fellowship 
										<span>
											<%= @doctor.fellowship_2 %>
										</span>
									</li>
									<% end %>
								</ul>
							</div>
							<%- hospital_links = @doctor.hospital_links %>
							<% if hospital_links.present? %>
							<h3>Affiliated Hospitals :</h3>
							<div class="Specialities_list">
								<%- @doctor.hospitals.only_hospitals.each do |hospital|  %>
									<p>
										<%= hospital.name %>
										<span data-stars="<%= hospital.overall %>"></span>
									</p>
								<% end  %>
							</div>
							<% end %>
							<!-- practice_links -->
							<%- practice_links = @doctor.practice_links %>
							<% if practice_links.present? %>
							<h3>Affiliated Practices :</h3>
							<div class="Specialities_list">
								<%- @doctor.hospitals.only_practices.each do |practice|  %>
									<p>
										<%= practice.name %>
										<span data-stars="<%= practice.overall %>"></span>
									</p>
								<% end  %>
							</div>
							<% end %>							
<!-- 							<h3>Affiliated Practices</h3>

							<div class="Specialities_list">
								<p>Springfield Clinic Llp
									<span>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</p>
							</div> -->
						</div>
					</div>
					<!-- End Current Profile Section  -->

					<!-- Start Reviews Section  -->
					<div id="Reviews" class="tabcontent">
						<div class="Reviews_tab">
							<div class="Reviews_tab_outter">
								<div class="Reviews_tab_4">
									<div class="total_Reviews">
										<h1><%= @doctor.ratings.count %></h1>
										<p>Total reviews</p>
<h1><%= @client.spots(-33.8670522, 151.1957362, :name => 'italian') %></h1>
									</div>
								</div>
								<div class="Reviews_tab_8">
									<div class="social-review-circle">
										<div class="col-md-3">
											<div class="progress blue">
											    <span class="progress-left">
											        <span class="progress-bar"></span>
											    </span>
											    <span class="progress-right">
											        <span class="progress-bar"></span>
											    </span>
											    <div class="progress-value">100%</div>
											</div>
											<p>Health Soul reviews</p>
										</div>
										<div class="col-md-3">
											<div class="progress blue">
											    <span class="progress-left">
											        <span class="progress-bar"></span>
											    </span>
											    <span class="progress-right">
											        <span class="progress-bar"></span>
											    </span>
											    <div class="progress-value">0%</div>
											</div>
											<p>Google reviews</p>
											<span class="progress-sync" onclick="sync_with_fb()">Sync google</span>

											<div id="pages-list"></div>
										</div>
										<div class="col-md-3">
											<div class="progress blue">
											    <span class="progress-left">
											        <span class="progress-bar"></span>
											    </span>
											    <span class="progress-right">
											        <span class="progress-bar"></span>
											    </span>
											    <div class="progress-value">0%</div>
											</div>
											<p>Facebook reviews</p>
			
											reviews
										</div>




									</div>
								</div>
							</div>
							<div class="review_table">
								<table class="data_table">
									
										<thead>
											<th>Name and Date</th>
											<th>Site</th>
											<th>Rating</th>
											<th>Review</th>
											<th>Sort by</th>
											
										</thead>
										<tbody>
										<%- @doctor.ratings.each do |rating| %>
											<tr>
												<td>
													<div class="review-dr-img">
														<% if rating.try(:user).try(:photo).present? %>
															<%= image_tag(rating.try(:user).try(:photo)) %>
														<% else %>
														<%= image_tag("default-doctor") %>
														
														<% end %>
													</div>
													<!-- <img class="review-dr-img" src="img/dr-singla.png"> -->
													<p><%= rating.try(:user).try(:username) %> <span>
													<%= rating.created_at.strftime('%m-%d-%Y') %>
													</span></p>
												</td>
												<td>
													<div class="review-social-img">
														<%= image_tag("footerlogo") %>
													</div>
													<!-- <img class="review-social-img" src="img/dr-singla.png"> -->
												</td>
												<td>
													<span data-stars="<%= rating.overall_experience %>"></span>
											
												</td>
												<td>
													<p class="dr-review-text">
														<%= rating.comment %>
													</p>
												</td>
												<td>
													<a class="reply_back-ic reply_comment_doctor" data-rating_id="<%= rating.id%>" href="">
														<%= image_tag("ic_reply.svg", :alt => "rss feed") %>
													</a>
												</td>
											</tr>
										<%- end %>



									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End Reviews Section  -->

					<!-- Start Widgets Section  -->
					<div id="Widgets" class="tabcontent">
						<div class="Widgets-title">
							<%- show_url = doctor_url(@doctor) %>
							<%- rating_url = new_doctor_rating_url(@doctor) %>
							<%- api_review_url = doctor_review_api_register_user_index_url(doctor_id: @doctor.id, top_five: true) %>


							<h2>Profile Widgets</h2>
							<p>Help patients find you and leave reviews by using the widgets below. You or your
								webmaster can copy and paste the HTML below into a webpage to make it easy for
								patients to find you on healthsoul and leave reviews.</p>
						</div>

						<div class="Widgets-profile">
							<h4>HealthSoul Profile <a href="">Copy Code</a></h4>
							<%= image_tag("healthsoul.svg") %>
							
							<xmp><a href="<%= show_url %>">
								<%= image_tag("profile-logo.png") %>
									</a>
							</xmp>
						</div>

						<div class="Widgets-profile">
							<h4>Review on HealthSoul <a href="">Copy Code</a></h4>
							<%= image_tag("healthsoul.svg", :alt => "rss feed") %>
							<xmp><a href="<%= rating_url %>"><img width="200" src="https://www.healthsoul.com/images/review-logo.png" /></a>
							</xmp>
						</div>

						<div class="Widgets-profile">
							<h4>Show HealthSoul Review on your website <a href="">Copy Code</a></h4>
							<%= image_tag("healthsoul.svg", :alt => "rss feed") %>
							<xmp>
"<script> var destination = '<%= api_review_url %>';var request = new XMLHttpRequest();request.open('GET', destination, true); request.onload = function () { response = JSON.parse(this.responseText).review; var review_list = document.getElementById('review_list'); Object.entries(response).forEach( (entry) =>{var node = document.createElement('li'); node.style.cssText = 'border-top: 1px solid black !important; padding-bottom: 10px !important; padding-top: 10px !important;'; var rating_node = document.createElement('span'); var date = new Date(entry[1].created_at); rating_node.innerHTML = 'Overall Rating: ' + entry[1].overall_experience + '/5.0'; rating_node.style.cssText = 'color: grey !important; padding-bottom: 10px !important; float: right !important;'; var comment_node = document.createElement('p'); comment_node.innerHTML = entry[1].comment; comment_node.style.cssText = 'margin-bottom: 15px !important; margin-top: 0px !important;'; node.appendChild(comment_node); var user_node = document.createElement('span'); user_node.innerHTML = 'Reviewer: '+ entry[1].user.username; user_node.style.cssText = 'color: grey; padding-bottom: 10px !important;'; node.appendChild(user_node); node.appendChild(rating_node); var date_node = document.createElement('span'); date_node.innerHTML = 'Date: ' + date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear(); date_node.style.cssText = 'color: grey !important; padding-bottom: 10px !important;'; node.appendChild(document.createElement('br')); node.appendChild(date_node); review_list.appendChild(node);});};request.send(); </script> <div id = 'healthsoul_reviews_widget_for_doctor_3' style='font-family: HELVETICA !important; width: 100% !important; max-width: 500px !important; min-height: 300px !important; border: 1px solid black !important;'> <img src='https://www.healthsoul.com/images/logo.png' style='margin-left: 20px !important; margin-top: 10px !important;'></img> <ul id='review_list' style='list-style-type: none !important; padding-left: 20px !important; padding-right: 20px !important;'> </ul> </div>
							"					
							</xmp>
						</div>
					</div>
					<!-- End Widgets Section  -->


					<div id="graph" class="tabcontent">
						<div class="Widgets-title">
						
						<%= line_chart ["Listing score","Rating score"].map { |goal|
						    {name: goal, data: goal == "Listing score" ? HealthScore.where(:doctor_id => @doctor.id ).group(:created_at).maximum(:listing_score) : HealthScore.where(:doctor_id => @doctor.id ).group(:created_at).maximum(:rating_score) }
						} %>
							<%= area_chart HealthScore.where(:doctor_id => @doctor.id ).group(:created_at).maximum(:score) %>
							<%#= area_chart HealthScore.where(:doctor_id => @doctor.id ).group_by_minute(:created_at).maximum(:score) %>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>
<div id="modals">
	
</div>

<!-- The Modal -->
<div id="review-respond-old" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
	<script>
// Get the modal
var modal = document.getElementById("review-respond");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
// btn.onclick = function() {
//   modal.style.display = "block";
// }

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

		function openCity(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";

		}
		document.getElementById("defaultOpen").click();

</script>






  <script>
    var userId = "";
    var accessToken = "";
    var longAccessToken = "";
  
	function sync_with_fb() {
      FB.getLoginStatus(function (response) {
        if (response.status == "connected") {
          userId = response.authResponse.userID
          accessToken = response.authResponse.accessToken;
          getPages();
        } else {
          FB.login(function (result) {
            if (result.authResponse) {
	              userId = result.authResponse.userID
              accessToken = result.authResponse.accessToken;
              FB.api("oauth/access_token?grant_type=fb_exchange_token&client_id=763704777445642&client_secret=98206b864abf6232c66ad942763ddfe1&fb_exchange_token=" + accessToken, function (token) {
                if (token) {
                  longAccessToken = token.access_token
                  getPages();
                }
              });

            } else {
              console.log('User cancelled login or did not fully authorize.');
            }
          }, { scope: 'public_profile,email,manage_pages' });
        }
      });
	}


    window.fbAsyncInit = function () {
      FB.init({
        appId: '562920504495424',
        cookie: true,
        xfbml: true,
        version: 'v5.0'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function getPages() {
      FB.api(
        "/" + userId + "/accounts",
        function (response) {
          if (response && !response.error) {
            let btn = "";
            console.log("response",response.data)
            for (i = 0; i < response.data.length; i++) {
              btn += '<button class="page" id="'+response.data[i].id+'" onclick="pageRating('+ response.data[i].id + ')" token="'+response.data[i].access_token+'">' + response.data[i].name + '</button>';
            }
            document.getElementById("pages-list").innerHTML = btn;
          }
        }
      );
    }


    function pageRating(pageId) {

      let token = document.getElementById(pageId).getAttribute("token")
      console.log("token data",token)
      console.log("pageId",pageId)

      FB.api(
        "/" + pageId+ "/ratings?fields=has_rating,rating,has_review,review_text&access_token="+token,
        function (response) {
          console.log("responseresponse>>>>>>>>>>>", response)
          if (response && !response.error) {
            console.log("responseresponse", response);
            	hsh = {}

            	dd = []

            tmp = "";

			for(let i = 0; i < response.data.length; i++){

				console.log(response.data[i]);
				tmp += response.data[i].review_text;
				tmp += "\n";
				dd.push(response.data[i].review_text);

			}

			hsh.ratings = dd;

            // alert(tmp);


			$.ajax({
			  url: "/manage/doctors/"+doctor_id+"/save_review",
			  type: "POST",
			  data: hsh
			}).done(function() {
				console.log("done");
			});






            /* handle the result */
          }
        }
      );
    }
  </script>
<style type="text/css">
	

.progress{
    width: 80px;
    height: 80px;
    line-height: 100px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
   width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    font-size: 18px;
    color: #000;
    line-height: 80px;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    border: 1px solid #999;
    font-weight: 600;
}
.progress.blue .progress-bar{
    border-color: #00B07A;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}


</style>

<script type="text/javascript">
	var doctor_id = "<%= @doctor.id %>";
$(document).on("click",".reply_comment_doctor", function (e) {
	e.preventDefault();
	e.stopPropagation();
	rating_id = $(this).data("rating_id");
	console.log(rating_id);
	$.ajax({
	  url: "/manage/doctors/"+doctor_id+"/reply_review/"+rating_id
	}).done(function() {
		console.log("done");
	});



});

	// reply_comment_doctor

</script>


<script type="text/javascript">
	$(".data_table").DataTable({
  "pageLength": 5
});

</script>