section.inner-pages
  .container
    .col-md-12
      .dashboard-page
        .tab
          button.tablinks.active onclick="openCity(event, 'Analytics')"  Analytics
          button.tablinks onclick="openCity(event, 'Current-Profile')" 
            | Current
            | Profile
          button.tablinks onclick="openCity(event, 'Reviews')"  Reviews
          button#defaultOpen.tablinks onclick="openCity(event, 'Widgets')"  Widgets
        .tab-info-box
          /! Start Analytics Section
          #Analytics.tabcontent
            .analytics_table
              table
                tr
                  th Analytics
                  th Last Month
                  th Last 12 Months
                tr
                  td Total Page Impressions
                  td 433
                  td 3771
                tr
                  td Total Page Clicks
                  td 433
                  td 3771
                tr
                  td Unique Page Clicks
                  td 433
                  td 3771
                tr
                  td Reviews
                  td 433
                  td 3771
            .analytics_chart
              .analytics_chart_date
                ul
                  li
                    span.red_process
                    p 03 Nov, 2019 - 03 Dec, 2019
                  li
                    span.blue_process
                    p 03 Dec, 2019 - 03 Dec, 2019
            .email_analytics
              h2 Email analytics
              .email_analytics_field
                input placeholder=("Enter email address") type="text" /
                a href=""  Send email
          /! End Analytics Section
          /! Start Current Profile Section
          #Current-Profile.tabcontent
            .dr-profile
              .row
                .col-md-4
                  = image_tag "dr-singla.png"
                .col-md-8
                  .dr-profile-detail
                    h2 Ish Singla, MD
                    p
                      | Rating
                      span
                        i.fa.fa-star aria-hidden="true" 
                        i.fa.fa-star aria-hidden="true" 
                        i.fa.fa-star aria-hidden="true" 
                        i.fa.fa-star aria-hidden="true" 
                        i.fa.fa-star aria-hidden="true" 
                    p
                      | Recommendation
                      span 100%
                    .mt30
                      a.main_btn.green-border-btn href=""  Edit profile
                      a.main_btn.green-color-btn href=""  View Public Profile
              h3 Specialities
              p
                | CardiologyCardiology is a specialty of medicine which deals with problems of heart,
                | arteries and veins. Doctors specializing in Cardiology are called Cardiologists and
                | they treat conditions like heart attack, leaky or narrow valves, heart failure and
                | more.
              p
                | Interventional CardiologyInterventional Cardiologists are those who specializes in
                | treatment of coronary artery disease or structural heart disease with catheter based
                | technology. They perform procedures like stents, balloon angioplasty to open up
                | blockages for heart attack and chest pain.
              p
                | CardiologyCardiology is a specialty of medicine which deals with problems of heart,
                | arteries and veins. Doctors specializing in Cardiology are called Cardiologists and
                | they treat conditions like heart attack, leaky or narrow valves, heart failure and
                | more.
              p
                | Interventional CardiologyInterventional Cardiologists are those who specializes in
                | treatment of coronary artery disease or structural heart disease with catheter based
                | technology. They perform procedures like stents, balloon angioplasty to open up
                | blockages for heart attack and chest pain.
              .dr-general-details
                ul
                  li
                    | Credentials
                    span MD
                  li
                    | Gender
                    span Male
                  li
                    | Graduation year
                    span 2002
                  li
                    | Years of experience
                    span 17
                  li
                    | Professional School
                    span
                      | All India Institute of Medical Sciences, Delhi,
                      | India
                  li
                    | Residency
                    span UPMC, Pittsburgh
                  li
                    | Fellowship
                    span UAB, Birmingham
                  li
                    | 2nd Fellowship
                    span UIC, Chicago
              h3 Specialities
              .Specialities_list
                p
                  | Memorial Medical Center
                  span
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                p
                  | HSHS St John's Hospital
                  span
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                p
                  | Abraham Lincoln Memorial Hospital
                  span
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                p
                  | Taylorville Memorial Hospital
                  span
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
              h3 Affiliated Practices
              .Specialities_list
                p
                  | Springfield Clinic Llp
                  span
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
                    i.fa.fa-star aria-hidden="true" 
          /! End Current Profile Section
          /! Start Reviews Section
          #Reviews.tabcontent
            .Reviews_tab
              .row
                .col-md-4
                  .total_Reviews
                    h1 30
                    p Total reviews
                .col-md-8
                  .social-review-circle
              .review_table
                table
                  tbody
                    tr
                      th Name and Date
                      th Site
                      th Rating
                      th Review
                      th
                        | Sort by
                        a href=""  All
                    tr
                      td
                        = image_tag "dr-singla.png" , class: "review-dr-img"
                        p
                          | Aiden smith
                          span 04-21-2018
                      td
                        = image_tag "dr-singla.png" , class: "review-social-img"
                      td
                        span
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                      td
                        p.dr-review-text
                          | great staff and nurses, very at ease at a
                          | critical time. Kudo's to him and his office.
                      td
                        a.reply_back-ic href="" 
                          = image_tag "ic_reply.svg"
                    tr
                      td
                        = image_tag "dr-singla.png" , class: "review-dr-img"
                        p
                          | Aiden smith
                          span 04-21-2018
                      td
                        img.review-social-img src="img/dr-singla.png" /
                      td
                        span
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                      td
                        p.dr-review-text
                          | great staff and nurses, very at ease at a
                          | critical time. Kudo's to him and his office.
                      td
                        a.reply_back-ic href="" 
                          = image_tag "ic_reply.svg"
                    tr
                      td
                        img.review-dr-img src="img/dr-singla.png" /
                        p
                          | Aiden smith
                          span 04-21-2018
                      td
                        img.review-social-img src="img/dr-singla.png" /
                      td
                        span
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                      td
                        p.dr-review-text
                          | great staff and nurses, very at ease at a
                          | critical time. Kudo's to him and his office.
                      td
                        a.reply_back-ic href="" 
                          img src="img/ic_reply.svg" /
                    tr
                      td
                        img.review-dr-img src="img/dr-singla.png" /
                        p
                          | Aiden smith
                          span 04-21-2018
                      td
                        img.review-social-img src="img/dr-singla.png" /
                      td
                        span
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                      td
                        p.dr-review-text
                          | great staff and nurses, very at ease at a
                          | critical time. Kudo's to him and his office.
                      td
                        a.reply_back-ic href="" 
                          img src="img/ic_reply.svg" /
                    tr
                      td
                        img.review-dr-img src="img/dr-singla.png" /
                        p
                          | Aiden smith
                          span 04-21-2018
                      td
                        img.review-social-img src="img/dr-singla.png" /
                      td
                        span
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                      td
                        p.dr-review-text
                          | great staff and nurses, very at ease at a
                          | critical time. Kudo's to him and his office.
                      td
                        a.reply_back-ic href="" 
                          img src="img/ic_reply.svg" /
                    tr
                      td
                        img.review-dr-img src="img/dr-singla.png" /
                        p
                          | Aiden smith
                          span 04-21-2018
                      td
                        img.review-social-img src="img/dr-singla.png" /
                      td
                        span
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                          i.fa.fa-star aria-hidden="true" 
                      td
                        p.dr-review-text
                          | great staff and nurses, very at ease at a
                          | critical time. Kudo's to him and his office.
                      td
                        a.reply_back-ic data-target="#review-respond" data-toggle="modal" href="" 
                          img src="img/ic_reply.svg" /
          /! End Reviews Section
          /! Start Widgets Section
          #Widgets.tabcontent
            .Widgets-title
              h2 Profile Widgets
              p
                | Help patients find you and leave reviews by using the widgets below. You or your
                | webmaster can copy and paste the HTML below into a webpage to make it easy for
                | patients to find you on healthsoul and leave reviews.
            .Widgets-profile
              h4
                | HealthSoul Profile
                a href=""  Copy Code
              = image_tag "healthsoul.svg"
              xmp
                a href="/best-doctor-ratings/cardiologist/usa/il/springfield/dr-ish-singla" 
                  = image_tag "profile-logo.png"
            .Widgets-profile
              h4
                | Review on HealthSoul
                a href=""  Copy Code
                = image_tag "healthsoul.svg"
              xmp
                a href="/best-doctor-ratings/cardiologist/usa/il/springfield/dr-ish-singla" 
                = image_tag "profile-logo.png"
            .Widgets-profile
              h4
                | Show HealthSoul Review on your website
                a href=""  Copy Code
              = image_tag "healthsoul.svg"
              xmp
                javascript:
                  | var destination = 'https://www.healthsoul.com/api/register_user/doctor_review?doctor_id=25246&top_five=true'; var request = new XMLHttpRequest(); request.open('GET', destination, true); request.onload = function () { response = JSON.parse(this.responseText).review; var review_list = document.getElementById('review_list'); Object.entries(response).forEach((entry) => { var node = document.createElement('li'); node.style.cssText = 'border-top: 1px solid black !important; padding-bottom: 10px !important; padding-top: 10px !important;'; var rating_node = document.createElement('span'); var date = new Date(entry[1].created_at); rating_node.innerHTML = 'Overall Rating: ' + entry[1].overall_experience + '/5.0'; rating_node.style.cssText = 'color: grey !important; padding-bottom: 10px !important; float: right !important;'; var comment_node = document.createElement('p'); comment_node.innerHTML = entry[1].comment; comment_node.style.cssText = 'margin-bottom: 15px !important; margin-top: 0px !important;'; node.appendChild(comment_node); var user_node = document.createElement('span'); user_node.innerHTML = 'Reviewer: ' + entry[1].user.username; user_node.style.cssText = 'color: grey; padding-bottom: 10px !important;'; node.appendChild(user_node); node.appendChild(rating_node); var date_node = document.createElement('span'); date_node.innerHTML = 'Date: ' + date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear(); date_node.style.cssText = 'color: grey !important; padding-bottom: 10px !important;'; node.appendChild(document.createElement('br')); node.appendChild(date_node); review_list.appendChild(node); }); }; request.send();
                #healthsoul_reviews_widget_for_doctor_3 style=("font-family: HELVETICA !important; width: 100% !important; max-width: 500px !important; min-height: 300px !important; border: 1px solid black !important;") 
                  img src="https://www.healthsoul.com/images/logo.png" style=("margin-left: 20px !important; margin-top: 10px !important;") /
                  ul#review_list style=("list-style-type: none !important; padding-left: 20px !important; padding-right: 20px !important;") 
          /! End Widgets Section
#review-respond.modal.fade role="dialog" 
  .modal-dialog
    .modal-content.review-respond-modal
      .modal-header
        h4.modal-title
          img src="img/dr-singla.png" /
          | Facebook Review
      .modal-body
        .review-user
          .review-user-inner
            img src="img/dr-singla.png" /
            div
              h5 Aiden Smith
              p 04-21-2018
              span.rating
                i.fa.fa-star aria-hidden="true" 
                i.fa.fa-star aria-hidden="true" 
                i.fa.fa-star aria-hidden="true" 
                i.fa.fa-star aria-hidden="true" 
                i.fa.fa-star aria-hidden="true" 
          p
            | I am reviewing Dr. Singla as one of his cath lab team members at MMC. He is very
            | deserving of this review not only because of his excellent patient care that I see on a
            | daily basis, but for his kindness- not just to his patients, but to everyone he meets. I
            | am not exaggerating when I say Dr. Singla is a 5-star Cardiologist for Springfield
            | Clinic. I have also spoken with his nurses and staff from his office and they are very
            | nice as well. He is very prompt and excellent with time management. He explains the
            | procedure thoroughly to all of his pt's and I can tell that they trust they will be very
            | well taken care of. I have complete trust in him and would let him take care of myself
            | as well as my family.
          h4 Your response
          textarea
          .review-subimt-btn
            a.main_btn.green-border-btn data-dismiss="modal" href=""  Cancel
            a.main_btn.green-color-btn href=""  Respond
