section
  #banner_frame.blog-detail{role="img" aria-label=category.featured_image_alt style="background-image: url(#{category.featured_image_url});"}
    .container.container_banner_frame.blog-hero-frame
      .banner-review-frame.width_100_percent
        .banner-review-frame_middle.width_95_percent
          .banner-review-frame_middle_alli.blog-frame.middle-blog-frame
            .featured-blog-left
              .featured-blog-title
                h1 =category.title
                .clear
              .review-bottom-frame.blog
                = render 'index_search'