section#banner_frame.blog-detail.height_390{role="img" alt="#{blog.title}" aria-label=blog.featured_image_alt style="background-image: url(#{blog.featured_image_url});"}
  .container.container_banner_frame.blog-hero-frame
    .banner-review-frame.width_100_percent
      .banner-review-frame_middle.width_95_percent
        .banner-review-frame_middle_alli.blog-frame.middle-blog-frame
          .featured-blog-left
            .featured-blog-title
              h1 =blog.title
              .clear
            .author-avatar
              = blog.author_avatar
            p
              = 'by '
              = blog.author_name_with_comma
              = blog.author_specialty
              = blog.author_location
          .clear
          .featured-blog-date
            .featured-blog-date-row.featured-blog-date-month
              = blog.published_at.strftime('%d %b')
            .featured-blog-date-row.featured-blog-date-year
              = blog.published_at.strftime('%Y')
            .featured-blog-date-row.blog-views
              = number_with_delimiter(blog.impressionist_count(filter: :ip_address))
              = ' Views'
          
          