.blog_search.row
  .col-xs-12.col-sm-5.col-md-5.col-lg-5
    = text_field_tag 'query', params[:q], id: 'search-input', class: "form-control_review seacch", placeholder: 'Search by Conditions/Procedures'
  .col-xs-12.col-sm-5.col-md-5.col-lg-5.tag-select
    = select_tag :tag, options_from_collection_for_select(Blog.tags_to_filter_by.sort.map{ |t| [t.first, t.last] }, :first, :last, params[:tag]), class: "form-control_review select2", prompt: "Filter by Category"
    = auto_discovery_link_tag :rss, blogs_url(:format => :rss)
  .col-xs-12.col-sm-2.col-md-2.col-lg-2.mb-10
    button id="search-blogs" SEARCH
    - if params[:q].present? || params[:tag].present?
      a href="/blog" CLEAR

javascript:
  var input = document.getElementById("search-input");
  input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("search-blogs").click();
    }
  });
