- if @tag.present? && @tag.custom_meta_tags.present?
  - content_for :custom_meta_tags do
    = @tag.custom_meta_tags.html_safe

- if @tag&.featured_image.present?
  = render 'category_hero', category: @tag
- else
  .container.search_box
    h3 =@heading
    = render 'index_search'
