.blog-large-preview
  = link_to blog_path(blog), title: blog.title  do
    .blog-preview-title
      h3= blog.title
    .blog-large-preview-author-avatar
      = blog.author_avatar
    p
      = 'by '
      = blog.author_name_with_comma
      = blog.author_location
    .blog-large-preview-image
      = image_tag blog.featured_image
      .blog-large-preview-date
        .blog-large-preview-date-row.blog-large-preview-date-month
          = blog.published_at.strftime('%d %b')
        .blog-large-preview-date-row.blog-large-preview-date-year
          = blog.published_at.strftime('%Y')
  .clear
.clear
