- blogs.each_slice(2) do |blog_pair|
  .row
    - blog_pair.each do |blog|
      .blog-small-preview.col-md-6.col-xs-12.col-sm-6.col-lg-6
        .row
          .col-md-12
            = link_to image_tag(blog.featured_image.small_thumb, alt: blog.title), blog_path(blog)
          .col-md-12.blog-title
            = link_to blog.title, blog_path(blog)
            p
              = truncate(blog.content.gsub(/<.*?>/, '').html_safe, :length => 160, :escape => false)