<section class="blog-search exhibit">
  <div class="banner-review-frame">
    <h2 class="blog-search-header">Write a Review and Earn Points</h2 >
    <div class="blog-search-buttons">
    	<%= link_to "DOCTORS", search_doctors_path(clear: 'true'), class: "blog-search-type" %>
    	<%= link_to "HOSPITALS", search_hospitals_path(clear: 'true'), class: "blog-search-type" %>
    	<%= link_to "HEALTH INSURANCE", search_health_insurances_by_country_path, class: "blog-search-type" %>
    </div>
  </div>
</section>
<div class="clear"></div>
