.blog-small-preview.col-md-6.col-xs-12.col-sm-6.col-lg-6
  = link_to blog_path(blog), title: blog.title do
    .blog-preview-title
      h4= blog.title
    .blog-small-preview-author-avatar
      = blog.author_avatar
    p
      = 'by '
      = blog.author_name_with_comma
      = blog.author_location
    .blog-small-preview-image
      = image_tag blog.featured_image, alt: blog.title
      .blog-small-preview-date
        .blog-small-preview-date-row.blog-small-preview-date-month
          = blog.published_at.strftime('%d %b')
        .blog-small-preview-date-row.blog-small-preview-date-year
          = blog.published_at.strftime('%Y')
