= render 'index_hero'
- large_view = 'large_preview'
- small_view = 'small_preview'
.blog
  section
    .container.blogs-container
      - if @blogs.present?
        .row
          .col-md-12.col-sm-12.col-xs-12.col-lg-12
            = render large_view, blog: @blogs[0]
        - if @blogs.size > 1
          - @blogs[1..@blogs.size].each_slice(2).each_with_index do |blogs, index|
            .row
              - blogs.each do |blog|
                = render small_view, blog: blog
            - if index == 1
              = render 'search_bar'
              .clear

        .Previous-next-h-review-bottom-frame
          .row.text-center
            .col-md-12
              = paginate(@blogs)
      - else
        p No results

      - if @tag&.page_content.present?
        .row
          .col-md-12.text-justify.tag_content.dr-footer
            =raw @tag.page_content
  
      - if @tag&.page_faqs.present?
        .row
          .col-md-12.text-justify.tag_content.faqs
            h4.text-center
              b
                = "Frequently Asked Questions (FAQs) About #{@tag&.name.titleize}"
            = raw @tag.page_faqs
    
- if @render_subscription_modal
  #subscriptionModal.modal.fade aria-labelledby="subscriptionModalLabel" role="dialog" tabindex="-1"
    .modal-dialog.modal-smll.modal-subscribe role="document"
      .modal-content
        .modal-header.bg-primary.text-center
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true"  ×
          h2#subscriptionModalLabel.modal-title Subscribe to our Newsletter.
          p Get health related news and tips.
        .modal-body
          .row
            - @user = User.new
            = simple_form_for @user, url: url_for(controller: "users", action: "create_subscription_only") do |f|
              .form-group.col-md-12
                  =f.input :email, placeholder: "Email", input_html: { class: 'form-control input-lg' }, label: false, required: true
              .form-group.col-md-12
                =f.button :button, "Subscribe", class: "input btn btn-primary btn-lg btn-block", type: :submit
  javascript:
    setTimeout(function() {
        $('#subscriptionModal').modal();
    }, 5000);
    $('#subscriptionModal').on('hidden.bs.modal', function () {
      $.post('/create_subscription_only_user', {ignore_subscription: true}, function(data){   });
    });