= render partial: 'shared/random_advert'

script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 

- title @blog.meta_title
- description truncate(ActionView::Base.full_sanitizer.sanitize(@blog.content), :length => 230, :omission => "" , :escape => false)
- set_meta_tags og: { type: 'article', image: @blog.featured_image_url }
- if @blog.custom_meta_tags.present?
  - content_for :custom_meta_tags do
    = @blog.custom_meta_tags.html_safe
- fb_shared_count = @blog.shared_blogs.sum(:shared_count)

.blog
  section
    .container
      .row
        .col-md-10.col-sm-12.col-xs-12
          = render 'hero', blog: @blog, share_visable: true
          h4 Commonly Visited Categories
          - Blog.custom_tags_slug.sort.each do |tag|
            = link_to tag.last, blogs_path({tag: tag.first}), class: 'badge badge-secondary'
            | &nbsp
          
          .blog-content.fr-view
            = raw @blog.content

          div
            = render partial: 'shared/google_advert/leaderboard'

          - if @blog.content_2.present?
            .blog-content.fr-view
              = raw @blog.content_2
          
          - if @blog.video_html_code.present?
            .row.blog-video
              = raw  @blog.video_html_code

          - @blog.blog_videos.each do |bv|
            .row.blog-video
              = image_tag bv.video.thumb, onclick: "javascript: playVideo('" + bv.id.to_s + "');", id: bv.id
              = video_tag bv.video, controls: true, autoplay: 'autoplay'  , id: 'video_' + bv.id.to_s, style: 'display: none;'

          - if @blog.content_2.present?
            div#h-advert
              = render partial: 'shared/advert', locals: {image_type: nil, advert: @horizontal_adverts.sample}

          .row
            .col-md-12
              - if @blog.doctor.present?
                h4
                  | Reviewed by: &nbsp
                  = link_to doctor_path(@blog.doctor) do
                    = @blog.author_name
                    | &nbsp
                    = @blog.author_location
              / This will be linked to blogs index with the type selected user clicks on
              h4
                = @blog.tag_links
              .a2a_kit.a2a_kit_size_32.a2a_default_style{data-a2a-url="#{blog_url(@blog.slug)}"}
                = link_to "https://www.addtoany.com/share", class: 'a2a_dd no-svg button blog-share-button blog-shadow-button' do
                  | SHARE
                span.share-icon
                  a.a2a_button_facebook.a2a_counter{data-blog-id= "#{@blog.id}" data-social-platform= "facebook"}
                span.share-icon
                  a.a2a_button_twitter
                span.share-icon
                  a.a2a_button_linkedin
                span.share-icon
                  a.a2a_button_reddit
              .row.mt-20
                - @user = User.new
                = simple_form_for @user, url: url_for(controller: "users", action: "create_subscription_only") do |f|
                  .form-group.col-md-4
                    =f.input :email, placeholder: "Email", input_html: { class: 'form-control input-lg' }, label: false
                  .form-group.col-md-4
                    =f.button :button, "SUBSCRIBE", class: "btn btn-default input-lg blog-shadow-button btn_subscribe", type: :submit
              hr
              = render 'search_bar'
              
              - if @related_blogs.present?
                h3 Related Articles - Would you like to read other blogs in this category?
                = render "related_blogs", blogs: @related_blogs

        .col-md-2
          /! div.text-center#v-advert
            -#= render partial: 'shared/advert', locals: {image_type: nil, advert: @vertical_adverts.sample}
          div.text-center 
            = render partial: 'shared/google_advert/skyscaper'

 
- if policy(@blog).manage?
  .container
    .row
      .col-md-12
        hr
        p Admin Actions:
        .btn-group
          =link_to "Edit Blog", edit_admin_blog_path(@blog), class: 'btn btn-default'
          =link_to "All Blogs", admin_blogs_path, class: 'btn btn-default'
        hr

javascript:
  function playVideo(video_id){
    $('#'+video_id).hide();
    vid = $('#video_' + video_id);
    vid.autoplay = true;
    vid.load();
    vid.show();
  }
  var a2a_config = a2a_config || {};
  a2a_config.icon_color = "#18b079";

  a2a_config.callbacks = a2a_config.callbacks || [];
  a2a_config.callbacks.push({
    ready: custom_onready
  })


  function custom_onready() {

    if ("#{current_user.present?}" == 'true'){
      $('.a2a_button_facebook').addClass('share-blog')
      $(".share-blog").click(function() {
        share_blog($(this).data("blog-id"), $(this).data("social-platform"))
      })
    } else {
      $('.a2a_button_facebook').removeClass('share-blog')
      $(".a2a_button_facebook").tooltip({
        title: "Kindly login to system and earn points."
      });
    }

    setTimeout(function(){  
      console.log("Total shared blogs: #{fb_shared_count}")    
      $(".a2a_button_facebook.a2a_counter .a2a_count span").html("#{fb_shared_count}"); }, 
      2000);
  }



script async="" src="https://static.addtoany.com/menu/page.js"