tr
	td= list.id
	td= list.provider.phone if list.provider.present?
	td= (list.user.id) if list.user.present?
	td= (list.user.phone_number) if list.user.present?
	td= (list.user.email) if list.user.present?
	td= list.provider.name if list.provider.present?
	td= list.provider_id
	td= list.new_patient ? "New Patient" : "Follow Up"