h1=@resource_name

.button-group
table data-nosort=""
  thead
    tr
      th Appointment ID
      th Phone (Provider)
      th User ID
      th Phone (User)
      th Email (User)
      th Name (Doctor)
      th Provider ID
      th Appointment Type


  tbody
    = render partial: "list", collection: @resources
    
- if @resources.present?
  .text-center
    = paginate(@resources)