= simple_form_for [:admin, @resource], url: @form_url do |f|
  = f.input :title, label: 'Event Title'
  = f.input :start_date, label: 'Event State Date', input_html: {class: 'date-picker'}, as: :string
  = f.input :end_date, label: 'Event End Date', input_html: {class: 'date-picker'}, as: :string
  = f.input :description, label: 'Event Description', input_html: {class: 'blog-form'}
  = f.input :venue, label: 'Event Venue'
  = f.input :referral_code
  = f.input :organizer
  = f.input :exhibit, label: 'Sponsorship or Exhibit', input_html: {class: 'blog-form'}
  = f.input :promotion, label: 'Promotions for Event', input_html: {class: 'blog-form'}, as: :text
  = f.input :logo
  = f.hidden_field :logo_cache
  - if @resource.logo?
    = image_tag(@resource.logo.thumb.url)
    br
    label
      | Remove Logo
      = f.check_box :remove_logo
  = f.input :banner_image
  = f.hidden_field :banner_image_cache
  - if @resource.banner_image?
    = image_tag(@resource.banner_image.thumb.url)
    br
    label
      | Remove Banner
      = f.check_box :remove_banner_image
  = f.input :publish
  = f.input :active, as: :boolean
  = f.button :submit
  = link_to "Cancel", admin_events_path, class: 'button secondary input_margin'
