tr
  td= list.title
  td= list.date
  td= list.organizer
  td= list.referral_code
  td= list.active
  td
    = link_to "Edit", edit_admin_event_path(list), class: 'button tiny'
  td
    = link_to "Delete", admin_event_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: 'button alert tiny'