h1=@resource_name

.button-group
  =link_to "Add", new_admin_event_path, class: "button"

table data-nosort=""
  thead
    tr
      th 
        = 'Event Name'
      th 
        = 'Event Date'
      th 
        = 'Event Organizer'
      th 
        = 'Event Referral Code'
      th 
        = 'Event Active'
      th
      th

  tbody
    = render partial: "list", collection: @resources
    
- if @resources.present?
  .text-center
    = paginate(@resources)