tr
  td=list.name
  td=list.winner_type
  td=list.month
  td=list.year
  td=list.prize
  td=link_to "Edit", [:edit, :admin, @promotion, list], class: 'button tiny'
  td=link_to "Delete", [:admin, @promotion, list], :method => :delete, class: 'button tiny'
