h1 =raw @promotion.title 

.button-group
  =link_to "Add", new_admin_promotion_promotion_winner_path(@promotion.id), class: "button"
  = link_to "Promotions", admin_promotions_path, class: "button"

table data-nosort=""
	thead
		tr
		th Name
		th Type
		th Month
		th Year
		th prize
		th
		th
	tbody
		= render partial: "list", collection: @resources
- if @resources.present?
  .text-center
    = paginate(@resources)