<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthSoul</title>
    <style>
      body{margin:0; padding:0; font-family:Arial;}
      .center-main{width:650px; height:auto; margin:0 auto; font-family:Arial;}
      .logo-top{width:100%; height:auto; text-align:center; margin: 10px 0; float:left;}
      .box-color-top{}
      .second-box-section{}
      .third-box-section{width:80%; height:auto; padding:20px 10%; background:#e9eaec; color:#000; text-align:center; float:left;}
      .fourth-box-section{width:80%; height:auto; padding:20px 10%; background:#f2f8f4; color:#000; text-align:center; float:left;}
      .healthsoul-build-img{width:50%; height:auto; padding:0; text-align:center; float:left;}
      .healthsoul-build-img img{width:100%;}
      .healthsoul-build-txt{width:46%; height:auto; padding:0px 0 0 4%;  color:#000; text-align:justify; float:left;}
      .healthsoul-build-txt p{margin:0}
      .headding-main{width:100%; height:auto; padding:0; text-align:center; float:left;}
      .row-main{width:100%; height:auto; float:left;}
      .col-main{width:25%; height:auto; float:left;}
      .col-img-main{width:90%; padding:5%; height:auto; float:left; text-align:center;}
      .col-img-main img{width:100%;}
      .col-txt-main{width:100%; height:auto; float:left; font-size:12px; text-align:center;}
      .img-row-main{width:100%; height:auto; float:left;}
      .col-second-main{width:31%; margin:1% height:auto; float:left;}
      .col-second-head{width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;}
      .col-second-para{width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;}
    </style>
  </head>
  <body style="margin:0; padding:0; font-family:Arial;">
    <p>Dear Provider,</p>
    <div style="width:650px; height:auto; margin:0 auto; font-family:Arial; font-size: 16px;">
      <div style="width:100%; height:auto; text-align:center; margin: 10px 0; float:left;"><%= image_tag attachments['healthsoul-e-mailer-logo.png'].url %> /></div>
      <div style="width:80%; height:auto; padding:20px 10%; background:#288aa7; color:#fff; text-align:center; float:left;">
        <h1><span style="border-bottom: 2px solid #fff;">Welcome to Healthsoul</span></h1>
        <p> Thank you for reaching out to us. Our team will set up your account and send you the details in next 48-72 business hours. You can continue to check on reviews of your Hospital or Practice, while we set up your account on www.healthsoul.com.
        </p>
        <div style="margin: 20px 0;">
          Regards,<br>
          Team Healthsoul
        </div>
      </div>
    </div>
  </body>
</html>