<p> Email: <%= @provider_contact_params[:email] %></p>
<p> Practice/Doctor Name: <%= @provider_contact_params[:name] %> </p>
<p> Referral Code (Optional): <%= @provider_contact_params[:referral_code] %> </p>
<% if @provider_contact_params[:location].present? %>
  <p> Location (City, State): <%= @provider_contact_params[:location] %> </p>
<% end %>