<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HealthSoul</title>

<style>
body{margin:0; padding:0; font-family:Arial;}

</style>

</head>

<body>

<div style="width:600px; height:auto; margin:0 auto; font-family:Arial; font-size: 16px; background:#edefee;">


<div style="width:84%; height:auto; padding:0 8% 10px; background:#fff; color:#000; text-align:center; float:left;">

<div style="width:100%; height:auto; text-align:center; margin: 10px 0; float:left; line-height: 0;">
<%= image_tag attachments['healthsoul-e-mailer-logo.png'].url %>
</div>

<div style="width:100%; height:auto; margin:10px 0; padding:5px 0; background:#fff; color:#666; float:left; font-weight:bold; font-size:18px; ">
  Dear <%= @provider.email %>, Thanks for being a member of HealthSoul.
</div>

</div>


<div style="width:100%; height:auto; padding:0; text-align:center; float:left; line-height:0; font-weight:bold;">
<%= image_tag attachments['img-top1.jpg'].url, style: "width:100%; line-height: 0;" %>
</div>

<div style="width:94%; height:auto; padding:20px 3%; text-align:center; float:left; background:#1187a5; color:#fff;">
<p>
With the community of netizens growing, it has become indispensable for doctors, like any other professional, to mark their presence on the internet to reach out to a greater audience.
</p>

<p>
 By having your profile listed on <a href="https://www.healthsoul.com" style="color:#fff; text-decoration:none;">www.healthsoul.com</a>, you can reach to a wider audience and get noticed.
</p>

<div style="width:100%; height:auto; float:left; margin-bottom: 10px;">
<a href="https://www.healthsoul.com/users/sign_in" style="background:#fff; padding:10px 10px; display:inline-block; text-decoration:none; color:#1fa86e;">
Update Your Profile
</a>
</div>

</div>



<div style="width:100%; height:auto; padding:20px 0% 0px; background:#edefee; color:#000; text-align:center; float:left;">

<div style="width:100%; height:auto; float:left; margin-bottom: 10px;">
<span style="padding:5px 0px; display:inline-block; text-decoration:none; color:#000; border-bottom:2px solid #1fa86e; font-weight:bold;">
Things to Review
</span>
</div>

<div style="width:100%; height:auto; float:left;">
	<div style="width:25%; margin:4%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['step-1.png'].url, style: "width:100%;" %>
		</div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Webpage</strong><br>
		 Update your profile with description and images.
		</div>
	</div>

	<div style="width:25%; margin:4%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['step-2.png'].url, style: "width:100%" %>
		</div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Response to Comments</strong><br>
		 Promote your approach to care. Reply to all your patient comments.
		</div>
	</div>

	<div style="width:25%; margin:4%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['step-3.png'].url, style: "width:100%" %>
		</div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Appointments Availability</strong><br>
		 Are you accepting appointments online.
		</div>
	</div>

</div>

</div>

<div style="width:100%; height:auto; background:#edefee; color:#fff; padding:10px 0 20px; float:left; text-align: center;">

<div style="width:100%; height:auto; text-align:center; color:#fff; margin:0px 0 0; float:left;">
<span style="padding:10px; background:#1fa86e; display:inline-block;">
<a href="https://www.healthsoul.com/users/sign_in" style="color:#fff; text-decoration:none; display:inline-block;">Update Your Profile</a>
</span>
</div>

<div style="width:100%; height:auto; text-align:center; color:#000; margin:30px 0; float:left;">
<strong>Regards, </strong><br>
Team Healthsoul
</div>
<div>
  <div>
    <%= link_to "Unsubscribe", unsubscribe_user_url(@provider), title: 'Unsubscribe' %>
  </div>
</div>

</div>

</div>

</body>

</html>
