<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HealthSoul</title>

<style>
body{margin:0; padding:0; font-family:Arial;}
.center-main{width:650px; height:auto; margin:0 auto; font-family:Arial;}
.logo-top{width:100%; height:auto; text-align:center; margin: 10px 0; float:left;}
.box-color-top{}
.second-box-section{}
.third-box-section{width:80%; height:auto; padding:20px 10%; background:#e9eaec; color:#000; text-align:center; float:left;}
.fourth-box-section{width:80%; height:auto; padding:20px 10%; background:#f2f8f4; color:#000; text-align:center; float:left;}
.healthsoul-build-img{width:50%; height:auto; padding:0; text-align:center; float:left;}
.healthsoul-build-img img{width:100%;}
.healthsoul-build-txt{width:46%; height:auto; padding:0px 0 0 4%;  color:#000; text-align:justify; float:left;}
.healthsoul-build-txt p{margin:0}
.headding-main{width:100%; height:auto; padding:0; text-align:center; float:left;}
.row-main{width:100%; height:auto; float:left;}
.col-main{width:25%; height:auto; float:left;}
.col-img-main{width:90%; padding:5%; height:auto; float:left; text-align:center;}
.col-img-main img{width:100%;}
.col-txt-main{width:100%; height:auto; float:left; font-size:12px; text-align:center;}
.img-row-main{width:100%; height:auto; float:left;}

.col-second-main{width:31%; margin:1% height:auto; float:left;}
.col-second-head{width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;}
.col-second-para{width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;}
</style>

</head>

<body>
  <p>Dear <%= @email %>,</p>
<div style="width:650px; height:auto; margin:0 auto; font-family:Arial; font-size: 16px; background:#edefee;">


<div style="width:84%; height:auto; padding:0 8% 30px; background:#fff; color:#000; text-align:center; float:left;">

<div style="width:100%; height:auto; text-align:center; margin: 10px 0; float:left;"><%= image_tag attachments['healthsoul-e-mailer-logo.png'].url %></div>

</div>

<div style="width:100%; height:auto; padding:20px 0; text-align:center; float:left; background:#1187a5;">

<div style="width:100%; height:auto; padding:0; text-align:center; float:left; font-size:30px; font-weight:bold;">
<span style="color:#fff; border-bottom:2px solid #fff;">Welcome to Healthsoul</span>
</div>
<div style="width:80%; height:auto; margin:10px 0; padding:5px 10%; color:#fff; text-align:center; float:left; font-weight:bold; font-size:18px;">
We welcome you onboard. Congratulations on taking the ﬁrst step towards promoting transparent healthcare around the world.
</div>

</div>


<div style="width:100%; height:auto; padding:20px 0% 40px; background:#f2f8f4; color:#000; text-align:center; float:left;">


<div style="width:100%; height:auto; float:left; margin-bottom:20px;">
<span style="font-size:24px; font-weight:bold; border-bottom:2px solid #1ea972; color:#000; padding:5px; margin:20px 0 0 0; display: inline-block;">What is Healthsoul?</span>

</div>


<div style="width:100%; height:auto; float:left;">

<div style="width: 42%; margin:5% 3% 5% 5%; float:left;">	
<div style="width:100%; height:auto; float:left;">
<%= image_tag attachments['healthsoul-build-img.jpg'].url, style: "width:100%;" %>
</div>

</div>

<div style="width: 43%; margin: 5% 5% 5% 2%; float:left;">	
<div style="width: 100%; height:auto; float:left; text-align:left;">
Healthsoul is a comprehensive online directory of hospitals, travel insurance, health insurance, and doctors from around the world. We exist to promote transparency in worldwide healthcare systems and bring to you the most unbiased and real patient testimonials and reviews so you can make an informed choice.

</div>

</div>

</div>

<div style="width:100%; height:auto; float:left; margin-bottom:20px;">
<span style="font-size:24px; font-weight:bold; border-bottom:2px solid #1ea972; color:#000; padding:5px; margin:20px 0 0 0; display: inline-block;">How to get started?</span>

</div>



<div style="width:100%; height:auto; float:left;">
	<div style="width:20%; margin:6%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['step-1.png'].url, style: "width:100%" %>
		</div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Login at</strong><br><a href="https://www.healthsoul.com/users/sign_in" style="word-break: break-word;">www.healthsoul.com/users/sign_in</a>

		</div>
	</div>
	
	<div style="width:20%; margin:6% 8%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['step-2.png'].url, style: "width:100%" %>
		</div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Free Webpage</strong><br>Update your profile with description and images.
		</div>
	</div>
	
	<div style="width:20%; margin:6%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['step-3.png'].url, style: "width:100%" %>
		</div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Priority Placement</strong><br>Claimed profile will be listed on the top in search results.
		</div>
	</div>
	
	<div style="width:20%; margin:5% 0 5% 19%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['step-4.png'].url, style: "width:100%" %></div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Review Manager</strong><br>Notification and respond to customer reviews. 
		</div>
	</div>
	
	<div style="width:20%; margin:5% 0 5% 19%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">
		<%= image_tag attachments['05.png'].url, style: "width:100%" %></div>
		<div style="width:100%; height:auto; float:left; font-size:12px; text-align:center; color:#000;">
		<strong>Analytics Dashboard</strong><br>Keep track of your Healthsoul Visitors. 
		</div>
	</div>
	
</div>

</div>

<div style="width:100%; height:auto; background:#edefee; color:#fff; padding:50px 0 20px; float:left; text-align: center;">

<div style="width:100%; height:auto; float:left; margin-bottom: 10px;">
<a href="" style="background:#f18142; padding:5px 10px; display:inline-block; text-decoration:none; color:#fff;">
How it works?
</a>
</div>

<div style="width:80%; height:auto; float:left; padding:5% 10%; margin-bottom: 10px;">
<%= image_tag attachments['07.png'].url, style: "width:100%" %>
</div>

<div style="width:100%; height:auto; float:left; margin-bottom: 10px;">
<a href="" style="background:#f18142; padding:5px 10px; display:inline-block; text-decoration:none; color:#fff;">
Upgrade to Healthsoul Premium Account
</a>
</div>


<div style="width:100%; height:auto; float:left;">
	<div style="width:23%; margin:1%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">01</div>
		<div style="width:100%; height:auto; float:left; font-size:11px; text-align:center; color:#000;">
		<strong>Featured Provider</strong><br>Appear at the top of the listings
		</div>
	</div>
	<div style="width:23%; margin:1%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">02</div>
		<div style="width:100%; height:auto; float:left; font-size:11px; text-align:center; color:#000;">
		<strong>Branding Use</strong><br>Star Rating for brand awareness and SEO 
		</div>
	</div>
	
	<div style="width:23%; margin:1%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">03</div>
		<div style="width:100%; height:auto; float:left; font-size:11px; text-align:center; color:#000;">
		<strong>Appointments</strong><br>Patients can request appointments 24 hours a day 
		</div>
	</div>
	
	<div style="width:23%; margin:1%; height:auto; float:left;">
		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">04</div>
		<div style="width:100%; height:auto; float:left; font-size:11px; text-align:center; color:#000;">
		<strong>Targeted Ads</strong><br>Promote your practice to Healthsoul Visitors
		</div>
	</div>
	
</div>

<div style="width:100%; height:auto; text-align:center; color:#fff; margin:30px 0 0; float:left;">
<span style="padding:10px; background:#1187a5;"><a href="https://www.healthsoul.com/users/sign_in" style="color:#31eaa1; text-decoration:none; font-size:9px;">Click here</a> <span style= "font-size:9px;">to reveal your unique referral code & claim your free account.
</span></span>
</div>

<div style="width:100%; height:auto; text-align:center; color:#000; margin:30px 0; float:left;">
<strong>Regards, </strong><br>
Team Healthsoul
</div>


</div>

</div>

</body>

</html>
