<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthSoul</title>
    <style>
      body{margin:0; padding:0; font-family:Arial;}
      .center-main{width:650px; height:auto; margin:0 auto; font-family:Arial;}
      .logo-top{width:100%; height:auto; text-align:center; margin: 10px 0; float:left;}
      .box-color-top{}
      .second-box-section{}
      .third-box-section{width:80%; height:auto; padding:20px 10%; background:#e9eaec; color:#000; text-align:center; float:left;}
      .fourth-box-section{width:80%; height:auto; padding:20px 10%; background:#f2f8f4; color:#000; text-align:center; float:left;}
      .healthsoul-build-img{width:50%; height:auto; padding:0; text-align:center; float:left;}
      .healthsoul-build-img img{width:100%;}
      .healthsoul-build-txt{width:46%; height:auto; padding:0px 0 0 4%;  color:#000; text-align:justify; float:left;}
      .healthsoul-build-txt p{margin:0}
      .headding-main{width:100%; height:auto; padding:0; text-align:center; float:left;}
      .row-main{width:100%; height:auto; float:left;}
      .col-main{width:25%; height:auto; float:left;}
      .col-img-main{width:90%; padding:5%; height:auto; float:left; text-align:center;}
      .col-img-main img{width:100%;}
      .col-txt-main{width:100%; height:auto; float:left; font-size:12px; text-align:center;}
      .img-row-main{width:100%; height:auto; float:left;}
      .col-second-main{width:31%; margin:1% height:auto; float:left;}
      .col-second-head{width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;}
      .col-second-para{width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;}
    </style>
  </head>
  <body style="margin:0; padding:0; font-family:Arial;">
    <p>Dear <%= @user.name_for_welcome_mailer %>,</p>
    <div style="width:650px; height:auto; margin:0 auto; font-family:Arial; font-size: 16px;">
      <div style="width:100%; height:auto; text-align:center; margin: 10px 0; float:left;"><%= image_tag attachments['healthsoul-e-mailer-logo.png'].url %></div>
      <div style="width:80%; height:auto; padding:20px 10%; background:#288aa7; color:#fff; text-align:center; float:left;">
        <h1><span style="border-bottom: 2px solid #fff;">Welcome to Healthsoul</span></h1>
        <p>
          We welcome you onboard. Congratulations on taking the ﬁrst step towards promoting transparent healthcare around the world.
        </p>
      </div>
      <div style="width:84%; height:auto; padding:20px 8%; background:#e7f2ea; color:#000; text-align:center; float:left;">
        <div class="headding-main" style="width:100%; height:auto; padding:0; text-align:center; float:left;">
          <h1><span style="border-bottom: 2px solid #000;">What is Healthsoul?</span></h1>
        </div>
        <div class="healthsoul-build-img" style="width:50%; height:auto; padding:0; text-align:center; float:left;"><%= image_tag attachments['healthsoul-build-img.jpg'].url, style: "width:100%;" %></div>
        <div class="healthsoul-build-txt" style="width:46%; height:auto; padding:0px 0 0 4%;  color:#000; text-align:justify; float:left;">
          <p style="margin:0;">
            Healthsoul is a comprehensive online directory of hospitals, travel insurance, health insurance and doctors from around the world. We bring to you the most unbiased and real patient testimonials and reviews so you can make an informed choice.
          </p>

          <p>If you are a Healthcare Provider or Practice Manager Click <a href="https://www.healthsoul.com/manage">here</a></p>
        </div>
        <div class="headding-main" style="width:100%; height:auto; padding:0; text-align:center; float:left;">
          <h1><span style="border-bottom: 2px solid #000;">How to get started?</span></h1>
        </div>
        <div class="row-main" style="width:100%; height:auto; float:left;">
          <div class="col-main" style="width:25%; height:auto; float:left;">
            <div class="col-img-main" style="width:90%; padding:5%; height:auto; float:left; text-align:center;">
              <%= image_tag attachments['step-1.png'].url, style: "width:100%" %>  
            </div>
            <div class="col-txt-main" style="width:100%; height:auto; float:left; font-size:12px; text-align:center;">
              Login at <%= link_to new_user_session_url, new_user_session_url %>
            </div>
          </div>
          <div class="col-main" style="width:25%; height:auto; float:left;">
            <div class="col-img-main" style="width:90%; padding:5%; height:auto; float:left; text-align:center;">
              <%= image_tag attachments['step-2.png'].url, style: "width:100%" %>  
            </div>
            <div class="col-txt-main" style="width:100%; height:auto; float:left; font-size:12px; text-align:center;">
              Choose the medical practice/insurance company/doctor that you wish to rate and review
            </div>
          </div>
          <div class="col-main" style="width:25%; height:auto; float:left;">
            <div class="col-img-main" style="width:90%; padding:5%; height:auto; float:left; text-align:center;">
              <%= image_tag attachments['step-3.png'].url, style: "width:100%" %>  
            </div>
            <div class="col-txt-main" style="width:100%; height:auto; float:left; font-size:12px; text-align:center;">
              Submit your review
            </div>
          </div>
          <div class="col-main" style="width:25%; height:auto; float:left;">
            <div class="col-img-main" style="width:90%; padding:5%; height:auto; float:left; text-align:center;">
              <%= image_tag attachments['step-4.png'].url, style: "width:100%" %>  
            </div>
            <div class="col-txt-main" style="width:100%; height:auto; float:left; font-size:12px; text-align:center;">
              You just helped someone make an informed healthcare decision. 
              Congratulations!
            </div>
          </div>
        </div>
      </div>
      <div style="width:84%; height:auto; padding:0 8% 30px; background:#e9eaec; color:#000; text-align:center; float:left;">
        <div class="headding-main" style="width:100%; height:auto; padding:0; text-align:center; float:left;">
          <h1><span style="border-bottom: 2px solid #000;">Healthsoul Referral Program</span></h1>
        </div>
        <div>
          <p style="font-size: 15px;">
            Now get rewarded for every review and referral that you bring to Healthsoul
          </p>
        </div>
        <div class="healthsoul-build-txt" style="width:46%; height:auto; padding:0px 0 0 4%;  color:#000; text-align:justify; float:left;">
          <h3 style="text-align:left">Introducing Healthsoul Referral Program</h3>
          <p style="text-align:left; margin:0;">
            A unique rewards system to promote transparency in healthcare practices. 
          </p>
        </div>
        <div class="healthsoul-build-img" style="width:50%; height:auto; padding:0; text-align:center; float:left;"><%= image_tag attachments['healthsoul-referal-img.jpg'].url, style: "width:100%;" %></div>
        <div class="row-main" style="width:100%; height:auto; float:left;"><span style="font-size:24px; font-weight:bold; color:#000; padding:5px; margin:20px 0; display: inline-block;">How it works?</span></div>
        <div class="img-row-main" style="width:100%; height:auto; float:left;"><%= image_tag attachments['row-img06.png'].url, style: "width:100%;" %></div>
        <div class="row-main" style="width:100%; height:auto; float:left;"><span style="font-size:24px; font-weight:bold; color:#000; padding:5px; margin:20px 0; display: inline-block;">Rewards for your opinion
          </span>
        </div>
        <div class="row-main" style="width:100%; height:auto; float:left;">
          <div style="width:31% !important; margin:1%; height:auto; float:left;">
            <div class="col-second-head" style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">01</div>
            <div class="col-second-para" style="width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;">
              Write ONE Healthcare Review for Your Chance to Win 
              <br>
              <strong>Amazon Gift Card</strong>
            </div>
          </div>
          <div style="width:31% !important; margin:1%; height:auto; float:left;">
            <div class="col-second-head" style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">02</div>
            <div class="col-second-para" style="width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;">
              One $10.00 Gift card drawn daily selected randomly. One lucky winner to also get $50 Amazon Gift Card based on the unique number of users signed up using the referral link provided on your user dashboard 
            </div>
          </div>
          <div style="width:31% !important; margin:1%; height:auto; float:left;">
            <div class="col-second-head" style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">03</div>
            <div class="col-second-para" style="width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;">
              Valid from January 1st, 2019 to December 31st, 2019. 
            </div>
          </div>
        </div>
      </div>
      <div style="width:80%; height:auto; padding:20px 10%; background:#f2f8f4; color:#000; text-align:center; float:left;">
        <div class="headding-main" style="width:100%; height:auto; padding:0; text-align:center; float:left;">
          <h1><span style="border-bottom: 2px solid #000;">Healthsoul Affiliate Program</span></h1>
        </div>
        <div>
          <h4>Points System Explained</h4>
        </div>
        <div>
          There are 05 points for reviews. A lucky winner for $10 Amazon coupon would be shortlisted randomly. There are 10 points awarded for every unique user that you bring using your link below.
          <br>
          <br>
          For Detailed Terms and Conditions <a href="www.healthsoul.com/terms" style="color:#288aa7; text-decoration:none;">click here</a>
        </div>
        <br />
        <div style="background:#288aa7; color:#fff; padding: 5px 0;">
          <%= link_to 'Click here', user_url(@user.id), style: 'color: #fff;', title: 'Click here' %> to reveal your unique referral code &amp; start earning your rewards today!
        </div>
        <div style="margin: 20px 0;">
          Regards,<br>
          Team Healthsoul
        </div>
      </div>
    </div>
  </body>
</html>