<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthSoul</title>
  </head>

  <body style="font-family:Arial">

    <div style="width:650px; height:auto; margin:0 auto; font-size: 16px; background:#edefee;">

      <div style="width:100%; height:auto; padding:0 0px 15px; background:#fff; color:#000; text-align:center; float:left;">

        <div style="width:100%; height:auto; text-align:center; margin: 10px 0; float:left;">  <%= image_tag attachments['healthsoul-e-mailer-logo.png'].url %>         
        </div>

        <div style="width:100%; height:auto; margin:10px 0; padding:5px 0; background:#fff; color:#666; float:left; font-weight:bold; font-size:18px; ">
          Dear <%= @user.email %>,
        </div>
        
        <div style="text-align: left; width:100%; height:auto; padding:0;float:left; font-size:18px; background: #dfe1e6; margin:0px 0px 10px 0px;">
          <div style="font-size:24px; font-weight:bold; border-bottom:2px solid #1ea972; color:#000; padding:5px; margin:20px 0 0 0;">
            Many ways to Earn Points toward Amazon Gift card
          </div>
          <ol style='font-size:14px;'>
            <li style='padding-bottom: 1em;'>
              Complete any one activity earn 5 Points: Write a review or Refer a friend or Share a blog on Facebook from our website <a href=<%= "#{HOST}/blog" %>><%= HOST %>/blog</a>.
            </li>
            <li style='padding-bottom: 1em;'>500 points is equal to $50.00 Amazon gift card.</li>
            <li style='padding-bottom: 1em;'>Chance to Win Amazon gift card daily when you write a review.</li>
          </ol>
        </div>

        <div style="width:100%; height:auto; padding:0; text-align:center; float:left; font-size:18px; font-weight:bold;">
          <span style="color:#1683aa;">Here's your Healthsoul Digest</span>
        </div>

      </div>

      <div style="width:96%; height:auto; padding:20px 2% 20px; background:#1ea972; color:#000; float:left; text-align: center;">
      
        <% @blogs.each_with_index do |blog, index| %>
          <div style="width:96%; height:auto; float:left; margin:10px 2%;">
            <div style = "font-weight:bold; ">
              <%= link_to "#{index + 1}.  #{blog.title}", "#{HOST}/blog/#{blog.slug}", style: "color:#fff; font-size:16px; text-decoration:none;", title: blog.title %>
            </div>
          </div>
        <% end %>
        <div style="width:100%; height:auto; float:left; margin-bottom: 0px;">
          <a href=<%= "#{HOST}/blog"%> style="background:#fefefe; padding:5px 20px; display:inline-block; text-decoration:none; color:#1486a1; ">
            View All
          </a>
        </div>
      </div>

      <div style="width:96%; height:auto; padding:20px 2% 20px; background:#f2f8f4; color:#000; float:left;text-align:center; ">
        <div style="width:100%; height:auto; float:left;">
          <span style="font-size:24px; font-weight:bold; border-bottom:2px solid #1ea972; color:#000; padding:5px; margin:20px 0 0 0; display: inline-block;">Healthsoul Referral Program</span>
          <p style="font-size:14px; color:#000; padding:5px;">
          Now get rewarded for every review and referral that you bring to Healthsoul.
          </p>
        </div>

        <div style="width:100%; height:auto; float:left; margin-bottom: 10px;">
          <a href="" style="background:#f18142; padding:5px 10px; text-decoration:none; color:#fff; display:inline-block;">
          Here's your progress
          </a>
        </div>


        <div style="width:100%; height:auto; float:left; margin-bottom: 10px;margin: 1%; padding: 20px 0;">
          <a href="" style="width: 60%; padding:5px 10px; text-decoration:none; display:inline-block;border:1px solid #288aa7;">
            Total Points Earned:

            <br>
            <%= @user.total_points %>
          </a>

          <p style="margin-top:10px; width:100%; float:left; height:auto;">
            Review today to earn points to reach your next reward.
          </p>
        </div>


        <div style="width:100%; height:auto; float:left; margin-bottom: 10px;">
          <a href="" style="background:#f18142; padding:5px 10px; display:inline-block; text-decoration:none; color:#fff;">
          Rewards for your opinion
          </a>
        </div>

        <div style="width:100%; height:auto; float:left;">
          <div style="width:31%; margin:1%; height:auto; float:left;">
        		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">01</div>
        		<div style="width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;">
          		Write ONE Healthcare Review for Your Chance to Win
          		<strong> Amazon Gift Card</strong>
        		</div>
        	</div>
        	<div style="width:31%; margin:1%; height:auto; float:left;">
        		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">02</div>
        		<div style="width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;">
        		Amazon gift cards are drawn randomly on a daily and weekly basis.
        		</div>
        	</div>

        	<div style="width:31%; margin:1%; height:auto; float:left;">
        		<div style="width:100%; height:auto; float:left; font-size:70px; font-weight:bold; text-align:center; color:#25b47c;">03</div>
        		<div style="width:100%; height:auto; float:left; font-size:14px; text-align:center; color:#000;">
        		Valid from January 1st, 2019 to December 31st, 2019.
        		</div>
        	</div>
        </div>

        <div style="width:100%; height:auto; float:left; margin-bottom: 0px; ">
        </div>

        <div style="width:100%; height:auto; float:left; margin-top:15px; margin-bottom: 0px;">
          <a href=<%= "#{HOST}/users/sign_in" %> style="background:#25b47c; padding:5px 20px; display:inline-block; text-decoration:none; color:#fff; ">
          Sign In
          </a>
        </div>
      </div>

      <div style="width:100%; height:auto; color:#fff; padding:0; float:left;">
        <a href=<%= "#{HOST}/forum"  %>><%= image_tag attachments['05.jpg'].url, style: "width:100%;" %></a>
      </div>
      
      <div style="margin: 5px 0px; padding: 0px 5px; background: #dfe1e6;">
        You are subscribed as <%= @user.email %>. To Unsubscribe please visit your profile and update preferences. If Full Account not created before, Click on <a href=<%= "#{HOST}/users/password/new"%>>Forgot password</a> to request access to your account. Your email is your user ID.
      </div>

      <div style="margin: 5px 0px; padding: 0px 5px;">
        <%= link_to "Unsubscribe", unsubscribe_user_url(@user), title: 'Unsubscribe' %>
      </div>
    </div>

  </body>
</html>