<%= link_to favorite.link_path, title: favorite.favoriteable.name do %>
  <div class="col-md-12">
    <div class="revie-hosp-frame result">
      <div class="row">
        <div class="col-md-2">
          <%= favorite.circle_image %>
        </div>
        <div class="col-md-5">
          <div class="main-heading-re_i">
            <h4 class="pull-left g-color"><%= favorite.favoriteable.try(:name) || 'NA' %></h4>
          </div>
          <div class="clear"></div>
        </div>
        <div class="col-md-4 pull-right">
          <div class="thomas_right_frame_i">
            <h4><%= favorite.pretty_type %></h4>
          </div>

        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
<% end %>
