h1 New Comment
=simple_form_for [commentable, comment] do |f|
  = render 'shared/errors', object: comment
  =f.input :body, collection: ["Thank you for taking time to post a review for us on HealthSoul. We appreciate your feedback and it helps us improve our service."], input_html: {class: "comment-select width_100_percent"}
  =f.button :submit, class: "btn btn-primary"
