Import Csv	


<%= form_tag({:action => :import}, multipart: true) do %>
  <%= select_tag "doctor", options_from_collection_for_select(Doctor.all.first(26000), "id", "slug") %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>


<% if @rowarray.present? %>
	<%- total_listing_score = 0 %>
	<%- total_listing_error_in_percentage = 0 %>
	<%- critical_error = 0 %>
	<%- total_rating = 0 %>
	<%- total_reviews = 0 %>
	<%- @rowarray.each do |row| %>

		<% if row[0].to_i > 0 %>
		<!-- 	<%#= row %>
			<br>
			<br> -->

			<%- (4..13).to_a.each do |i| %>
				<!-- nnnnnnnnn -->
				<% row[i].to_i %>
				<%- total_listing_score = (row[i].to_i + total_listing_score) %>
			<% end %>

			<%- (4..13).to_a.each do |i| %>
				<!-- nnnnnnnnn -->
				<% if row[i] == "0" || row[i] == "1" %>
					<%- total_listing_error_in_percentage = total_listing_error_in_percentage+1 %>
				<% end %>
			<% end %>

			<%- (4..8).to_a.each do |i| %>
				<!-- nnnnnnnnn -->
				<% if row[i] == "0" || row[i] == "1" %>
					<%- critical_error = critical_error+1 %>
				<% end %>
			<% end %>



			<% total_reviews =  row[15].to_i + total_reviews %>
			<% total_rating =  row[16].to_i + total_rating %>


		<% end %>
	<% end %>

	Total lisitng score = <%= total_listing_score %>
	<br>
	Lsiting Score  = <%= total_listing_score %>
	<br>
	Total Lsiting Errors in percentage = <%= (total_listing_error_in_percentage.zero? ? 0 : (total_listing_error_in_percentage*0.37) ) %>
	<br>
	Critical errors = <%= (critical_error.zero? ? 0 : (critical_error*0.37) ) %>
	<br><br><br><br>

	Total Reviews = <%= total_reviews %>
	<br>
	Total rating = <%= total_rating %>
	<br>
	Reputation Score = <%= (total_reviews/total_rating.to_f)*100 %>
	<br>
	Digital Health Score = <%= total_listing_score + ((total_reviews/total_rating.to_f)*100) %>

	<% HealthScore.create(:score => (total_listing_score + ((total_reviews/total_rating.to_f)*100)) ,:doctor_id => params[:doctor] ) %>



	<%#= area_chart HealthScore.group_by_minute(:created_at).maximum(:score) %>




<% end %>


