<div class="form-group no_display phone-number-fields">
  <label>Phone Number (Select Country Code and Enter 10 Digit Number) </label><br>
  <div class="row">
    <div class="col-md-3">
      <%= f.select :phone_country_code, COUNTRY_CODE, {}, {class: "country-code-select"} %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :phone_body, autofocus: true, class: 'form-control ten-digit-number', placeholder: "10 Digit Phone Number (No Hyphens)" %>
      <%= f.hidden_field :phone_number, class: "hidden_phone_number" %>
    </div>
  </div>
</div>