<h3> Analytics for <%= @obj.name %></h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th> Last Month </th>
      <th> Last 12 Months </th>
    </tr>
  </thead>
  <tbody class='table table-border'>
    <tr>
      <td> Total Page Impressions </td>
      <td> <%= timed_impressions(@obj, 1.month.ago) %> </td>
      <td> <%= timed_impressions(@obj, 1.year.ago) %> </td>
    </tr>
    <tr>
      <td> Total Page Clicks</td>
      <td><%= @obj.impressionist_count(start_date: 1.month.ago) %></td>
      <td><%= @obj.impressionist_count(start_date: 1.year.ago) %></td>
    </tr>
    <tr>
      <td> Unique Page Views</td>
      <td><%= @obj.impressionist_count(start_date: 1.month.ago, filter: :ip_address) %></td>
      <td><%= @obj.impressionist_count(start_date: 1.year.ago, filter: :ip_address) %></td>
    </tr>
    <tr>
      <td> Reviews</td>
      <td><%=@obj.ratings.last_month %></td>
      <td><%=@obj.ratings.last_year %></td>
    </tr>
  </tbody>
</table>


<% if @obj.email.present? %>
  <p>
    If you have any concern then kindly contact via <b><%= @obj.email %></b>
  </p>
<% end %>
