.well
  = simple_form_for(@recommendation) do |f|
    = f.error_notification
    .form-group
      = f.input :name, required: true, input_html:{ class: 'form-control'}
    .form-group
      = f.input :email, required: true, input_html:{ class: 'form-control'}
      = f.input :location, input_html:{ class: 'form-control'}
      = f.input :country, required: true, input_html:{ class: 'form-control'}
      = f.input :website, as: :url, input_html:{ class: 'form-control'}  
      = f.input :source_type, as: :hidden, input_html:{ class: 'form-control', value: @recommendation.source_type}

    .form-group
      = f.button :button, 'Submit',class: 'btn btn-primary'
      = f.button :button, 'Cancel', type: :reset, class: 'btn btn-danger ml-1-percent'
      = link_to 'Back', eval("search_#{@recommendation.source_type.gsub(' ', '_').downcase}s_path"), class: 'btn btn-secondary  ml-1-percent' if ['Hospital', "Health Insurance", "Travel Health Insurance"].include? @recommendation.source_type
