.nested-fields
  .row
    .small-2.large-3.columns
      = f.input :name
    .small-2.large-9.columns
      = f.input :address
  .row 
    .small-2.large-3.columns
      = f.input :city
    .small-2.large-3.columns
      = f.input :state
    .small-2.large-3.columns
      = f.input :zip
    .small-2.large-3.columns
      = f.input :phone
  hr
  = render 'business_hours_section', f: f

  .pull-right
    = link_to_remove_association "Remove Location", f
hr
