p
  strong Business Hours - Set Both Start and End Time as 0:00AM If Open 24 Hours
  br
  strong Marking Day As Closed Will Override any time set
  = f.simple_fields_for :business_hours, f.object.business_hours.order("day ASC, start_time ASC") do |al|
    = render 'business_hour_fields', f: al
  .links
    = link_to_add_association 'Add Day', f, :business_hours
