= simple_form_for [:admin, @resource ], url: @form_url do |f|
  .row
    .small-2.large-2.columns
      =f.input :is_claimed
    .small-2.large-2.columns
      =f.input :request_appt
    .small-2.large-2.columns
      = f.input :priority_city
    .small-2.large-3.columns
      =f.input :featured_or_sponsored, as: :radio_buttons, collection: FEATURED_OR_SPONSORED, label: false
    .small-2.large-3.columns
      =f.input :gender, as: :radio_buttons, collection: Doctor.genders.keys
  .row
    .small-2.large-4.columns
      =f.input :credential
    .small-2.large-4.columns
      =f.input :name
    .small-2.large-4.columns
      - if !@resource.new_record?
        =f.input :slug, disabled: true
  .row
    .small-2.large-4.columns
      =f.input :npi
    .small-2.large-4.columns
      = f.input :email
    .small-2.large-4.columns
      = f.input :should_be_notified_by_email_for_appointments

  .row
    .small-2.large-4.columns
      =f.input :website, as: :url, placeholder: 'Website must start with http or https'
    .small-2.large-4.columns
      = f.input :phone
    .small-2.large-4.columns
      =f.input :should_be_notified_by_sms_for_appointments

  .row
    .small-2.large-12.columns
      =f.input :description


   
  .row
    .small-2.large-8.columns
      label Photo
  =f.input :photo, as: :file
  =f.hidden_field :photo_cache
  -if @resource.photo?
    =image_tag(@resource.photo.thumb.url)
    




  p
    strong Organization Info
  .row
    .small-2.large-4.columns
      =f.input :organization_name
    .small-2.large-8.columns
      =f.input :address
  .row
    .small-2.large-4.columns
      =f.input :city
    .small-2.large-4.columns
      =f.input :state
    .small-2.large-4.columns
      =f.input :zip
  .row
    .small-2.large-4.columns
      =f.input :country, as: :select, collection: country_collection
    .small-2.large-4.columns
      =f.input :latitude, disabled: true
    .small-2.large-4.columns
      =f.input :longitude, disabled: true

  = f.association :languages, input_html: {class: 'select2'}, multiple: true
   
  =f.association :med_school, input_html: {class: 'chosen-select' }
  p If you cannot find your school above, add it below:
  =f.input :med_school_other, placeholder: "Add a Medical School"
  .row
    .small-2.large-4.columns
      =f.input :residency
    .small-2.large-4.columns
      =f.input :fellowship
    .small-2.large-4.columns
      =f.input :fellowship_2, label: '2nd Fellowship'
  .row
    .small-2.large-4.columns
      =f.input :graduation
    .small-2.large-8.columns
      = f.association :board_certifications, collection: BoardCertification.pluck(:certification, :id), :as => :select, input_html: { multiple: true, class: ' select2' }

  = f.input :areas_of_expertise, input_html: {class: 'froala_editor'}
  
  =f.input :academic_affiliation, as: :select, collection: Doctor.academic_affiliations.keys.map{|a| [a.titleize, a] }
  =f.input :hospital_ids, as: :select, collection: @resource.hospitals.map{|h| [h.name, h.id] }, input_html: {multiple: true, class: 'select2-ajax'}, label: "Affiliated Hospitals and Practices"
  p If you can't find your hospital above, list it below:
  =f.input :affiliated_hospitals, label: false
  table
    / Split specialities into groups of three to render checkbox rows as rows of a table
    - PracticeSpeciality.where(common_speciality: true).sort_by{|ps| ps.name}.in_groups_of(3).each do |common|
      tr
        =f.association :practice_specialities, as: :check_boxes, collection: common.reject { |i| i.nil?}, label: false, item_wrapper_tag: :td, boolean_style: :inline, item_wrapper_class: "speciality"
  label Other Specialities
  table
    / Split specialities into groups of three to render checkbox rows as rows of a table
    - PracticeSpeciality.where(common_speciality: false).sort_by{|ps| ps.name}.in_groups_of(3).each do |other|
      tr
        =f.association :practice_specialities, as: :check_boxes, collection: other.reject { |i| i.nil?}, label: false, item_wrapper_tag: :td, boolean_style: :inline, item_wrapper_class: "speciality"
  hr
  .row
    .small-2.large-4.columns
      =f.input :display_hours_and_fees
    .small-2.large-8.columns
      =f.input :new_patient_fees
      =f.input :current_patient_fees
  hr
  = render 'business_hours_section', f: f




  hr
  p
    = f.input :digitial_health_score_enabled
  p
    strong Additional Locations
    / Add Button
    = f.simple_fields_for :additional_locations do |al|
      = render 'admin/doctors/additional_location_fields', f: al
    .links
      = link_to_add_association 'Add Location', f, :additional_locations
  p
    /strong Health Scores
    / Add Button
    /- @resource.health_scores.each do |health_score|
    /  = health_score.score
    
    .links#addhealthdetailsmain
      = link_to_add_association 'Add health details', f, :health_score_details

  =f.button :submit

- if @resource.persisted?
  hr
  p =link_to "Delete", admin_doctor_path(@resource), method: :delete, data: {confirm: "Are you sure?", class: 'button secondary'}

javascript:
  $(document).on('click', '#addhealthdetailsmain', function(e) {
    console.log("clickkkk");
    $(this).hide();

  })
