.nested-fields
  .row
    .small-2.large-2.columns
      = f.input :platform
    .small-2.large-2.columns
      = f.input :website_url
    .small-2.large-2.columns
      = f.input :h_type
    .small-2.large-2.columns
      = f.input :name
    .small-2.large-2.columns
      = f.input :address
    .small-2.large-2.columns
      = f.input :phone
  .row
    .small-2.large-2.columns
      = f.input :website
    .small-2.large-2.columns
      = f.input :speciallity
    .small-2.large-2.columns
      = f.input :hour
    .small-2.large-2.columns
      = f.input :fee
    .small-2.large-2.columns
      = f.input :about_me
    .small-2.large-2.columns
      = f.input :education
  .row
    .small-2.large-2.columns
      = f.input :rating
    .small-2.large-2.columns
      = f.input :number_of_reviews
    .small-2.large-2.columns
      = f.input :total_rating

  .pull-right
    = link_to_remove_association "Remove Detail", f
hr





