<label for="devicename">Health Score</label><br>
    <%= form_tag '/', method: :get do %>
    
     <div class="form-group">

         <%= text_field_tag :total_rating3 %>
     </div>
     </td>

     <% end %>

 <script>
        $('input[type="text"]').on('blur', function() {
                var Calc_total_rating = $('#total_rating');
                var total_rating = Calc_total_rating.val();
               
                var Calc_total_rating1 = $('#total_rating1');
                var total_rating1 = Calc_total_rating1.val();

                var Calc_balance = $('#balance');
                var balance = Calc_balance.val();


                var Calc_total_rating3 = $('#total_rating3');
                var total_rating3 = (balance + total_rating + total_rating)/10 ;

                var showMath = $('#show_math');
                var mathString = "=previo   us balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_total_rating3.val(total_rating3);

        });
  </script>


 <table style="" >

  <tr>
    <th>Platform</th>
    <th>Website Url</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Photo</th>
    <th>Website</th>
    <th>Speciality</th>
    <th>Hours</th>
    <th>Fee</th>
    <th>About Me</th>
    <th>Education</th>
    <th>Rating</th>
    <th>Number of reviews</th>
    <th>Total rating</th>   
  </tr>
  <tr>
    <td>Google</td>
    <td>www.google.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][education]"> </td>
        <%= form_tag '/', method: :get do %>
    <td>
    <div class="form-group">
         <%= text_field_tag :amount  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :discount  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :balance %>
     </div>
     </td>

     <% end %>
     <script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#amount');
                var amount = Calc_amount.val();

                var Calc_discount = $('#discount');
                var discount = Calc_discount.val();

                var Calc_balance = $('#balance');

                var balance = amount * discount;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(balance);
        });
  </script>
    
  </tr>
  <tr>
    <td>Practo</td>
    <td>www.practo.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][1][education]"> </td>

    <%= form_tag '/', method: :get do %>
    <td>
    <div class="form-group">
         <%= text_field_tag :rating  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :number_of_reviews  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :total_rating %>
     </div>
     </td>

     <% end %>


  </tr>
<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#rating');
                var rating = Calc_amount.val();

                var Calc_discount = $('#number_of_reviews');
                var number_of_reviews = Calc_discount.val();

                var Calc_balance = $('#total_rating');

                var total_rating = rating * number_of_reviews;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(total_rating);

        });
  </script>


  </tr>
  <tr>
    <td>Healthsoul</td>
    <td>www.healthsoul.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][2][education]"> </td>
    
    <%= form_tag '/', method: :get do %>
    <td>
         <%= text_field_tag :rating1  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :number_of_reviews1  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :total_rating1 %>
     </div>
     </td>

     <% end %>

        <script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#rating1');
                var rating1 = Calc_amount.val();

                var Calc_discount = $('#number_of_reviews1');
                var number_of_reviews1 = Calc_discount.val();

                var Calc_balance = $('#total_rating1');

                var total_rating1 = rating1 * number_of_reviews1;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(total_rating1);

        });
  </script>

  </tr>
  <tr>
    <td>Facebook</td>
    <td>www.facebook.com</td>

    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][3][education]"> </td>
<%= form_tag '/', method: :get do %>
    <td>
    <div class="form-group">
         <%= text_field_tag :rating  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :number_of_reviews  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :total_rating %>
     </div>
     </td>

     <% end %>


  </tr>
<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#rating');
                var rating = Calc_amount.val();

                var Calc_discount = $('#number_of_reviews');
                var number_of_reviews = Calc_discount.val();

                var Calc_balance = $('#total_rating');

                var total_rating = rating * number_of_reviews;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(total_rating);

        });
  </script>

  </tr>
  <tr>
    <td>Justdial</td>
    <td>www.justdial.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][4][education]"> </td>
    <%= form_tag '/', method: :get do %>
    <td>
    <div class="form-group">
         <%= text_field_tag :rating  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :number_of_reviews  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :total_rating %>
     </div>
     </td>

     <% end %>


  </tr>
<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#rating');
                var rating = Calc_amount.val();

                var Calc_discount = $('#number_of_reviews');
                var number_of_reviews = Calc_discount.val();

                var Calc_balance = $('#total_rating');

                var total_rating = rating * number_of_reviews;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(total_rating);

        });
  </script>


  </tr>

  <tr>
    <td>Lybrate</td>
    <td>www.lybrate.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][5][education]"> </td>
    <%= form_tag '/', method: :get do %>
    <td>
    <div class="form-group">
         <%= text_field_tag :rating  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :number_of_reviews  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :total_rating %>
     </div>
     </td>

     <% end %>


  </tr>
<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#rating');
                var rating = Calc_amount.val();

                var Calc_discount = $('#number_of_reviews');
                var number_of_reviews = Calc_discount.val();

                var Calc_balance = $('#total_rating');

                var total_rating = rating * number_of_reviews;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(total_rating);

        });
  </script>



  </tr>
  <tr>
    <td>Credihealth</td>
    <td>www.redihealth.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][6][education]"> </td>
 

    <%= form_tag '/', method: :get do %>
    <td>
    <div class="form-group">
         <%= text_field_tag :rating  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :number_of_reviews  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :total_rating %>
     </div>
     </td>

     <% end %>



<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#rating');
                var rating = Calc_amount.val();

                var Calc_discount = $('#number_of_reviews');
                var number_of_reviews = Calc_discount.val();

                var Calc_balance = $('#total_rating');

                var total_rating = rating * number_of_reviews;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(total_rating);

        });
  </script>

  </tr>

  <tr>
    <td>Sehat</td>
    <td>www.sehat.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][7][education]"> </td>

  </tr>
  <tr>
    <td>Myupchar</td>
    <td>www.myupchar.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][8][education]"> </td>


  </tr>
  <tr>
    <td>Docprime</td>
    <td>www.docprime.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][9][education]"> </td>


  </tr>
  <tr>
    <td>Yellow Pages</td>
    <td>www.yellowpages.in</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][10][education]"> </td>

  </tr>
  <tr>
    <td>Info Doctor</td>
    <td>www.infodoctor.in</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][11][education]"> </td>


  </tr>
  <tr>
    <td>Sulekha</td>
    <td>sulekha.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][12][education]"> </td>


  </tr>
  <tr>
    <td>Curofy</td>
    <td>curofy.com</td>
        <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][13][education]"> </td>

  </tr>
  <tr>
    <td>Free Listing India</td>
    <td>freelistingindia.in</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][14][education]"> </td>


  </tr>
  <tr>
    <td>Map quest</td>
    <td>www.mapquest.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][15][education]"> </td>

  </tr>
  <tr>
    <td>Foursquare</td>
    <td>www.foursquare.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][16][education]"> </td>


  </tr>
  <tr>
    <td>Doctors Directory India</td>
    <td>http://www.doctorsdirectoryindia.com/</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][17][education]"> </td>

  </tr>
  <tr>
    <td>Bing</td>
    <td>www.bing.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][18][education]"> </td>


  </tr>
  <tr>
    <td>Apple Business Maps</td>
    <td></td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][19][education]"> </td>


  </tr>
  <tr>
    <td>India Healtth Help</td>
    <td></td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][20][education]"> </td>


  </tr>
  <tr>
    <td>AddYp</td>
    <td>http://addyp.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][21][education]"> </td>


  </tr>
  <tr>
    <td>Express Business Directory</td>
    <td>http://www.expressbusinessdirectory.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][22][education]"> </td>


  </tr>
  <tr>
    <td>MedIndia</td>
    <td>https://www.medindia.net/doctors/index.html</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][23][education]"> </td>


  </tr>
  <tr>
    <td>Refadoc</td>
    <td>https://refadoc.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][24][education]"> </td>


  </tr>
  <tr>
    <td>zoylo</td>
    <td>www.zoylo.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][25][education]"> </td>


  </tr>
  <tr>
    <td>365doctor.in</td>
    <td>https://www.365doctor.in</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][26][education]"> </td>


  </tr>

</table> 