tr
  td=list.id
  td=link_to list.name, manage_doctor_path(list)
  td=list.organization_name
  td=list.med_school&.name || 'N/A'
  td=list.specialities
  td=link_to "Edit", [:edit, :admin, list], class: 'button tiny'
