tr
  td=practice_list.id
  td=link_to practice_list.name, admin_location_path(practice_list)
  td=practice_list.medicare_id
  td=practice_list.practice_id
  td=practice_list.doctors.count
  td=practice_list.practice_specialities.map(&:name).join(', ')
  td=link_to "Edit", [:edit, :admin, practice_list], class: 'button tiny'
