h1
  = @search.class == Search::AdminSearch ? 'Practices' : 'Doctors'

.button-group
  - if @search.class == Search::AdminSearch
    =link_to "Add", new_admin_location_path(location_type_id: @practice_id), class: "button"
  - else
    =link_to "Add", [:new, :admin, @resource_slug.singularize ], class: "button"
    =link_to "Import", [:new, :admin, :import, @resource_slug.singularize ], class: "button"
    =link_to "Report", [:admin, :doctor_reports], class: 'button'

- search_url = @search.class == Search::AdminSearch ? admin_practices_path : admin_doctors_path
=simple_form_for @search, url: search_url, method: :get do |f|
  .row
    .columns.medium-2
      =f.input :name
    .columns.medium-2
      =f.input :co, as: :select, collection: @search.countries_select_code, include_blank: "Any Country", label: 'Country'
    .columns.medium-2
      =f.input :city, label: 'City'
    .columns.medium-2
      =f.input :state, label: 'State'
    .columns.medium-2
      - if @search.class == Search::AdminSearch
        label.select.optional{for="search_admin_search[speciality]"}
          | Speciality
        = select_tag "search_admin_search[speciality]", grouped_options_for_select(@search.possible_specialities), include_blank: "All Specialities"
      - else
        label.select.optional{for="search_doctor_speciality"}
          | Speciality
        = select_tag "search_doctor[speciality]", grouped_options_for_select(@search.possible_specialities), include_blank: "All Specialities"
    .columns.medium-2
      br
      =f.button :button, "Search", value: 'Search'

p=link_to "Clear", admin_doctors_path
table
  thead
    tr
      th ID
      th Name
      - if @search.class == Search::AdminSearch
        th Medicare Practice #
        th Medicare API #
        th Affiliated Providers
      - else
        th Organization
        th Med School
      th Specialities
      th
  tbody
    - if @search.class == Search::AdminSearch
      = render partial: "practice_list", collection: @resources
    - else
      = render partial: "list", collection: @resources

- if @resources.present?
  .text-center
    = paginate(@resources)
