h1 Listing hsdetails

table
  thead
    tr
      th Platform
      th Website url
      th Name
      th Address
      th Phone
      th Photo
      th Website
      th Speciallity
      th Hour
      th Fee
      th Fee
      th About me
      th Education
      th Rating
      th Number of reviews
      th Total rating
      th Doctor
      th
      th
      th

  tbody
    - @hsdetails.each do |hsdetail|
      tr
        td = hsdetail.platform
        td = hsdetail.website_url
        td = hsdetail.name
        td = hsdetail.address
        td = hsdetail.phone
        td = hsdetail.photo
        td = hsdetail.website
        td = hsdetail.speciallity
        td = hsdetail.hour
        td = hsdetail.fee
        td = hsdetail.fee
        td = hsdetail.about_me
        td = hsdetail.education
        td = hsdetail.rating
        td = hsdetail.number_of_reviews
        td = hsdetail.total_rating
        td = hsdetail.doctor
        td = link_to 'Show', hsdetail
        td = link_to 'Edit', edit_hsdetail_path(hsdetail)
        td = link_to 'Destroy', hsdetail, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Hsdetail', new_hsdetail_path
