p#notice = notice

p
  strong Platform:
  = @hsdetail.platform
p
  strong Website url:
  = @hsdetail.website_url
p
  strong Name:
  = @hsdetail.name
p
  strong Address:
  = @hsdetail.address
p
  strong Phone:
  = @hsdetail.phone
p
  strong Photo:
  = @hsdetail.photo
p
  strong Website:
  = @hsdetail.website
p
  strong Speciallity:
  = @hsdetail.speciallity
p
  strong Hour:
  = @hsdetail.hour
p
  strong Fee:
  = @hsdetail.fee
p
  strong Fee:
  = @hsdetail.fee
p
  strong About me:
  = @hsdetail.about_me
p
  strong Education:
  = @hsdetail.education
p
  strong Rating:
  = @hsdetail.rating
p
  strong Number of reviews:
  = @hsdetail.number_of_reviews
p
  strong Total rating:
  = @hsdetail.total_rating

=> link_to 'Edit', edit_hsdetail_path(@hsdetail)
'|
=< link_to 'Back', hsdetails_path
