- if @resource.new_record?
  - claimable_ids = []
  - user_ids = [[@current_user.email, @current_user.id]]
- else
  - claimable_ids = [[@resource.claimable&.name, @resource.claimable_id]]
  - user_ids = [[@resource.user.email, @resource.user_id]]

= simple_form_for [:admin, @resource ], url: @form_url do |f|
  - if @resource.new_record?
    = f.input :claimable_type, as: :select, collection: ["Doctor", "Location", 'MedicalStudent'], input_html: {onchange: "update_claimable_id_ddl();"}, required: true
    = f.input :claimable_id, as: :select, collection: claimable_ids
  - else
    = f.input :claimable_type, as: :select, collection: ["Doctor", "Location", 'MedicalStudent'], input_html: {disabled: true}
    = f.input :claimable_id, as: :select, collection: claimable_ids, input_html: {disabled: true}
  = f.input :user_id, as: :select, collection: user_ids, label: 'Claim By', input_html: {onchange: "update_user_id_ddl();"}, include_blank: 'Select Other User', required: true
  = f.input :country_code, as: :select, collection: country_alpha3_collection, label: "Country", selected: @resource&.country_code
  = f.input :phone
  = f.input :description
  = f.input :position
  = f.input :granted
  = f.hidden_field :created_by, value: @current_user.id
  = f.fields_for @resource.user do |u|
    = u.input :marked_as_provider
  = f.button :submit

javascript:

  function update_user_id_ddl(){
    $('#claim_request_user_id').select2({
        allowClear: true,
        minimumInputLength: 5,
        maximumResultsForSearch: 20,
        ajax: {
          url: '/admin/claim_requests/',
          dataType: 'json',
          delay: 250,
          async: false,
          data: function (params) {
            var query = {
              user_name: params['term'],
              page: params.page || 1
            }
            return query;
          },
          processResults: function (data, params) {
          return {
            results: data,
            pagination: {
              more: true
            }
          };
         },
         cache: true
        }
      })
  }

  function update_claimable_id_ddl(){
    type = $('#claim_request_claimable_type').val();
    if (type == ''){
      $('#claim_request_claimable_id').prop("disabled", true);
    }
    else{
      $('#claim_request_claimable_id').prop("disabled", false);
      $('#claim_request_claimable_id').select2({
        allowClear: true,
        minimumInputLength: 5,
        maximumResultsForSearch: 20,
        ajax: {
          url: '/admin/claim_requests/',
          dataType: 'json',
          delay: 250,
          async: false,
          data: function (params) {
            var query = {
              claimable: type,
              claimable_term: params['term'],
              page: params.page || 1
            }
            return query;
          },
          processResults: function (data, params) {
          return {
            results: data,
            pagination: {
              more: true
            }
          };
         },
         cache: true
        }
      })
    }
  }