tr
  td=list.granted?
  td=link_to list.user.username, edit_admin_user_path(list.user_id), title: list.user.username if list.user.present?
  td=list.user.email if list.user.present?
  td= list.phone.present? ? list.phone : (list.user.phone_number if list.user.present?)
  td
    - if list.claimable.present?
  	 =link_to list.claimable.name, list.claimable, title: list.claimable.name
  td
    =list.country_code
  td=link_to "Edit", [:edit, :admin, list], class: 'button tiny', title: 'Edit'
  td=link_to "Delete", [:admin, list], method: :delete, class: 'button tiny alert', title: 'Delete'
