br
h1
  | Claim Requests
hr
.row
  .columns.medium-4
    .button-group
      =link_to "All", [:admin, :claim_requests], class: "button", title: 'All'
      =link_to "All Granted", "?granted=true", class: "button", title: 'All Granted'
      =link_to "All Not Granted", "?granted=false", class: "button", title: 'All Not Granted'
      =link_to "Add", [:new, :admin, 'claim_request' ], class: "button", title: 'Add Claim'
  =simple_form_for 'claim_requests', url: admin_claim_requests_path, class: "search-form", method: :get do |f|
    .columns.medium-6
      =f.input :email, label: false, placeholder: 'Email', input_html: {value: @email}
    / .columns.medium-3
    /   =f.input :location, label: false, placeholder: 'Location/Doctor', input_html: {value: @location}
    .columns.medium-1
      =f.button :button, "Search"
    .columns.medium-1
      =link_to "Clear", admin_claim_requests_path, title: 'Clear Search'
hr
table data-nosort=""
  thead
    tr
      th Granted?
      th User
      th Email
      th Phone
      th Location/Doctor
      th Country
      th
      th
  tbody
    = render partial: "list", collection: @resources

- if @resources.present?
  .text-center
    = paginate(@resources)
