$('#claim_request_claimable_id').empty();
$('#claim_request_claimable_id').append( $('<option>Select a <%= @type %> </option>'));
<% @resource_data.each do |resource| %>
  $('#claim_request_claimable_id').append($('<option value="<%= resource.first %>"><%= resource.last %></option>'));
<% end %>
$('.select2').select2();