

<div>
<%= simple_form_for [@resource], url: event_event_members_url(@event.id) do |f| %>

<h2> Registration Form <h2>

<%= render partial: 'shared/event_member_form', locals: {f: f, event: @event} %>

<%= f.button :submit, 'Save', class:  "form-control btn-success", onclick: "javascript:  return valid_form();" %>
<% end %>
</div>



<style>
	form#new_event_member {
    width: 1100px;
    margin: 30px auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
    padding: 30px;
}
form#new_event_member h2 {
    margin-top: 0px;
    font-weight: 600;
}.radio-inline label {
    font-size: 17px;
}
.input label {
    font-size: 16px;
}
</style>