- url = @resource.new_record? ? admin_advertisements_path(@resource) : admin_advertisement_path(@resource)
- method = @resource.new_record? ? :post : :patch

- if !@resource.new_record?
  - subtype_collections = eval("Advertisement::#{@resource.type.upcase}_SUBTYPE")
  - dimention_collections = eval("Advertisement::#{@resource.subtype.upcase}_DIMENSION")
  - date_lookup = [7.days.ago, 1.month.ago, 6.month.ago, 1.year.ago, nil]
  table.table
    tr
      th
      th 
        = 'Last 7 Days' 
      th 
        = 'Last 1 Month'
      th
        = 'Last 6 Months'
      th
        = 'Last 1 Year'
      th
        = 'Lifetime'
    tr
      th
        = 'Impressions'
      - date_lookup.each do |d|
        td.text-center
          = timed_impressions(@resource, d)
      
    tr
      th
        = 'Clicks'
      - date_lookup.each do |d|  
        td.text-center
          = timed_clicks(@resource, d)
- else
  - subtype_collections = Advertisement::AFFILIATE_SUBTYPE
  - dimention_collections = Advertisement::CAROUSEL_DIMENSION

= simple_form_for @resource, as: :advertisement, url: url, method: method do |f|
  = f.input :name
  = f.input :type, collection: Advertisement::TYPE, as: :select, input_html: { onchange: "javascript: setSubType(this.value);" }
  = f.input :subtype, collection: subtype_collections, as: :select, input_html: { onchange: "javascript: setDimension(this.value);" }
  = f.input :display_frequency, label: 'Display frequency (in minutes)'
  = f.input :country_id, collection: CountryDecorator.collection, as: :select
  = f.input :priority
  = f.input :dimension, collection: dimention_collections, as: :select
  = f.input :reference_url
  = f.input :reference_url_text
  = f.input :image_title
  = f.input :image_alt
  = f.input :source_image, lable: 'Image Source URL'
  = f.input :image
  = f.hidden_field :image_cache
  - if @resource.image?
    - img_url = @resource.subtype == 'Carousel' ? @resource.image.carousel.url : @resource.subtype == 'Vertical' ? @resource.image.vertical.url : @resource.image.horizontal.url
    = image_tag(img_url) if img_url
    br
    label
      | Remove Image
      = f.check_box :remove_image
  = f.input :publish
  = f.button :submit
  = link_to "Cancel", admin_advertisements_path, class: 'button secondary input_margin'

javascript:

  function setSubType(type){
    $('#advertisement_subtype').empty();
    if (type == 'Affiliate'){
      array = #{raw Advertisement::AFFILIATE_SUBTYPE.to_json}; 
      default_subtype = 'Carousel'
    } 
    else if (type == 'InternalAdvert'){
      array = #{raw Advertisement::INTERNALADVERT_SUBTYPE.to_json};
      default_subtype = 'Vertical';
    }
    set_options(array, 'advertisement_subtype');
    setDimension(default_subtype);    
  }

  function setDimension(sub_type){
    $('#advertisement_dimension').empty();
    if (sub_type == 'Vertical'){
      array = #{raw Advertisement::VERTICAL_DIMENSION.to_json};     
    } 
    else if (sub_type == 'Horizontal'){
      array = #{raw Advertisement::HORIZONTAL_DIMENSION.to_json};
    }
    else if (sub_type == 'Carousel'){
      array = #{raw Advertisement::CAROUSEL_DIMENSION.to_json};
    }
    set_options(array, 'advertisement_dimension')
  }

  function set_options(options, id){
    if (options){
      $.each(options, function (i, item) {
        $('#' + id).append($('<option>', { 
          value: item,
          text : item 
        }));
      });
    }

  }