tr
  td
    = list.name
  td
    = list.reference_url
  td
    = list.type
  td
    = list.subtype
  td
    = list.impressions.where(message: 'Impression').count 
  td
    = list.impressions.where(message: 'Click').count 
  td
    = link_to "Edit", edit_admin_advertisement_path(list), class: 'button tiny'
  td
    = link_to "Delete", admin_advertisement_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: 'button alert tiny'
  td
    = link_to 'Map Resources', resource_mapping_admin_advertisement_path(list), class: 'button tiny'  

