h1
  = 'ADVERTISEMENTS'

.button-group
  =link_to "Add", new_admin_advertisement_path, class: "button"

table data-nosort=""
  thead
    tr
      th Name
      th Reference Url
      th Type
      th SubType
      th Impressions
      th Clicks
      th
      th
      th
  tbody
    = render partial: "list", collection: @resources
- if @resources.present?
  .text-center
    = paginate(@resources)
