$('#<%= @element_id%>').empty();
$('#<%= @element_id%>').append( $('<option>Select the <%= @element %> </option>'));
<% @resource_data.each do |resource| %>
  $('#<%= @element_id%>').append($('<option value="<%= resource.first %>"><%= resource.last %></option>'));
<% end %>
$('.select2').select2();

    
