<h1> 
	<%= link_to @advertisement.name, edit_admin_advertisement_url(@advertisement) %> 
</h1>

<%= simple_form_for [:admin, @advertisement ], url: resource_mapping_admin_advertisement_path(@advertisement) do |f| %>
  <%= f.nested_fields_for :advertisements_resources do |ff| %>
    <%  
      collection = case ff.object.resource.class.to_s
        when 'Blog'
          @blogs
        when 'ActsAsTaggableOn::Tag'
          @tags
        else
          []
      end
    %>
    <%= ff.input :resource_type, label: 'Resource Section', collection: ['Blog', 'ActsAsTaggableOn::Tag'], input_html: {onchange: "fill_resource_action_ddl(this.id);"} %>
    <%= ff.input :resource_action, collection: ['Index', 'Show'], as: :select, input_html: {onchange: "fill_resource_id_ddl(this.id, this.value);", label: 'Resource Method'} %>
    <%= ff.input :resource_id, label: 'Resource', collection: collection, input_html: { class: 'select2'}  %>
    <br/>

    <%= ff.remove_nested_fields_link 'Remove', class: 'button tiny alert', role: 'button' %>
  <% end %>
  <%= f.add_nested_fields_link :advertisements_resources, 'Associate Resource', class: 'button tiny success', role: 'button' %>
  <br/>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to 'Back', admin_advertisements_path, class: 'button btn btn-secondary  ml-1-percent' %>

<% end %>

<script type="text/javascript">
  function fill_resource_action_ddl(id){
    resource_id = id.replace("type", "id");
    resource_action_id = id.replace("type", "action");
    $('#' + resource_action_id + ' option').prop("selected", false);
    $('#' + resource_id).prop( "disabled", true );
  }
  function fill_resource_id_ddl(id, action){
    resource_id = id.replace("action", "id");
    if(action == 'Show'){
      advert_id = <%= @advertisement.id %>
      $('#' + resource_id).prop( "disabled", false );
      ctrl = $('#' + id.replace("action", "type")).val();
      data = {resource_id: resource_id, resource_type: ctrl};
      $.ajax({
        url: '/admin/advertisements/' + advert_id + '/resource_mapping',
        data: data,
        method: 'GET',
        contentType: 'json'
      })
    }   
    else if (action == 'Index'){
      $('#' + resource_id).select2().val('');
      $('#' + resource_id).select2().trigger('change');
      $('#' + resource_id).prop( "disabled", true );
    }
  }
</script>