h1=@resource_name

.button-group
  =link_to "Add", [:new, :admin, @resource_slug.singularize ], class: "button"
table
  thead
    tr
      th Name
      th
  tbody
    = render partial: "list", collection: @resources
