<% if @rating.class.to_s == 'DoctorReview' %>
  <% 
    term = 'profile'
    admin_url = edit_admin_doctor_review_url(@rating.id)
    front_url = doctor_url(@source, anchor: "review#{@rating.id}")
  %>
<% else %>
  <%
    term = 'location'
    front_url = location_url(@source, anchor: "review#{@rating.id}")
    admin_url = edit_admin_rating_url(@rating)
  %>
<% end %>
<p>A new rating has been submitted for your managed <%= term %>. : <%= @source.name %></p>

<p>You can review it by either accessing <%= link_to nil, front_url %> or
<%= link_to nil, admin_url %> .</p>
<p>
  <b>Review Comment: </b>
  <%= @rating.comment %>
</p>

