h1 Board Certifications
p=link_to "New", new_admin_board_certification_path, title: 'Add Board Certification', class: 'button'

table data-nosort=""
  thead
    tr
      th Certification
  tbody
    - @resources.order(:certification).each do |resource|
      tr
        td=link_to resource.certification, edit_admin_board_certification_path(resource), title: "Edit #{resource.certification}"
- if @resources.present?
  .text-center
    = paginate(@resources)