<% shared_blogs.each_slice(2).each do |s_blogs| %>
  <div class="row blog-avatar">
    <% s_blogs.each do |shared_blog| %>
    <% blog = shared_blog.blog.decorate %>
      <div class='col-sm-6'>
        <%= link_to blog_path(blog), title: blog.title  do %>
          <h4><%= blog.title %></h4>
          <%= blog.author_avatar %>
            uploaded by 
          <%= blog.author_name_with_comma %>
          <%= blog.author_location %>
            at 
          <%= blog.published_at.strftime('%d %b %Y') %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
     