p
  strong=link_to user.username, user_path(user), title: user.username
  br
  | Total Points: #{user.total_points}
  br
  | Total: #{user.ratings.count}
  br
  | Hospital: #{user.ratings.by_type("Hospital").count}
  br
  | Health Ins.: #{user.ratings.by_type("Health Insurance").count}
  br
  | Travel Ins.: #{user.ratings.by_type("Travel Health Insurance").count}
