h1 Edit Profile

=simple_form_for @user do |f|
  .row
    .col-lg-12.col-md-12
      =f.input :photo, as: :file
      =f.hidden_field :photo_cache
      -if @user.photo?
        =image_tag(@user.photo.thumb.url)
        br
        label
          | Remove Promotion Image
          =f.check_box :remove_photo
      - if f.object.new_record? || f.object.has_role?(:moderator, :any)
        = f.input :title, as: :select, collection: User::AVAILABLE_TITLES
    .col-lg-6.col-md-6
      =f.input :email
    .col-lg-6.col-md-6
      =f.input :username, label: "Display name"
    .col-lg-6.col-md-6
      =f.input :first_name
    .col-lg-6.col-md-6
      =f.input :last_name
    .col-lg-6.col-md-6
      label.string.optinal DOB
      =f.date_select :date_of_birth, start_year: 1900, end_year: Date.current.year, selected: @user.date_of_birth, include_blank: true
    .col-lg-2.col-md-2
      =f.label "Country Code"
      =f.select :phone_country_code, COUNTRY_CODE, {include_blank: true}, {class: "country-code-select"}
    .col-lg-4.col-md-4
      =f.label "10 Digit Number"
      =f.input_field :phone_body, class: "ten-digit-number"
      =f.hidden_field :phone_number, class: "hidden_phone_number"
  .row
    .col-lg-4.col-md-4
      =f.input :city
    .col-lg-4.col-md-4
      =f.input :state
    .col-lg-4.col-md-4
      =f.input :co, as: :select, collection: country_collection, label: "Country", selected: @location&.country_code
    .col-lg-4.col-md-4
      =f.input :sex, as: :select, collection: User.sexes.keys
    .col-lg-4.col-md-4
      =f.input :age_group, as: :select, collection: User.age_groups.keys
      =f.input :email_opt_in, label: 'Subscribe To Digest Email'
    .col-lg-4.col-md-4
      =f.input :promotion_code
    .col-lg-6.col-md-6
      =f.input :password, label: "Password (Leave password blank to remain unchanged)"
      =f.input :password_confirmation
      =f.button :submit
