<section class="sign-up-banner">
  <div class="sign-up-banner-inner-page">
    <a href="#">
      <%= image_tag 'img/login-bc.png', class:"img-responsive" %>
    </a>
  </div>
</section>
<div class="clear"></div>
<section class="sign-up-form-section">
  <div class="container">
    <div class="recently-review-top-heading">
      <h2>SIGN UP</h2>
    </div>
    <%= render 'layouts/flash', flash: flash %>

    <div class="sign-up-form-section-from-input">
      <div class="sign-up-scocial-section">
        <div class="sign-up-scocial-section">
          <a href="<%= omniauth_authorize_path(:user, :google_oauth2) %>" class="btn btn-danger btn-sm signup-phone"><i class= 'fa fa-google'></i>&nbsp;&nbsp;Google</a>
          <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="btn btn-primary btn-sm  signup-phone"><i class= 'fa fa-facebook'></i>&nbsp;&nbsp;Facebook</a>
          <a href="#" class="btn btn-primary signup-email-address" id="email-address-login">Sign up with Email Address</a><br/>
      </div>
      <div class="email-sign-up">
        <%= form_for(Registration.new) do |f| %>
            <%= render partial: "devise/shared/email_fields", locals: {f: f} %>
            <%= render partial: "devise/shared/phone_number_fields", locals: {f: f} %>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: "Password (6 characters minimum)", label: 'Password (6 characters minimum)' %>
        </div>
        <%= f.hidden_field :provider, value: true %>
        <button type="submit" class="btn btn-default">Sign up</button>
        <% end %>
      </div>
      <div class="form-group">
        <p>Already have an account?<a href="<%= new_user_session_path %>">Sign In</a></p>
      </div>
    </div>
  </div>
</section>
