<% @body_class = 'profile-page' %>
<section id="fortis_hospital_frame" class="fortis_hospital_frame_profile">
  <div class="container">
    <div class="fortis_hospital_frame-middle-frame">
      <div class="row">
        <div class="col-md-2">
          <div class="fortis_hospital_frame-middle-frame-2">
            <a href="#"><%= @user.decorate.photo %></a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="fortis-heading_se">
            <h3><%= @user.username %></h3>
            <% loc = [@user.city, @user.state]
               loc.delete("") %>
            <h4><%= loc.compact.join(', ') %></h4>
          </div>

          <% if policy(@user).update? %>
            <div class="white_a_re"><a href="<%= edit_user_path(@user) %>">EDIT PROFILE</a></div>
          <% end %>
        </div>
        <div class="col-md-3 pull-right">
          <div class="fortis_hospital_frame-right-frame">
            <p>Display Name: <%= @user.username %>
            <br> First Name: <%= @user.first_name %>
            <br> Last Name: <%= @user.last_name %>
            <br> Phone Number: <%= @user.display_phone_number %>
            <br> Email: <%= @user.email %>
            <br>City/State/Country: <%= @user.city %>, <%= @user.state %>, <%= @user.co %>
            <br>Sex: <%= @user.sex.to_s.titleize %>
            <br>Age Group: <%= @user.age_group.to_s %>
            <br>
            <% if @user.display_badge and @user.badge_rank.present? %>
              Rank: <%= image_tag "badge_#{@user.badge_rank}_white.svg" %> &nbsp; <%= @user.badge_rank %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--fortis_hospital_frame-->

<div class="clear"></div>

<% if @user.referral_activated? %>
  <section id="about-management-team-frame" class="STATS-frame-reviews">
    <div class="about-management-team-frame-heading">
      <h2>REFERRAL PROGRAM</h2>
      <div class='container'>
        <div class='col-md-2'></div>
        <div class='well col-md-8 text-justify'>
            Hey !
            <br/><br/>
            I am using HealthSoul to post healthcare reviews on my doctor, health insurance, hospitals. It takes less than a minute to sign up and post a review. I thought you will find it useful.
            <br/><br/>
            Please go to website from link below and help me grow my HealthSoul circle. This will let you earn points and rewards for your reviews.
            <br/>
            <br/>
            <div class='row'>
              <div class='col-md-6 text-left'>
                <strong>Referral Link</strong>
                <div><%= referral_link(@user) %></div>
              </div>
              <div class='col-md-6 text-left'>
                <strong>Share Your Link:</strong>
                  <!-- AddToAny BEGIN -->
                  <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="text-align: center;">
                    <a class="a2a_dd" rel='nofollow' href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook" rel='nofollow'></a>
                    <a class="a2a_button_twitter" rel='nofollow'></a>
                    <a class="a2a_button_google_plus" rel='nofollow'></a>
                    <a class="a2a_button_email" rel='nofollow'></a>
                    <a class="a2a_button_facebook_messenger" rel='nofollow'></a>
                    <a class="a2a_button_linkedin" rel='nofollow'></a>
                    <a class="a2a_button_google_gmail" rel='nofollow'></a>
                  </div>
                  <script>
                    text = "Hey ! \n\nI am using HealthSoul to post healthcare reviews on my doctor, health insurance, hospitals. It takes less than a minute to sign up and post a review. I thought you will find it useful. \n\nPlease go to website from link below and help me grow my HealthSoul circle. This will let you earn points and rewards for your reviews.\n\n${link}"
                    var a2a_config = a2a_config || {};
                    a2a_config.linkname = 'HealthSoul referral link';
                    a2a_config.linkurl = "<%= referral_url(@user) %>";
                    a2a_config.templates = a2a_config.templates || {};

                    a2a_config.templates.email = {
                        subject: "${title}",
                        body: text
                    };

                    a2a_config.templates.facebook = {
                        //app_id: "",
                        //redirect_uri: "https://static.addtoany.com/menu/thanks.html"
                    };

                    a2a_config.templates.sms = {
                      body: text
                    };

                    a2a_config.templates.twitter = {
                        text: text,
                        related: "AddToAny, Twitter"
                    };

                    a2a_config.templates.whatsapp = {
                      text: text
                    };

                  </script>
                  <script async src="https://static.addtoany.com/menu/page.js"></script>
              </div>
            </div>
        </div>
        <div class='col-md-2'></div>
      </div>

      <% if @user.referred_users.present? %>
          <div class="refer_user">  
            <!-- AddToAny END -->
            <h3>Referred Users</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Reviews</th>
                </tr>
              </thead>
              <tbody>
                <% @user.referred_users.each do |user| %>
               <tr>
                 <td class="text-left"><%= user.username %></td>
                 <td class="text-left"><%= user.total_reviews %></td>
               </tr>
               <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
  </section>

  <div class="clear"></div>
<% end %>

<section id="about-management-team-frame" class="STATS-frame">
  <div class="container">
    <div class="about-management-team-frame-heading">
      <h2>STATS</h2>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="middle_team_pic">
          <div class="Total_Points total-points"><%= @user.total_points %></div>
          <h4>Total Points</h4>
        </div>
      </div>
      <div class="col-md-5">
        <div class='row'>
          <div class="middle_team_pic col-md-4">
            <% shared_points = "Earned #{@user.total_shared_points} points" %>
            <div class="Total_Points" title='<%= shared_points %>'><%= @user.total_shared_blogs %></div>
            <h4>Total Shared Blogs</h4>
          </div>
          <div class="middle_team_pic col-md-4">
            <div class="Total_Points"><%= @user.total_reviews %></div>
            <h4>Reviews</h4>
          </div>
          <div class="middle_team_pic col-md-4">
            <div class="Total_Points"><%= @user.doctor_reviews.size %></div>
            <h4>Doctor Reviews</h4>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class='row'>
          <div class="middle_team_pic col-md-4">
            <div class="Total_Points"><%= @user.ratings.by_type("Hospital").count %></div>
            <h4>Hospital Reviews</h4>
          </div>
          <div class="middle_team_pic col-md-4">
            <div class="Total_Points"><%= @user.ratings.by_type("Health Insurance").count %></div>
            <h4>Health Insurance Reviews</h4>
          </div>
          <div class="middle_team_pic col-md-4">
            <div class="Total_Points"><%= @user.ratings.by_type("Travel Health Insurance").count %></div>
            <h4>Travel Health Insurance Reviews</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clear"></div>

<% if @shared_blogs %>
  <section id="about-management-team-frame" class="STATS-frame-reviews">
    <div class="container">
      <div class="about-management-team-frame-heading">
        <h2>Shared Blogs</h2>
        <div id='shared_blogs' class='user-care'>
          <%= render partial: 'shared_blogs', locals: {shared_blogs: @shared_blogs} %>
          <div class='row blog-avatar'>
            <%= link_to 'SHOW ALL', user_path(@user.id), remote: true, class: 'button col-md-1 show_more text-warning', title: 'Show all' if @shared_blogs_count > 5 %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<section id="about-management-team-frame" class="STATS-frame-reviews">
  <div class="container">
    <div class="about-management-team-frame-heading">
      <h2>APPOINTMENTS</h2>
      <% if @user.roles.present?%>
       <% @appoiments_doctor.each do |appointment| %>
         <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><h4>Date/Time</h4></div>
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><h4>Name</h4></div>
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><h4>Phone</h4></div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-center"><h4>Email</h4></div>
           <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-center"><h4>Reason</h4></div>
          </div>
          <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-center"></div>
          <div class="col-md-12 col-lg-12">
           <div class="revie-hosp-frame">
              <div class="row">
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><%= appointment.date_time %>
                  <!-- AddEvent script -->
                  <script src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

                  <!-- AddEvent Settings -->
                  <script>
                  window.addeventasync = function(){
                      addeventatc.settings({
                          mouse      : true
                      });
                  };
                  </script>

                  <!-- Button code -->
                  <div title="Add to Calendar" class="addeventatc width_167">
                    <div>Add to Calendar</div>

                   <span class="start">08/17/2018 08:00 AM</span>
                   <span class="end">08/17/2018 10:00 AM</span>
                   <span class="timezone">America/Los_Angeles
                   </span>
                   <span class="title">Summary of the event</span>
                   <span class="description">Description of the event</span>
                  </div>
                </div>
               <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><%= appointment.name%></div>
               <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><%= appointment.phone%></div>
               <div class="col-md-3 col-xs-2 col-sm-2 col-lg-3 text-center"><%= appointment.email %></div>
               <div class="col-md-3 col-xs-2 col-sm-2 col-lg-3 text-center"><%=appointment.reason %></div>
               <div class="col-md-1 col-xs-2 col-sm-2 col-lg-1 text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appointments_<%=appointment.id%>">Modify</button></div>

               <div class="col-md-1 col-xs-2 col-sm-2 col-lg-1 text-center"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancel_appointment_<%=appointment.id%>">Cancel</button></div>

              </div>
             <div class="clear"></div>
             <%= render partial: "/shared/appointment_modal", locals: {:appointment=>appointment, :doctor=>appointment.provider}%>
             <%= render partial: "/shared/cancel_appointment_modal", locals: {:appointment=>appointment, :doctor=>appointment.provider} %>

            </div>
          </div>
        <%end%>

      <%end%>

      <% unless @appointments.empty? %>
        <div class="row">
          <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><h4>Date</h4></div>
          <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><h4>Time</h4></div>
          <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><h4>Doctor</h4></div>
          <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-center"><h4>Appointment Type</h4></div>

        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-center"></div>
        </div>
        <div class="clear"></div>
        <%= render partial: "appointments/index", collection: @appointments, as: :appointment %>
      <% end %>
    </div>
  </div>
</section>
<% @appointments.each do |appointment| %>
  <%= render partial: "/shared/appointment_modal", locals: {:appointment=>appointment, :doctor=>appointment.provider}%>
  <%= render partial: "/shared/cancel_appointment_modal", locals: {:appointment=>appointment, :doctor=>appointment.provider} %>
<% end %>


<div class="clear"></div>


<section id="about-management-team-frame" class="STATS-frame-reviews">
  <div class="container">
    <div class="about-management-team-frame-heading">
      <h2>FAVORITES</h2>
    </div>
    <%= render partial: "favorites/index", collection: @favorites, as: :favorite %>
  </div>
</section>
<div class="clear"></div>

<section id="about-management-team-frame" class="STATS-frame-reviews">
  <div>
    <div class="about-management-team-frame-heading">
      <h2>REVIEWS</h2>
    </div>
    <div class="container">
    <%= render partial: "locations/user_rating", collection: @user.all_ratings, as: :rating %>
  </div>
  </div>
</section>
<div class="clear"></div>

<section id="about-management-team-frame" class="STATS-frame-reviews">
  <div class="about-management-team-frame-heading">
    <h2>Managed Locations</h2>
    <br>
    <br>
  </div>
</section>
<div class="container">
  <% if policy(@user).update? && @managed_locations.present? %>
  <% @managed_locations.each do |location| %>
  <div class="row">
    <div class="col-md-6">
      <p><%= link_to location.name, manage_location_path(location), title: location.name %>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <a href="<%= location_url(location) %>">
            <%= image_tag 'img/share.jpg', class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-7">
          <textarea class="textarea"><a href="<%= location_url(location) %>">
            <%= image_tag 'share-logo.png', width: 200 %>
          </a></textarea>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<div class="clear"></div>

<section id="about-management-team-frame" class="STATS-frame-reviews">
  <div>
    <div class="about-management-team-frame-heading">
      <h2>Managed Doctor Profiles</h2>
      <% if policy(@user).update? && @managed_profiles.present? %>
        <% @managed_profiles.each do |doctor| %>
          <p><%= p=link_to doctor.name, manage_doctor_path(doctor), title: doctor.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>



<% content_for :extra_js do -%>
<script>
$(document).ready(function() {
  $('.overview-left-frame').scrollToFixed({
    marginTop: $('.fortis_hospital_frame').outerHeight() + 10,
    limit: $('.footer').offset().top - $('.overview-left-frame').outerHeight() - 10,
    zIndex: 999,
    postAbsolute: function() { $(this).find('').css('color', ''); }
  });
});

$(document).on('click', '.datetime-future', function(e) {e.stopPropagation();})
$(".datetime-future").flatpickr({
  minDate: 'today',
  disable: [
    function(date) {
      return date.getDay() == 0 || date.getDay() == 6
    }
  ]
});
$(".datetime-past").flatpickr({
  wrap: false,
  maxDate: 'today'
});
</script>
<% end -%>
