<section id="about-management-team-frame" class="STATS-frame-reviews">
  <div class="about-management-team-frame-heading">
    <h2>Unsubscribed</h2>
    <div class='container'>
      <div class='col-md-2'></div>
      <div class='well col-md-8 text-justify'>
        <br/>
        If you would like to subscribe again in the future you can in your user settings.
        <br/>
        <br/>
      </div>
    </div>
  </div>
</section>

<div class="clear"></div>
