- if type == 'doctor'
  - show_url = doctor_url(obj)
  - rating_url = new_doctor_rating_url(obj)
  - api_review_url = doctor_review_api_register_user_index_url(doctor_id: obj.id, top_five: true)
- else 
  - show_url = location_url(obj)
  - rating_url = new_location_rating_url(obj)
  - api_review_url =  (obj.hospital? || obj.insurance_company?) ? eval("#{type.gsub('_','')}_review_api_register_user_index_url(location_id: #{obj.id})") : nil


h2 Profile Widgets
.p Help patients find you and leave reviews by using the widgets below. You or your webmaster can copy and paste the HTML below into a webpage to make it easy for patients to find you on healthsoul and leave reviews.
.container
  .contact-us-leanmore-badge-frame
    h3 Healthsoul Profile
  .col-md-3
    img src="/images/profile-logo.png" alt="" class="width_200"
  .col-md-9
    textarea = "<a href=\"#{show_url}\"><img width=\"200\" src=\"https://www.healthsoul.com/images/profile-logo.png\" /></a>"
.container
  .contact-us-leanmore-badge-frame
    h3 Review On Healthsoul
  .col-md-3
    img src="/images/review-logo.png" alt="" class="width_200"
  .col-md-9
    textarea = "<a href=\"#{rating_url}\"><img width=\"200\" src=\"https://www.healthsoul.com/images/review-logo.png\" /></a>"
- if api_review_url
  .container
    .contact-us-leanmore-badge-frame
      h3 Show Healthsoul Reviews on Your Website
    .col-md-3
      img src="/images/logo.png" alt="" class="width_200"
    .col-md-9
      textarea = "<script> var destination = \'#{api_review_url}\';var request = new XMLHttpRequest();request.open('GET', destination, true); request.onload = function () { response = JSON.parse(this.responseText).review; var review_list = document.getElementById('review_list'); Object.entries(response).forEach( (entry) =>{var node = document.createElement('li'); node.style.cssText = 'border-top: 1px solid black !important; padding-bottom: 10px !important; padding-top: 10px !important;'; var rating_node = document.createElement('span'); var date = new Date(entry[1].created_at); rating_node.innerHTML = 'Overall Rating: ' + entry[1].overall_experience + '/5.0'; rating_node.style.cssText = 'color: grey !important; padding-bottom: 10px !important; float: right !important;'; var comment_node = document.createElement('p'); comment_node.innerHTML = entry[1].comment; comment_node.style.cssText = 'margin-bottom: 15px !important; margin-top: 0px !important;'; node.appendChild(comment_node); var user_node = document.createElement('span'); user_node.innerHTML = 'Reviewer: '+ entry[1].user.username; user_node.style.cssText = 'color: grey; padding-bottom: 10px !important;'; node.appendChild(user_node); node.appendChild(rating_node); var date_node = document.createElement('span'); date_node.innerHTML = 'Date: ' + date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear(); date_node.style.cssText = 'color: grey !important; padding-bottom: 10px !important;'; node.appendChild(document.createElement('br')); node.appendChild(date_node); review_list.appendChild(node);});};request.send(); </script> <div id = 'healthsoul_reviews_widget_for_doctor_3' style='font-family: HELVETICA !important; width: 100% !important; max-width: 500px !important; min-height: 300px !important; border: 1px solid black !important;'> <img src='https://www.healthsoul.com/images/logo.png' style='margin-left: 20px !important; margin-top: 10px !important;'></img> <ul id='review_list' style='list-style-type: none !important; padding-left: 20px !important; padding-right: 20px !important;'> </ul> </div>"