<div class="container search_box">
  <h1>Find Healthcare Facilities</h1>
  <h4>Find the best healthcare facilities and share your experience</h4>
  <%= render 'home/healthcare_facilities_search', f: f %>
</div>
