<div class="container">
  <h2>Change your password</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-group">
    <%= f.input :password, label: "New password", required: true, input_html: {class: 'form-control'}, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, input_html: {class: 'form-control'}, label: "Confirm your new password", required: true %>
  </div>

  <%= f.button :submit, "Change my password", class: 'btn btn-default' %>
  <% end %>

  <hr>
        <p>Sign in with:
        <a href="<%= omniauth_authorize_path(:user, :google_oauth2) %>">
          <%= image_tag 'img/g-icon.png' %>
        </a>
        <a href="<%= omniauth_authorize_path(:user, :facebook) %>">
          <%= image_tag 'img/f-icon.png' %>
        </a>
</div>
