<div class="container">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <div id='error'></div>

    <div class="form-group">
      <%= f.input :email, type: :email, required: false, autofocus: true, input_html: {class: 'form-control'} %>
      <%= f.label "Or Send a Reset Code by Phone (2 Digit Country Code, followed by 10 digit phone number)" %>
      <div class="row">
        <div class="col-md-3">
          <%= f.select :phone_country_code, COUNTRY_CODE, {}, {class: "country-code-select form-control select2 height_100_percent"}%>
        </div>
        <div class="col-md-8">
          <%= f.input_field :phone_body, class: "ten-digit-number form-control"%>
        </div>
      </div>
      <%= f.hidden_field :phone_number, class: "hidden_phone_number" %>

    </div>

    <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-default', onclick: "javascript: return allow_for_submission();" %>
  <% end %>


  <hr>
  
  <p>Sign in with:
    <a href="<%= omniauth_authorize_path(:user, :google_oauth2) %>">
      <%= image_tag 'img/g-icon.png' %>
    </a>
    <a href="<%= omniauth_authorize_path(:user, :facebook) %>">
      <%= image_tag 'img/f-icon.png' %>
    </a>
  </p>
</div>

<script type='text/javascript'>
  function allow_for_submission(){
    $('#error').html();
    if ($('#user_phone_body').val() == '' && $('#user_email').val() == ''){
      $('#error').html('Provide either email or phone no.');
      $('#error').css({ 'color': 'red'});
      return false;
    }
    else{
      return true;
    }
  }
</script>