<section class='login-singup'>
  <div class="container">
    <div class="row">
      <div class="col-md-6 bg_img"><%= image_tag 'img/login-bc.png'%></div>
      <div class="col-md-6">
        <% if @provider %>
          <h2>PROVIDER SIGN UP</h2>
        <% else %>
          <h2>SIGN UP</h2>
        <% end %>

        <%= render 'layouts/flash', flash: flash %>

        <div class="sign-up-form-section-from-input">
          <div class="sign-up-scocial-section">
            <% unless @provider %>
              <div class="sign-up-scocial-section">
                <a href="<%= omniauth_authorize_path(:user, :google_oauth2) %>" class="btn btn-danger  btn-sm signup-phone"><i class= 'fa fa-google'></i>&nbsp;&nbsp;Google</a>
                <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="btn btn-sm btn-primary signup-phone"><i class= 'fa fa-facebook'></i>&nbsp;&nbsp;Facebook</a>
                <a href="#" class="btn btn-sm btn-primary signup-email-address" id="email-address-login">Email</a>
                <!-- <a href="javascript:" class="btn btn-success  btn-sm  signup-phone" id="phone-login"><i class= 'fa fa-phone'></i>&nbsp;&nbsp;Phone</a> -->
                <br/>
              </div>
            <% end %>

            <%= render partial: "devise/sessions/login_or_sign_up_phone", locals: {text: "Sign up"} %>

            <div class="email-sign-up">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render partial: "devise/shared/email_fields", locals: {f: f} %>
                  <%= render partial: "devise/shared/phone_number_fields", locals: {f: f} %>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: "Password (6 characters minimum)", label: 'Password (6 characters minimum)' %>
              </div>
              <%= f.hidden_field :marked_as_provider, value: @provider %>
              <%= f.check_box :email_opt_in %>
              <label>Sign up for updates on my account</label>
              <br>
              <button type="submit" class="btn btn-default">Sign up</button>
              <% end %>
            </div>

            <div class="form-group">
              <p>Already have an account? <a href="<%= new_user_session_path %>">Sign In</a></p>
            </div>
            
            <div class="form-group">
              <% if @provider %>
                <p>Not a Provider or Practice Administrator? <%= link_to "Sign Up Here", new_user_registration_path, title: 'Not a Provider or Practice Administrator' %></p>
              <% else %>
                <p>Providers and Practice Administrators <%= link_to "Sign Up Here", new_user_registration_path(:provider=> true, title: 'Providers or Practice Administrators') %></p>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>