= simple_form_for [:admin, @resource], url: @form_url, html: { class: 'well_form' } do |f|
  = render partial: 'shared/medical_student_form', locals: {f: f}
  .row.form-group
    .col-md-12
      = f.input :photo, as: :file, input_html: {class: 'form-control'}
      = f.hidden_field :photo_cache
    - if @resource.photo? 
      = image_tag(@resource.photo.thumb.url, alt: @resource.name)
      br
      .checkbox
        label
          = f.check_box :remove_photo
          | Remove Photo
      hr
  .row.form-group
    .col-md-6
      = f.button :button, 'Submit',class: 'btn btn-primary'
    .col-md-6
      = link_to "Cancel", admin_medical_students_path, class: 'button secondary'
