tr
  td
    = link_to list.name, edit_admin_medical_student_path(list.id)
  td
    = list.degree_type
  td
    = list.graduation_year
  td
    = list.imported
  td
    = link_to "Edit", [:edit, :admin, list], class: 'button tiny'
  td
    = link_to "Delete", admin_medical_student_path(list), method: :delete, data: {confirm: "Are you sure?"}, title: 'Delete', class: 'button button-danger tiny'