h1 Medical Students

.button-group

table data-nosort=""
  thead
    tr
      th Name
      th Degree
      th 
        = 'Graduation Year'
        br
        = ' (year of completion)'
      th Imported
      th
      th
  tbody
    = render partial: "list", collection: @resources

- if @resources.present?
  .text-center
    = paginate(@resources)