.container
  h1.text-center Sitemap
  .row
    .col-md-12
      ul
        li= link_to 'Home', root_path, title: 'Home'
        li
          = link_to "Doctors", search_doctors_path, title: "Doctors"
          ul
            - @prefer_countries.each do |country|
              li
                = link_to country.name , search_best_doctors_path('specialist', country.slug), title: "#{country.name} - Doctors"
                ul
                  - country.practice_specialities.each do |p|
                    li
                      = link_to p.name , search_best_doctors_path(p.title.downcase, country.slug), title: "#{p.name} - #{country.name}"
        li
          = link_to "Hospitals", search_hospitals_path, title: "Hospitals"
          ul
            - @prefer_countries.each do |country|
              li
                = link_to country.name, search_best_hospitals_path(country.slug), title: "#{country.name} - Hospitals"
        li= link_to "Health Insurance", search_health_insurances_by_country_path, title: "Health Insurance"
        li= link_to "Travel Health Insurance", search_travel_health_insurances_by_country_path, title: "Travel Health Insurance"
        li
          = link_to "Blog", blogs_path, title: "Blog"
          ul
            - @common_blogs.each do |tag|
              li= link_to tag.last, blogs_path( tag: tag.first )
        li= link_to "FAQs", faqs_path, title: "FAQs"
        li= link_to "Users", users_info_path, title: "Users"
        li= link_to "Providers", current_user.present? ? manage_path : new_user_registration_path(:provider=> true), title: "Providers"
        li= link_to "Contact Us", new_contact_path, title: 'Contact Us'
        li= link_to "Advertise", new_advertising_request_path, title: "Advertise"
        li= link_to "Privacy Policy", privacy_policy_path, title: "Privacy Policy"
        li= link_to "Terms & Conditions", terms_path, title: "Terms & Conditions"
        - if !user_signed_in?
          li= link_to "Login", new_user_session_path, title: "Login"
          li= link_to "Sign Up", new_user_registration_path, title: "Sign Up"
