
    <table style="">
      <tr>
        <th>Platform</th>
        <th>Website Url</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Photo</th>
        <th>Website</th>
        <th>Speciality</th>
        <th>Hours</th>
        <th>Fee</th>
        <th>About Me</th>
        <th>Education</th>
        <th>Rating</th>
        <th>Number of reviews</th>
        <th>Total rating</th>   
      </tr>
      <tr>
    <td>Google</td>
    <td>www.google.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][education]"> </td>

    <%= form_tag '/', method: :get do %>\
    <td>
    <div class="form-group">
         <%= text_field_tag :amount  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :discount  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :balance %>
     </div>
     </td>

     <% end %>

<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_amount = $('#amount');
                var amount = Calc_amount.val();

                var Calc_discount = $('#discount');
                var discount = Calc_discount.val();

                var Calc_balance = $('#balance');

                var balance = amount * discount;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_balance.val(balance);

        });
  </script>

</tr>


<tr>
  <td>Practo</td>
    <td>www.practo.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][education]"> </td>

    <%= form_tag '/', method: :get do %>\
    <td>
    <div class="form-group">
         <%= text_field_tag :rating  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :no  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :bal %>
     </div>
     </td>


<% end %>
<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_rating = $('#rating');
                var rating = Calc_rating.val();

                var Calc_no = $('#no');
                var no = Calc_no.val();

                var Calc_bal = $('#bal');

                var bal = rating * no;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + bal
                showMath.val(mathString)

                Calc_bal.val(bal);

        });
  </script>
</tr>

  
<tr>
  <td>HealthSoul</td>
    <td>www.healthsoul.com</td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][name]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][address]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][phone]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][photo]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][website]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][speciallity]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][hour]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][fee]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][about_me]"> </td>
    <td> <input type="number" step="1" name="doctor[health_score_details_attributes][0][education]"> </td>

    <%= form_tag '/', method: :get do %>\
    <td>
    <div class="form-group">
         <%= text_field_tag :rating2  %>
     </div></td>
     <td>
     <div class="form-group">
         <%= text_field_tag :no2  %>
     </div>
    </td>
    <td>
     <div class="form-group">
         <%= text_field_tag :bal2 %>
     </div>
     </td>


<% end %>
<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_rating2 = $('#rating2');
                var rating2 = Calc_rating2.val();

                var Calc_no2 = $('#no2');
                var no2 = Calc_no2.val();

                var Calc_bal2 = $('#bal2');

                var bal2 = rating2 * no2;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + bal
                showMath.val(mathString)

                Calc_bal2.val(bal2);

        });
  </script>
</tr>






<script>
        $('input[type="text"]').on('blur', function() {
                var Calc_rating1 = $('#rating1');
                var rating1 = Calc_rating1.val();

                var Calc_no1 = $('#no1');
                var no1 = Calc_no1.val();

                var Calc_bal1 = $('#bal1');

                var bal1 = rating1 * bal1;

                var showMath = $('#show_math');
                var mathString = "=previous balance  + " + amount + " - " + discount + " = " + balance
                showMath.val(mathString)

                Calc_bal1.val(bal1);

        });
  </script>

</tr>































<%= form_tag '/', method: :get do %>

    <div class="form-group">
         <%= text_field_tag :total1  %>
     </div>

     <div class="form-group">
         <%= text_field_tag :total2  %>
     </div>
<% end %>

    <script>
      $('input[type="text"]').on('blur', function() {
        var Calc_rating1 = $('#rating1');
        var rating1 = Calc_rating1.val();

        var Calc_rating2 = $('#rating2');
        var rating2 = Calc_rating2.val();

        var Calc_total1 = $('#total1');

        var total1 = rating1 + rating2;

        Calc_total1.val(total1);

      });
  </script>

