<% if advert && advert.reference_url_text.present? %>
  <%= link_to advert.reference_url_text, advertisement_url(advert), rel: 'nofollow', data: { turbolinks: false } %>
<% elsif advert %>
  <% img_url = advert.source_image.present? ? advert.source_image : image_type ? advert.image.send(image_type).url : advert.image.url %>
  <%= link_to image_tag(img_url, title: advert.image_title, alt: advert.image_alt, class: 'advert_button'), advertisement_url(advert),  rel: 'nofollow', data: { turbolinks: false }, class: 'advert' if img_url %>
<% end %>
