<!-- Modal -->
<% if doctor.present? and appointment.present? %>
  <div class="modal fade" id="appointments_<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% if doctor.name.present? %>
            <h4 class="modal-title" id="myModalLabel">You Are Requesting An Appointment With <%= doctor.name  %></h4>
          <% else %>
            <h4 class="modal-title" id="myModalLabel">Request An Appointment</h4>
          <% end %>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p>
              To request an appointment, choose to call the office directly or fill
              out the request form below.
              </p>
              <h4> Doctor Phone </h4>
              <p><%= doctor.phone %></p>
              <hr>
            </div>
          </div>
          <h4> Appointment Information </h4>
          <div class="row">
            <div class="col-md-12">
              <%= simple_form_for [doctor, appointment], html: {class: ''} do |f| %>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                     <%=f.label "Date*" %>
                    <%=f.input :date, as: :string, label: false, time: false, input_html: {class: 'datetime-future form-control appointment_date'}, wrapper: false  %>
                  </div>
                  <div class="col-md-6">
                    <%=f.input :reason, input_html: {class: 'form-control'}, wrapper: false  %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 mt-3-percent">
                    <%=f.label 'New Patient' %>
                    <%=f.radio_button :new_patient, true  %>
                  </div>
                  <div class="col-md-3 mt-3-percent">
                    <%=f.label 'Follow Up' %>
                    <%=f.radio_button :new_patient, false %>
                  </div>
                  <div class="col-md-6">
                  <%=f.label "Time*" %>
                  <%=f.input :time, as: :select, collection: appointment.time_slots_select, label: false, wrapper: false, selected: appointment.time.present? ? (appointment.time.change({day: Time.current.day, year: Time.current.year, month: Time.current.month}).to_s) : "", input_html: {class: 'form-control unset'} %>
                  </div>
                </div>
              </div>
              <h4> Your Information </h4>
              <%= f.simple_fields_for :user do |user|%>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <%=f.label "First Name*" %>
                      <%=user.input :first_name, label: false, input_html: {class: 'form-control unset', value: current_user.present? ? current_user.first_name : ""}, wrapper: false %>
                    </div>
                    <div class="col-md-6">
                      <%=f.label "Last Name*" %>
                      <%=user.input :last_name, label: false, input_html: {class: 'form-control unset', value: current_user.present? ? current_user.last_name : ""}, wrapper: false %>
                    </div>
                    <div class="col-md-6">
                      <%=f.label "Date of Birth*" %><br>
                      <div class="select-container">
                      <%=user.date_select :date_of_birth, {:start_year => 1900, :end_year => Date.current.year, include_blank: true, selected: (current_user.present? ? current_user.date_of_birth : Date.current)},{class: 'select-container appointment_birth_date'}  %>
                    </div>
                    </div>

                    <div class="col-md-6">
                      <%=f.label "Email*" %>
                      <%=user.input :email, label: false, input_html: {class: 'form-control unset', value: current_user.present? ? (current_user.email) : ""}, wrapper: false  %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                      <%= user.select :phone_country_code, COUNTRY_CODE, { :selected =>current_user.present? ? (current_user.phone_country_code) : "01"}, {class: "country-code-select height_100_percent"}  %>
                    </div>
                    <div class="col-md-9">
                      <%= user.text_field :phone_body, autofocus: true, class: 'form-control ten-digit-number unset', value: current_user.present? ? (current_user.phone_body) : "", placeholder: "10 Digit Phone Number (No Hyphens)" %>
                      <%= user.hidden_field :phone_number, class: 'hidden_phone_number form-control unset', value: current_user.present? ? (current_user.phone_number) : "", wrapper: false  %>
                    </div>
                  </div>
                </div>
              <% end %>
              Your information will be shared with the office you are requesting appointment with and stored in your user profile<br>
              <%= f.button :button, "Request", class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
