<div class = "how-it-works-card-container">
  <div class="row">
    <div class = "how-it-works-heading col-md-12 steps">
      <h1 class= "blue-heading">Steps to claim your FREE account</h1>
      <h2>1. Create account with email or Log in</h2>
      <h2>2. Search your hospital or doctor name</h2>
      <h2>3. Submit claim access form</h2>
    </div>
    <div class = "how-it-works-heading col-md-12 text-center">
      <h2>OR</h2>
    </div>
  <div>

  <%= render partial: 'shared/contact_form' %>
</div>

<div class = "how-it-works-card col-md-5">
  <div class = "row">
    <div class = "col-xs-8 col-sm-8 col-md-8">
      <h2>Free Webpage</h2>
      <p>Update your profile with description and images.</p>
    </div>

    <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
      <%= image_tag "HIW_1_Web_Design.png", size: "100"%>
    </div>
  </div>
</div>
<div class = "how-it-works-card col-md-5">
  <div class = "row">
    <div class = "col-xs-8 col-sm-8 col-md-8">
      <h2>Priority Placement</h2>
      <p>Claimed profile will be listed on the top in search results.</p>
    </div>
    <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
      <%= image_tag "HIW_2_Placement.png", size: "100"%>
    </div>
  </div>
</div>
<div class = "how-it-works-card col-md-5">
  <div class = "row">
    <div class = "col-xs-8 col-sm-8 col-md-8">
      <h2>Review Manager</h2>
      <p>Notification and respond to customer reviews.</p>
    </div>
    <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
      <%= image_tag "HIW_3_Review_Manager.png", size: "100"%>
    </div>
  </div>
</div>
<div class = "how-it-works-card col-md-5">
  <div class = "row">
    <div class = "col-xs-8 col-sm-8 col-md-8">
      <h2>Analytics Dashboard</h2>
      <p>Keep track of your Healthsoul Visitors.</p>
    </div>
    <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
      <%= image_tag "HIW_4 Analytics.png", size: "100"%>
    </div>
  </div>
</div>

<div class="container">
  <div class = "how-it-works-card-container">
    <div class="row">
      <div class = "how-it-works-heading col-md-12 text-center">
        <h1 class="green-underlined-heading">HealthSoul Premium Account (Paid)</h1>
      </div>
      <div class = "how-it-works-card col-md-5">
        <div class = "row">
          <div class = "col-xs-8 col-sm-8 col-md-8">
            <h2>Featured Provider</h2>
            <p>Appear in Featured Ad Platform.</p>
          </div>
          <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
            <%= image_tag "HIW_5_Featured Doctor.png", size: "100"%>
          </div>
        </div>
      </div>
      <div class = "how-it-works-card col-md-5">
        <div class = "row">
          <div class = "col-xs-8 col-sm-8 col-md-8">
            <h2>Branding</h2>
            <p>Use Star Rating for brand awareness and SEO.</p>
          </div>
          <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
            <%= image_tag "HIW_5_Branding.png", size: "100"%>
          </div>
        </div>
      </div>
      <div class = "how-it-works-card col-md-5">
        <div class = "row">
          <div class = "col-xs-8 col-sm-8 col-md-8">
            <h2>Appointments</h2>
            <p>Patients can request appointments 24 hours a day.</p>
          </div>
          <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
            <%= image_tag "HIW_7_Calendar.png", size: "100"%>
          </div>
        </div>
      </div>
      <div class = "how-it-works-card col-md-5">
        <div class = "row">
          <div class = "col-xs-8 col-sm-8 col-md-8">
            <h2>Targeted Ads</h2>
            <p>Promote your practice Specials to HealthSoul Visitors.</p>
          </div>
          <div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
            <%= image_tag "HIW_8_Targeted_Ads.png", size: "100"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>