- file_path = "#{Rails.root}/lib/best_doctors/#{country}.json"
- if File.exist?(file_path)
  .recently-review-top-heading
    h2.text-uppercase Find best doctor near you
    
  - file = File.read(file_path)  
  - best_doctors = JSON.parse(file)
       
  - if best_doctors.count > 1 
    - class_name = 'col-md-6 col-xs-6'
    - best_doctors = best_doctors.each_slice(2)
  - else
    - class_name = 'col-md-12 col-xs-12'
    - best_doctors = [best_doctors]
  .revie-hosp-frame
    - best_doctors.each do |bds|
      .row
        - bds.each do |bd|
          - cities_link = []
          div class="#{class_name}" 
            - bd.last.each do |b|
              - b.each_pair do |k, v|
                - cities_link << link_to(k, v['href'], title:  v['href_title'])
            = raw "Best #{bd.first} in #{cities_link.join(', ')}"