- file_path = "#{Rails.root}/lib/best_hospitals/#{country}.json"
- if File.exist?(file_path)
  - view = view.to_i     
  - col_size = 12/view
  .recently-review-top-heading
    - if ![1,2].include? view.to_i
      - hospital_cls = 'revie-hosp-frame'
      - xs_col_size = 12
      h2.text-uppercase Find best hospital near you
    - else
      - hospital_cls = 'state_hospitals'
      - xs_col_size = col_size

  - file = File.read(file_path)    
  - best_hospitals = JSON.parse(file).sort

  - if best_hospitals.count > view
    - best_hospitals = best_hospitals.each_slice(view)
  - else
    - best_hospitals = [best_hospitals]
  
  div class="#{hospital_cls}" 
    - best_hospitals.each do |bhs|
      .row
        - bhs.each do |bh|
          div class="col-lg-#{col_size} col-md-#{col_size}  col-s-#{col_size}  col-xs-#{xs_col_size}" 
            - href = bh.last
            = link_to(bh.first, href['href'], title:  href['href_title'])