- if session[:current_location].present? && session[:current_location]['country'].present?
  - if controller.controller_name == 'home'
    section.recently-review
      .container
        = render partial: 'shared/best_doctors', locals: {country: session[:current_location]['country']}
    section.recently-review
      .container
        = render partial: 'shared/best_hospitals', locals: {country: session[:current_location]['country'], view: '6'}
  - else
    section.recently-review
      = render partial: 'shared/best_doctors', locals: {country: session[:current_location]['country']}
    section.recently-review
      = render partial: 'shared/best_hospitals', locals: {country: session[:current_location]['country'], view: '4'}