<% if @blogs.present? %>
  <div class='<%= "overview-left-frame #{cls}" %>'>
    <h3 class="blog-container-title">Blog Posts</h3>
    <ul class="blog-list">
      <% last_blog_index = @blogs.count - 1 %>
      <% @blogs.each_with_index do |blog, index| %>
        <li class="blog-entry-item row">
          <%= link_to blog_path(id: blog.slug), class:"blog-link", style:(last_blog_index == index ? "border-bottom: none" : ""), title: blog.title do %>
            <div class='col-md-12 fit_blog_banner'>
              <%= blog.featured_or_avtar %>
            </div>
            <div class='col-md-12 blog-title'>
              <%= blog.title %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>