<!-- Modal -->
<% if (doctor.present? and appointment.present?) %>
  <div class="modal fade" id="cancel_appointment_<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Appointment Cancellation</h4>
        </div>
        <div class="modal-body">
          <p> Are you sure you want to cancel this appointment?</p>
        </div>
        <div class="modal-footer">
          <%= link_to "Confirm", appointment_path(:doctor_id=> doctor.id, :appointment_id => appointment.id), :method => :delete, class: "btn btn-danger" %>
          <button class="btn" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </div>
<% end %>