<div class="row text-center">
  <h1 class= "blue-heading">Fill out the contact form below and our team will set up your account.</h1>
</div>

<%= form_for :interested_provider_contact, url: interested_provider_contact_url do |f| %>
  <div class="row form-group contact-form">
    <div class="col-md-4 pl-6-percent col-sm-12">
      <%= f.label "Email:" %>
      <%= f.email_field :email, class: "form-control", value: current_user.present? ? current_user.email : "", required: true %>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= f.label "Name/Practice Name:" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="col-md-2 col-sm-12">
      <%= f.label "Location:" %>
      <%= f.text_field :location, class: "form-control", placeholder: 'City, State' %>
    </div>
    <div class="col-md-2 col-sm-12">
      <%= f.label "Referal Code:" %>
      <%= f.text_field :referral_code, class: "form-control", placeholder: 'Optional'  %>
    </div>
    <div class="col-md-1 mt-2-percent">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  </div>     
<% end %>