- current_loc = session[:current_location]
- flag_class = current_loc.present? ? current_loc['country_code'].try(:downcase) : 'usa'
.menu-country-select.hwacountry-select
  .country-name data-country-name=""
    div[class="flag #{flag_class}"]
  .countries-container
    .countries
      .row
        .columns
          h4 Change Your Location
      .row
        .columns.small-5
          p.most-searched
            strong Most searched:
            a href="#" data-country="usa" data-country-code='usa'
              span.flag.usa
              | USA
            a href="#" data-country="india" data-country-code='ind'
              span.flag.ind
              | India
        .columns.small-5
          - if current_loc.present?
            | Current Location:
            - class_name = current_location_selected? ? 'current-selected-active' : ''
            a href="#" data-country="current" class="#{class_name}" data-country-code="current"
              /span[class="flag #{current_loc['country'].downcase}"]
              i class="fa fa-location-arrow" aria-hidden="true"
              = current_loc['country'] || ''
        .columns.small-2.text-right
          a href="#" data-cancel=""
            i class="fa fa-times" aria-hidden="true"

      div class="row"
        - @search = Search::TravelHealthInsurance.new
        .columns.medium-4.small-6
          = render "searches/continent", continent: "North America"
          = render "searches/continent", continent: "Asia"
        .columns.medium-4.small-6
          = render "searches/continent", continent: "Europe"
        .columns.medium-4.small-6
          = render "searches/continent", continent: "South America"
          = render "searches/continent", continent: "Oceania"
