.row.form-group
  = f.input :is_student, label: false, 
    as: :radio_buttons, collection: EventMember::TYPE, 
    label_method: :last, value_method: :first,
    item_wrapper_class: 'radio-inline', checked: @resource.try(:is_student)

.row.form-group
  .col-md-12.text-danger.form-error

.row.form-group
  .col-md-12
    = f.input :name, input_html: {class:  "form-control"}, required: true
    
.row.form-group
  .col-md-12 
    = f.input :email, input_html: {class:  "form-control"}, required: true

- if !['edit', 'update'].include? params[:action]
  = f.fields_for :user do |u|
    .row.form-group
      .col-md-12 
        = u.input :password, input_html: {class:  "form-control"}, required: true, label: 'Password (6 characters minimum)'

.provider
  .row.form-group
    .col-md-6.col-sm-12
      = f.input :practice_name, input_html: {class:  "form-control"}, required: true
    .col-md-6.col-sm-12
      = f.input :speciality, input_html: {class:  "form-control"}, required: true
  .row.form-group
    .col-md-12
      = f.input :city,  input_html: {class:  "form-control"}, required: true

.student
  .row.form-group
    .col-md-6.col-sm-12
      = f.input :professional_school, input_html: {class:  "form-control"}, required: true
    .col-md-6.col-sm-12
      = f.input :degree_type, input_html: {class:  "form-control", placeholder: 'MBBS, MD, DM, DC, BAMS, DD, MDS, RD, LMT, etc'}, required: true

  .row.form-group
    .col-md-12
      = f.input :graduation, label: 'Graduation Year (year of completion)', input_html: {class:  "form-control", placeholder: 'yyyy'}, required: true
            
.row.form-group
  .col-md-12
    = f.input :referral_code, input_html: {class:  "form-control", disabled: true, value: event.referral_code}

.row.form-group
  .col-md-12
    = f.input :optional_information,  input_html: {class:  "form-control"}



javascript:

  $(document).ready(function() {
    $('.form-error').html();
    $('.form-error').show();
    if ($("input[name='event_member[is_student]']:checked").val() == 'true'){
      $('.student').show();
      $('.provider').hide();
    }else{
      $('.student').hide();
      $('.provider').show();
    }

    $('input[name="event_member[is_student]"]').click(function(evt) {
      if($(this).val() == "true") { 
        $('.student').show();
        $('.provider').hide();
      } else {
        $('.student').hide();
        $('.provider').show();
      }
    });
  });

  function valid_form() {
    $('.form-error').html();

    var error = '';
    $.each( ['name', 'email'], function( i, val ) {
      if (is_blank(val) && error == '') {
        error = "Please fill all mandatory (*) fields.";
      }
    });
    
    if ($('#event_member_user_password').length == 1){
      val = 'user_password';
      if (is_blank(val) && error == '') {
        error = "Please fill all mandatory (*) fields.";
      }
      else if($('#event_member_user_password').val().length < 6) {
        error = "Password is too short (minimum is 6 characters).";
      }
    }

    if ($('input[name="event_member[is_student]"]:checked').val() == 'false'){
      $.each( ['practice_name', 'speciality', 'city'], function( i, val ) {
        if (is_blank(val) && error == '') {
          error = "Please fill all mandatory (*) fields.";
        }
      });
    } else {
      $.each( ['professional_school', 'degree_type', 'graduation'], function( i, val ) {
        if (is_blank(val) && error == '') {
          error = "Please fill all mandatory (*) fields.";
        }
      });
    }
    if (error == ''){
      return true;
    }
    else{
      $('.form-error').html(error);
      return false; 
    }
  }
   
  function is_blank(field) {
    if ($.trim($('#event_member_'+ field).val()) == ''){
      return true;
    }
    return false;
  }