<% if @featured_or_sponsored %>
  <%= render partial: 'shared/random_profile', locals: {ctrl: ctrl} %>
	<% if @featured_or_sponsored[:featured].present? %>
	  <div class='panel featured'>
	  	<%= render partial: "#{ctrl}/featured_or_sponsored_panel", locals: {obj: ctrl.classify.constantize.find_by_id(@featured_or_sponsored[:featured].sample)} %>
	  </div>
	<% end %>
	<% if @featured_or_sponsored[:sponsored].present? %>
	  <div class='panel sponsored'>
      <%= render partial: "#{ctrl}/featured_or_sponsored_panel", locals: {obj: ctrl.classify.constantize.find_by_id(@featured_or_sponsored[:sponsored].sample)} %> 
    </div>
	<% end %>

<% end %>