<footer>
  <div class="row">
    <div class="columns large-6" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      
      <p>
      <span itemprop='legalName'> HealthSoul, LLC </span>
      <br>
      P.O. Box <span itemprop='postOfficeBoxNumber'>9224 </span>
      <br>
      <span itemprop='addressLocality'> Springfield</span>, 
      <span itemprop='addressRegion'> IL</span>, 
      <span itemprop='postalCode'> 62791</span>,
      <span itemprop='addressCountry'> USA</span>
      <br>
      <br>

      <%= mail_to("info@healthsoul.com", "info@healthsoul.com", class: '', itemprop: 'mail') %>
      <br>
      <%=link_to "www.healthsoul.com", root_path, itemprop: 'url' %>
      <meta itemprop="contactType" content="customer service" />
      <br>
      <a href="<%= copyright_path %>">&copy; <%= Date.today.year %></a>
      </p>
    </div>
    <div class="columns large-6">
      <div class="row">
        <div class="columns">
          <ul class="menu align-right">
            <li><%= link_to "Privacy Policy", privacy_policy_path, title: "Privacy Policy"%></li>
            <li><%= link_to "FAQs", faqs_path, title: "FAQs" %></li>
            <li><%= link_to "Terms", terms_path, title: "Terms" %></li>
            <li><%= link_to "Contact Us", new_contact_path, title: "Contact Us" %></li>
            <li><%= link_to "About Us", about_path, title: "About Us" %></li>
            <li><%= link_to "Advertise", new_advertising_request_path, title: "Advertise" %></li>
            <li><%= link_to "Share your Story", new_patient_story_path, title: "Share your Story" %></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <ul class="menu align-right">
            <%= render "shared/login_links" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
