<!-- Modal -->
<% if (not cookies.permanent[:agreed_to_gdpr]=="true") %>
  <div class="modal" id="GDPRModal" tabindex="-1" role="dialog" aria-labelledby="GDPRModalHeader" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="GDPRModalHeader">Privacy Policy</h4>
        </div>
        <div class="modal-body">
          <p> As part of my use of HealthSoul, I acknowledge the use of my information will be processed in accordance with the <%= link_to "HealthSoul Privacy Policy", privacy_policy_path, title: 'Privacy Policy' %> and <%=link_to "Terms of Service", terms_path, title: 'Terms of Service' %>. By clicking "Accept", I am hereby providing consent to this use and agree to all of the terms and conditions. </p>
        </div>
        <div class="modal-footer">
          <%= link_to agree_to_gdpr_path, method: :post, remote: true, rel: "nofollow" do %>
            <div class="btn btn-primary" id="GDPR-button">Accept</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% content_for :extra_js do %>
  <script>
    $('#GDPRModal').modal({backdrop: 'static', keyboard: false});
    $('#GDPR-button').click(function(){
      $("#GDPRModal").modal('hide');
    });
  </script>
<% end %>
<% end %>
