<% if user_signed_in? %>
<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, title: "Sign Out" %></li>
<li><%= link_to "Profile", user_path(current_user), title: "Profile" %></li>
<% else %>
<li><%= link_to "Sign In", new_user_session_path, title: "Sign In" %></li>
<li><%= link_to "Sign Up", new_user_registration_path, title: "Sign Up" %></li>
<% end %>
