<li><%= link_to "Doctors", search_doctors_path(clear: 'true'), title: "Doctors" %></li>
<li><%= link_to "Hospitals", search_hospitals_path(clear: 'true'), title: "Hospitals" %></li>
<li><%= link_to "Health Insurance", search_health_insurances_by_country_path, title: "Health Insurance" %></li>
<li><%= link_to "Travel Health Insurance", search_travel_health_insurances_by_country_path, title: "Travel Health Insurance" %></li>
<li><%= link_to "Forum", forum_path, title: "Forum" %></li>
<li><%= link_to "Blog", blogs_path, title: "Blog" %></li>
<li><%= link_to "How It Works", "#" %>
  <ul class="menu vertical">
    <li><%= link_to "Users", users_info_path, title: "Users" %></li>
    <li><%= link_to "Providers", current_user.present? ? manage_path : new_user_registration_path(:provider=> true), title: "Providers" %></li>
  </ul>
</li>
