.col-md-4
  - unless student.photo.present?
    = content_tag(:div, student.name, class: :circle_image, title: student.degree_type)
  - else
    = image_tag student.photo.small_thumb, alt: student.degree_type
.col-md-8
  b
    = link_to student.name, medical_student_path(student)
  p
    b
      = student.degree_type
  p
    = student.professional_school
