= f.error_notification
.row.form-group
  .col-md-12
    = f.input :name, required: true, input_html:{ class: 'form-control'}
.row.form-group
  .col-md-12
    = f.input :email, required: true, input_html:{ class: 'form-control'}
.row.form-group
  .col-md-12
    = f.input :professional_school, input_html: {class:  "form-control"}, required: true
.row.form-group
  .col-md-6.col-sm-12
    = f.input :degree_type, input_html: {class:  "form-control", placeholder: 'MBBS, MD, DM, DC, BAMS, DD, MDS, RD, LMT, etc'}, required: true
  .col-md-6.col-sm-12
    = f.input :graduation_year, label: 'Graduation Year (year of completion)', input_html: {class:  "form-control"}, required: true
.row.form-group
  .col-md-12
    = f.input :publications, as: :text,  input_html: {class:  "blog-form form-control"}
.row.form-group
  .col-md-12
    = f.input :care_philosophy, as: :text,  input_html: {class:  "blog-form form-control"}
