<div class="top-bar stacked-for-medium">
<div class="row">
  <div class="columns">
    <div class="top-bar-title">
      <a href="<%= root_path %>"><%= image_tag "img/logo.png", height: 90 %></a>
    </div>
    <div class="show-for-large">
      <div class="top-bar-right">
        <%= render "shared/country_select" %>
        <ul class="menu login-links">
          <%= render 'shared/login_links' %>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <%= render 'shared/main_nav_links' %>
        </ul>
      </div>
    </div>
    <div class="hide-for-large mobile-button">
      <button class="menu-icon dark" type="button" data-toggle="offCanvas"></button>
    </div>
  </div>
</div>
</div>

