<div>
  <% country = session[:current_location]['country'] if session[:current_location].present? && !country.present? %>
  <% if country %>
    <% file_path = "#{Rails.root}/lib/nearby/specialists.json" %>
    <% if File.exist?(file_path) %>
      <% file = File.read(file_path)  
         top_specialists = JSON.parse(file)
      %>
      <% if top_specialists.present? %>
        <h4 class="overview-left-frame blog-container-title pb-14">Find More Specialists In Your Area 
        </h4>
        <% top_specialists.to_a.each_slice(6).each do |c| %>
          <div class='row'>
            <% c.each do |s| %>
              <% sp = s.first
                detail_info = s.last %>
              <% href = search_best_doctors_path(detail_info['sp_slug'], country, get_state(state, country), city) %> 
              <div class="col-md-2 col-sm-12 mb-5">
                <%= link_to(sp, href, title: sp, class: 'blog-title') %>
              </div>
            <% end %>
          </div>
        <% end %>
        <br/>
      <% end %>
    <% end %>

    <% file_path = "#{Rails.root}/lib/nearby/#{country}.json" %>
    <% if File.exist?(file_path) %>
      <% file = File.read(file_path)  
         top_hospitals = JSON.parse(file)
      %>
      <% if top_hospitals %>
       <h4 class="overview-left-frame blog-container-title pb-14">Find Nearby Hospitals</h4>
        <% top_hospitals.to_a.each_slice(6).each do |c| %>
          <div class='row'>
            <% c.each do |a|
              city = a.first
              detail_info = a.last %>
              <% href = search_best_hospitals_path(country, detail_info['state_slug'], detail_info['city_slug']) %> 
              <div class="col-md-2 col-sm-12 mb-5">
                <%= link_to(city, href, title: city, class: 'blog-title') %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>