<script type='text/javascript'>
  
  <% if @vertical_adverts.present? %>
    function VerticalImage(div, advert_type) {
      advert = shuffle(<%= @vertical_adverts.pluck(:id) %>)
      $.ajax({
        url: '/advertisements/' + advert,
        method: 'GET',
        contentType: 'json'
      })
      setTimeout(function() { 
        VerticalImage('#v-advert', 'Vertical')
        }, 100000
      );  
    }
    VerticalImage('#v-advert', 'Vertical')
  <% end %>

  <% if @horizontal_adverts.present? %>
    function HorizontalImage(div, advert_type) {
      advert = shuffle(<%= @horizontal_adverts.pluck(:id) %>)
      $.ajax({
        url: '/advertisements/' + advert,
        method: 'GET',
        contentType: 'json'
      })
      setTimeout(function() { 
        HorizontalImage('#h-advert', 'Horizontal')
      }, 100000);  
    }
    HorizontalImage('#h-advert', 'Horizontal')
  <% end %>
</script>
