<script type='text/javascript'>
  <% if @featured_or_sponsored[:featured].present? %>
    function Featured(div) {
      ctrl = '<%= ctrl %>';
      id = shuffle(<%= @featured_or_sponsored[:featured] %>)
      if (ctrl == 'locations'){
        url = '/' + id
      }
      else{
        url = '/'+ '<%= ctrl %>' + '/' + id;
      }
      
      $.ajax({
        url: url,
        method: 'GET',
        contentType: 'json'
      })
      setTimeout(function() { 
        Featured('.featured')
        }, 100000
      );  
    }
    Featured('.featured')
  <% end %>

  <% if @featured_or_sponsored[:sponsored].present? %>
    function Sponsored(div) {
      id = shuffle(<%= @featured_or_sponsored[:sponsored] %>)
      ctrl = '<%= ctrl %>';
      if (ctrl == 'locations'){
        url = '/' + id
      }
      else{
        url = '/'+ '<%= ctrl %>' + '/' + id;
      }
      $.ajax({
        url: url,
        method: 'GET',
        contentType: 'json'
      })
      setTimeout(function() { 
        Sponsored('.sponsored')
        }, 105000
      );  
    }
    Sponsored('.sponsored')
  <% end %>
</script>