- sp = obj.top_speciality.titleize.downcase
- if @conditions.present?
  div class="question"
    .body
      = simple_format "What are the common conditions treated by #{sp} ?"
    .answers
      = render partial: 'doctors/conditions', locals: {conditions: @conditions, id: 'collapse_condition_faq'}
- if @procedures.present?
  div class="question"
    .body
      = simple_format "What are the common procedures performed by #{sp} ?"
    .answers
      = render partial: 'doctors/procedures', locals: {procedures: @procedures, id: 'collapse_procedure_faq'}

