<div class='<%= cls %>'>
  <% country = @search.default_country %>
  <% country = session[:current_location]['country'] if session[:current_location].present? && !country.present? %>
  <% if country %>
    <% file_path = "#{Rails.root}/lib/top_localities/#{country}.json" %>
    <% if File.exist?(file_path) %>
      <% file = File.read(file_path)  
         top_localities = JSON.parse(file)
      %>
      <% if top_localities %>
        <h4 class="overview-left-frame blog-container-title pb-14"><%= sp.title %> in Top Localities</h4>
        <% top_localities.each_pair do |city, detail_info| %>
          <% href = search_best_doctors_path(sp.title_slug, country, detail_info['state_slug'], detail_info['city_slug']) %> 
          <div class="row">
            <%= link_to("#{sp.title} in #{city}", href, title:  city, class: 'col-md-12 blog-title') %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>