<div class='<%= cls %>'>
  <% country = @search.default_country %>
  <% country = session[:current_location]['country'] if session[:current_location].present? && !country.present? %>
  <% if country %>
    <% file_path = "#{Rails.root}/lib/top_specialists/#{country}.json" %>
    <% if File.exist?(file_path) %>
      <% file = File.read(file_path)  
         top_specialists = JSON.parse(file)
      %>
      <% if top_specialists %>
        <h4 class="overview-left-frame blog-container-title pb-14">Specialists In Your Area 
        </h4>
        <% top_specialists.each_pair do |sp, detail_info| %>
          <% href = search_best_doctors_path(detail_info['sp_slug'], country) %> 
          <div class="row">
            <%= link_to("#{sp} near me", href, title: sp, class: 'col-md-12 blog-title') %>
          </div>
        <% end %>
      <% end %>
      <br/>
    <% end %>
  <% end %>

  <% if session[:current_location].present? && session[:current_location]['country'].present? %>
    <h4 class="overview-left-frame blog-container-title pb-14">Top Hospitals In Your Area</h4>
    <%= render partial: 'shared/best_hospitals', locals: {country: session[:current_location]['country'], view: session[:current_location]['country'] == 'usa' ? '2' : '1'} %>
  <% end %>

</div>