<section id="healthcare-user">
  <div class="container">
    <% if current_user.present? %>
    <div class="row">
      <div class="col-md-7">

        <div class="healthcare-user-left-section healthcare-user-left-section_healthcareprovider text-center">
          <h1>Claim your Free Profile !!</h1>
          <p>
            40% of people make their healthcare provider choice by searching online 
            Increase in half star rating can boost your business by 50% Claim your profile to manage your page, moderate reviews, get analytics on your searches.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="healthcare-user-right-section">
          <%= image_tag "looking.jpg" %>
        </div>
      </div>
    </div>

    <% else %>
      <div class="row">
        <div class="col-md-4">

          <div class="healthcare-user-left-section healthcare-user-left-section_healthcareprovider text-center">
            <h1>Claim your Free Profile !!</h1>
            <p>
              40% of people make their healthcare provider choice by searching online Increase in half star rating can boost your business by 50% Claim your profile to manage your page, moderate reviews, get analytics on your searches.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="healthcare-user-right-section">
            <%= image_tag "looking.jpg" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="email-sign-up">
            <h1>Sign Up</h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render partial: "devise/shared/email_fields", locals: {f: f} %>
                <%= render partial: "devise/shared/phone_number_fields", locals: {f: f} %>
            <div class="form-group">
              <%= f.password_field :password, class: 'form-control', placeholder: "Password (6 characters minimum)", label: 'Password (6 characters minimum)' %>
            </div>
            <%= f.hidden_field :marked_as_provider, value: @provider %>
            <%= f.check_box :email_opt_in %>
            <label>Sign up for updates on my account</label>
            <button type="submit" class="btn btn-default">Sign up</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="healthcareprovider-page">
  <div class="container">
    <%= render partial: "shared/benifits_overview" %>
  </div>
</section>

<% if @promotion.present? %>
  <section id="promotion ptb-70">
    <div class="container">
      <h1 class='header'><%= @promotion.title.html_safe %></h1>
      <div class="row">
        <div class="col-md-8">
          <%= @promotion.blurb.html_safe %>
          <% if !@promotion.terms_and_conditions_content.blank? %>
            <h4> Terms and Conditions </h4>
            <%= @promotion.terms_and_conditions_content.html_safe %>
          <% end %>
        </div>
        <div class='col-md-4'>
          <%= @promotion.decorate.users_info_landing_page_promotion_image %>
        </div>
      </div>


    </div>
  </section>
<% end %>

<section class="contact-us-leanmore-badge">
  <div class="container">
    <div class="contact-us-leanmore-badge-frame">
      <h2>OUR BADGE</h2>
      <p>Healthsoul Badge is a small elements that you or your webmaster can add to your website for free. <br>
      The badge allows the users to come to our website and add reviews for you and your partners. </p>
      <p>To get a personalized badge for managed hospital, claim your hospital and <a href="/users/me">visit your profile page</a> for your badge</p>
    </div>
    <div class="col-md-5">
      <a href="/">
        <%= image_tag 'img/share.jpg', class: 'img-responsive' %>
      </a>
    </div>
    <div class="col-md-7">
      <textarea><a href="https://www.healthsoul.com">
        <%= image_tag 'share-logo.png', width: 200 %>
      </a></textarea>
    </div>
  </div>
</section>
