= simple_form_for [:admin, @resource], url: @form_url, html: { class: 'well_form' } do |f|
  = render partial: 'shared/event_member_form', locals: {f: f, event: @resource.event}
  .row.form-group
    .col-md-12 
      = f.input :verified

  .row.form-group
    .col-md-2.col-sm-12
      = f.button :submit, 'Save', class:  "form-control btn-success", onclick: "javascript:  return valid_form();", disabled: @resource.resource_id?
    .col-md-4.col-sm-12
      = f.button :submit, 'Save & Convert', class:  "form-control btn-success", onclick: "javascript:  return valid_form();", disabled: @resource.resource_id?
    .col-md-6.col-sm-12
      = link_to "Cancel", admin_event_members_path, class: 'button secondary'
