- unless resources.present?
  .alert-box.info
    = 'No match found.'
- else
  table
    thead
      tr
        th Event
        th Type
        th Name
        th Email
        th Referral Code
        th Verified
        th
    tbody
      - resources.each do |list|
        tr
          td
            = link_to list.event.title, admin_event_path(list.event.id)
          td
            = list.is_student? ? 'Trainee' : 'Practicing Provider'
          td
            = link_to list.name, edit_admin_event_member_path(list.id)
          td
            - if list.user_id
              = link_to list.email, edit_admin_user_path(list.user_id)
            - else
              = list.email
          td
            = list.referral_code
          td
            = list.verified
          td
            - if list.resource
              - if list.is_student
                = link_to 'Edit Medical Student', edit_admin_medical_student_path(list.resource.id), class: 'button tiny'
              - else
                = link_to 'Edit Doctor', edit_admin_doctor_path(list.resource.id), class: 'button tiny'
            - else
              = link_to "Edit", [:edit, :admin, list], class: 'button tiny'
          
      tr
        - if resources.present?
          td.text-center{colspan=9}
            = paginate(resources)
