h1 Event Members

.button-group

.well
  = simple_form_for :event_member, method: :get, remote: true, url: admin_event_members_path do |f|
    .row
      .columns.medium-8
        =f.input :email, placeholder: "Email", input_html: { value: @search_term}
      .columns.medium-4.align-middle
        =f.button :button, "Search", value: 'Search'

#list
  = render partial: 'list', locals: {resources: @resources}
