<div class="doctor row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <%= select_tag "search_doctor[speciality]", grouped_options_for_select(@search.possible_specialities, @search.speciality), :include_blank => "All Specialities", class: "custom-select-box" %>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <%= f.input :name, label: false, placeholder: "Name", input_html: {class: 'form-control_review  address width_100_percent', id: 'doctor-search'}%>
    <div style="position: absolute;z-index: 9999;width:250px;" id="search-results"></div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <input name ="<%= @search.model_name.param_key %>[near]" value="<%= @search.near %>" type="text" class="form-control_review  address" id="near" placeholder="Address, City or Zip Code" required>
    <%= f.input :lat, as: :hidden, input_html: { "data-geo" => "lat" } %>
    <%= f.input :lng, as: :hidden, input_html: { "data-geo" => "lng" } %>
  </div>







  
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <button>SEARCH</button>
    <%= link_to "CLEAR ", [@search, clear: true], class: 'small', title: "Clear Search" %>
    <% content_for :extra_js do -%>
      <script>
        initGeoComplete();
        //setup before functions
        var typeaheadSearch = function(query){
          clearTimeout(typingTimer);
          if(query.length > 3){
            $.ajax({
              url: "/typeahead?search[name]=" + query
            }).success(function(data){
              $input.removeClass('search-loading');
              if(data.doctors.length > 0){
                $.each(data.doctors, function( index, value ) {
                  $('#search-results').append( "<a style='background-color:#f3f3f4!important;color:black!important;' href='" + value.slug + "'><div style='background-color:#f3f3f4!important;padding: 10px;border: dotted white 1px;' class='row search-result'><div class='pull-left'>" + value.name +"</div><div class='pull-right'>" + value.city + "</div><hr style='margin-top: 30px;margin-bottom: 7px;'><div class='pull-left'>" + value.primary_speciality +"</div></div></a>" );
                });
              }
            })
          }
        }
        var typingTimer;                //timer identifier
        var doneTypingInterval = 300;  //time in ms
        var $input = $('#doctor-search');

        //on keyup, start the countdown
        $input.on('keyup', function () {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //on keydown, clear the countdown
        $input.on('keydown', function () {
          $('#search-results').empty();
          $input.removeClass('search-loading');
          clearTimeout(typingTimer);
        });

        $(document).on('keypress', function(e) {
          var tag = e.target.tagName.toLowerCase();
          if ( e.which === 119 && tag != 'input' && tag != 'textarea')
            clearTimeout(typingTimer);
        });

        //user is "finished typing," do something
        function doneTyping () {
          $input.addClass('search-loading');
          var query = $input.val();
          typeaheadSearch(query)
        }

      </script>
    <% end -%>
  </div>
</div>
