<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
    <input name="<%= @search.model_name.param_key %>[name]" value="<%= @search.name %>" type="text" class="form-control_review seacch" id="exampleInputEmail1" placeholder="Name" required>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <button>SEARCH</button>
    <%= link_to "CLEAR ", [@search, clear: true], class: 'small', title: "Clear Search" %>
    <% content_for :extra_js do -%>
      <script>initGeoComplete();</script>
    <% end -%>
  </div>
</div>