<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <%= select_tag "search_healthcare_facility[type_id]", options_from_collection_for_select(@search.possible_types, "id", "name", @search.type_id), :include_blank => "All Specialities", class: "custom-select-box" %>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <input name="<%= @search.model_name.param_key %>[name]" value="<%= @search.name %>" type="text" class="form-control_review seacch" id="exampleInputEmail1" placeholder="Name" required>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <input name ="<%= @search.model_name.param_key %>[near]" value="<%= @search.near %>" type="text" class="form-control_review  address" id="near" placeholder="Address, City or Zip Code" required>
    <%= f.input :lat, as: :hidden, input_html: { "data-geo" => "lat" } %>
    <%= f.input :lng, as: :hidden, input_html: { "data-geo" => "lng" } %>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <button>SEARCH</button>
    <%= link_to "CLEAR ", [@search, clear: true], class: 'small', title: "Clear Search" %>
    <% content_for :extra_js do -%>
      <script>initGeoComplete();</script>
    <% end -%>
  </div>
</div>
