<!DOCTYPE html>
<html amp>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.7.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="img/healthsoul.png" type="image/x-icon">
  <meta name="description" content="Health Soul">
  <title>Health Soul</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="canonical" href="home_new.html">

  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }
  </style>
  <noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
      }
    </style>
  </noscript>
  <!-- <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet"> -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <style amp-custom>
    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Bold.woff2') format('woff2'), url('fonts/Barlow-Bold.woff') format('woff'), url('fonts/Barlow-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Thin.woff2') format('woff2'), url('fonts/Barlow-Thin.woff') format('woff'), url('fonts/Barlow-Thin.ttf') format('truetype');
      font-weight: 100;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-SemiBold.woff2') format('woff2'), url('fonts/Barlow-SemiBold.woff') format('woff'), url('fonts/Barlow-SemiBold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-ExtraLight.woff2') format('woff2'), url('fonts/Barlow-ExtraLight.woff') format('woff'), url('fonts/Barlow-ExtraLight.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Medium.woff2') format('woff2'), url('fonts/Barlow-Medium.woff') format('woff'), url('fonts/Barlow-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Regular.woff2') format('woff2'), url('fonts/Barlow-Regular.woff') format('woff'), url('fonts/Barlow-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Black.woff2') format('woff2'), url('fonts/Barlow-Black.woff') format('woff'), url('fonts/Barlow-Black.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-Light.woff2') format('woff2'), url('fonts/Barlow-Light.woff') format('woff'), url('fonts/Barlow-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'Barlow';
      src: url('fonts/Barlow-ExtraBold.woff2') format('woff2'), url('fonts/Barlow-ExtraBold.woff') format('woff'), url('fonts/Barlow-ExtraBold.ttf') format('truetype');
      font-weight: 800;
      font-style: normal;
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }

    body {
      font-family: 'Barlow';
      font-weight: 400;
      color: #1A1A1A;
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    section {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    section,
    .container,
    .container-fluid {
      position: relative;
      word-wrap: break-word;
    }

    button:focus {
      outline: none;
    }

    .cid-qPydcGGZlE .navbar-dropdown {
      padding: 0.5rem 1rem;
      position: fixed;
    }

    .cid-qPydcGGZlE .navbar {
      z-index: 100;
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 77px;
      transition: all 0.3s;
      background: #fff;
    }

    .cid-qPydcGGZlE .container {
      display: flex;
    }

    .cid-qPydcGGZlE .navbar-brand {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      margin-right: 0;
      padding: 0;
      transition: all 0.3s;
      word-break: break-word;
      z-index: 1;
    }

    .cid-qPydcGGZlE .navbar .navbar-collapse {
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      flex-basis: 100%;
      align-items: center;
    }

    .cid-qPydcGGZlE amp-img {
      width: 150px;
      display: flex;
      align-items: center;
    }

    .cid-qPydcGGZlE ul.navbar-nav {
      flex-wrap: wrap;
    }

    p,
    li,
    blockquote {
      color: #15181b;
      letter-spacing: 0.5px;
      line-height: 1.7;
    }

    ul,
    ol,
    pre,
    blockquote {
      margin-bottom: 0;
      margin-top: 0;
    }

    .cid-qPydcGGZlE .navbar-expand-lg .navbar-nav .nav-link {
      color: #1A1A1A;
      font-size: 16px;
      padding: 1px 10px;
      line-height: 24px;
    }

    a.nav-link.link.login-menu {
      border-left: 1px solid #D8D8D8;
      margin-left: 10px;
      padding-left: 20px;
    }

    .cid-qPydcGGZlE .navbar-nav .nav-link {
      font-weight: normal;
    }

    .cid-qPydcGGZlE a.nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cid-qPydcGGZlE .navbar-nav {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding-left: 0;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger.sticky-but {
      position: fixed;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger {
      position: absolute;
      top: 35px;
      right: 20px;
      margin-left: auto;
      width: 30px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1000;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(1) {
      top: 0;
      transition: all 0.2s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span {
      position: absolute;
      right: 0;
      width: 30px;
      height: 2px;
      border-right: 5px;
      background-color: #000;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(2) {
      top: 8px;
      transition: all 0.15s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(3) {
      top: 8px;
      transition: all 0.15s;
    }

    .cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(4) {
      top: 16px;
      transition: all 0.2s;
    }

    .cid-qPydcGGZlE .builder-sidebar {
      background-color: #000000;
      position: relative;
      height: 100vh;
      z-index: 1030;
      padding: 1rem 2rem;
      max-width: 20rem;
    }

    .cid-qPydcGGZlE .close-sidebar {
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin-bottom: 20px;
    }

    .cid-qPydcGGZlE .close-sidebar span:nth-child(1) {
      transform: rotate(45deg);
    }

    .cid-qPydcGGZlE .close-sidebar span {
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      border-right: 5px;
      background-color: #ffffff;
    }

    .cid-qPydcGGZlE .close-sidebar span:nth-child(2) {
      transform: rotate(-45deg);
    }

    .cid-qPydcGGZlE .nav-item.dropdown {
      position: relative;
    }

    .cid-qPydcGGZlE .open {
      transform: translateX(0%);
      display: block;
    }

    .cid-qPydcGGZlE .navbar .dropdown.open>.dropdown-menu {
      display: block;
    }

    .cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
      background-color: #fff;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 8px 0px;
    }

    .cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu a.dropdown-item {
      display: block;
      padding: 0px 20px;
    }

    .cid-qPydcGGZlE .nav-item.dropdown .dropdown-menu {
      z-index: -1;
      opacity: 0;
      pointer-events: none;
    }

    .cid-qPydcGGZlE .nav-dropdown .dropdown-menu {
      border-radius: 0;
      border: 0;
      left: 0;
      margin: 0;
      min-width: 10rem;
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
      position: absolute;
    }

    .language-translater amp-img {
      width: 24px;
      height: 16px;
      margin-top: 7px;
    }

    .cid-qPydcGGZlE .nav-item.dropdown:hover>.dropdown-menu {
      z-index: 1;
      opacity: 1;
      pointer-events: all;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 0px;
      font-weight: 600;
      line-height: 26px;
      margin-top: 0px;
    }

    .col-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    .logo-header {
      width: 150px;
      align-items: center;
      height: 50px;
    }

    header {
      padding: 20px 0px;
    }

    .sidenav ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
    }

    .sidenav ul li {
      display: inline;
    }

    .sidenav ul li a {
      color: #1A1A1A;
      font-size: 16px;
      padding: 10px;
      display: inline-block;
    }

    .login_btn {
      border-left: 1px solid #D8D8D8;
      margin-left: 20px;
      padding-left: 20px;
    }

    .dr-items {
      margin: 40px 0px;
    }

    .dr-items-box amp-img {
      margin-bottom: 10px;
      width: 24px;
        height: 24px;
    }

    .dr-items-box {
      margin-bottom: 20px;
    }

    .dr-items-box h4 {
      margin-top: 0px;
    }

    .dr-items-box p {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .reviewed-items-section {
      margin: 30px 0px;
    }

    h2.main-heading {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .reviewed-items-box {
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
      margin-bottom: 20px;
      padding: 30px;
      display: flex;
    }

    .items-image amp-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .items-details p {
      font-size: 14px;
      margin-bottom: 15px;
      margin-top: 0px;
    }

    .items-details span i {
      color: #f7cc21;
      font-size: 18px;
      margin-right: 5px;
    }

    #reviewed-section {
      background-color: #F9F9F9;
      padding: 40px 0px;
    }

    h2.main-heading a {
      color: #00B07A;
      font-size: 16px;
      float: right;
    }

    .inner-pages {
      padding: 40px 0px;
    }

    .dashboard-page {
      display: flex;
    }

    .tab {
      width: 30%;
    }

    .tab-info-box {
      width: 70%;
      background: #fff;
      padding: 30px;
      box-shadow: 11px 8px 20px 6px rgba(0, 0, 0, 0.05);
      border-radius: 0px 10px 10px 10px;
    }

    .dashboard-page .tab button.tablinks {
      display: block;
      background: #fff;
      border: none;
      font-size: 20px;
      color: #A3A3A3;
      padding: 20px 20px;
      width: 100%;
      text-align: left;
      font-weight: 500;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .dashboard-page .tab button.tablinks.active {
      color: #1A1A1A;
      box-shadow: -6px 8px 20px 6px rgba(0, 0, 0, 0.05);
    }

    .analytics_table table {
      width: 100%;
      background-color: #00B07A;
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      margin-bottom: 30px;
    }

    .analytics_table table tr th:first-child {
      font-weight: 500;
      font-size: 24px;
    }

    .analytics_table table tr th {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 21px 25px;
      color: #fff;
      font-weight: 300;
    }

    .analytics_table table tr td {
      padding: 13px 25px;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
    }

    .analytics_chart {
      background-color: #F9F9F9;
      border-radius: 10px;
      margin-bottom: 30px;
    }

    .analytics_chart_date {
      border-radius: 8px 8px 0 0;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 20px;
    }

    .analytics_chart_date ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: inline-flex;
    }

    .analytics_chart_date ul li {
      display: flex;
      margin-right: 30px;
    }

    .analytics_chart_date ul li span {
      height: 24px;
      width: 24px;
      border-radius: 2px;
      display: block;
      margin-right: 10px;
    }

    .analytics_chart_date ul li span.blue_process {
      background-color: #4B78D2;
    }

    .analytics_chart_date ul li span.red_process {
      background-color: #DC3912;
    }

    .analytics_chart_date ul li p {
      margin: 0px;
    }

    .email_analytics {
      background-color: #F9F9F9;
      border-radius: 10px;
      padding: 30px 20px 30px;
    }

    .email_analytics h2 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .email_analytics_field input {
      border: 1px solid #D6D6D6;
      border-radius: 8px;
      width: 75%;
      padding: 13px 15px;
      font-size: 14px;
      margin-right: 15px;
    }

    .email_analytics_field a {
      border-radius: 8px;
      background-color: #00B07A;
      color: #fff;
      padding: 13px 25px;
      font-size: 18px;
    }

    .dr-image {
      max-width: 100%;
      width: 100%;
    }

    .dr-profile .dr-profile-detail p {
      font-size: 16px;
      margin-bottom: 10px;
      width: 100%;
    }

    .dr-profile .dr-profile-detail p span {
      font-weight: 600;
      margin-left: 30px;
      width: 60%;
      float: right;
    }

    .dr-profile .dr-profile-detail p span i {
      color: #f7cc21;
      font-size: 19px;
      margin: 0px 1px;
    }

    .dr-profile-detail h2 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .green-border-btn,
    .green-border-btn:hover {
      border-color: #00B07A;
      color: #00B07A;
    }

    .main_btn {
      border: 2px solid;
      height: 48px;
      border-radius: 8px;
      display: inline-block;
      line-height: 43px;
      padding: 0px 20px;
      font-size: 18px;
      margin-right: 15px;
    }

    .green-color-btn,
    .green-color-btn:hover {
      background: #00B07A;
      border-color: #00B07A;
      color: #fff;
    }

    .mt30 {
      margin-top: 30px;
    }

    .dr-profile h3 {
      margin-top: 30px;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .dr-profile p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    .dr-general-details ul {
      padding: 0px;
      list-style: none;
      margin: 20px 0px;
    }

    .dr-general-details ul li {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .dr-general-details ul li span {
      width: 70%;
      float: right;
      font-weight: 400;
    }

    .dr-profile .Specialities_list p {
      margin-bottom: 10px;
    }

    .dr-profile .Specialities_list p span {
      float: right;
      color: #f7cc21;
      font-size: 19px;
      margin: 0px 1px;
    }

    .total_Reviews {
      text-align: center;
      border-right: 1px solid #D8D8D8;
    }

    .total_Reviews h1 {
      font-size: 60px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    .review_table tr {
      border-top: 1px solid #D8D8D8;
    }

    .review_table tr th {
      font-weight: 500;
    }

    .review-dr-img {
      height: 24px;
      width: 24px;
      border: 1px solid #D8D8D8;
      border-radius: 50%;
      margin-right: 10px;
    }

    .review-social-img {
      height: 24px;
      width: 24px;
      border: 1px solid #D8D8D8;
      border-radius: 50%;
    }

    .review_table table td p {
      font-size: 15px;
      margin-bottom: 0px;
    }

    .review_table table td p span {
      font-size: 13px;
    }

    .review_table table td span i {
      color: #f7cc21;
      font-size: 15px;
      margin: 0px 1px;
    }

    .review_table tr td,
    .review_table tr th {
      padding: 15px 10px;
      white-space: nowrap;
    }

    .review_table tr td:first-child {
      display: flex;
    }

    .review_table table td span {
      display: flex;
    }

    p.dr-review-text {
      width: 100%;
      white-space: pre-line;
    }

    .review_table table {
      width: 100%;
    }

    .reply_back-ic {
      float: right;
    }

    .modal-header {
      border-bottom: 1px solid #D8D8D8;
      padding: 20px 25px;
    }

    .review-respond-modal .modal-header h4 img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      top: -2px;
    }

    .review-respond-modal .modal-header h4 {
      font-size: 18px;
    }

    .review-respond-modal .modal-body {
      padding: 25px 25px;
    }

    .review-user img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 20px;
      position: relative;
      top: -2px;
      float: left;
    }

    .review-user h5 {
      font-size: 18px;
      margin-bottom: 0px;
    }

    .review-user p {
      font-size: 16px;
    }

    .rating i {
      color: #f7cc21;
      font-size: 15px;
      margin: 0px 1px;
    }

    .review-user-inner {
      display: flex;
    }

    .review-user-inner p {
      margin-bottom: 5px;
      font-size: 14px;
    }

    span.rating {
      margin-bottom: 10px;
      display: block;
    }

    .review-user h4 {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .review-user textarea {
      width: 100%;
      border: 1px solid #D8D8D8;
      border-radius: 8px;
      background-color: #FFFFFF;
      height: 150px;
      margin-bottom: 20px;
    }

    .review-subimt-btn {
      float: right;
    }

    #review-respond .modal-content {
      border-radius: 10px;
    }

    .review_table {
      overflow-x: auto;
    }

    .analytics_table {
      overflow: auto;
    }

    .Widgets-profile xmp {
      white-space: inherit;
      overflow: auto;
    }

    .Widgets-title {
      margin-bottom: 30px;
    }

    .Widgets-title h2 {
      font-size: 24px;
      font-weight: 600;
    }

    .Widgets-profile {
      margin-bottom: 40px;
    }

    .Widgets-profile h4 {
      font-size: 18px;
    }

    .Widgets-profile h4 a {
      float: right;
      color: #00B07A;
      font-size: 16px;
    }

    .search_box.home {
      background-image: url(img/home-banner.jpg);
      color: #fff;
      background-size: cover;
      position: relative;
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      -webkit-align-items: center;
      min-height: 500px;
      box-sizing: border-box;
      padding-top: 11rem;
      padding-bottom: 5rem;
    }

    .mbr-overlay {
      background: linear-gradient(216.71deg, #21e4a8c9 28%, #20a8c5d6 100%);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .banner-inner-box h1 {
      font-size: 48px;
      color: #fff;
      margin-top: 0px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      letter-spacing: 1px;
    }

    .banner-inner-box h3 {
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 40px;
      text-align: center;
    }

    .search_box .search-type {
      background: #fff;
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 14px;
      border-radius: 8px 8px 0 0;
      padding: 10px 15px;
      opacity: 0.7;
    }

    




    .search_box .selected-search {
      background: #fff;
      opacity: 0.9;
    }

    .search_box .search-type a {
      color: #000;
      text-transform: lowercase;
    }

    .search_box .search-type-row {
      display: flex;
    }

    form.home-search-form {
      background: #fff;
      opacity: 0.9;
      display: inline-flex;
      border-radius: 8px;
      border: 1px solid #D8D8D8;
      width: 100%;
    }

    form.home-search-form .group-fields:last-child {
      border-right: 0px;
    }

    :focus {
      outline: none;
    }

    .group-fields {
      width: 33%;
      float: left;
      padding: 20px;
      border-right: 1px solid #D8D8D8;
    }

    .group-fields label {
      color: #1A1A1A;
      font-size: 14px;
      margin-bottom: 5px;
      display: block;
    }

    amp-selector [option][selected] {
      outline: none;
    }

    .group-fields select,
    .group-fields input {
      color: #1A1A1A;
      font-size: 22px;
      font-weight: 600;
      border: none;
      width: 100%;
      background: #fff;
      -webkit-appearance: none;
    }

    .home-search-box {
      background: #fff;
      padding: 25px;
      border-radius: 0px 8px 8px 8px;
    }

    .white-btn {
      border-radius: 8px;
      background-color: #FFFFFF;
      opacity: 0.9;
      padding: 13px 20px;
      color: #00B07A;
      margin-left: 10px;
      width: 160px;
      display: inline-block;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }

    .reset-btn {
      background: transparent;
      color: #fff;
    }

    .home-search-btn {
      text-align: right;
      margin-top: 30px;
    }

    section#blog-section {
      padding-bottom: 30px;
    }

    .blog-items-box {
      background: #fff;
      margin-bottom: 30px;
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }

    .blog-items-box amp-img {
      width: 100%;
      height: 130px;
      border-radius: 8px 8px 0 0;
    }

    .blog-items-box h4 {
      padding: 20px;
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      color: #1A1A1A;
    }

    #search-hospital-section {
      background: url(img/hospital_search.png) no-repeat;
      background-size: cover;
      padding: 40px 0px;
    }

    #search-hospital-section h2 {
      color: #fff;
      font-size: 25px;
      margin-bottom: 30px;
      margin-top: 20px;
      font-weight: 500;
    }

    .hospital-search {
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      width: 70%;
      float: right;
    }

    .hospital-search input[type="search"] {
      border: none;
      padding: 12px 15px;
      color: #1A1A1A;
      width: 70%;
      font-size: 14px;
      border-radius: 8px;
      font-weight: 300;
    }

    .hospital-search input[type="submit"] {
      color: #00B07A;
      font-size: 16px;
      font-weight: 500;
      padding: 12px 25px;
      float: right;
      background: transparent;
      border: none;
    }

    #search-hospital-section ul {
      padding: 0px;
      list-style: none;
    }

    #search-hospital-section ul li {
      width: 24%;
      display: inline-block;
      margin-bottom: 20px;
    }

    #search-hospital-section ul li a {
      color: #fff;
    }

    .cid-qPhINNGKCl .tab-content {
      display: none;
      width: 100%;
      order: 1;
    }

    .cid-qPhINNGKCl .tab-button[selected]+.tab-content {
      display: block;
    }

    .tab-button h3 {
      margin: 0px;
      font-size: 16px;
      text-transform: capitalize;
      opacity: 0.5;
      color: #1A1A1A;
    }

    .tab-button[selected] {
      background: #fff;
    }

    .tab-button[selected] h3 {
      opacity: 1;
    }

    amp-selector.ampTabContainer.cid-qPhINNGKCl {
      display: flex;
      flex-wrap: wrap;
    }

    .tab-button {
      background: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 14px;
      border-radius: 8px 8px 0 0;
      padding: 10px 15px;
      color: #000;
      text-transform: lowercase;
      display: inline-block;
    }

    section#footer {
      background-color: #0E87A3;
      color: #fff;
      padding: 40px 0px;
    }

    .footer-items p {
      color: #fff;
      font-size: 14px;
      width: 90%;
    }
    .footer-logo {
      width: 150px;
      height: 50px;
    }
    .social-icons {
    display: flex;
}
    .social-icons amp-img {
      width: 25px;
      height: 25px;
    }
    .social-icons a {
      margin-right: 16px;
    }

    .address-outter {
      margin-top: 30px;
    }

    .address-outter amp-iframe {
      width: 90%;
    }

    .address-outter .footer-adderss p {
      margin-top: 0px;
      line-height: 28px;
    }

    .footer-items ul {
      list-style: none;
      padding: 0px;
    }

    .footer-items ul li a {
      color: #fff;
      font-size: 14px;
      margin-bottom: 15px;
      display: block;
    }

    section#bottom-footer p {
      color: #fff;
      font-size: 11px;
    }

    section#bottom-footer {
      background-color: #818285;
      padding: 10px 0px;
    }

    @media (min-width: 576px) {
      .container {
        max-width: 540px;
      }
    }

    @media (min-width: 768px) {
      .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
      }

      .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
      }

      .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
      }

      .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
      }

      .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
      }

      .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
      }

      .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
      }

      .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
      }

      .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
      }

      .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
      }

      .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
      }

      .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
      }

      .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
      }

      .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
      }

      .container {
        max-width: 720px;
      }

      .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }

      .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
      }
    }

    @media (min-width:900px) {
      .modal-dialog {
        max-width: 700px;
        margin: 5.75rem auto;
      }
    }

    @media (max-width:900px) {
      p.dr-review-text {
        white-space: unset;
      }
    }

    @media (min-width: 992px) {
      .container {
        max-width: 960px;
      }

      .cid-qPydcGGZlE .ampstart-btn,
      .cid-qPydcGGZlE amp-sidebar {
        display: none;
      }
    }

    @media (min-width:1100px) {
      .modal-dialog {
        max-width: 900px;
        margin: 5.75rem auto;
      }
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 1140px;
      }
    }

    @media (max-width:1000px) {
      .tab {
        width: 25%;
      }

      .tab-info-box {
        width: 75%;
      }

      .dashboard-page .tab button.tablinks {
        padding: 20px 20px;
        font-size: 20px;
        font-weight: 500;
      }

      .email_analytics_field input {
        width: 66%;
      }
    }

    @media (max-width:991px) {
      .cid-qPydcGGZlE .navbar .navbar-collapse {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100vh;
        background: #000000;
        padding: 1rem 2rem 1rem 2rem;
      }

      .builder-sidebar .nav-item {
        width: 100%;
        margin: 5px 10px;
      }

      .builder-sidebar a.nav-link {
        color: #fff;
        display: block;
      }
    }

    @media (max-width:768px) {
      .dr-profile .dr-profile-detail p span {
        width: 43%;
      }

      .dr-image {
        margin-bottom: 20px;
      }

      .dashboard-page {
        display: unset;
      }

      .tab {
        width: 100%;
        margin-bottom: 20px;
      }

      .dashboard-page .tab button.tablinks {
        display: contents;
      }

      .tab-info-box {
        width: 100%;
        padding: 15px;
      }

      .dashboard-page .tab button.tablinks {
        padding: 11px 15px;
        font-size: 16px;
        font-weight: 400;
        width: auto;
        display: inline;
      }

      .analytics_table table tr th {
        font-size: 14px;
      }

      .analytics_table table tr th:first-child {
        font-size: 16px;
      }

      .analytics_table table tr td {
        padding: 10px 15px;
        font-size: 14px;
      }

      .analytics_table table tr th {
        padding: 10px 15px;
      }

      .analytics_table table tr {
        white-space: nowrap;
      }

      .analytics_chart_date ul {
        display: block;
      }

      .analytics_chart_date ul li {
        margin-bottom: 10px;
        font-size: 14px;
      }

      .email_analytics_field input {
        margin-bottom: 30px;
        width: 100%;
      }

      form.home-search-form {
        display: grid;
      }

      .group-fields {
        width: 100%;
        border: 1px solid #D8D8D8;
      }
    }

    @media (max-width:600px) {
      .group-fields {
        padding: 10px;
      }

      .group-fields select,
      .group-fields input {
        font-size: 16px;
      }

      .home-search-box {
        padding: 15px;
      }

      .tab-button {
        padding: 10px 9px;
      }

      .dr-general-details ul li {
        font-size: 14px;
      }

      .dr-profile p {
        font-size: 14px;
      }

      .dr-profile-detail .main_btn {
        margin-bottom: 20px;
      }

      .dashboard-page .tab button.tablinks {
        padding: 8px 10px;
        font-size: 12px;
      }

      .footer-items {
        margin-bottom: 20px;
      }
    }
  </style>


  <!-- <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script> -->

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  <!-- <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script> -->
</body>

</html>

















          

         













<amp-selector role="tablist" layout="container" class="ampTabContainer cid-qPhINNGKCl">
					
  <div role="tab" class="tab-button" option="a" selected="">
  	<h3 class="tab-head mbr-bold align-center mbr-fonts-style display-5">
	<div class="row-xs-4 row-sm-4 row-md-4 row-lg-4 search-type <%= 'selected-search' if current_page?(action: 'index') %>">

<font color="red">
    <%= link_to "Doctors", :root, title: 'Doctors' %>

</font>
</div>
  </div>


  <div role="tab" class="tab-button" option="b" >
  <div class="row-xs-4 row-sm-4 row-md-4 row-lg-4 search-type <%= 'selected-search' if current_page?(action: 'prep_hospitals') %>">
	  <%= link_to "Hospitals", :prep_hospital_search, title: 'Hospitals' %>
  </div>

</div>


  <div role="tab" class="tab-button" option="c" >
  <div class="row-xs-4 row-sm-4 row-md-4 row-lg-4 search-type <%= 'selected-search' if current_page?(action: 'prep_health_insurance') %>">
  	<%= link_to "Health Insurance", :prep_health_insurance_search, title: 'Health Insurance' %>
  </div>
</div>

</amp-selector>





