<% file_path = "#{Rails.root}/lib/statistic.json" %>
<% if File.exist?(file_path) %>
  <% file = File.read(file_path) %>
  <% statistic = JSON.parse(file) %>
  <div class='container statistics'>
    <div class='col-xs-3 col-md-3'>
      <span class="icon-sec"><%= image_tag "doctor-icon" %></span>
      <span class='bold main-info'><%= formatted_statistic(statistic['doc_count']) %> +</span>
      <span class="det-info">Doctors</span>
    </div>
    <div class='col-xs-3 col-md-3'>
      <span class="icon-sec"><%= image_tag "hospitals.png" %></span>
      <span class='bold main-info'><%= formatted_statistic(statistic['hospital_count']) %> +</span>
      <span class="det-info"> Hospitals</span>
    </div>
    <div class='col-xs-3 col-md-3'>
      <span class="icon-sec"><%= image_tag "medical_insurance.png" %></span>
      <span class='bold main-info'><%= formatted_statistic(statistic['hi_count']) %> +</span>
      <span class="det-info">Insurance</span>
    </div>
    <div class='col-xs-3 col-md-3'>
      <span class="icon-sec"><%= image_tag "reviews.png" %></span>
      <span class='bold main-info'><%= formatted_statistic(statistic['total_reviews']) %> +</span>
      <span class="det-info"> Reviews</span>
    </div>
  </div>
<% end %>
