<h3>Appointment Request</h3>
<p> A HealthSoul user has requested an appointment with your office: </p>
<p><strong>Date/Time:</strong> <%= @appointment.date_time %></p>
<p><strong>Name:</strong> <%= @user.get_full_name %></p>
<p><strong>Phone:</strong> <%= @user.phone_number %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Reason:</strong> <%= @appointment.reason %></p>
<p><%= @appointment.provider.present? ? link_to("Back To #{@appointment.provider.name}", @appointment.provider, class: 'btn btn-default') : "" %></p>
