hr
.container
  h1.text-center New Answer
  - if @question.location.doctor?
    = link_to @question.location&.name, doctor_path(@question.location)
  - elsif @question.location
    = link_to @question.location&.name, location_path(@question.location)
  h3
    | Question:
  p
    blockquote=@question.body  

  .well
    = simple_form_for [@question, @answer] do |f|
      .form-group
        = f.input :body, label: false, placeholder: "Enter your answer...", input_html:{ class: 'form-control'}
      .form-group  
        = f.button :submit, class: 'btn btn-primary'
