h3
  = "Edit #{@tag.name} Category"
= simple_form_for @tag, url: admin_tag_path do |f|
  .row
    .small-12.large-12.columns
      =f.input :title, label: 'Page Title'
    .small-12.large-12.columns
      =f.input :page_content, label: 'Page Content For Category Page', input_html: {class: 'froala_editor'}
    .small-12.large-12.columns
      =f.input :page_faqs, label: 'FAQs For Category Page', input_html: {class: 'froala_editor'}
    .small-12.large-12.columns
      =f.input :meta_title, label: 'Meta Title'
    .small-12.large-12.columns
      =f.input :description, label: 'Meta Description'
    .small-12.large-12.columns
      = f.input :custom_meta_tags, placeholder: 'Example: <meta property="og:type" content="article" />', label: "Custom meta tags (enter html)"
    .small-12.large-12.columns
      =f.input :featured_image, label: 'Banner Image For Category Page.  Will fallback to blog page if none given.'
    - if @tag.featured_image.present?
      .small-2.large-2.columns
        h5 Current Image
      .small-10.large-10.columns
        = image_tag(@tag.featured_image.thumb.url)
    .small-12.large-12.columns
      =f.input :featured_image_alt, label: 'Banner Image Alt Text'
    .small-12.large-12.columns
      =f.button :submit, value: 'Update Category'
