<h4><%=t("doctor_review.overall_experience") %>  <%= stars(rating.overall_experience) %></h4>
<h5><%=t("doctor_review.explaintation") %>  <%= stars(rating.try(:explaintation)) %></h5>
<h5><%=t("doctor_review.trust") %>  <%= stars(rating.trust) %></h5>
<% if rating.try(:outpatient) %>
  <h5><%=t("doctor_review.staff") %>  <%= stars(rating.staff) %></h5>
  <h5><%=t("doctor_review.appt") %>  <%= stars(rating.appt) %></h5>
  <h5><%=t("doctor_review.wait") %>  <%= stars(rating.wait) %></h5>
<% else %>
  <h5><%=t("doctor_review.skills") %>  <%= stars(rating.try(:skills)) %></h5>
<% end %>
