=simple_form_for [@location, @rating] do |f|
  p=t("rating.health_insurance.use_date")
  #dpMonths.row.date data-date-format="mm-yyyy" data-start-view="year" data-min-view="year" class="max_width_200"
    div class="small-2 columns"
      span class="prefix"
        i class="fa fa-calendar"
    div class="small-10 columns"
      =f.input :use_date, as: :string, input_html: {"readonly" => "", size: 16, value: Date.today.strftime("%m-%Y")}, label: false
  h4=t("rating.health_insurance.rating_heading")
  .callout
    =f.input :overall_experience, as: :hidden, label: t("rating.health_insurance.ratings.overall_experience"), input_html: {class: "enter-rating overall-experience"}
    =f.input :customer_service, as: :hidden, label: t("rating.health_insurance.ratings.customer_service"), input_html: {class: "enter-rating"}
    =f.input :cost_satisfaction, as: :hidden, label: t("rating.health_insurance.ratings.cost_satisfaction"), input_html: {class: "enter-rating"}
    =f.input :claims_process, as: :hidden, label: t("rating.health_insurance.ratings.claims_process"), input_html: {class: "enter-rating"}
    =f.input :get_ins, as: :radio_buttons, collection: Rating::InsGetIns, label: t("rating.health_insurance.get_ins")
    =f.input :recommend, as: :radio_buttons, collection: Rating::Recommend, label: t("rating.health_insurance.recommend")
  =f.input :comment, label: t("rating.health_insurance.comment"), placeholder: "Minimum of 5 words"
  = render 'agreement'
  =f.button :submit, "Submit"
