<h4><%=t("rating.health_insurance.ratings.overall_experience") %>  <%= stars(rating.overall_experience) %></h4>
<h5><%=t("rating.health_insurance.ratings.customer_service") %>  <%= stars(rating.customer_service) %></h5>
<h5><%=t("rating.health_insurance.ratings.cost_satisfaction") %>  <%= stars(rating.cost_satisfaction) %></h5>
<h5><%=t("rating.health_insurance.ratings.claims_process") %>  <%= stars(rating.claims_process) %></h5>
