<h4><%=t("rating.hospital.ratings.overall_experience") %>  <%= stars(rating.overall_experience) %></h4>
<h5><%=t("rating.hospital.ratings.doctor_care") %>  <%= stars(rating.doctor_care) %></h5>
<h5><%=t("rating.hospital.ratings.nursing_care") %>  <%= stars(rating.nursing_care) %></h5>
<h5><%=t("rating.hospital.ratings.cleanliness") %>  <%= stars(rating.cleanliness) %></h5>
<h5><%=t("rating.hospital.ratings.food_services") %>  <%= stars(rating.food_services) %></h5>
