=simple_form_for [@location, @rating] do |f|
  .row
    .columns.medium-4
      label=t("rating.hospital.use_date")
      #dpMonths.row.date data-date-format="mm-yyyy" data-start-view="year" data-min-view="year" class="max_width_200"
        div class="small-2 columns"
          span class="prefix"
            i class="fa fa-calendar"
        div class="small-10 columns"
          =f.input :use_date, as: :string, input_html: {size: 16, value: Date.today.strftime("%m-%Y")}, label: false
  .row
    .columns.medium-12.reasons
      =f.input :reason, as: :radio_buttons, collection: Rating::ReasonsActive.sort, label: t("rating.hospital.reason")
  .row
    .columns
      h4=t("rating.hospital.rating_heading")
      .callout
        =f.input :overall_experience, as: :hidden, label: t("rating.hospital.ratings.overall_experience"), input_html: {class: 'overall-experience enter-rating'}
        =f.input :doctor_care, as: :hidden, label: t("rating.hospital.ratings.doctor_care"), input_html: {class: "enter-rating"}
        =f.input :nursing_care, as: :hidden, label: t("rating.hospital.ratings.nursing_care"), input_html: {class: "enter-rating"}
        =f.input :cleanliness, as: :hidden, label: t("rating.hospital.ratings.cleanliness"), input_html: {class: "enter-rating"}
        =f.input :food_services, as: :hidden, label: t("rating.hospital.ratings.food_services"), input_html: {class: "enter-rating"}
        =f.input :recommend, as: :radio_buttons, collection: Rating::Recommend, label: t("rating.hospital.recommend")
      =f.input :comment, label: t("rating.hospital.comment"), placeholder: "Minimum of 5 words"
      = render 'agreement'
      =f.button :submit, "Submit"
