.ratings-overview
  - case @location.type_slug
  - when "hospital"
    .row.medium-up-5.text-center
      .column.column-block
        h2 Overall
        #overall.review-circle data-rating="#{@location.ratings.rating_for(:overall_experience)}"
      .column.column-block
        h2 Doctor's Care
        #care.review-circle data-rating="#{@location.ratings.rating_for(:doctor_care)}"
      .column.column-block
        h2 Nursing Care
        #nursing_care.review-circle data-rating="#{@location.ratings.rating_for(:nursing_care)}"
      .column.column-block
        h2 Cleaniness
        #cleaniness.review-circle data-rating="#{@location.ratings.rating_for(:cleanliness)}"
      .column.column-block
        h2 Food Services
        #food.review-circle data-rating="#{@location.ratings.rating_for(:food_services)}"
  - when "health-insurance", "travel-health-insurance"
    .row.medium-up-4.text-center
      .column.column-block
        h2=t("ratings.health_insurance.overall_experience")
        #overall.review-circle data-rating="#{@location.ratings.rating_for(:overall_experience)}"
      .column.column-block
        h2=t("ratings.health_insurance.customer_service")
        #customer_service.review-circle data-rating="#{@location.ratings.rating_for(:customer_service)}"
      .column.column-block
        h2=t("ratings.health_insurance.cost_satisfaction")
        #cost_satisfaction.review-circle data-rating="#{@location.ratings.rating_for(:cost_satisfaction)}"
      .column.column-block
        h2=t("ratings.health_insurance.claims_process")
        #claims_process.review-circle data-rating="#{@location.ratings.rating_for(:claims_process)}"

  - when "doctor"
    - if @location.ratings.outpatient.present?
      .row
        .columns
          h4 Outpatient Ratings
      .row.medium-up-6.text-center
        .column.column-block
          h2=t("doctor_review.headings.overall_experience")
          #overall.review-circle data-rating="#{@location.ratings.rating_for(:overall_experience, :outpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.explaintation")
          #explaintation.review-circle data-rating="#{@location.ratings.rating_for(:explaintation, :outpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.trust").html_safe
          #trust.review-circle data-rating="#{@location.ratings.rating_for(:trust, :outpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.staff")
          #staff.review-circle data-rating="#{@location.ratings.rating_for(:staff, :outpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.appt")
          #appt.review-circle data-rating="#{@location.ratings.rating_for(:appt, :outpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.wait")
          #wait.review-circle data-rating="#{@location.ratings.rating_for(:wait, :outpatient)}"

    - if @location.ratings.inpatient.present?
      br
      .row
        .columns
          h4 Inpatient Ratings
      .row.medium-up-6.text-center
        .column.column-block
        .column.column-block
          h2=t("doctor_review.headings.overall_experience")
          #overall_inpatient.review-circle data-rating="#{@location.ratings.rating_for(:overall_experience, :inpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.explaintation")
          #explaintation_inpatient.review-circle data-rating="#{@location.ratings.rating_for(:explaintation, :inpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.trust").html_safe
          #trust_inpatient.review-circle data-rating="#{@location.ratings.rating_for(:trust, :inpatient)}"
        .column.column-block
          h2=t("doctor_review.headings.skills")
          #skills_inpatient.review-circle data-rating="#{@location.ratings.rating_for(:skills, :inpatient)}"
        .column.column-block
