.row[id="review#{rating.id}"]
  .columns
    .review data-review-type="#{rating.reason}"

      .row
        .columns.medium-3
          = render 'ratings/user_stats', user: rating.user, rating: rating

        .columns.medium-5
          =simple_format rating.comment
          .created-at
            em
              small
                |created at: 
                =l rating.created_at, format: :created_at
          p=render "votes/vote_buttons", voteable: rating
        .columns.medium-4
          - case rating.location.type_slug
          - when "hospital"
            .ind-rating-stars.overall
              .title=t("rating.#{rating.location.type_slug}.ratings.overall_experience")
              .stars-container
                span data-stars="#{rating.overall_experience}"
            .ind-rating-stars
              .title=t("rating.#{rating.location.type_slug}.ratings.doctor_care")
              .stars-container
                span data-stars="#{rating.doctor_care}"
            .ind-rating-stars
              .title=t("rating.#{rating.location.type_slug}.ratings.nursing_care")
              .stars-container
                span data-stars="#{rating.nursing_care}"
            .ind-rating-stars
              .title=t("rating.#{rating.location.type_slug}.ratings.cleanliness")
              .stars-container
                span data-stars="#{rating.cleanliness}"
            .ind-rating-stars
              .title=t("rating.#{rating.location.type_slug}.ratings.food_services")
              .stars-container
                span data-stars="#{rating.food_services}"
            .date-visited
              p
                | Date Visited: 
                span.label.primary #{l(rating.use_date, format: :use_date)}
              p
                | Recommends: 
                =recommend_tag(rating.recommend)

          - when "health-insurance", "travel-health-insurance"
            .ind-rating-stars.overall
              .title=t("rating.#{rating.location.type_slug}.ratings.overall")
              .stars-container
                span data-stars="#{rating.overall_experience}"
            .ind-rating-stars
              .title=t("rating.#{rating.location.type_slug}.ratings.customer_service")
              .stars-container
                span data-stars="#{rating.customer_service}"
            .ind-rating-stars
              .title=t("rating.#{rating.location.type_slug}.ratings.cost_satisfaction")
              .stars-container
                span data-stars="#{rating.cost_satisfaction}"
            .ind-rating-stars
              .title=t("rating.#{rating.location.type_slug}.ratings.claims_process")
              .stars-container
                span data-stars="#{rating.claims_process}"
            .date-visited
              p
                | Date Visited: 
                span.label.primary #{l(rating.use_date, format: :use_date)}
              p
                | Recommends:
                =recommend_tag(rating.recommend)

          - when "doctor"
            .ind-rating-stars.overall
              .title=t("doctor_review.overall_experience")
              .stars-container
                span data-stars="#{rating.overall_experience}"

            .ind-rating-stars
              .title=t("doctor_review.explaintation")
              .stars-container
                span data-stars="#{rating.explaintation}"

            .ind-rating-stars
              .title=t("doctor_review.trust")
              .stars-container
                span data-stars="#{rating.trust}"

            - if rating.outpatient?
              .ind-rating-stars
                .title=t("doctor_review.staff")
                .stars-container
                  span data-stars="#{rating.staff}"
              .ind-rating-stars
                .title=t("doctor_review.appt")
                .stars-container
                  span data-stars="#{rating.appt}"
              .ind-rating-stars
                .title=t("doctor_review.wait")
                .stars-container
                  span data-stars="#{rating.wait}"
            - else
              .ind-rating-stars
                .title=t("doctor_review.skills")
                .stars-container
                  span data-stars="#{rating.skills}"

            .date-visited
              p
                | Date Visited: 
                span.label.primary #{l(rating.use_date, format: :use_date)}
              p
                | Recommends: 
                =recommend_tag(rating.recommend)

      - if rating.comments.present?
        .row
          .columns
            =render partial: 'comments/comment', collection: rating.comments
      - if @location.present? && policy(@location).update?
        =link_to "New Comment", new_rating_comment_path(rating), title: 'Add new comment'
