p
  strong=user.username

.user-totals
  - unless @location.present?
    .row
      .columns.medium-6
        | Total Points:
      .columns.medium-6
        span.badge #{user.total_points}
  .row
    .columns.medium-6
      | Reviews:
    .columns.medium-6
      span.badge.secondary #{user.total_reviews}
  - unless @location.present?
    .row
      .columns.medium-6
        | Total Views:
      .columns.medium-6
        span.badge.secondary #{rating.location.impressionist_count}
- if rating.location.hospital?
  p
    | Reason Used:
    br
    = rating.reason_label
- if rating.doctor_review?
  p
    | Reason Used:
    br
    = rating.reason.titleize

- unless @location.present?
  p
    | #{ rating.location.type_name }:  
    br
    | #{link_to rating.location.name, rating.location, title: rating.location.name}
