h1 
  = "New #{@request.source_type} has been recommended to add."
p
  = 'Below is detail information.'

table
  tr    
    th
      = 'Name : '
    td
      = @request.name

  tr    
    th   
      = 'Email : '
    td
      = @request.email
    
  - if @request.website
    tr    
      th   
        = 'Website : '
      td
        = @request.website

  - if  @request.location
    tr    
      th   
        = 'Location : '
      td
        = @request.location

  tr    
    th  
      = 'Country : '
    td
      = @request.country

  tr    
    th 
      = 'Request sent at : '
    td
      = @request.created_at
