.well
  = simple_form_for @contact do |f|
    .form-group
      = f.input :name, input_html:{ class: 'form-control'}
    .form-group
      = f.input :email, input_html:{ class: 'form-control'}
    .form-group
      = f.input :hospital_name, input_html:{ class: 'form-control'}
    .form-group
      = f.input :city, input_html:{ class: 'form-control'}
    .form-group
        = f.input :country, as: :string, input_html:{ class: 'form-control'}
    .form-group
      = f.input :comments, as: :text, input_html:{ class: 'form-control'}
    .form-group
      = f.button :button, class: 'btn btn-primary'
