.container
	h1.text-center Contact Us

	p 
    = 'Your feedback is important for us to improve our web site. Please complete the feedback form to send us your comments and suggestions. Thank you for taking the time to send us your comments and suggestions.'

	= render 'form'
