<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover"> 
          <thead class=" revise-doctor-frame-top">
            <tr>
              <th width="22%;">Doctor's Name</th>
              <th width="13%;">Speciality</th>
              <th width="10%;">Reviews</th>
              <th width="25%;">Average User Rating</th>
              <th width="30%;">Address</th>
            </tr>
          </thead>
          <tbody>
            <% @doctors.each do |doctor| %>
              <% doctor = doctor.decorate %>
              <tr>
                <td><%= link_to doctor.name, doctor_path(doctor) %></td>
                <td><%= doctor.primary_speciality %></td>
                <td><%= doctor.ratings_count %></td>
                <td><%= doctor.stars %>
                  (<%= doctor.overall %>/5)
                </td>
                <td class='not-telephone'><%= doctor.org_name %>
                  <%= prop :address, doctor.address %><br>
                  <% if doctor.address2.present? %>
                    <%= doctor.address2 %>
                    <br>
                  <% end %>
                  <%= doctor.city_state_zip %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
