<% country = params[:location].blank? ? "USA's" : "#{params[:location]}'s" %>
<div class="row filter">
  <div class="col-md-12">
    <div class="award-top-heading">
      <%= country %> Best <%= loc %> for <%= Date.today.year %>
    </div>
  </div>
</div>

<div class="container filter">
  <div class="row"> 
    <div class="col-md-12">
      <div class="hospital-reviews-result">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="soft-buyreviews-frame pull-right">
              <span>
                <%= form_tag path_name do %>
                  Filter By Country: &nbsp;<%= select_tag "location", options_for_select([ "USA", "India" ], selected: params[:location].present? ? params[:location] : "USA"), {class: "form-control", onchange: "$(this).parent('form').submit();"} %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
	  </div>
	</div>
</div>
			
<div class="clear"></div>