<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-hover"> 
          <thead class="revise-doctor-frame-top">
            <tr>
              <th width="25%;">Hospital's Name</th>
<!--               <th>Speciality</th>
 -->              <th width="10%;">Reviews</th>
              <th width="25%;">Average User Rating</th>
              <th width="40%;">Address</th>
            </tr>
          </thead>
          <tbody>
                 <% @hospitals.each do |hospital| %>
                        <% hospital = hospital.decorate %>
                        <tr>
                             <td><%= link_to hospital.name, location_path(hospital) %></td>
<!--                              <td><%#= hospital.primary_speciality %></td>
 -->                             <td><%= hospital.ratings_count %></td>
                             <td><%= hospital.stars %>
                                  (<%= hospital.overall %>/5)
                              </td>
                              <td class='not-telephone'>
                                  <%= prop :address, hospital.address %><br>
                                   <% if hospital.address2.present? %>
                                  <%= hospital.address2 %>
                                  <br>
                                <% end %>
                                <%= hospital.city_state_zip %>
                              </td>
                        </tr>
                  <% end %>
          </tbody>
          
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>