<section class="sign-up-banner">
  <div class="sign-up-banner-inner-page">
    <a href="<%= awards_path %>" title='healthsoul award'> <%= image_tag "healthsoul-award-banner.jpg", alt: "healthsoul award", title: "healthsoul award" %>
    </a>
  </div>
</section>

<div class="clear"></div>
<br/>
<section>
      <%= render partial: "awards/filter", locals: {path_name: diamond_doctors_awards_path, loc: 'Doctors'} %>
      <%= render partial: "awards/doctors_listing" %>
      <div class="container">  
            <div class="row">      
                 <div class="Previous-next-h-review-bottom-frame">
                      <div class="row">
                        <div class="col-md-10">
                        
                        </div>
                      </div>
                  </div>        
            </div>
      </div>
</section>
<div class="clear"></div>