<section class="sign-up-banner">
  <div class="sign-up-banner-inner-page">
    <a href="<%= awards_path %>" title="healthsoul award">
       <%= image_tag "healthsoul-award-banner.jpg", alt: "healthsoul award", title: "healthsoul award" %>
    </a>
  </div>
</section>

<div class="clear"></div>
<br/>
<section>
  <%= render partial: "awards/filter", locals: {path_name: gold_hospitals_awards_path, loc: 'Hospitals'} %>
  <%= render partial: "awards/hospitals_listing" %>    
</section>
<div class="clear"></div>