<section class="sign-up-banner">
  <div class="sign-up-banner-inner-page">
    <a href="<%= awards_path %>" title="healthsoul award">
      <%= image_tag "healthsoul-award-banner.jpg", alt: "healthsoul award", title: "healthsoul award" %>
    </a>
  </div>
</section>

<div class="clear"></div>
<!--award-para-section start-->

<section class="award-para-section">
  <div class="container">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="award-top-heading">
  			  Guiding Principles for Award Distribution
  			</div>
  		</div>
  	</div>
  	
  	<div class="row">
  		<div class="col-md-12">
  			<div class="award-top-paragraph">
  			  <p>
    			 These awards are given to physicians, physician practices, hospitals, health insurance and travel
    health insurance in recognition of outstanding patient and consumer satisfaction. These are
    awarded based on the average score in a year given by patients based on their healthcare
    experience. The healthcare entity must have atleast 5 reviews to gain an award.
  			  </p>
  			</div>
  		</div>
  	</div>
  	
  </div>	
</section>

<section class="award-para-section">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
  			<div class="award-distribution-img-main">
  					<%= image_tag "diamond.jpg" %>
  				</div>
  		</div>
  		
    	<div class="col-sm-10 col-xs-12">
    		<div class="award-distribution-guiding">
    		<p class="award-distribution-heading">
    			Gold Award indicates Exceptional Patient Experience
    		</p>	
    		<p>
    			This award is for healthcare professionals who have received 5-star rating from their patients during a particular year.
    		</p>	
    		</div>
    	</div>
  	</div>
  	
  	<div class="row">
  		<div class="col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
  			<div class="award-distribution-img-main">
  					<%= image_tag "gold.jpg" %>
  				</div>
  		</div>
  		
    	<div class="col-sm-10 col-xs-12">
    		<div class="award-distribution-guiding">
      		<p class="award-distribution-heading">
      			Silver Award indicates Excellent Patient Experience
      		</p>	
      		<p>
      			This award is for healthcare professionals who have received more than 4-star rating but less than 5-star rating from their patients during a particular year.
      		</p>	
    		</div>
    	</div>
  	</div>
  	
  	<div class="row">
  		<div class="col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
  			<div class="award-distribution-img-main">
  				<%= image_tag "silver.jpg" %>
  			</div>
  		</div>
  		
  	  <div class="col-sm-10 col-xs-12">
  		  <div class="award-distribution-guiding">
  		    <p class="award-distribution-heading">
  			    Bronze Award indicates Good Patient Experience
      		</p>	
      		<p>
      			This award is for healthcare professionals who have received more than 3-star rating but less than 4-star rating from their patients during a particular year.
      		</p>	
  		  </div>
  	  </div> 		
  	</div>  	
  </div>
</section>

<section class="award-para-section">
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="award-top-heading">
			  Patients Experience and Satisfaction Awards - For Doctors
			</div>
		</div>
	</div>
	
</div>

<div class="container">	
<div class="award-healthsoul-section">	

	<div class="row">
		<div class="col-md-6">
		
			<div class="healthsoul-award-box-main-left">
				<div class="healthsoul-award-img-main">
					<%= image_tag "diamond.jpg" %>
				</div>
				<div class="healthsoul-award-txt-main">
					<a href="<%= diamond_doctors_awards_path %>">View Recipients</a>
				</div>
			</div>
		
		</div>
		
		<div class="col-md-6">
		
			<div class="healthsoul-award-box-main">
				<div class="healthsoul-award-img-main">
					<%= image_tag "gold.jpg" %>
				</div>
				<div class="healthsoul-award-txt-main">
					<a href="<%= gold_doctors_awards_path %>">View Recipients</a>
				</div>
			</div>
		
		</div>
	</div>
	
</div>
</div>


<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="award-top-heading">
			 Patients Experience and Satisfaction Awards - For Hospitals
			</div>
		</div>
	</div>
	
</div>

<div class="container">	
<div class="award-healthsoul-section">	

	<div class="row">
		<div class="col-md-6">
		
			<div class="healthsoul-award-box-main-left">
				<div class="healthsoul-award-img-main">
					<%= image_tag "diamond.jpg" %>
				</div>
				<div class="healthsoul-award-txt-main">
					<a href="<%= diamond_hospitals_awards_path %>">View Recipients</a>
				</div>
			</div>
		
		</div>
		
		<div class="col-md-6">
		
			<div class="healthsoul-award-box-main">
				<div class="healthsoul-award-img-main">
					<%= image_tag "gold.jpg" %>
				</div>
				<div class="healthsoul-award-txt-main">
					<a href="<%= gold_hospitals_awards_path %>">View Recipients</a>
				</div>
			</div>
		
		</div>
	</div>
	
</div>
</div>

</section>	

<!--award-para-section end-->