.row
  .columns.medium-2
    - if local_assigns[:label].present?
      .compare-label=t(label)
  .columns.medium-10
    div class="compare row small-up-2 medium-up-#{@locations.size}"
      =yield content
