-@locations.each.with_index do |location, index|
  = content_for :compare_heading do
    div class="column column-block"
      -if location.present?
        .recent-review
          =location_image(location)
          h3=link_to location.name, location

  = content_for :compare_num_reviews do
    div class="column column-block"
      .recent-review
        p.number_reviews
          =location.ratings.size
          |  Reviews

  = content_for :compare_overall_rating do
    div class="column column-block"
      .recent-review
        p
          span data-stars="#{location.overall}"

  = content_for :compare_recommend do
    div class="column column-block"
      .recent-review
        p
          =number_to_percentage(location.ratings.recommend_percentage, precision: 1)

  - case @location_type
  - when "hospital"
    = content_for :compare_doctor_care do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:doctor_care)}"

    = content_for :compare_nursing_care do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:nursing_care)}"

    = content_for :compare_cleanliness do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:cleanliness)}"

    = content_for :compare_food_services do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:food_services)}"

  - when "health-insurance", "travel-health-insurance"
    = content_for :compare_customer_service do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:customer_service)}"

    = content_for :compare_cost_satisfaction do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:cost_satisfaction)}"

    = content_for :compare_claims_process do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:claims_process)}"

  - when "doctor"
    = content_for :compare_explaintation do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:explaintation)}"
    = content_for :compare_trust do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:trust)}"
    = content_for :compare_staff do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:staff)}"
    = content_for :compare_appt do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:appt)}"
    = content_for :compare_wait do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:wait)}"
    = content_for :compare_skills do
      div class="column column-block"
        .recent-review
          p
            span data-stars="#{location.ratings.rating_for(:skills)}"


.row
  .columns.medium-2
  .columns.medium-10.text-center
    h1 Compare
    hr
= render 'row', content: :compare_heading
= render 'row', content: :compare_num_reviews, label: t("rating.num_reviews")

- case @location_type
  - when "hospital"
    = render 'row', content: :compare_recommend, label: t("rating.#{@location_type.gsub('-','_')}.recommend")
    = render 'row', content: :compare_overall_rating, label: t("rating.hospital.ratings.overall_experience")
    = render 'row', content: :compare_doctor_care, label: t("rating.hospital.ratings.doctor_care")
    = render 'row', content: :compare_nursing_care, label: t("rating.hospital.ratings.nursing_care")
    = render 'row', content: :compare_cleanliness, label: t("rating.hospital.ratings.cleanliness")
    = render 'row', content: :compare_food_services, label: t("rating.hospital.ratings.food_services")

  - when "health-insurance", "travel-health-insurance"
    = render 'row', content: :compare_customer_service, label: t("rating.health_insurance.ratings.customer_service")
    = render 'row', content: :compare_cost_satisfaction, label: t("rating.health_insurance.ratings.cost_satisfaction")
    = render 'row', content: :compare_claims_process, label: t("rating.health_insurance.ratings.claims_process")

  - when "doctor"
    = render 'row', content: :compare_overall_rating, label: t("doctor_review.overall_experience")
    = render 'row', content: :compare_recommend, label: t("doctor_review.recommend")
    = render 'row', content: :compare_explaintation, label: t("doctor_review.explaintation")
    = render 'row', content: :compare_trust, label: t("doctor_review.trust")
    = render 'row', content: :compare_staff, label: t("doctor_review.staff")
    = render 'row', content: :compare_appt, label: t("doctor_review.appt")
    = render 'row', content: :compare_wait, label: t("doctor_review.wait")
    = render 'row', content: :compare_skills, label: t("doctor_review.skills")

= render 'locations_chart' if ['hospital', "health-insurance", "travel-health-insurance"].include? @location_type
