.well
  = simple_form_for @patient_story do |f|
    .form-group
      = f.input :name, input_html:{ class: 'form-control'}
    .form-group
      = f.input :email, input_html:{ class: 'form-control'}
    .form-group
      = f.input :city, input_html:{ class: 'form-control'}
    .form-group
      = f.input :country_id, as: :select, collection: CountryDecorator.collection, label: "Country", selected: @patient_story.country_id, prompt: 'Select', input_html:{ class: 'form-control'}
    .form-group
      = f.input :title, required: true, label: 'Story title', input_html:{ class: 'form-control'}
    .form-group
      = f.input :description, required: true, label: 'Story Description', input_html: {class: 'blog-form form-control'}
    .form-group
      = f.input :word_document, as: :file, input_html: {file_extension: '.doc, .docx, .dot', media_type: 'application/msword', class: 'form-control-file'}
    .form-group
      = f.input :image, as: :file, input_html: {accept: "image/*", class: 'form-control-file'}
    .form-group
      = f.input :video, as: :file, input_html: {accept: "video/*", class: 'form-control-file'}
    .form-group
      = f.input :comments, as: :text, input_html:{ class: 'form-control'}
    .form-group
      = f.input :terms_of_service, label: 'I agree to Terms and Conditions of HealthSoul.'
    .form-group
      = f.button :button, 'Submit Story',class: 'btn btn-primary'
      = f.button :button, 'Cancel', type: :reset, class: 'btn btn-danger ml-1-percent'