.frame
  .row
    .columns
      = list.title
      span
        = link_to "View more", patient_story_path(list.id), title: 'View more'

  .row
    .columns
      small
        = "Uploaded by #{list.name} - #{list.email}, on #{list.created_at.strftime('%d %b %Y')}"
