h1
  = @patient_story.title
.row
  .columns
    | Uploaded by : #{@patient_story.name}
.row
  .columns
    | Email: #{@patient_story.email}
.row
  .columns
    | Address: #{@patient_story.city}, #{@patient_story.country.name}
.row
  .columns
    | Story Description: #{raw @patient_story.description}
.row
  .columns
    = image_tag @patient_story.image if @patient_story.image
.row
  .columns
    = video_tag @patient_story.video if @patient_story.video
- if !@patient_story.word_document.blank?
  .row
    .columns
      - if current_user.present?
        Download #{link_to @patient_story.word_document.file.filename, download_patient_story_path(@patient_story.id)}
      - else 
        = @patient_story.word_document.file.filename
- if @patient_story.comments
  .row
    .columns
      | Comments: #{@patient_story.comments}
