

=simple_form_for [:admin, @resource] do |f|
  =f.input :title, input_html: {id: 'promotion-title-form'}
  =f.input :blurb, input_html: {id: 'promotion-blurb-form'}
  =f.input :terms_and_conditions_content, input_html: {id: 'promotion-terms-conditions-form'}
  =f.association :country
  =f.input :promotion_for_all_countries
  =f.input :priority_index
  =f.input :promotion_image, as: :file
  =f.input :display_on, as: :radio_buttons, collection: Promotion::DISPLAY_ON
  =f.hidden_field :promotion_image_cache
  -if @resource.promotion_image?
    =image_tag(@resource.promotion_image.thumb.url)
    br
    label
      | Remove Promotion Image
      =f.check_box :remove_promotion_image
  =f.input :publish
  =f.button :button
