tr
  td=list.id
  td=list.title.html_safe
  td=list.blurb.html_safe
  td=list.country.alpha3 if list.country
  td=list.promotion_for_all_countries
  td=list.priority_index
  td=link_to "Edit", [:edit, :admin, list], class: 'button tiny'
  td=link_to "Delete", [:admin, list], :method => :delete, class: 'button tiny'
  td=link_to "Winners", admin_promotion_promotion_winners_path(list.id), class: 'button tiny' if list.display_on == 'Users'
