h1 = @resource_name

.button-group
	=link_to "Add", [:new, :admin, @resource_slug.singularize ], class: "button"

table data-nosort=""
	thead
		tr
		th ID
		th Title
		th Blurb
		th Country
		th All Countries?
		th Priority Index
		th
		th
	tbody
		= render partial: "list", collection: @resources
- if @resources.present?
  .text-center
    = paginate(@resources)