p
  | Dear #{@story.name},
p Thank you for your interest in sharing your healthcare story and raising awareness. Our Medical Content management team will be in touch with you shortly.
p
  | Regards,
  br/
  | Team Healthsoul