h1 New Patient Story

table
  tr
    th Name:
    td=@story.name
  tr
    th Email:
    td=@story.email
  tr
    th City:
    td=@story.city
  tr
    th Country:
    td=@story.country.name
  tr
    th Story title:
    td= raw @story.title
  tr
    th Story Description:
    td= raw @story.description
  tr
    th Comments:
    td= @story.comments

