h1 New Website Contact

table
  tr
    th Name:
    td=@contact.name
  tr
    th Email:
    td=@contact.email
  tr
    th Hospital Name:
    td=@contact.hospital_name
  tr
    th City:
    td=@contact.city
  tr
    th Country:
    td=@contact.country
  tr
    th Comments:
    td=@contact.comments
