li class="#{'current' if page.current?}"
  - if page.current?
    a href="#" class="active"
      = page
  - else
    = link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}
