.container.search_box
  h3 
    Find Medical Student
  = simple_form_for @search, url: medical_students_path, method: :get do |f|
    .row
      .col-md-5
        = f.input :name, placeholder: "Name", label: false, input_html: {class: "form-control_review seacch"}
      .col-md-5
        = f.input :professional_school, as: :select, collection: @professional_schools, include_blank: "Medical School", label: false, input_html: {class: 'select2'}
      .col-md-2
        = f.submit "Search", class: 'button'
        = link_to " Clear", medical_students_path, title: 'Clear Search'

.container

  .row.mt-10
    .col-md-12
      = link_to "+ Add a Medical Student", new_medical_student_path(), class: 'btn btn-primary pull-right'

  - if @medical_students
    - @medical_students.each_slice(3) do |ms_s|
      .row
        - ms_s.each do |ms|
          .col-md-4
            .row.medical-box
              = render partial: 'shared/medical_student', locals: {student: ms}