= render partial: 'shared/froala_editor'
hr
.container
  h1.text-center 
    = "New Medical Student / Trainee"

  .well
    = simple_form_for(@medical_student) do |f|
      = render partial: 'shared/medical_student_form', locals: {f: f}
      .row.form-group
        .col-md-12
          = f.input :photo, as: :file, input_html: {class: 'form-control'}
      .form-group
        = f.button :button, 'Submit',class: 'btn btn-primary'
        = f.button :button, 'Cancel', type: :reset, class: 'btn btn-danger ml-1-percent'
        = link_to 'Back', medical_students_path, class: 'btn btn-secondary  ml-1-percent'
