= scope :medical_student do
  section#fortis_hospital_frame
    .container
      .fortis_hospital_frame-middle-frame
        .row
          .col-md-3
            .fortis_hospital_frame-middle-frame-2
              a href="javascript:;" title="#{@medical_student.name}" = @medical_student.decorate.details_header_photo
          .col-md-9
            .fortis-heading_se
              h1= prop :name, @medical_student.name
              h4= @medical_student.professional_school  
            p.text-white
              = "Are you #{@medical_student.name}  or a manager for this medical student? Claim your profile for free! You can update your picture, publications and care philosophy."
            p
              = link_to "Claim Student", new_medical_student_claim_request_path(@medical_student), class: 'btn btn-success'
.container
  br
  .overview-main-frame
    .row
      .col-md-10
        h3 title="#{@medical_student.id}" 
          = 'Overview of '
          span.name
            = @medical_student.name
      .col-md-2
        = back_to_search_medical_student_button
    .row
      .col-md-12
        .overview-main-frame-con
          table.tbl_overview.no-border
            tr
              th= 'Degree: '
              td
                = @medical_student.degree_type
            tr
              th= 'Graduation Year (year of completion): '
              td
                = @medical_student.graduation_year
            - if @medical_student.publications
              tr
                th= 'Publications: '
                td
                  = raw @medical_student.publications
            - if @medical_student.care_philosophy
              tr
                th= 'Care philosophy: '
                td
                  = raw @medical_student.care_philosophy
  br