= simple_form_for [:admin, @resource ], url: @form_url do |f|
  - if f.object.location.present?
    = f.object.location.name
    / Cannot load the Doctors in a Select Box.  TOO LARGE
    / =f.association :questionable, collection: Location.pluck(:name, :id), input_html: {class: 'chosen-select' }
  =f.association :user, collection: User.pluck(:email, :id), input_html: {class: 'chosen-select' }
  =f.input :body
  =f.button :submit
