tr
  td
    - if list.location.class == Doctor
      = link_to list.location.name, doctor_path(list.location, anchor: "question#{list.id}")
    - else
      = link_to list.location.name, location_path(list.location, anchor: "question#{list.id}")
  td=list.user.email
  td=list.body
  td=l list.created_at
  td=link_to "Edit", [:edit, :admin, list], class: 'button tiny'
