h1=@resource_name

.button-group
table data-nosort=""
  thead
    tr
      th Location
      th User
      th Question
      th Created
      th
  tbody
    = render partial: "list", collection: @resources
- if @resources.present?
  .text-center
    = paginate(@resources)