<div class="login-with-phone-sec no_display">
  <div class="clear"></div>
  <div class="recently-review-top-heading">
    <h2><%= text %> with phone</h2>
  </div>
  <%= form_tag(login_or_sign_up_phone_path) do |f| %>
    <div class="form-group phone-number-fields">
      <label>Phone Number (Enter 10 Digit Number) </label><br>
      <div class="row">
        <div class="col-md-4">
          <%= select_tag(:phone_country_code, options_for_select( [ ["IND (+91)", "91"]] ), {class: 'form-control'})  %> 
        </div>
        <div class="col-md-8">
          <%= text_field_tag :phone_number, params[:phone_number], {class: 'form-control ten-digit-number', placeholder: "10 Digit Phone Number (No Hyphens)", required: true, maxlength: 10 } %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default" data-disable-with="Submitting..."><%= text %></button>
    </div>
    <h4 class='text-underline'>OR</h4><br/>
  <% end %>
</div>