<section class='login-singup'>
  <div class="container">
    <div class="row">
      <div class="col-md-6 bg_img"><%= image_tag 'img/login-bc.png'%></div>
      <div class="col-md-6 col-sm-12 col-xs-12">
          <h2>Log In</h2>
          <%= render 'layouts/flash', flash: flash %>
          <div class="sign-up-form-section-from-input">
            <div class="sign-up-scocial-section">
              <a href="<%= omniauth_authorize_path(:user, :google_oauth2) %>" class="btn  btn-sm  btn-danger signup-phone"><i class= 'fa fa-google'></i>&nbsp;&nbsp;Google</a>
              <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="btn  btn-sm btn-primary signup-phone"><i class= 'fa fa-facebook'></i>&nbsp;&nbsp;Facebook</a>
              <a href="#" class="btn btn-primary signup-email-address" id="email-address-login">Email</a>
              <!-- <a href="javascript:" class="btn btn-success  btn-sm  signup-phone" id="phone-login"><i class= 'fa fa-phone'></i>&nbsp;&nbsp;Phone</a> -->
              <br/>
            </div>

            <div class="email-sign-up">

              <%= render partial: "devise/sessions/login_or_sign_up_phone", locals: {text: "Log in"} %>

              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <%= render partial: "devise/shared/email_fields", locals: {f: f} %>
                  <%= render partial: "devise/shared/phone_number_fields", locals: {f: f} %>

                <div class="form-group">
                  <%= f.password_field :password, class: 'form-control', placeholder: "Password (6 characters minimum)", label: 'Password (6 characters minimum)' %>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <label>Remember me</label>
                  </div>
                <% end %>
                <button type="submit" class="btn btn-default">Log in</button>
              <% end %>

              <div class="form-group">
                <br/>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-sm  btn-default' %>
                <% end -%>
                OR
                <%= link_to "Create Account", new_user_registration_path, class: 'btn  btn-sm btn-default' %>
              </div>
              <br/>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>