<script>var timerVal = <%= @timer %></script>
<section class="sign-up-banner">
  <div class="sign-up-banner-inner-page">
    <a href="#">
      <%= image_tag 'img/login-bc.jpg'%>
    </a>
  </div>
</section>
<div class="clear"></div>
<section class="sign-up-form-section">
  <div class="container">
    <div class="recently-review-top-heading">
      <h2>Verify Phone</h2>
    </div>
    <%#= render 'layouts/flash', flash: flash %>
    <div class="sign-up-form-section-from-input">
      <div class="email-sign-up col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <%= form_tag(verify_phone_path) do |f| %>
            <div class="form-group phone-number-fields">
                  <label>OTP (Enter 4 Digit Number) </label><br>
                  <div class="row">
                          <%= text_field_tag :phone_otp, nil, {class: 'form-control', placeholder: "", required: true, maxlength: 4 } %>
                          <%= hidden_field_tag :phone_country_code, session[:phone_country_code] %>
                          <%= hidden_field_tag :phone_number, session[:phone_number] %>
                      </div>
                  </div>
            </div>

            <div class="form-group">
                 <button type="submit" class="btn btn-default" data-disable-with="verifying...">Verify</button>
            </div>
      
        <% end %>
      
      </div>

       <div class="email-sign-up col-lg-offset-4 col-lg-4 col-lg-offset-4">
            <%= form_tag(login_or_sign_up_phone_path) do |f| %>
                  <%= hidden_field_tag :phone_country_code, session[:phone_country_code] %>
                  <%= hidden_field_tag :phone_number, session[:phone_number] %>
                  <div class="form-group">
                        <% if @timer.present? && @timer >= 0 %>
                            <span id= "timeLeftSpan">Resend otp in: <span id="btnCounter"></span></span>
                        <% end %>
                       <button type="submit" class="btn btn-primary" data-disable-with="resending..." disabled="true" id="resendOtpBtn">Resend</button>
                  </div>
            <% end %>
      </div>

    </div>
  </div>
</section>
