- content_for(:title) { "United Arab Emirates Health Guide" }
h1 United Arab Emirates Health Guide

h2 Overview

p With a population of just over 9.1 million in 2015, UAE ranks 93rd in the world by population and 114th by total area.  The official language of UAE is Arabic. The currency is the UAE dirham.

p UAE ranks 27th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $2405, which is 3.6% of the GDP.  UAE males have a life expectancy at birth of 76 years, and females can expect to live 79 years.  There are 2.53 physicians per 1,000 people in UAE as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p UAE has more than 70 hospitals, both public and private.  There are also 150 health care centers and clinics. In recent years, UAE has shown great growth in both the quality and quantity of its health care services and infrastructure.  In fact, in 2013, the Dubai Health Authority announced a 12-year plan to become a hub for medical tourism, specifics include building new hospitals and health care centers as well as improving current ones.


h2 Health Insurance

p Over the last ten years, UAE has implemented mandatory health coverage for all residents.  Benefits include doctor and specialist visits, operations, maternity care, emergency services, and medications. Residents who do not have health insurance face penalties including monthly fines and denial of visas.

p People can buy private health insurance from about 30 companies offering a variety of plans and options.  Some basic considerations when buying health insurance include premiums (the monthly cost of insurance), deductibles (the total amount the individual must pay each year before the insurance company pays anything), co-payments (the amount the individual must pay for each service), and covered/non-covered services.

h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.moh.gov.ae/en


