h1= title "Argentina Health Guide"


h2 Overview

p With a population of just over 43.4 million in 2015, Argentina ranks 32nd in the world by population and 9th by total area.  The official language of Argentina is Spanish, but English, German, French, Italian, and several indigenous languages are also spoken. The currency is the Argentine peso.

p Argentina ranks 75th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,137, which is 4.8% of the GDP.  Argentine males have a life expectancy at birth of 73 years, and females can expect to live 80 years.  There are 3.86 physicians per 1,000 people in Argentina as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Argentina has over 5,000 hospitals, clinics, and hospices, 70% are private and 30% are public.  The private hospitals are mostly located in the cities, especially Buenos Aires, and are very well equipped, with up-to-date technology and equipment.  The public hospitals are located in the more remote locations and are more basic, but adequate for emergencies.  Also, many cosmetic surgery clinics are found in Argentina, and are drawing medical tourism to the country.


h2 Health Insurance

p The Social Security Sector provides about 40% of Argentina’s population with health care through their employment and membership in a workers’ union.  Employers and employees each pay a mandatory fixed fee, and any remaining balance for treatment cost is paid by the patient.

p About half the population have public health care, funded through tax dollars, for which hospital care is free although there is a charge for outpatient medication.   There are often long waits for public health care, and because these services are managed by local governments, there is much variation in quality within the country.

p About 5% of the population have private health insurance, which means the patient is responsible for the full cost of their medical care.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.paho.org



