h1 Australia Health Guide

h2 Overview

p With a population of just under 24 million in 2015, Australia ranks 51st in the world by population and 7th by total area.  The national language of Australia is Australian English, which has a distinct accent and vocabulary.  In addition, there are about 70 Australian Aboriginal languages, although more than half are endangered and less than 1% of the population speak one of them. 

p Australia ranks 32nd in world health ranking per WHO.  In 2014, the total expenditure on health per person was $4,357, which is 9.4% of the GDP.  Australian males have a life expectancy at birth of 81 years, and females can expect to live 85 years.  There are 3.85 physicians per 1,000 people in Australia as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p In 2014, Australia had 747 public hospitals (58,600 beds) and 612 private, both for-profit and non-profit, hospitals (31,000 beds).  Public hospitals are mostly funded by federal and state government (over 90%), with the rest coming from patients and insurance companies.  Private hospitals are mostly funded by three main sources:  insurers (47%), rebates, paid by the federal government, on insurance premiums (21%), and private patients (12%).


h2 Health Insurance

p The Medicare Benefits Scheme (MBS) is a universal, public health care system that covers Australian citizens, residents with a permanent visa, and New Zealand citizens after their identity is confirmed and they enroll.  Some access is provided to citizens of certain other countries.  MBS benefits include hospital care, medical services, pharmaceuticals, limited optometry and children’s dental care.  At the state level, additional services include prevention, chronic disease management, and mental health care.

p Nearly half the population also buys private health insurance of two types:  complementary (private hospitals, dental/vision) and supplemental (more choice, faster service, and some rebates).  Citizens are encouraged to buy (PHI) through tax rebates; also, citizens over a certain income level have to pay a penalty if they do not have PHI.  Furthermore, citizens who sign up before age 31, receive a lower premium for life.  Only 33% of the most disadvantaged citizens have PSI, while almost 80% of the most advantaged have it.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.



blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
