h1 Austria Health Guide

h2 Overview

p With a population of just over 8.5 million in 2015, Austria ranks 95th in the world by population and 116th by total area.  The official languages of Austria are German, Hungarian, Slovenian, and Austrian German. The currency is the euro.

p Austria ranks 9th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $5,039, which is 11.2% of the GDP.  Austrian males have a life expectancy at birth of 79 years, and females can expect to live 84 years.  There are 4.3 physicians per 1,000 people in Austria as compared with 4.04 physicians per 1,000 people in Switzerland.


h2 Hospitals

p Austria has a large network of hospitals, both public and private, even in the most rural areas.  General hospitals treat many kinds of diseases and injuries; they also have emergency and ambulance departments. Austrian hospitals are more expensive than in other countries and all fees must be paid by either insurance or the patient.  There are no free services.

h2 Health Insurance

p Austria has a social security system for healthcare that covers all working Austrian citizens, their dependents, and visitors from European Union countries, as long as they have an E111 form or card.  All workers must contribute to the health insurance system.  The fees are based on type of employment and income level. Covered services include basic healthcare, dental treatments, hospital services, and medications.  In addition, the social security system may also include accident, pension, and unemployment insurances.

p Some citizens also purchase supplemental private insurance, which allows them more flexible visiting hours, private rooms, and private doctors.  This is sometimes called “comfort care.” Many citizens have an e-card, which contains vital information and saves a lot of time and paperwork.  It serves as proof of insurance, has an electronic signature, and replaces all traditional forms and vouchers.


h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when travelling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.bmgf.gv.at
