h1= title "Belgium Health Guide"


h2 Overview

p With a population of just under 11.3 million in 2015, Belgium ranks 80th in the world by population and 142nd by total area.  The official languages of Belgium are Dutch, French, and German. The currency is the euro.

p Belgium ranks 21st in world health ranking per WHO.  In 2014, the total expenditure on health per person was $4,392, which is 10.6% of the GDP.  Belgium males have a life expectancy at birth of 79 years, and females can expect to live 84 years.  There are 3.78 physicians per 1,000 people in Belgium as compared with 4.04 physicians per 1,000 people in Switzerland.


h2 Hospitals

p There are about 210 hospitals in Belgium. Most of them are general hospitals, providing  cardiology, pneumology, gastro-enterology, endocrinology, maternity, and emergency services.  Some are smaller, specialized hospitals, providing care for heart, vascular, and pulmonary, and other chronic diseases and disorders.  A few are geriatric hospitals, providing care specifically for the elderly.  About 70 of them are psychiatric hospitals. Nearly all the hospitals are publicly funded.  Private hospitals are very few in number and provide luxury service and accommodations for those who can afford it.


h2 Health Insurance

p Belgium has a compulsory health insurance system funded by employee and employer contributions, based on a percentage of gross income, to a mandatory health insurance fund.  (Self-employed people must pay both portions.)  Covered services are paid for at the time of treatment and then reimbursed from the health insurance fund.  The amount of reimbursement depends on the service and the circumstances.  For example, most doctor visits are covered at 75%, but for victims of a no-fault accident, treatment is free.



h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when travelling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.



blockquote
  ol
    li www.who.org
    li www.federal-government.be/en
