h1= title "Bahamas Health Guide"

h2 Overview

p With a population of 388,000 in 2015, the Bahamas rank 176th in the world by population and 170th by total area.  The official language of the Bahamas is English.  The currency is the Bahamian dollar.

p The Bahamas rank 94th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,819, which is 7.7% of the GDP.  Bahamian males have a life expectancy at birth of 73 years, and females can expect to live 79 years.  There are 2.82 physicians per 1,000 people in the Bahamas as compared to 2.56 physicians per 1,000 people in the United States.

h2 Hospitals

p The Bahamas have 3 public hospitals, managed by the Public Hospitals Authority (PHA), and 55 community and satellite clinics, all run by the Department of Public Health.  In addition, the Hospital and Healthcare Facility Board monitors, regulates, and inspects hospitals and healthcare facilities.  Funded by Parliament and fees, these public facilities are free, but often over-crowded with long waits.  There are also 2 smaller private hospitals, with emergency, general, and specialized care.  Also in the private sector are 288 clinics for primary and diagnostic care.  On the smaller Family Islands, health care services are very limited, mostly a volunteer system in each community.

h2 Health Insurance

p Beginning in 2016, the Bahamas implemented the National Health Insurance plan (NHI), which is mandatory for all legal residents. Payment is required at site of service, and then patients file with insurance for reimbursement. This plan is funded by contributions from workers, employers, the self-employed, and pensioners, based on their ability to pay, and covers outpatient visits, drugs, labs, in-hospital care, overseas transport when required, emergency transportation, and wellness programs.  The government covers children and low-income residents; primary care is free to civil servants, children, pregnant women, and people over 60.

h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country.  Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage.

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.bahamas.gov.bs/health
