h1= title "Bolivia Health Guide"

h2 Overview

p With a population of just over 10.7 million in 2015, Finland ranks 83rd in the world by population and 27th by total area.  There are 38 official languages of Bolivia, but the main 5 are Spanish (first language of nearly half the population), Paraguayan Guarani, Aymara, Chiquitano, and Puquina. The currency is the boliviano.

p Bolivia ranks 126th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $427, which is 6.3% of the GDP.  Bolivian males have a life expectancy at birth of 68 years, and females can expect to live 73 years.  There are .47 physicians per 1,000 people in Bolivia as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Bolivia health care system is currently funded by WHO. Bolivia has approximately 171 hospitals. Medical facilities (hospitals and clinics) are nearly nonexistent in remote areas, and quality of care in the cities is inconsistent, causing many Bolivians to have little or no access to adequate health care.  In addition, when sufficient facilities are available, the care is often too expensive for those who need it. To address this issue reforms have been underway and improvements have been made, especially for pregnant women and children

h2 Health Insurance

p Bolivia has three systems of health care:  public, social security, and private.    The public system is mostly for mothers, children, and elderly.  The public service resources are limited, leading to a constant shortage of care, especially in rural areas.  The social security system provides coverage for diseases, occupational risks, pre and neonatal and childhood care for formally employed citizens only.  The private system is the smallest; managed by churches and other non-profit groups, these private physicians and clinics provide traditional medicine and care to those who can afford it.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.paho.org
