h1= title "Brazil Health Guide"

h2 Overview

p With a population of just under 208 million in 2015, Brazil ranks 5th in the world by population and 6th by total area.  The official language of Brazil is Portuguese. The currency is the real.

p Brazil ranks 125th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,318, which is 8.3% of the GDP.  Brazilian males have a life expectancy at birth of 71 years, and females can expect to live 79 years.  There are 1.76 physicians per 1,000 people in Brazil as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Brazil has more than 6,000 hospitals, both public and private.  The public hospitals in some regions of the country do not have enough beds, medication, or doctors.  The lack of general practitioners, specialists, and hospitals lead to long wait times for both regular checkups and surgeries.

p Private hospitals are concentrated in large cities, especially Sao Paulo, and often require the bill to be paid in advance, by the patient or insurance before receiving treatment or leaving the hospital.


h2 Health Insurance

p The Brazilian health care system (SUS) offers free public health care, including doctors’ fees, labs, hospitalization, surgery, and prescription drugs, to all legal residents, but lack of resources in the public facilities are often a problem.

p Many people have private health insurance, often through their employer, through a large number of companies in order to shorten the wait times and improve the quality of care.  The cost of these private policies varies based on covered services and region.  Also, the terms vary:  some require the patient to pay and then seek reimbursement, others deal directly with the provider.  Life insurance is often packaged with health insurance by some of these companies.

p In Brazil there are two choices:  health plan and health insurance.  A health plan is more expensive, with fewer choices, and only covers particular region, but  100% of costs are covered.  Health insurance is less expensive, with more choices of doctors, and covers all of Brazil, but it does not cover 100% of costs.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.paho.org
