h1= title "Barbados Health Guide"

h2 Overview

p With a population of 284,000 in 2015, Barbados ranks 182nd in the world by population and 206th by total area.  The official language of Barbados is English.  The currency is the Barbadian dollar.

p Barbados ranks 46th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,014, which is 7.5% of the GDP.  Barbadian males have a life expectancy at birth of 73 years, and females can expect to live 78 years.  There are 1.81 physicians per 1,000 people in Barbados as compared to 2.56 physicians per 1,000 people in the United States.

h2 Hospitals

p Barbados has one public hospital, the Queen Elizabeth Hospital (QEH), which is government owned and has 600 beds (90% of those in Barbados).  QEH has a pediatrics ICU and provides ambulatory, acute, intensive, and specialty care (invasive cardio, neurology, gynecology, dermatology, psychiatry, radiotherapy, hematology, urology treatment, yellow fever surveillance, an eye clinic, bacteriological analysis, and x-ray facilities).  These services are not free and often patients must pay before treatment.  

p Eight polyclinics provide free primary care, including maternal and child care, family planning services, communicable disease treatment, health education, and school health services.  There are also 5 geriatric hospitals, and a network of facilities for childcare.

p There are also several private clinics and a private psychiatric hospital in addition to a private hospital, Bayview, where most surgeries are performed, including orthopedic, reconstructive, urological, and dental.  Bayview has 7 private rooms and 4 semi-private.  Finally, Sandy Crest is a private medical center offering luxury service for basic and acute care, plus testing services. 

h2 Health Insurance

p The Ministry of Health regulates the comprehensive national healthcare program for Barbados.   Service is free at point of delivery, funded by income tax contributions from companies and employees, private health insurance premiums, co-payments and out-of-pocket fees for services.  Healthcare includes medication for major diseases and is free to those under 16 and over 65.

p Public health care in Barbados usually includes long waits, especially for an ambulance, and there are no life-saving procedures done during transport.  Therefore, those who can afford it, use private care, which can be quite expensive.

h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country.  Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage.  

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li http://www.health.gov.bb/
