h1 Canada Health Guide

h2 Overview

p With a population of just under 36 million in 2015, Canada is the 38th largest country in the world by population and fifth by total area.  The national languages of Canada are French and English. The currency is Canadian dollar.

p Canada ranks 30th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $4,641, which is 10.4% of the GDP.  Canadian males have a life expectancy at birth of 80 years, and females can expect to live 84 years.  There are 2.14 physicians per 1,000 people in Canada as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p At the end of 2014, Canada had 1,461 hospitals, mostly non-profit.  They are usually managed by hospital boards based in the community or other local authorities.  In some provinces, the majority of hospitals are public; in other provinces, the majority are private.  There are also some for-profit private clinics for diagnosis and surgical procedures.


h2 Health Insurance

p Canada has universal health care coverage, with each province and territory making their own decisions regarding services and providers.  However, all provincial health care insurance plans must meet the five standards of the Canada Health Act.

p Over 90% of health care spending is covered by the provinces and territories, with contributions from the federal government on a per capita basis.  To qualify for these contributions provincial and territorial insurance must include public health (physician, diagnostic, and hospital) and prevention services, including immunizations.  There are also varying degrees (per province or territory) for coverage of outpatient prescription drugs, non physician mental health, vision, dental, home health, and hospice care.  There is no cost to the patient for these covered services, and there is a negotiated limit to what physicians may charge.

p In addition to this universal pubic insurance, roughly two-thirds of Canadians have private health insurance, usually through their employer. This supplement covers exclusions such as private hospital rooms, prescription drugs, vision and dental care, and rehabilitation services. Our website has list of approximately 20 health insurance companies offering a variety of plans and options.  Some basic considerations when buying health insurance include premiums (the monthly cost of insurance), deductibles (the total amount the individual must pay each year before the insurance company pays anything), co-payments (the amount the individual must pay for each service), and covered/non-covered services.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country. Our website has information on 9 insurance companies providing this type of travel health insurance in Canada.



blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
    li statista.com
