- content_for(:title) { "Switzerland Health Guide" }
h1 Switzerland Health Guide

h2 Overview

p With a population of nearly 8.3 million in 2015, Switzerland ranks 97th in the world by population and 136th by total area.  The official languages of Switzerland are French, German, Romansh, and Italian. The currency is the Swiss franc.

p Switzerland ranks 20th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $6,468, which is 11.7% of the GDP.  Swiss males have a life expectancy at birth of 81 years, and females can expect to live 85 years.  There are 4.04 physicians per 1,000 people in Switzerland as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p In 2013, Switzerland had 293 hospitals, 70% of which were public or publicly subsidized.  The 26 Swiss cantons are individually responsible for planning and funding their own hospitals.  Cantons are also required to coordinate with each other in order to allow patients to move freely among them. An agenda called Health 2020 is working to improve health care and lower costs, which are among the highest in the world.


h2 Health Insurance

p Mandatory private insurance, usually not provided by employers, is called statutory health insurance (SHI).  Nearly 100% of residents have coverage.  Non-profit insurers compete for SHI business, with prices being supervised by the Federal Office of Health.  In 2015, annual premiums for adults ranged from $2,800-$4,670. These plans cover core benefits for individuals only; separate policies must be purchased for dependents. 

p Some people also buy voluntary health insurance (VHI), of which there are two types: complementary for services that aren’t covered by SHI, or supplemental for better services and choices of providers.  VHI insurers are for-profit (although many companies have a branch for each type).  VHI premiums and covered services can vary and applicants can be denied coverage based on medical history.


h2 Travel (International) Health Insurance

p Swiss visitors must pay for healthcare upfront and obtain reimbursement from insurance. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li international.commonwealthfund.org






