h1= title "Chile Health Guide"

h2 Overview

p With a population of just under 18 million in 2015, Chile ranks 63rd in the world by population and 39th by total area.  The official language of Chile is Spanish. The currency is the Chilean peso.

p Chile ranks 33rd in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,749, which is 7.8% of the GDP.  Chilean males have a life expectancy at birth of 77 years, and females can expect to live 83 years.  There are 1.03 physicians per 1,000 people in Chile as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Chile has over 400 hospitals, both public and private, nearly one-third of which are in the capital city of Santiago.  Public hospitals are less expensive, but often have long wait times and may not have the same level of technology and equipment as private hospitals.  There are also primary healthcare centers, where the majority of low-income people get primary care.  High income people usually get their primary care from facilities inside private hospitals.


h2 Health Insurance

p Health insurance in Chile is mandatory; all workers and pensioners (except those with extremely low pensions) must contribute 7% of their income to either public (FONASA) or private (ISAPRE) health insurance.  For both types, co-payments are maxed at 20% and yearly out of pocket costs are maxed at one month’s income.

p FONASA covers those who contribute, as well as their dependents, pregnant women, people with mental or physical disability or those receiving unemployment benefits, and the poor.  They can receive care from public hospitals or choose to apply their benefits toward care at a private facility and pay the difference; if the wait time is too long at the public hospital, the insurer must pay the difference.

p ISAPRE is expensive, so only about 20% of the population has it.  Those who choose this option pay an additional 3% towards their insurance, which increases the benefits available, and shortens wait times.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.paho.org
