h1= title "Colombia Health Guide"

h2 Overview

p With a population of just over 48.2 million in 2015, Colombia ranks 28th in the world by population and 28th by total area.  The official language of Colombia is Spanish. The currency is the peso.

p Colombia ranks 22nd in world health ranking per WHO.  In 2014, the total expenditure on health per person was $962, which is 7.2% of the GDP.  Colombian males have a life expectancy at birth of 71 years, and females can expect to live 78 years.  There are 1.4 physicians per 1,000 people in Colombia as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p There are about 3,600 hospitals, clinics, and ambulance services in Colombia, with just over half being private.  Public hospitals often suffer from long waits, costs, and quality of service.

p Private hospitals have a much higher quality of care.  In fact, medical tourism in Colombia is growing; many people are visiting the private facilities for procedures such as cardiovascular surgery, cosmetic surgery, fertility treatments, cancer treatments, and dental work.


h2 Health Insurance

p Colombia has seen some major reforms and improvements in their health care system over the last 20 years.  They now have universal health insurance, funded by mandatory payment of 4% salary contributions by all employees, with employers contributing another 8%.  Employees have the choice of plans from both public and private insurance companies.

p Everyone living in Colombia, even the unemployed, has access to the public health system, which covers medical, vision, dental care, and medications (basically anything the doctor deems necessary).  Funds come from the salary contributions and tax subsidies from the government.  (The self-employed and retirees must pay the full portion.) Co-payments and annual caps are based on income.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
		li www.who.org
		li www.paho.org
