h1= title "Costa Rica Health Guide"

h2 Overview

p With a population of 4.8 million in 2015, Costa Rica ranks 122nd in the world by population and 131st by total area.  The official language of Costa Rica is Spanish.  The currency is the Costa Rican colon.

p Costa Rica ranks 36th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,389, which is 9.3% of the GDP.  Costa Rican males have a life expectancy at birth of 77 years, and females can expect to live 82 years.  There are 1.11 physicians per 1,000 people in Costa Rica as compared to 2.56 physicians per 1,000 people in the United States.

h2 Hospitals

p Costa Rica has 10 major public hospitals that belong to the branch of government known as Costa Rican Department of Social Security (CCSS) as well as 3 large private hospitals.  There are also small clinics (EBAIS) in nearly every community for primary and non-emergency services.  The private hospitals and clinics are becoming a medical tourism destination due to the high quality and low cost of services including knee/hip replacements and cosmetic surgery/dental work.

h2 Health Insurance

p Costa Rica’s public health insurance system is called Caja (CCSS).  Its programs, both preventive and healing, are available to all citizens and legal residents with no exclusions for pre-existing conditions.  Participants pay about 10% of their income, including a mandatory pension payment for those under 55.  Employers also contribute a variable amount to fund CCSS.  Due to low costs (no bills are sent to CCSS patients), wait times are usually long.

p For those wanting faster service, private insurance is available through a government-owned insurance company called INS.  The cost of this insurance is about $60-130/month, depending on age, gender, etc.  Benefits include dental work, optometry, well-visits, and annual check-ups.  Hospitalization, prescription drugs, exams, and sick visits, are covered at 80%, while surgeon and aesthetician fees are covered at 100%.

h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country.  Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage.  

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.



blockquote
  ol
    li www.who.org
    li https://www.ministeriodesalud.go.cr
