h1= title "Germany Health Guide"

h2 Overview

p With a population of just under 80.7 million in 2015, Germany ranks 16th in the world by population and 64th by total area.  The official language of Germany are German. The currency is the euro.

p Germany ranks 25th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $5,182, which is 11.3% of the GDP.  German males have a life expectancy at birth of 79 years, and females can expect to live 83 years.  There are 3.6 physicians per 1,000 people in Germany as compared with 4.04 physicians per 1,000 people in Switzerland.


h2 Hospitals

p Germany has a very large hospital sector and healthcare system is regulated by the Federal Joint Committee (Gemeinsamer Bundesausschuss). Public hospitals have about half the beds, private not-for-profit hospitals have about a third, and private for-profit have the rest.  All hospitals have mostly salaried doctors who are not allowed to treat outpatients unless care cannot be provided by office-based specialists.  


h2 Health Insurance

p Germany has statutory health insurance (SHI) for all citizens and permanent, legal residents.  Most citizens are covered by the 124 competing, not-for-profit health insurance funds (sickness funds), which come from contributions from gross wages and cover all employees making less than $70k/year and their dependents.  Covered services include preventive, hospital, primary, mental health, dental, optometry, palliative, and hospice care as well as prescription drugs, medical aids, physical therapy, rehab, and sick leave.  Sickness funds have a range of co-pays and deductibles, and SHI physicians may not charge more than the fee schedule allows for SHI services.

p Those who make more than can opt for private health insurance (PHI) instead, which often has lower premiums and better services.  About 86% of the population has SHI, 11% has PHI, and the rest (soldiers, policemen, etc.) have their own insurance programs.

h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC) which offers coverage for emergency medical coverage when travelling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
