h1 Dominica Health Guide

h2 Overview

p With a population of 73,000 in 2015, Dominica ranks 203rd in the world by population and 193rd by total area.  The official language of Dominica is English.  The currency is the East Caribbean dollar.

p Dominica ranks 35th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $587, which is 5.5% of the GDP.  Dominican males have a life expectancy at birth of 72 years, and females can expect to live 76 years.  There are 1.49 physicians per 1,000 people in Dominica as compared to 2.56 physicians per 1,000 people in the United States.

h2 Hospitals

p Dominica has four main public hospitals, financed by the Ministry of Health. Princess Margaret Hospital (225 beds), is the only one equipped to handle emergency surgery or operations.  This facility is also where people go for secondary care.  

p In addition to the hospitals, at the community level, several health centers and clinics, located throughout the country, allow easy access to health services for all residents. Dominica is divided into 7 health districts, each with its own public clinic.  Services at all public health centers and clinics are provided free of charge. 

p Private clinics are available in the larger cities and towns if the patient has upfront cash payment.

h2 Health Insurance

p Dominica has a national comprehensive healthcare system, funded by the Ministry of Health through income tax dollars.  Children under 17, pregnant women, the indigent, and people with communicable diseases are exempt from medical charges at public facilities.

p Private insurance is available, but due to the quality and low cost of public care, not many people buy it.  The only reason it might be necessary is for evacuation, by helicopter, off the island.

h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country.  Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage.  

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.dominica.gov.dm/cms
