h1= title "Denmark Health Guide"

h2 Overview

p With a population of just under 5.7 million in 2015, Denmark ranks 114th in the world by population and 134th by total area.  The official language of Denmark is Danish, but German is also a recognized regional language. The currency is the Danish krone.

p Denmark ranks 34th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $4,782, which is 10.8% of the GDP.  Danish males have a life expectancy at birth of 79 years, and females can expect to live 82 years.  There are 3.62 physicians per 1,000 people in Denmark as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Denmark has almost all (97%) public hospitals.  Budgets are made up of both fixed and activity-based funding.  Physicians in hospitals are salaried and may not see private patients in the hospital.  Patients, with a referral, may choose among public hospitals.

p Recently, Denmark reorganized the hospital infrastructure, closing or joining small hospitals as well as building new ones.  The goal of this project was to improve acute care, pre-hospital service, and emergency departments.


h2 Health Insurance

p Denmark has a universal national health care system, funded mostly by a national health tax (about 8% of taxable income), to which all registered Danish residents are entitled.  Services are usually free at the point of use and include primary, specialist, hospital, preventive, mental health and long-term care, as well as dental care for children under 18.  

p Co-pays are required for adult dental care, corrective lenses, outpatient prescriptions, and physiotherapy. (Low income and chronically ill residents can apply for additional help with prescriptions.) To cover these co-payments, many people (about 2.2 million) buy complementary voluntary insurance, provided by the not-for-profit organization Danmark.

p Another 1.5 million people have supplementary insurance, usually provided by employers as a benefit.  This coverage is available from 7 for-profit insurers and allows greater access to private providers.  In addition, a group of volunteer Danish doctors together with the Danish Red Cross and Danish Refugee Aid provide health care to undocumented immigrants and visitors.


h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when traveling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.



blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
    li www.sum.dk
