h1 Dominican Republic Health Guide


h2 Overview

p With a population of just over 10.5 million in 2015, the Dominican Republic ranks 86th in the world by population and 132nd by total area.  The official language of the Dominican Republic is Spanish. The currency is the Dominican peso.

p The Dominican Republic ranks 51st in world health ranking per WHO.  In 2014, the total expenditure on health per person was $580, which is 4.4% of the GDP.  Dominican males have a life expectancy at birth of 71 years, and females can expect to live 77 years.  There are 1.49 physicians per 1,000 people in the Dominican Republic as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Public hospitals are available, usually one in every town, but they may lack basic supplies, making it necessary for patients to bring their own, especially outside the major cities and tourist areas.  

p Private facilities offer the highest level of care, with modern medical equipment, specialty services, and cosmetic surgery attracting some medical tourism. The best facilities are located in the capital city of Santo Domingo as well as Puerto Plata and Santiago.  Payment may be required before emergency treatment in some private hospitals. There are also high quality clinics and hospitals in tourist areas, which are smaller than those in the large cities, but of very high quality.

p Finally there are local clinics, usually 3-5 in each town.  They have higher standards than the public hospitals but not as high (or as expensive) as the tourist or private facilities. These should be used for only basic care and operations, broken bones etc. Remote regions of the country have little access to facilities and must travel to the cities for healthcare.


h2 Health Insurance

p In 2001, the Social Security Reform Law gave the Dominican Republic compulsory national health insurance.  This system has three tiers:

ol
	li contributive - financed by workers and their employers
	li subsidized - financed by the state for the poor, unemployed, disabled, and indigent
	li contributive subsidized - financed by independent professionals, technical workers, and self-employed and subsidized by the state rather than employers

p Private health insurance is also available to cover any co-payments.  Some plans require the patient to pay and then get reimbursed.  Others have the patient pay a portion and then the clinic or hospital bills the insurance for the rest.



h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.paho.org
