h1= title "Ecuador Health Guide"


h2 Overview

p With a population of just over 16.1 million in 2015, Ecuador ranks 68th in the world by population and 75th by total area.  The official language of Ecuador is Spanish. The currency is the United States dollar.

p Ecuador ranks 111th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,040, which is 9.2% of the GDP.  Ecuadorean males have a life expectancy at birth of 74 years, and females can expect to live 79 years.  There are 1.68 physicians per 1,000 people in Ecuador as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Ecuador has both public and private hospitals and clinics.  In the last ten years new public hospitals have been built and older ones have been upgraded with high tech equipment and more doctors/specialists.  Public facilities are available to everyone, but often have long wait times, and access varies depending upon the region.  Private facilities are not free, but still cost much less than in most other countries. 


h2 Health Insurance

p Social security health care (IESS) is available to those who pay either a payroll deduction or a monthly fee; due to recent reforms, there are now no restrictions for age or pre-existing conditions.  This plan covers all costs with no co-payments or deductibles.  Problems with this system include lots of paperwork, long wait times, and some medicines not being on the approved list.

p Private health insurance is available for those who wish to pay more for faster service and less red tape.  Policies vary in terms of deductibles, covered services, and premiums. Some people choose not to pay for insurance and just pay for their medical costs as they arise since health care in Ecuador is very affordable, usually about 10-25% of the cost in the United States.



h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.



blockquote
  ol
		li www.who.org
		li www.paho.org
