h1= title "Finland Health Guide"

h2 Overview

p With a population of just over 5.5 million in 2015, Finland ranks 115th in the world by population and 72nd by total area.  The official languages of Finland are Finnish (spoken by the majority) and Swedish. The currency is the euro.

p Finland ranks 31st in world health ranking per WHO.  In 2014, the total expenditure on health per person was $3,701, which is 9.7% of the GDP.  Finnish males have a life expectancy at birth of 78 years, and females can expect to live 84 years.  There are 2.9 physicians per 1,000 people in Finland as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Finland’s hospitals are mostly public and divided into 20 districts.  For specialized treatments, most people go to one of the five university hospitals in the major cities (Helsinki, Turku, Tampere, Kuopio) where they have the most advanced facilities.


h2 Health Insurance

p National Health Insurance (NHI) covers the following services for all permanent residents: primary care, dental care, prescriptions, transportation and related costs for stays in hospitals and health centers.  This system is funded mostly through general tax contributions of anyone living in Finland for more than four months, at which point they receive a Kela card for health services.  Patients pay fees for health services (maximum charges are set by the government) and then seek reimbursement partial with their Kela card, usually at the point of service.

p Many people are seeking private health insurance in order to decrease wait times for services.  Although the patient portion is higher, Kela still provides partial reimbursement for dental care, doctor fees for exams and treatment, and other services.


h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when traveling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li stm.fi
