h1= title "France Health Guide"

h2 Overview

p With a population of just under 64.4 million in 2015, France ranks 22nd in the world by population and 50th by total area.  The official language of France is French. The currency is the euro.

p France ranks 1st in world health ranking per WHO.  In 2014, the total expenditure on health per person was $4,508, which is 11.5% of the GDP.  French males have a life expectancy at birth of 79 years, and females can expect to live 85 years.  There are 3.44 physicians per 1,000 people in France as compared with 4.04 physicians per 1,000 people in Switzerland.


h2 Hospitals

p The health care system in France is coordinated by French Ministry of health.  France has three kinds of hospitals: public (67%), private for-profit (25%), and private not-for-profit (8%). The state run hospitals are known as hopitaux and private run hospitals are called cliniques. Physicians who agree to practice in a region where there are not enough doctors are guaranteed a salary of $8,322/month.

h2 Health Insurance

p France has statutory health insurance (SHI), which is funded by employer/employee payroll taxes (64%); income taxes (16%), taxes on alcohol/tobacco, the pharmaceutical industry, and voluntary health insurance companies (12%); transfers from Social Security branches (6%); and state subsidies (2%). Coverage is universal, granted to all employees, unemployed who were formerly employed, students, and retirees.  The state also covers insurance for those who are not eliblible (long-term unemployed) and pays for health services for undocument immigrants who have applied for residency.

p SHI covers care in hospitals, rehab or physiotherapy institutions, outpatient care, diagnostic services, prescription drugs, medical devices/approved prostheses, and prescribed health care related transportation, and home care.  It provides partial coverage for hospice and mental health care as well as minimal dental/vision coverage.

p Voluntary health insurance (VHI) covers co-pays for SHI, balance billing, and vision/dental care.


h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when travelling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
    li http://social-sante.gouv.fr/


