h1 United Kingdom Health Guide


h2 Overview

p With a population of just under 64.7 million in 2015, The United Kingdom is the 23rd largest country in the world by population and 81st by total area. The United Kingdom includes England, Scotland, Wales, Northern Ireland. The official language of The United Kingdom is English. The currency is the British pound.

p The United Kingdom ranks 18th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $3,377, which is 9.1% of the GDP.  UK males have a life expectancy at birth of 79 years, and females can expect to live 83 years.  There are 2.74 physicians per 1,000 people in the UK as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p There are roughly 2,200 hospitals in the United Kingdom; the majority are public and funded mostly by general tax dollars.  The entire health system is managed by a public body known as National Health Service (NHS) England. Budgets are then established for local authorities who are required to improve services and reduce disparities.



h2 Health Insurance

p The UK has universal healthcare coverage and is managed by NHS England, NHS Scotland, NHS Wales and NHS Northern Ireland.  The covered services are not precisely defined but include a broad range of preventive and physician services, hospital care, drugs, some dental and eye care, mental health, rehabilitation and home health care.  The specifics are generally left up to the local authorities, who are charged with making “rational, evidence-based decisions.”  Studies have shown wide variation in decision making and access to some services.

p Some services are subject to a co-payment.  These include outpatient prescription drugs ($12) (some people are excluded from co-payment), dentistry services (up to $314).  Other out-of-pocket costs are for products like glasses and other medical appliances or equipment. People who need large amounts of prescription drugs can buy prepayment certificates for either a 3 month or 12-month supply for a one-time payment, $41 or $147 respectively, no matter how many refills they need.

p About 11% of the population carries supplemental private insurance, mostly provided through employers.  These policies provide for faster and more convenient care, but many services are excluded.  There are four major carriers of private health insurance, accounting for nearly 90% of the policies. Small providers account for the rest.





h2 Travel (International) Health Insurance

p Non-European visitors or illegal immigrants in the UK have free treatment for emergency department visits and certain infectious diseases.

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
    li www.nhs.uk

