h1= title "Guyana Health Guide"

h2 Overview

p With a population of 767,000 in 2015, Guyana ranks 165th in the world by population and 87th by total area.  The official language of Guyana is English. The currency is the Guyanese dollar.

p Guyana ranks 128th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $379, which is 5.2% of the GDP.  Guyanese males have a life expectancy at birth of 64 years, and females can expect to live 68 years.  There are .21 physicians per 1,000 people in Guyana as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Guyana has five levels of medical facilities:

ol
  li Local Health Posts (166) for preventive and simple care, staffed by community health workers and located mostly in rural areas.
  li Health Centers (109) for preventive and rehabilitative care, staffed by a public health nurse, nursing assistant, dental nurse, and midwife; also located in mostly rural areas.
  li District hospitals (19, with 473 beds) for basic inpatient and outpatient care and diagnostic services as well as x-rays, labs, and gynecology.  These often serve 10,000 or more people.
  li Regional hospitals (4, with 620 beds) for emergency services, routine surgery, obstetrical and gynecological care, dental and diagnostic services, as well as specialist services in general medicine and pediatrics, including labs, x-rays, pharmacies, and dietetic experts.
  li Referral hospitals (4):  The National Referral Hospital (937 beds) in Georgetown, the Psychiatric Hospital in Canje, the Geriatric Hospital in Georgetown, and one children’s rehabilitation center.

p There are also a few private hospitals in the capital city of Georgetown.


h2 Health Insurance

p Guyana has a universal health care system, which is mostly free except for a few services and accommodations.  Health insurance is mandatory for all employed people between the ages of 16-60. Private insurance is also available for those who wish to use the private hospitals or providers.  Only a few citizens are able to afford this luxury.

h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.paho.org
