h1 Hungary Health Guide

h2 Overview

p With a population of  9,855,000 in 2015 , Hungary ranks 91st in the world by population and 112th by total area.  The official language of Hungary is Hungarian.  The currency is the Hungarian forint.

p Hungary ranks 66th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,827, which is 7.4% of the GDP.  Hungarian males have a life expectancy at birth of 72 years, and females can expect to live 79 years.  There are 3.03 physicians per 1,000 people in Hungary as compared to 2.56 physicians per 1,000 people in the United States.

h2 Hospitals

p Managed mostly by local governments, with funds from the National Health Insurance Fund (NHI), Hungary has 104 public hospitals and more than 100 specialist clinics.  Waiting times at public facilities are often long.  Hospital services are free, but referral from a doctor is required.

p For those who can afford it, private hospitals and clinics have shorter wait times and modern equipment.  In fact, Hungary is a center of medical tourism for dentistry, cosmetic surgery, orthopaedic surgery, cardiac rehabilitation, fertility treatment, dermatology, anti-aging treatment, obesity treatment, addiction programs, and eye surgery, as well as medical spa facilities.

h2 Health Insurance

p Hungary has a universal healthcare system, which is tax-funded and organized by the National Health Insurance Fund (HIF).  Employees pay 3% of total income, employers pay 15% of gross salary plus a lump sum tax, and the population pays local and national income tax.  Patients also make co-payments on pharmaceuticals, dental care, and rehabilitation.  All citizens and expatriates employed by Hungarian companies are covered.  Foreigners are only entitled to free care for an emergency or acute condition.

p Private insurance is also available for outpatient care for those who can afford it.

h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside one’s home country.  Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage.  

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li http://www.kormany.hu/en
