h1 India Health Guide

h2 Overview

p With a population of 1.3 billion, India is the second largest country in the world by population and the seventh largest by total area.  The official languages of India are Hindi and English, with many recognized regional languages.  The currency is Indian Rupee.

p India ranks 112th in world health ranking per WHO.  The total expenditure on health per person in 2014 was $267, which is 4.7% of the GDP. In India males have a life expectancy at birth of 67 years, while females can expect to live 70 years.  There are an estimated .7 physicians per 1,000 people in India as compared to 1.4 physicians per 1,000 people in Singapore.


h2 Hospitals

p The Indian healthcare system is dominated by private hospitals accounting for more than 60% of health care. There are close to 20,000 hospitals, majority of them being private hospitals.  The hospital size and ownership is quite variable as compared to the Western world. Some of the hospitals are run by corporations but majority are owned by individual physicians. The private hospitals in urban areas are equipped with latest technology and becoming center of medical tourism.

p Indian also has extensive public healthcare system but there is limited infrastructure and personnel at some of the hospitals especially those in rural areas.

h2 Health Insurance

p Although health insurance is becoming more prevalent in India, there is no national health insurance coverage.  Some government employees have health care provided through their job, but most people pay out of pocket for their medical care. Some free services are available through national health programs.  These include HIV drug programs, diagnostics and drugs for vector borne disease, insecticide treated bed nets, immunizations, and maternal and child health services.

p People buy their health insurance from one of over 25 companies offering a variety of plans and options.  Some basic considerations when buying health insurance include premiums (the monthly cost of insurance), deductibles (the total amount the individual must pay each year before the insurance company pays anything), co-payments (the amount the individual must pay for each service), and covered/non-covered services.


h2 Travel (International) Health Insurance

p Travel or International health insurance provide comprehensive medical coverage when traveling outside of their home country. The travel health insurance is different from travel insurance as latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country. Approximately 20 insurance companies provide this type of travel health insurance in India.



blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org



