h1 Ireland Health Guide

h2 Overview

p With a population of just under 4.7 million in 2015, Ireland ranks 124th in the world by population and 20th by total area.  The national languages of Ireland are English and Irish Gaelic. The currency is the euro.

p Ireland ranks 19th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $3,801, which is 7.8% of the GDP.  Irish males have a life expectancy at birth of 79 years, and females can expect to live 83 years.  There are 3.17 physicians per 1,000 people in Ireland as compared with 2.74 physicians per 1,000 people in the United Kingdom.


h2 Hospitals

p There are about 45 hospitals in Ireland.  Some are managed by the Health Service Executive, some (voluntary public) receive public funding but are managed by other organizations (such as teaching hospitals), and some are private (for which fees must be paid in full by the patient).

p In 2015, Irish public hospitals were the worst in Europe in terms of waiting times for emergency treatment, CT scans, and minor operations.  (Due to these long wait times, most citizens have private health insurance, despite the subsidized, low-cost public health care system.) 


h2 Health Insurance

p The public health care system, managed by the Health Service Executive and funded by general taxation, provides health care to all Irish residents.  Low income citizens or those with certain illnesses receive a Medical Card, which entitles them to free services.  Other citizens with slightly higher incomes receive a GP Card, which entitles them to free general practitioner visits only. People who are not entitled to these cards must pay fees for most services (100 euros for emergency visit, 25-75 for doctor visit, 75 a day for hospital up to 750 max per year).  These fees depend on income, age, illness or disability.

p Some employers may pay for private health insurance if it is negotiated into the terms of employment. Prescription drugs are free to those with a Medical Card.  Other residents can apply for a Drugs Payment Scheme, which caps how much they have to pay for prescriptions.



h2 Travel (International) Health Insurance

p With a European Health Insurance Card, visitors to Ireland can receive free or discounted treatment for most medical emergency services and prescription medicines.

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 
p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.health.gov.ie
