h1= title "Italy Health Guide"

h2 Overview

p With a population of just under 60 million in 2015, Italy ranks 23rd in the world by population and 74th by total area.  The official language of Italy is Italian. The currency is the euro.

p Italy ranks 2nd in world health ranking per WHO.  In 2014, the total expenditure on health per person was $3,239, which is 9.2% of the GDP.  Italian males have a life expectancy at birth of 80 years, and females can expect to live 85 years.  There are 3.48 physicians per 1,000 people in Italy as compared with 4.04 physicians per 1,000 people in Switzerland.


h2 Hospitals

p Italy has both public (80% of the beds) and private (20% of the beds).  Funds are allocated by local health units.  Payment systems, fees, and covered services vary greatly by region. Physicians working in hospitals are salaried employees.  Public hospital physicians can not work in private hospitals, and if they treat private patients in the public hospital, a portion of the fee goes to the hospital.


h2 Health Insurance

p Italy has a national health care system, and responsibility is shared by the national government and the 19 regions and 2 provinces.  The national government distributes tax revenue (mostly corporate) and defines the benefits that will be considered “essential” and thereby covered for all residents in all regions.  The regions then organize and deliver health services.

p Essential services are found on a “positive” list and include primary, preventive, inpatient, outpatient specialist, and home care, as well as pharmaceuticals and optometrist visits.  “Negative lists” contain services that are not covered (cosmetic surgery), covered on a case-by-case basis (orthodontics and laser eye surgery), or do not require hospital admission (cataract surgery).  Regions that choose to offer the negative list services must provide additional funding for them.

p Dental care is “essential” for children up to 16 and those at risk due to illness, income, disability, or emergency.  Prescription drugs are divided into three tiers: tier one is always covered, tier two is covered in hospitals, and tier three is not covered.

p Private insurance is sold by both non-profit and for-profit organizations and falls into two categories: corporate (companies purchase for employees and maybe families) and non-corporate (individuals buy for themselves or families).  



h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when travelling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.salute.gov.it
