h1= title "Mexico Health Guide"

h2 Overview

p With a population of just over 127 million in 2015, Mexico ranks 11th in the world by population and 15th by total area.  The official language of Mexico is Spanish. The currency is the Mexican peso.

p Mexico ranks 61st in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,122, which is 6.3% of the GDP.  Mexican males have a life expectancy at birth of 74 years, and females can expect to live 80 years.  There are 1.96 physicians per 1,000 people in Mexico as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p There are about 4,500 hospitals in Mexico, about 67% of which are private.  There is large variation in quality of care at these facilities.  The public hospitals are small, often less than 50 beds, and spread over a large geographical area in order to increase accessibility.  Many new, private hospitals are being built, especially in the larger cities, with high-tech equipment and capabilities to provide specialized care and treatments.  Specifically, Monterrey is becoming a center for medical tourism, with some U.S. citizens choosing to cross the border for less expensive health care service.



h2 Health Insurance

p Mexico has universal healthcare.  One system, Seguro Popular, covers preventive services for those who are unemployed. Another system, IMSS, covers the employed and their dependents.  IMSS is funded by contributions from the employee, employer, and the government.  A third system, ISSSTE, covers local, state, and federal employees and their families.  Finally, the state oil company and the armed forces have their own institutions.  Access to medicines and devices depends on which system someone belongs to, so quality of care varies for Mexican citizens.

p Private insurance (for higher quality service and special treatments) is also available to those who can afford it, which is less than 10% of the population.  Instead, many people choose to pay for health care costs out-of-pocket.  


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

p Some private hospitals in Mexico do not accept international health insurance and patients may be required to pay out-of-pocket for their care and seek reimbursement from their insurance company.

blockquote
  ol
		li www.who.org
		li www.paho.org
		li https://www.gob.mx/salud/en
