h1= title "Malaysia Health Guide"

h2 Overview

p With a population of just over 30.3 million in 2015, Malaysia ranks 44th in the world by population and 66th by total area.  The official language of Malaysia is Malaysian. The currency is the Malaysian ringgit.

p Malaysia ranks 49th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,040, which is 4.2% of the GDP.  Malaysian males have a life expectancy at birth of 73 years, and females can expect to live 77 years.  There are 1.2 physicians per 1,000 people in Malaysia as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Malaysia has both public and private hospitals as well as health clinics.  The health clinics offer a wide range of services from prevention to minor surgery, often on a walk-in basis if needed.  Public hospitals are located throughout the country and are capable of treating emergencies and handling routine care, but wait times can be quite long.  Private hospitals offer the most sophisticated, specialized care, and are becoming attractive for those who can afford it and for medical tourism; however, they are mostly in urban areas, making them inaccessible for those in remote areas of the country.   

p Payment is required at the point of service, and must then be billed to insurance, except for Malaysian citizens, with an ID card, in public hospitals.


h2 Health Insurance

p Malaysia has a universal health care system, providing free treatment and prescription medication to all Malaysian citizens, usually provided in health clinics or public hospitals.  In addition, there are companies that offer private insurance for better access, shorter wait times, and specialized care in private hospitals.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.



blockquote
  ol
    li www.who.org
    li www.moh.gov.my
