h1= title "Netherlands Health Guide"

h2 Overview

p With a population of just under 17 million in 2015, the Netherlands ranks 67th in the world by population and 138th by total area.  The official languages of the Netherlands are Dutch, Papiamento, and Frisian. The currency is the euro.

p The Netherlands ranks 17th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $5,202, which is 10.9% of the GDP.  Males have a life expectancy at birth of 80 years, and females can expect to live 84 years.  There are 2.85 physicians per 1,000 people in the Netherlands as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Netherlands has 131 hospitals and 112 outpatient specialty clinics mostly private and non-profit.  In addition, there are over 200 treatment centers for same day care such as eye procedures and orthopedic surgery.  Each hospital and insurer negotiate fees for 70% of services while the other 30% are set nationally.


h2 Health Insurance

p The Netherlands have a statutory health insurance system.  All residents and anyone who pays Dutch income tax must purchase private insurance, exceptions include active members of the armed forces and anyone who conscientiously objects to health insurance.  Insurers must accept all applicants and charge everyone the same premium.  Every insured person pays an annual deductible of $455 and co-pays for some services.

p Covered benefits include primary care, hospitals, specialists, prescription drugs, mental health care, and health improvement programs (smoking cessation).  Dental care and physiotherapy are covered through age 18.  Other treatments are only partially covered (physiotherapy for incontinence and first 3 in vitro fertilization attempts).  Still other services (cosmetic surgery) are not covered.

p Most people also purchase complementary insurance for dental care, alternative medicine, physiotherapy, corrective lenses, contraceptives, and co-pays for prescriptions.   This coverage does not provide faster access or more choice.


h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when traveling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org 
    li https://www.nza.nl/organisatie/sitewide/english
