h1= title "Norway Health Guide"

h2 Overview

p With a population of just over 5.2 million in 2015, Norway ranks 119th in the world by population and 70th by total area.  The official languages of Norway are Norwegian, Sami, Northern Sami, Lule Sami, and Southern Sami. The currency is the Norwegian krone.

p Norway ranks 11th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $6,347, which is 9.7% of the GDP.  Norwegian males have a life expectancy at birth of 80 years, and females can expect to live 84 years.  There are 4.3 physicians per 1,000 people in Norway as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Norway has approximately 50 healthcare facilities.  Almost all the hospitals in Norway are public, some are private not-for-profit.  The few for-profit hospitals offer only elective procedures.  There are also some privately run after-hours clinics in larger cities; patients must pay the full price at these facilities.


h2 Health Insurance

p Norway has a national health care system with universal coverage and equal access for all citizens and undocumented immigrant children.  (Undocumented adults have only emergency acute care.)  Maximum out-of-pocket costs for Norwegians is $223 a year.  There is a second ceiling of $283 for physiotherapy and certain dental services.  

p Covered services include some prescription drugs (these are said to be on the “blue list”), primary, hospital, and ambulatory care, rehabilitation, dental care for children up to 18 and other groups including those in permanent nursing homes or with rare or chronic diseases or mental disabilities.  Dental care for 19-20 year olds and braces for children are partially covered, while non-medical eye care, cosmetic surgery, and complementary medicine are not covered.

p Only about 8% of the population has private health insurance, which is provided by for-profit insurers and usually purchased by employers.  This coverage allows faster service and more choice in the private sector.


h2 Travel (International) Health Insurance

p Many European countries offer European Health Insurance card (EHIC ) which offers coverage for emergency medical coverage when traveling to participating European countries. Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
    li https://www.regjeringen.no/en
