h1= title "New Zealand Health Guide"

h2 Overview

p With a population of just over 4.5 million in 2015, New Zealand ranks 127th in the world by population and 78th by total area.  The official languages of New Zealand are New Zealand English (spoken by most), Maori, and New Zealand Sign Language. The currency is the New Zealand dollar.

p New Zealand ranks 41st in world health ranking per WHO.  In 2014, the total expenditure on health per person was $4,018, which is 11% of the GDP.  New Zealand males have a life expectancy at birth of 80 years, and females can expect to live 83 years.  There are 2.73 physicians per 1,000 people in New Zealand as compared with 4.04 physicians per 1,000 people in Switzerland.


h2 Hospitals

p New Zealand has some private hospitals, but most are public, which have all the emergency and intensive care.  If private hospital patients have complications, they are often transferred to a public hospital, and the costs are then covered by the public sector.


h2 Health Insurance

p All permanent residents are covered by public health insurance, funded mostly through general taxes.  This systems covers preventive, primary, and hospital services; mental health, long-term, home, and hospice care; dental care for children, some prescription drugs, and disability support services.  

p There are no deductibles, but co-pays apply and vary greatly, except in low-income areas where they are capped at $12.  Co-pays for prescription drugs are $3.40, but after 20 prescriptions in a year, they are free.  Primary care is free for children.  Patients can also become exempt from paying for doctor visits if they have more than 12 a year.

p About one-third of New Zealanders purchase private health insurance, offered by “Friendly Societies,” non-profit, and for-profit companies to cover co-pays, deductibles, elective surgery in private hospitals, private outpatient specialist consults.  This insurance also provides faster service for non-urgent treatment.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org
