h1= title "Peru Health Guide"

h2 Overview

p With a population of just over 31.3 million in 2015, Peru ranks 42nd in the world by population and 21st by total area.  The official languages of Peru are Spanish, Quechua, and Aymara. The currency is the sol.

p Peru ranks 129th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $656, which is 5.5% of the GDP.   Peruvian males have a life expectancy at birth of 73 years, and females can expect to live 78 years.  There are 1.13 physicians per 1,000 people in Peru as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Peru has about 1,000 hospitals, nearly 25% of which are in Lima, the capital city.  In rural areas, access to healthcare is much lower than in urban areas, especially for delivery of babies.  Many of these areas are quite isolated, so it is simply difficult to get basic healthcare, in addition to basic needs such as water, food, and shelter that help prevent disease to begin with.  


h2 Health Insurance

p Peru has universal health insurance with coverage provided by five separate entities.  The Ministry of Health (MINSA) offers Seguro Integral de Salud (SIS), which covers over half of the population, particularly the poor, and is funded by tax revenues, external loans, and user fees.  Although this system offers free health services to all Peruvians who cannot afford to pay, it usually entails very long wait times for treatment because of the high number of people served and a shortage of supplies and human resources.  EsSalud covers over a fourth of the population, the employed and their families, and is funded by payroll taxes (about 9% of salaries) paid by employers. The remaining Peruvians are covered by the Armed Forces (FFAA), National Police (PNP), or the private sector for those who can afford it.  

p Some reforms have been undertaken for these sectors to work together in order to reduce wait times.  For example, SIS patients can receive care in EsSalud facilities or EsSalud can contract services to the less populated private facilities when necessary.  Other reforms include incentives to attract health care workers to remote or under-served areas.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.paho.org
