h1 Philippines Health Guide

h2 Overview

p With a population of just under 100.7 million in 2015, the Philippines rank 13th in the world by population and 73rd by total area.  The official languages of the Philippines are English and Filipino, with 120-175 different regional languages and dialects (8 major ones) used. The currency is the Philippine peso.

p The Philippines rank 60th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $329, which is 4.7% of the GDP.  Males have a life expectancy at birth of 65 years, and females can expect to live 72 years.  There are 1.15 physicians per 1,000 people in the Philippines as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p There are approximately 1,800 hospitals in the Philippines, both public and private.  Between 2005 and 2012, the number of private hospital beds grew a lot more than the number of public hospital beds.  These hospitals offer a high level of care and low costs (usually cash payment before treatment) compared to many other hospitals, so they are becoming a popular destination for medical tourism.

p There are two types of hospitals, general (services for all types of medical issues) and speciality (services for specific health conditions).  Variations in services also depend upon the level (1-3) of the hospital.  Those with higher level service are concentrated in the urban areas, with a substantial drop-off in quality and availability in rural areas. Other health facilities include primary care, custodial care, diagnostic and therapeutic, and specialized outpatient.


h2 Health Insurance

p Free healthcare is available to all citizens through the Philippine Health Insurance Corporation (PhilHealth).  This plan is managed by the government and funded by government subsidies (both national and local) and employer/employee contributions. Private health insurance is also available, and offered to employees by most companies.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.doh.gov.ph
