h1= title "Paraguay Health Guide"

h2 Overview

p With a population of just over 6.6 million in 2015, Paraguay ranks 106th in the world by population and 61st by total area.  The official languages of Paraguay are Spanish and Guarani. The currency is the guarani.

p Paraguay ranks 57th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $873, which is 9.8% of the GDP.  Paraguay males have a life expectancy at birth of 72 years, and females can expect to live 76 years.  There are 1.23 physicians per 1,000 people in Paraguay as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Paraguay has 1,000 public hospitals and clinics, plus some private facilities in larger cities, especially the capital, Asuncion.  In addition, the majority of health care workers are located near this city, while the rural areas suffer from a shortage of workers, supplies, and equipment, due to poor infrastructure and incentives.


h2 Health Insurance

p Paraguay provides universal healthcare to residents and foreigners with coverage for emergency treatment, diagnostic tests in all specialist care, dental, ophthalmological, and outpatient services. 

p Private health insurers and providers are also available through the Social Security Institute, covering sickness, maternity care, workers’ medical benefits, work injury, and disability benefits for permanent residents.  A separate system exists for public-sector employees.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.mspbs.gov.py
