h1 Saudi Arabia Health Guide

h2 Overview

p With a population of just under 31.54 million in 2015, Saudi Arabia is the 41st largest country in the world by population and 14th by total area.  The official language of Saudi Arabia is Arabic. The currency is the Saudi riyal.

p Saudi Arabia ranks 26th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $2466, which is 4.7% of the GDP.  Saudi Arabian males have a life expectancy at birth of 73 years, and females can expect to live 76 years.  There are 2.49 physicians per 1,000 people in Saudi Arabia as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p There are about 542 hospitals (415 governmental and 127 private) in Saudi Arabia.  There are also 220 “specialist” hospitals, where patients are referred by one of the 1,925 primary health care centers.  In addition, the Saudi Red Crescent Society provides emergency services before patients ever get to a hospital, such as at accident scenes or during pilgrimages to Mecca and Medina.

p Private sector health care is growing in Saudi Arabia. Private facilities include hospital, clinics, labs, therapy centers, and pharmacies.  Use of these facilities (as shown by number of visits) is increasing as are investments and contributions.  


h2 Health Insurance

p Saudi Arabia has a national healthcare system with few exclusions and no cost to patients.  Several governmental agencies are responsible for financing and providing health care services to different categories of citizens.  

p The Ministry of Defense and Aviation, Ministry of Interior and the Saudi Arabian National Guard provide health care services for security personnel and armed forces.  The Ministry of Education provides for students.  The Ministry of Labor and Social Affairs provides homes and some medical care for the mentally disabled and orphans.  The General Organization for Social Insurance and General Presidency of Youth Welfare cover citizens affiliated with sports facilities.  The Royal Commission for Jubail and Yanbu (two industrial cities) has its own facilities that provide for their citizens and workers.  The Saudi Arabian Airlines also have facilities that provide health care for their employees.  Finally, universities provide special services, education, and training programs while conducting research.

p People also buy their health insurance from private companies offering a variety of plans and options.  Some basic considerations when buying health insurance include premiums (the monthly cost of insurance), deductibles (the total amount the individual must pay each year before the insurance company pays anything), co-payments (the amount the individual must pay for each service), and covered/non-covered services.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country. Our website provides contact information on more than 15 such companies.


blockquote
  ol
    li www.who.org
    li www.moh.gov.sa/EN
