- content_for(:title) { "Singapore Health Guide" }
h1 Singapore Health Guide

h2 Overview

p With a population of just under 5.6 million in 2015, Singapore ranks 113th in the world by population and 196th by total area.  Singapore is multi-cultural, with four official languages, including English, Tamil, Malay, and Standard Mandarin. The currency is the Singapore dollar.

p Singapore ranks 6th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $4,047 (according to WHO), which is 4.9% of the GDP.  Singapore males have a life expectancy at birth of 80 years, and females can expect to live 86 years.  There are 1.4 physicians per 1,000 people in Singapore as compared with .7 physicians per 1,000 people in India.


h2 Hospitals

p There are 30 hospitals in Singapore, 15 are public and 15 are private.  The public hospitals have four tiers, with the top tier being totally funded by the patients, who are treated as private patients.  The remaining tiers step down in percentage of patient payment, with the government subsidizing up to 80%.

p Government subsidies are also available for low and middle income patients at private primary care sites (Community Health Assist Scheme) and at intermediate and long-term care facilities (The ElderCare Fund). 


h2 Health Insurance

p Singapore has universal health insurance coverage, which values individual responsibility and affordable health care for everyone.  This system is collectively known as the 3Ms.

p Medisave pays for routine medical expenses.  Workers are required to make contributions (which are matched by employers) to a health savings account.  Funds in these accounts are strictly monitored and can only be used for health services and for further health insurance.

p This insurance is called MediShield, to be used for catastrophic health issues requiring long hospital stays or other major bills.  MediShield requires copayments (amount individual must pay for each service) and deductibles (total amount the individual must pay each year before the insurance will pay anything).  These are often higher than in other nations, due to the emphasis on individual responsibility for health care costs.  Premiums (monthly cost of insurance) are paid through Medisave accounts.

p Medifund is a government endowment fund to help the indigent.  Citizens must receive treatment from a Medifund approved facility to receive this aid.

p Some citizens also have private health insurance, offered by a number of for-profit companies.  This insurance is a supplement to MediShield and can used for the cost of private hospitals or Class A or B1 wards in public hospitals.  Medisave funds can be used to be pay the premiums for this insurance.  Some employers offer private insurance as a benefit.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org



