.container
  .row
    .col-md-12
      =render file: "health_guides/#{@co}" rescue nil


  .row
    .col-md-12
      hr
      p=link_to "View Other Countries", health_guides_path, class: 'btn btn-success', title: 'View Other Countries'
