h1= title "Suriname Health Guide"

h2 Overview

p With a population of 543,000 in 2015, Suriname ranks 171st in the world by population and 93rd by total area.  The official language of Suriname is Dutch. The currency is the Surinamese dollar.

p Suriname ranks 110th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $979, which is 5.7% of the GDP.  Surinamese males have a life expectancy at birth of 69 years, and females can expect to live 75 years.  There are .91 physicians per 1,000 people in Suriname as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Suriname has both public and private hospitals and other facilities.  These facilities serve different populations, based on their employment status and geographic location.  The Ministry of Finance provides funds to The Ministry of Social Affairs and Housing for hospitals and labs serving the poor and near-poor in the coastal areas and to the Ministry of Health for different hospitals, labs, clinics, etc. serving people in the hinterlands. Governmental Institutions like the police and armed forces have separate insurance companies and facilities. Large corporations also have their own providers specifically for their employees and families.

p Having these separate providers leads to inequity in quality of care and inefficient use of resources.  However, the majority of the population is located fairly close to a health care facility.


h2 Health Insurance

p The Ministry of Public Health is responsible for making health services, especially primary health care, accessible to all Surinamese citizens.  The State Health Fund Foundation, consisting of both government and employee contributions, is a major funding source of health care for about 35% of the population.  A recent reform of the social security system introduced national basic care involving competing insurance companies.  Working citizens cover their premiums and the government covers them for the non-working.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.

blockquote
  ol
    li www.who.org
    li www.paho.org


