h1= title "Uruguay Health Guide"

h2 Overview

p With a population of just under 3.5 million in 2015, Uruguay ranks 136th in the world by population and 92nd by total area.  The official language of Uruguay is Spanish. The currency is the Uruguayan peso.

p Uruguay ranks 65th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $1,792, which is 8.6% of the GDP.  Uruguayan males have a life expectancy at birth of 73 years, and females can expect to live 80 years.  There are 3.74 physicians per 1,000 people in Uruguay as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Uruguay has a total of 105 hospitals, 56 are public, 48 are private, and there is one university hospital.  The public system is managed by the Ministry of Public Health through the State Health Services Administration (ASSE), which provides free emergency ambulance service, initial treatment, and medication; the downside being that, due to overcrowding, the waits can be long.  The private facilities may be a single hospital or belong to a network.


h2 Health Insurance

p The public health care system is called ASSE, available to all legal residents.  This requires monthly premiums, except for low-income individuals, for whom it is free.  There are no age or pre-existing conditions exclusions.

p Private health insurance companies are available with a variety of coverage options. However, there is also a type of plan called a mutualista.  With this plan the patient pays premiums and co-pays directly to the hospital or clinic, instead of having an insurance company as the go-between. There is no deductible or lifetime cap. These providers can set their own limits on age and pre-existing conditions.  Another kind of hospital plan is a premium plan for shorter waits, private rooms, and faster/easier access, but these are more expensive.


h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li www.msp.gub.uy
    li www.paho.org
