h1 United States of America Health Guide

h2 Overview

p With a population of over 321 million in 2015, United States is the third largest country in the world by population and fourth by total area. The national language of USA is English and the currency is the United States dollar.

p USA ranks 37th in world health ranking per WHO. In 2014, the total expenditure on healthcare per person was $9,400 which was highest in the world. The total expenditure on healthcare in US is 17.1% of the GDP.   United States males have a life expectancy at birth of 77 years, while females can expect to live 82 years. There are 2.56 physicians per 1,000 people in USA as compared to 2.14 physicians per 1,000 people in Canada.

h2 Hospitals

p The US has more than 5,400 hospitals, mostly private.  Nearly 70% of US hospitals are nonprofit, 15% profit, and 15% public.  The public hospitals include federal government run VA Hospitals (Veterans Health Administration), which provide care for Veterans and County Hospitals governed by City government. In addition to these hospitals, there are roughly 7,800 ambulatory surgical centers, which are outpatient facilities for having procedures performed safely without being admitted into a hospital.

h2 Health Insurance

p United States does not have National Health coverage program similar to NHS in UK. In 2010, the United States passed the Affordable Care Act (ACA), which was enacted in 2014.  This is an attempt to provide, and require, health insurance for all citizens.  While many more US citizens now have health insurance, it still has not reached the level of “universal” coverage.

p US has two public funded health programs, Medicare and Medicaid.  Once US citizens reach the age of 65, they become eligible for Medicare, which is a government sponsored insurance program that covers some of the cost of medical expenses. Many citizens also purchase their own “supplemental” insurance to cover services that Medicare does not.  Medicare is also available to some people with certain disabilities. Another government (mostly at the state level) insurance program is Medicaid.  This is for low-income citizens who also meet other eligibility criteria (age,disability, etc.).

p People buy their health insurance from one of over 200 companies offering a variety of plans and options.  Some basic considerations when buying health insurance include premiums (the monthly cost of insurance), deductibles (the total amount the individual must pay each year before the insurance company pays anything), co-payments (the amount the individual must pay for each service), and covered/non-covered services. Many people in the US obtain their health insurance through their employer.  This allows the individual to belong to a “group” plan, which generally reduces the cost of the insurance.

h2 Travel (International) Health Insurance

p Travel or International health insurance provide comprehensive medical coverage when traveling outside of their home country. The travel health insurance is different from travel insurance as latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country. Approximately 20 insurance companies provide this type of travel health insurance in the United States.

p Visitors to USA should pay attention to their medication needs during their stay in USA.  Most of the medications like antibiotics are available only with prescription from a US physician. 


blockquote
  ol
    li www.who.org
    li http://international.commonwealthfund.org



