h1= title "Venezuela Health Guide"

h2 Overview

p With a population of just over 31.1 million in 2015, Venezuela ranks 43rd in the world by population and 34th by total area.  The official language of Venezuela is Spanish. The currency is the Venezuelan bolivar.

p Venezuela ranks 54th in world health ranking per WHO.  In 2014, the total expenditure on health per person was $923, which is 5.3% of the GDP.  Venezuelan males have a life expectancy at birth of 70 years, and females can expect to live 78 years.  There are 1.94 physicians per 1,000 people in Venezuela as compared with 2.56 physicians per 1,000 people in the United States.


h2 Hospitals

p Venezuela has over 2,000 clinics and hospitals, both public, private, and a few not-for-profit.  The Ministry of Health and Social Development (MHSD) funds public hospitals, and until a few years ago, the system was working.  In fact, they had some of the best hospitals in the region.

p However, since 2014, public hospitals have been suffering from a severe lack of basic supplies such as medicine, antibiotics, oxygen, food, and even water.  Patients have to bring their own syringes, gauze, etc. bought at very expensive prices on the black market.  Doctors had to stop performing surgeries (hundreds of patients are waiting for cardiac treatments that cannot be performed) and many left the public health care system due to these conditions.  In fact, only about 10% of operating rooms, emergency rooms, and intensive care units are full operational.

p The private hospitals and clinics are expensive, and most can’t afford them.  For those who can, many of these hospitals are similarly crowded and lacking supplies. There are also a few not-for-profit facilities run by charitable organizations.


h2 Health Insurance

p All citizens, according the 1999 Venezuelan constitution, are to have access to health care.  Barrio Adentro is a state-funded social program offering free comprehensive health care to all Venezuelans. It became by covering preventive health and expanded to include emergency care, surgeries, cancer treatments, dental and optometry services (including free glasses and contacts), disability support, and medical specialists.  Sometimes fees are billed to those able to pay them, and prescription drugs also have a fee.

p However, due to the severe shortages of the most basic supplies, the vast majority are now unable to get the care they need.

p About 20% of the population has private insurance, which offers them a much higher quality of care, but the services are very expensive and must be paid for upfront. 





h2 Travel (International) Health Insurance

p Travel, or international, health insurance provides comprehensive medical coverage when traveling outside of one’s home country. Travel health insurance is different from travel insurance, as the latter may provide only emergency coverage but not full medical coverage. 

p Travelers should check with their health insurance provider, as they may already have an option of international health coverage.  If they do not, they can purchase travel health insurance from their home country or the destination country.


blockquote
  ol
    li www.who.org
    li http://www.mpps.gob.ve
    li www.paho.org
