h1 New Claim Request
p
  | A new claim request has been made by 
  =@claim_request.user.email
  | For
  =@claim_request.description

p
  | Review the request here:
  =link_to admin_claim_request_url(@claim_request), edit_admin_claim_request_url(@claim_request)
