 - if doctor.additional_locations.present?
  tr
    th{colspan=2} Additional Practice Locations :
  tr.no-border
    td{colspan=2}
      -location_end_index = doctor.additional_locations.length - 1
      -doctor.additional_locations.each_with_index do |location, index|
        a href="#practice_location_#{location.id}_collapse" data-toggle="collapse" ="#{location.name || 'Location'}"
        = ", " unless index == location_end_index
      -doctor.additional_locations.each do |location|
        div class="collapse" id="practice_location_#{location.id}_collapse"
          = location.address
          br
          = "#{location.city}, #{location.state}"
          br
          = location.phone
          br
          = render "business_hours", hour_obj: location
