<% if hour_obj.business_hours.present? %>
  <% current_day = '' %>
  <% hour_obj.business_hours.order("day ASC, start_time ASC").each do |bh| %>
    <div class = "text-center row">
      <% if current_day == bh.day %>
        <p class = 'col-md-12' >
          <%= bh.start_time&.to_time&.strftime("%l:%M%p")   %>
          -
          <%= bh.end_time&.to_time&.strftime("%l:%M%p") %>
        </p>
      <% else %>
        <p class = 'col-md-12' >
          <strong><%= bh.day&.capitalize %>: </strong>
        </p>
        <p class = 'col-md-12' >
          <% if bh.closed? %>
            Closed
          <% elsif (bh.start_time == "00:00" && bh.end_time == "00:00") || (bh.start_time == "00:00:00" && bh.end_time == "00:00:00") %>
            Open 24 Hours
          <% else %>
            <%= bh.start_time&.to_time&.strftime("%l:%M%p")   %>
            -
            <%= bh.end_time&.to_time&.strftime("%l:%M%p") %>
          <% end %>
        </p>  
      <% end %>
    </div>
    <% current_day = bh.day %>
  <% end %>
<% end %>
