span.conditionsTreated
  /Show the first four conditions, then show a link to unhide the rest of them if there are more.
  - display_limit = 10
  -condition_end_index = conditions.length - 1
  -conditions[0..display_limit-1].each_with_index do |condition, index|
    =link_to condition, blogs_path(tag: condition)
    - if index!= condition_end_index
      = ", "
  -if conditions.length > display_limit
    div class="collapse" id="#{id}_collapse"
      -conditions[display_limit..-1].each_with_index do |condition, index|
        =link_to condition, blogs_path(tag: condition)
        -if (index + display_limit)!=condition_end_index
          = ", "
    br
    a href="##{id}_collapse"  data-toggle="collapse" class= 'text-warning' id="#{id}" onclick='javascript:set_label(this.id)' More ..