<% dr = obj.decorate %>
<h3 class='panel-title'><%= dr.featured_or_sponsored %></h3>
<div class='panel-body text-right'>
  <div class='row'>
    <div class='col-md-4 col-sm-12'>
      <a href="<%= url_for(dr) %>"><%= dr.circle_image %></a>     
    </div>
    <div class='col-md-8 col-sm-12'>
      <h4><%= link_to dr.try(:name) || 'NA', dr %></h4>
      <div><%= dr.sub_type %></div>
      <div><%= dr.city %></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <% if dr.has_reviews? %>
        Rating: <%= dr.stars %> (<%= dr.overall %>/5)
      <% end %>
    </div>
  </div>
</div>
<% if dr.phone.present? %>
  <div class='panel-footer'>
    <%= "Make an Appointment - #{dr.phone}" %>
  </div>
<% end %>