.row
  .columns.medium-2
    =@doctor.photo
  .columns.medium-10
    h1
      | #{@doctor.full_name}
    h2
      - if @doctor.has_reviews?
        span data-stars="#{@doctor.overall}"
        =link_to "(#{@doctor.ratings.count
        } reviews ) #{number_to_percentage(@doctor.ratings.recommend_percentage, precision: 1)} Recommend", "#reviews", class: 'scroll', title: 'Reviews'
        |
      - if @doctor.questions.present?
        =link_to "#{@doctor.questions.count} Questions", "#questions", class: 'scroll', title: 'Questions'
