<%= scope :physician do %>
  <div class='container'>
    <div class='row' >
      <div class="col-md-9 fortis_dr_frame" id="fortis_hospital_frame" >
        <div class="row fortis_hospital_frame-middle-frame">
          <div class="col-md-3">
            <div class="fortis_hospital_frame-middle-frame-2">
              <a href="javascript:;" title="<%= @location.name %>"><%= @location.details_header_photo %></a>
            </div>
          </div>
          <% claim_url = new_doctor_claim_request_path(@location) %>
          <div class="col-md-6 location">
            <div class="fortis-heading_se">
              
              <h1><%= prop :name, @location.name %>
                <% if @location.is_claimed %>
                  <span class='white'> <%= image_tag "claimed.svg", title: 'Claimed'%> <small class='white'> Claimed </small></span>
                <% end %>

              </h1>
              <% if @location.type_name.upcase == "DOCTOR" %>
                <h3><%= "#{@location.primary_specialty}" %></h3>
              <% end %>
              <% if user_signed_in? %>
                <h4><%= favorites_button(current_user, @location) %></h4>
              <% end %>
            </div>
            <% 
              reviews = @location.ratings_count
              overall_ratings = @location.overall.to_f
              recommend = @location.ratings.recommend_percentage
            %>
            <div class="fortis-heading_se-star">
              <div class="row">
                <% if reviews > 0 %>
                  <% rating_class = 'col-md-8' %>
                  <div class="col-md-4">                  
                    <h5 class="total-reviews">Reviews: <b class='stars'><%= prop :review_count, reviews %></b></h5>
                  </div>
                <% else %>
                  <% rating_class = 'col-md-12' %>
                <% end %>
                <% if overall_ratings > 0.0 %>
                  <div class='<%= rating_class %>'>
                    <h5>Rating: <a class="userreviews" href="javascript:void(0)">
                      <%= @location.stars %></a> 
                      <%= prop :aggregate_rating do %>
                        (<%= prop :rating_value, overall_ratings %>/5) 
                      <% end %>
                    </h5>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="fortis-heading_se-star fortis-heading_se-star_bottom">
              <div class="row">
                <div class="col-md-12">
                  <h5>
                    <% if @location.ratings.present? %>
                      <span class="stars"><b><%= number_to_percentage(recommend, precision: 1) %></b></span> Recommended
                    <% else %>
                      <i>Be the first one to recommend.</i>
                    <% end %>
                  </h5>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="white_a_re">
              <a data-write-review href="<%= rating_url(@location) %>">WRITE A REVIEW</a>
              <% if @location.doctor? && @location.request_appt? %>
                <% if current_user.present? %>
                  <%= link_to "APPOINTMENTS", "#", "data-toggle"=>"modal", "data-target"=>"#appointments_#{@appointment.id}", title: 'Appointments' %>
                <% else %>
                  <%= link_to "APPOINTMENTS", new_user_session_path, title: 'Appointments' %>
                <% end %>
              <% end %>
               <%= link_to 'CLAIM YOUR PROFILE', claim_url if !@location.is_claimed %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="fortis_hospital_frame-right-frame pull-left">
              <p>
                <% if @location.doctor? %>
                  <span class="officeName"><%= @location.org_name %></span><br>
                <% end %>
                <%= link_to nil, href: "https://maps.google.com/?api=#{ENV['GOOGLE_API'] }&q=#{@location.latitude},#{@location.longitude}", target: '_blank' do %>
                  <span class='fa fa-map-marker stars'></span>
                  <span class='white address.address'>
                    <%= prop :address, @location.address %><br>
                  </span>
                  <% if @location.address2.present? %>
                    <span class='white address.address2'>
                      <%= @location.address2 %>
                    </span>
                    <br>
                  <% end %>
                  <span class="address.city address.state address.postalCode not-telephone text-white">
                    <%= @location.city_state_zip %>
                  </span>
                <% end %>
                
              </p>
              <% if @location.phone.present? %>
                <p>
                  <%= link_to nil, href: "tel:#{@location.phone}" do %>
                    <span class='fa fa-phone stars'></span> 
                    <span class="white phone"><%= prop :telephone, @location.phone %></span>
                  <% end %>
                  <br>Call to Make an Appointment
                </p>
              <% end %>
              
              <% if @location.website.present? %>
                <p>
                  <a class="website-link url white" type="WEBSITE" href="<%= sanitize_link(@location.website) %>">
                    <span class='fa fa-globe stars'></span> Website
                  </a>
              <% end %>
              
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-3 no_bg'>
        <%= render partial: 'shared/google_advert/square_270' %>
      </div>
    </div>
  </div>
<% end %>
