<% if @horizontal_blogs.present? %>
  <div class='row'>
    <br/>
      <% @horizontal_blogs.each do |blog| %>
        <div class="col-md-4 ">
          <%= link_to blog_path(id: blog.slug), class:"blog-link", title: blog.title do %>
            <div class='col-md-12 fit_blog_banner blue-box'>
              <%= blog.featured_or_avtar %>
            </div>
            <div class='col-md-12 blog-title blue-box'>
              <%= blog.title %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
<% end %>
<div class='row'>
  <div class="col-md-4">
    <%= render partial: 'shared/google_advert/square_270_200' %>
  </div>
  <div class="col-md-4">
    <%= render partial: 'shared/google_advert/square_270_200' %>
  </div>
  <div class="col-md-4">
    <%= render partial: 'sponsored' %>
  </div>
</div>
