<% if @featured_or_sponsored[:nearby].present? %>
  <h4 class='overview-left-frame pb-14 blog-container-title'>Near By Doctors</h4>
  <% @featured_or_sponsored[:nearby].each do |obj| %>
    <% dr = obj.decorate %>
    <div class='panel panel-grey'>
      <h3 class='panel-title'><%= dr.sub_type %></h3>
      <div class='panel-body text-right'>
        <div class='row'>
          <div class='col-md-4 col-sm-12'>
            <a href="<%= url_for(dr) %>"><%= dr.circle_image %></a>     
          </div>
          <div class='col-md-8 col-sm-12'>
            <h4><%= link_to dr.try(:name) || 'NA', dr %></h4>
            <div><%= dr.city %></div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <% if dr.has_reviews? %>
              Rating: <%= dr.stars %> (<%= dr.overall %>/5)
            <% end %>
          </div>
        </div>
      </div>
      <% if dr.phone.present? %>
        <div class='panel-footer'>
          <%= "Make an Appointment - #{dr.phone}" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>