
  - credential = doctor.credential
  - if credential.present?
    tr
      th Credentials :
      td
        = credential.upcase

  - if doctor.look_for_gender.present?
    tr
      th Gender :
      td
        span.gender
          = doctor.look_for_gender.titleize
  
  - graduation_year = doctor.graduation
  - if graduation_year.present?
    tr
      th
        = 'Graduation year :'
      td
        = graduation_year
    tr
      th
        = 'Years of experience :'
      td
        = Time.current.year - graduation_year.to_i

  - med_school = doctor.med_school_info
  - if med_school.present?
    tr
      th
        = 'Professional School :'
      td
        = med_school
        
  - residency = doctor.residency
  - if residency.present?
    tr
      th Residency :
      td
        = residency

  - fellowship = doctor.fellowship
  - if fellowship.present?
    tr
      th Fellowship :
      td
        = fellowship

  - fellowship_2 = doctor.fellowship_2
  - if fellowship_2.present?
    tr
      th 2nd Fellowship :
      td
        = fellowship_2

  - areas_of_expertise = doctor.areas_of_expertise
  - if areas_of_expertise.present?
      tr
        th Areas of Expertise :
        td     
          = raw areas_of_expertise

  - board_certifications = doctor.board_certifications
  - if board_certifications.present?
    tr
      th{colspan=2}  Board Certifications :
    tr.no-border
      td{colspan=2}  
        ul
          - board_certifications.pluck(:certification).each do |c|
            li
              = c

  - if doctor.languages.present?
    tr
      th Languages :
      td
       = doctor.languages.pluck(:title).join(', ')

  - if doctor.academic_affiliation.present? && !doctor.no_affiliation?
    tr
      th Academic Affiliation :
      td
        = doctor.academic_affiliation.to_s.titleize

  - hospital_links = doctor.hospital_links
  - if hospital_links.present?
    tr
      th{colspan=2} Affiliated Hospitals :
    tr.no-border
      td{colspan=2}
        = hospital_links

  - practice_links = doctor.practice_links
  - if practice_links.present?
    tr
      th{colspan=2} Affiliated Practices :

    tr.no-border
      td{colspan=2}
        = practice_links
