  <div id="overview" class="overview-main-frame">
  <h3 title=<%=@doctor.id%>>OVERVIEW</h3>        
  <div class="overview-main-frame-con">
    <div class='row'>
      <div class='col-md-12'>
        <% if @doctor.live? && @doctor.special_offer_message.present? %>
          <h4 class='specialOffer'>
            <% if @doctor.special_offer_url.present? %>
              <%= link_to @doctor.special_offer_message, @doctor.special_offer_url, target: '_blank', title: 'Special Offer' %>
            <% else %>
              <%= @doctor.special_offer_message %>
            <% end %>
          </h4>
        <% end %>
        <h4 class='description'>
          <%= @doctor.overview %>
        </h4>
      </div>
    </div>

    <% specialities = @doctor.practice_specialities.uniq %>
    <% if specialities.present? %>
      <div class='row'>
        <div class='col-md-12'>
          <h4> <b>Specialities : </b> </h4>
          <ul class='categories tbl_overview'>
            <% specialities.each_with_index do |speciality, index| %>
              <% if speciality.user_facing_description.present? %>
                <li>
                  <a href='<%= "#practice_speciality_#{speciality.id}_collapse"%>'  data-toggle="collapse">
                    <%= speciality.name %>
                  </a>
                  <div class="collapse in" id='<%= "practice_speciality_#{speciality.id}_collapse" %>'>
                    <%= speciality.user_facing_description %>
                  </div>
                </li>
              <% else %>
                <li>
                  <%= speciality.name %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-8">
        <table class='table tbl_overview'>
          <%= render partial: "overview", locals: {doctor: @doctor} %>
          <%= render partial: "additional_locations", locals: {doctor: @doctor} %>
        </table>
       <% if policy(@doctor.object).manage? %>
          <%= link_to "Manage Profile", edit_admin_doctor_path(@doctor), title: 'Manage Profile', class: 'btn btn-primary' %>
        <% end %> 

   
      
      
  
    
      </div>
      <div class="col-md-4">
        <% if @doctor.display_hours_and_fees%>
          <div>
            <%= render "business_hours", hour_obj: @doctor %>
            <div class = "text-center row">
              <% if @doctor.new_patient_fees.present? %>
                <p class = 'col-md-12' >
                  <strong>New Patient Fees </strong>
                </p>
                <p class = 'col-md-12' >
                  <%= @doctor.new_patient_fees %>
                </p>
              <% end %>
            </div>
            <div class = "text-center row">
              <% if @doctor.current_patient_fees.present? %>
                <p class = 'col-md-12' >
                  <strong>Current Patient Fees </strong>
                </p>
                <p class = 'col-md-12' >
                  <%= @doctor.current_patient_fees %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @award.present? %>
          <center>
            <p><b>Awards</b></p>
            <%= image_tag "#{@award.award_type}.jpg", class: "img_award", alt: "#{@award.award_type}"%>
          </center>
        <% end %>
                
        <%#= render partial: 'shared/map', locals: {id: 'map'} %>
                
      </div>
    </div>
  </div>
</div>