/Show the first four procedures, then show a link to unhide the rest of them if there are more.
- display_limit = 10
-procedure_end_index = procedures.length - 1
-procedures[0..display_limit - 1].each_with_index do |procedure, index|
  =link_to procedure, blogs_path(tag: procedure)
  -if index!=procedure_end_index
    = ", "
-if procedures.length > display_limit
  span class="collapse" id="#{id}_collapse"
    -procedures[display_limit..-1].each_with_index do |procedure, index|
      =link_to procedure, blogs_path(tag: procedure)
      -if (index+display_limit)!=procedure_end_index
        = ", "
    br
    a href="##{id}_collapse"  data-toggle="collapse" class= 'text-warning' id="#{id}" onclick='javascript:set_label(this.id)' More ..