<script type='text/javascript'>
  <% if @featured_or_sponsored[:featured].present? %>
    function FeaturedDoctor(div) {
      dr = shuffle(<%= @featured_or_sponsored[:featured].pluck(:id) %>)
      $.ajax({
        url: '/doctors/' + dr,
        method: 'GET',
        contentType: 'json'
      })
      setTimeout(function() { 
        FeaturedDoctor('.featured')
        }, 100000
      );  
    }
    FeaturedDoctor('.featured')
  <% end %>

  <% if @featured_or_sponsored[:sponsored].present? %>
    function SponsoredDoctor(div) {
      dr = shuffle(<%= @featured_or_sponsored[:sponsored].pluck(:id) %>)
      $.ajax({
        url: '/doctors/' + dr,
        method: 'GET',
        contentType: 'json'
      })
      setTimeout(function() { 
        SponsoredDoctor('.sponsored')
        }, 105000
      );  
    }
    SponsoredDoctor('.sponsored')
  <% end %>
</script>