<div id="patient_ratings" class='service-review-detail'>
  <% if @location.ratings.present? %>
    <h3 class='doctor-review-summary'>PATIENT RATINGS</h3>
    <hr/>
    <div class="row over-all_section" id="servicereviews">
      <%= render "rating_summary_#{@location.map_type_slug}", resource: @location %>
    </div>
  <% end %>
</div>