<div id="patient_reviews">
  <div class="hospital-reviews-result hospital-user-reviews-result row" id="userreviews">
    <div class='col-md-6'>
      <h3 class='color-heading'>PATIENT REVIEWS</h3>
    </div>
    <div class="soft-buyreviews-frame pull-right col-md-6">
      Sort By:
      <select class="form-control" data-review-filter>
        <option value='' label='Filter Reviews'>Filter Reviews</option>
        <% @location.ratings.reasons.each do |reason| %>
          <option value="<%= reason.first %>"><%= reason.last %></option>
        <% end %>
      </select>
    </div> 
  </div><!--end-->
  <hr/>
  <%= render partial: "user_rating", collection: @ratings, as: :rating %>
  <% if @ratings.blank? %>
    <div class="over-all_section over-all_section_CLAIM">
      <p><a href="<%= url_for([:new, @location, :rating]) %>">WRITE A REVIEW</a></p>
    </div>
  <% end %>
</div>