<% if @featured_or_sponsored[:sponsored].present? %>
  <div class="panel sponsored">
    <%= render partial: "featured_or_sponsored_panel", locals: {obj: @featured_or_sponsored[:sponsored].sample} %> 
  </div>
<% end %>