<div class='row helvetica'>
  <div class='col-md-9' id="nav_menu">
    <%= link_to 'Overview', '#overview', class: 'btn btn-secondary' %>
    <%= link_to 'Patient Ratings', '#patient_ratings', class: 'btn btn-secondary' %>
    <%= link_to 'Patient Reviews', '#patient_reviews', class: 'btn btn-secondary' %>
  </div>
  <div class="col-md-3">
    <div class="share-wrapper">
      <div class="share-icons">
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <span class="pull-left">
            Share on:
          </span>
          <span class="share-icon"><a class="a2a_button_facebook" rel='nofollow'></a></span>
          <span class="share-icon"><a class="a2a_button_twitter" rel='nofollow'></a></span>
          <span class="share-icon"><a class="a2a_button_google_plus" rel='nofollow'></a></span>
          <span class="share-icon"><a class="a2a_button_linkedin" rel='nofollow'></a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<br/>
<script type="text/javascript">
  $(document).ready(function(){
    $("#nav_menu a").on('click', function(event) {
      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        document.querySelector(hash).scrollIntoView({
            behavior: 'smooth'
        });
      } 
    });
  });
</script>