<% set_meta_tags title: t("meta_title.doctor", {name: @doctor.full_name, specialty: @doctor.speciality_title, city: @doctor.city}) %>
<% set_meta_tags description: t("meta_description.doctor", {name: @doctor.full_name, specialty: @doctor.primary_specialty, city: @doctor.city, state: @doctor.state, country: @doctor.country}).truncate(200) %>
<% set_meta_tags og: { image: @doctor.share_image_url} %>
<%= render "header" %>
<%= render partial: "shared/appointment_modal", locals: { doctor: @doctor, appointment: @appointment } %>

<section data-details-page id="hospital-reviews-frame_middle" class="hospital-reviews-frame_middle-fixed">
  <div class="container search-container">
    <div class="row">
      <div class="col-md-9">
        <%= render partial: 'shared/google_advert/leaderboard_725_90' %>
        <%= render partial: 'doctors/tabs' %>
        <%= render partial: 'overview_tab_content' %>
        <%= render partial: 'ratings_tab_content' %>
        <%= render partial: 'reviews_tab_content' %>

        <div class="clear"></div>

        <%= render partial: 'horizontal_blogs' %>

        <div class="service-review-detail service-review-detail_last" id="qa">
          <h2>HEALTHCARE Q&A</h2>
          <hr/>
          <div class="over-all_section over-all_section_CLAIM">
            <p>Do You Have Questions About Healthcare? <a href="<%= url_for([:new, @location, :question]) %>">ASK A QUESTION</a></p>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <%= render partial: 'shared/static_questions', locals: {obj: @location} %>  
              <% if @location.questions.any?  %>
                <%= render partial: "questions/question", collection: @location.questions.order(created_at: :desc) %>
              <% end %>
            </div>
          </div>
        </div>
        <%= render partial: 'shared/blogs', locals: {cls: 'mobile-view-bp-sec'} %>
      </div><!--8-->
      <%= render partial: "leftmenu", locals: {blogs: @blogs} %>

    </div>
    <%= render partial: 'shared/near_by', locals: {country: @location.country_slug, state: @location.state_slug, city: @location.city_slug} %>
  </div>
</section>


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
<% content_for :extra_js do -%>
  <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    <% if @location.lat_lng_present? %>
      initMap(<%= @location.latitude %>, <%= @location.longitude %>, '<%= @location.name %>');
    <% end %>                                                                                             
    jQuery(document).on('click', '.datetime-future', function(e) {e.stopPropagation();})
    $(".datetime-future").flatpickr({
      minDate: 'today',
      disable: [
        function(date) {
          return date.getDay() == 0 || date.getDay() == 6
        }
      ]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    });
    $(".datetime-past").flatpickr({
      wrap: false,
      maxDate: 'today'
    });
  </script>
<% end %>
