<% if @doctor.present? and !@doctor.featured_or_sponsored.nil? %>
  $(".<%= @doctor.featured_or_sponsored.downcase %>").html("<%= j render(partial: 'doctors/featured_or_sponsored_panel', locals: {obj: @doctor.decorate}) %>");

  $("[data-stars]").each(function() {
    var stars = $(this).data("stars")
    if(stars > 0) {
      displayStars($(this), stars)
    } else {
      $(this).html("N/A")
    }
  })


  function displayStars(element, score) {
    element.raty({
      readOnly : true,
      precision: true,
      half: true,
      score    : score,
      starType: 'i'
    });
  }

<% end %>
  