h1 New Import
=simple_form_for :import, url: admin_import_locations_path do |f|
  =f.input :file, as: :file
  =f.input :location_type_id, collection: LocationType.pluck(:name, :id)
  =f.button :submit
