.row
  .columns
    - if @search.has_query?
      - if @search.has_results?
        p.search-start 
          strong Step 2: 
          | Filter your results by using the filters to the left or review the results below.
      - else
        p.search-start Please try a different search. There are no results for this search.
    - else
      p.search-start
        strong Step 1: 
        | Start your search by entering a name, location or country or all!
.row.collapse
  .columns.medium-2
    - if @search.show_speciality?
      =f.input :speciality, as: :select, collection: grouped_options_for_select([["Common", @search.possible_specialities], ["Other",  @search.possible_specialities]]), label: false, :include_blank => "All"

  .columns.medium-3
    =f.input :name, placeholder: "Name", label: false
  .columns.medium-3
    =f.input :near, placeholder: "Address, city, or zip", label: false
  .columns.medium-4
    = render 'button', f: f
.row.advanced-search-form data-advanced="#{@search.has_advanced?}"
  .columns.medium-6
    =f.input :lat, as: :hidden, input_html: { "data-geo" => "lat" }
    =f.input :lng, as: :hidden, input_html: { "data-geo" => "lng" }
  .columns.medium-3.end

- if @search.has_query?
  .row
    .columns
      =link_to "Clear Search", [@search, clear: true], class: 'button hollow secondary small'
      - if !@search.has_results?
        p
          | Can’t Find your hospital,
          =link_to "Report here", new_contact_path

- content_for :extra_js do
  javascript:
    initGeoComplete();
