= simple_form_for [:admin, @resource], url: @form_url do |f|
  = f.input :name
  = f.input :credentials
  = f.input :designation, label: 'Role in Health Soul'
  = f.input :city
  = f.input :state
  = f.input :description, input_html: {class: 'blog-form'}
  = f.input :member_photo
  = f.hidden_field :member_photo_cache
  - if @resource.member_photo?
    = image_tag(@resource.member_photo.small_thumb.url)
    br
    label
      | Remove Member Photo
      = f.check_box :remove_member_photo
  = f.input :publish
  = f.button :submit
  = link_to "Cancel", admin_editorial_members_path, class: 'button secondary input_margin'
