tr
  td
    = list.name
  td
    = list.credentials
  td
    = list.designation
  td
    = list.city
  td
    = list.state
  td
    = list.publish
  td
    = link_to "Edit", [:edit, :admin, list], class: 'button tiny'
  td
    = link_to "Delete", admin_editorial_member_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: 'button alert tiny'

