h1 Contributors

.button-group
  =link_to "Add", new_admin_editorial_member_path, class: "button"



table data-nosort=""
  thead
    tr
      th Name
      th Credentials
      th Designation
      th City
      th State
      th Publish
      th
      th
  tbody
    = render partial: "list", collection: @resources

- if @resources.present?
  .text-center
    = paginate(@resources)