- if @search.continents_to_h[continent].present?
  .country
    strong=continent
    ul
      - @search.continents_to_h[continent].each do |country|
        - class_name = ''
        - if country[0].present?
          li
            - if @current_location.present? && @current_location['country'] == country[2]
              - class_name = 'current-selected-active'
            a href="javascript:;" data-country="#{country[2]}" class="#{class_name}"
              div[class="flag #{country[0]}"]
              = country[1]
