=f.input :co, as: :hidden, input_html: {data: {country_field: ""}, value: @search.selected_country }
.hwacountry-select
  .country-name data-country-name=""
    div[class="flag #{@search.selected_country.downcase}"]
    span=@search.country.try(:name)
    i class="fa fa-chevron-down" aria-hidden="true" 
  .countries-container
    .countries
      .row
        .columns.small-8
          p.most-searched
            strong Most searched:
            a href="#" data-country="usa" data-country-code='usa'
              span.flag.usa
              | USA
            a href="#" data-country="india" data-country-code='ind'
              span.flag.ind
              | India
        .columns.small-4.text-right
          a href="#" data-cancel=""
            i class="fa fa-times" aria-hidden="true"

      div class="row"
        .columns.medium-4.small-6
          = render "searches/continent", continent: "North America"
          = render "searches/continent", continent: "Asia"
        .columns.medium-4.small-6
          = render "searches/continent", continent: "Europe"
        .columns.medium-4.small-6
          = render "searches/continent", continent: "South America"
          = render "searches/continent", continent: "Oceania"
