<!-- Speciality Footer -->
<% if speciality.doctorised_footer.present? %>
  <div class='row'>
    <div class='col-md-12'>
      <div class='dr-footer'>
        <%= raw speciality.doctorised_footer %>
      </div>
    </div>
  </div>
<% end %>

<!-- Speciality Static FAQ-->

<% if @sp_static_faqs.present? || @sp_dynamic_faqs.present? %>
  <div class="row">
    <div class="col-md-12">
      <h4 class='text-center'><b>Frequently Asked Questions (FAQs) About <%= speciality&.title.titleize %></b></h4>
    </div>
  </div>
<% end %>

<!-- Speciality Static FAQ-->

<% if @sp_static_faqs.present? %>
  <div id='static_faqs'>
    <%= render partial: 'sp_faqs', locals: {sp_faqs: @sp_static_faqs, type: 'static'} %>
  </div>
<% end %>

<!-- Speciality Dynamic FAQ-->
<% if @sp_dynamic_faqs.present? %>
  <div id='dynamic_faqs'>
    <%= render partial: 'sp_faqs', locals: {sp_faqs: @sp_dynamic_faqs, type: 'dynamic'} %>
  </div>
<% end %>

<!-- near by -->
<% if [Search::Doctor].include?(@search.class) %>
  <%= render partial: 'shared/near_by', locals: {country: @search.default_country, state: @search.state, city: @search.city} %>
<% end %>