<div class="user-rating-main-left-frame">

  <% if @search.show_departments? %>

  <div class="user-rating-main-left-frame-heading_type user-rating-main-left-frame-heading_type-inner">
    <h4>Speciality</h4>
    <%= f.input :departments, as: :select, collection: Rating.reasons_active_select, label: false %>
  </div>
  <% end %>

  <% if params[:controller] == 'travel_health_insurance' %>
    <%= render partial: 'shared/advert', locals: {advert: Affiliate.where(name: 'Insure My Trip').first, image_type: 'carousel'} %>
  <% end %>

  <%= render partial: 'shared/featured_or_sponsored', locals: {ctrl: (@search.class == Search::Doctor ? 'doctors' : 'locations')} %>

  <%= render partial: 'shared/blogs', locals: {cls: 'desktop-view-bp'} %>
 
  <% if @search.class == Search::Doctor %>
    <%= render partial: 'shared/top_dr_localities', locals: {sp: @sp, cls: 'desktop-view-bp'} if @sp.present? %>
  <% end %>

  <%= render partial: 'shared/top_specialities', locals: {cls: 'desktop-view-bp'} if [Search::HealthInsurance, Search::TravelHealthInsurance].include? @search.class %>

  <%= render partial: 'top_speciality_hospitals', locals: {cls: 'desktop-view-bp'} if @search.class == Search::Hospital %>
  
</div>
