<div class="col-md-12">
  <div class='<%= "revie-hosp-frame result #{cls}" %>'>
    <div class="row">
      <div class="col-md-2">
        <a href="<%= url_for(result) %>"><%= result.circle_image %></a>
        <% if result.is_claimed%>
          <h5 class="mt-100"> <%=image_tag "claimed-black.svg" %> Claimed</h5>
        <% end %>
      </div>
      <div class="col-md-5">
        <div class="main-heading-re_i">
          <% link_url = ['Location', 'LocationDecorator'].include?(result.class.to_s)  ? location_path(result) : doctor_path(result) %>
          <h4 class="pull-left g-color"><%= link_to result.try(:name) || 'NA', link_url, title: result.name %></h4>
        </div>
        <div class="clear"></div>
        <div class="total-rev_re_page">
          <% if result.has_reviews? %>
            <h4>Reviews: <%= result.ratings_count %></h4>
            <h4>Rating: <%= result.stars %></h4>
            <p class='text-right'> <span>(<%= result.overall %>/5)</span></p>
          <% end %>
          <p><%= result.sub_type %></p>
        </div>
      </div>
      <div class="col-md-4 pull-right">
        <div class="thomas_right_frame_i">
          <% if result.hospital? || result.doctor? || result.practice? %>
            <h4 class='not-telephone'>
              <% if result.doctor? %>
              <%= result.org_name %><br>
              <% end %>

              <%= result.address %><br>
              <% if result.address2.present? %>
                <%= result.address2 %><br>
              <% end %>
              <%= result.address3 %>
            </h4>
          <% elsif result.healthcare_facilities? %>
            <h4 class="pull-left"><%= result.location_type.name %></h4>
          <% end %>
        </div>

      </div>
    </div>
    <div class="clear"></div>

    <div class="last-reviewed-frame">
      <% if result.has_reviews? %>
      <p class="pull-left">
      <label class="checkbox-inline">
        <input type="checkbox" name="locations[]" value="<%= result.id %>" class="compare-checkbox">Add To Compare</label>
      </p>
      <% end %>
      <%# result.distance is a function from the geocode library that assumes the user has a current_location is present. If current_location is not present (for instance in the case of a geocode api outage), result will not have the distance method, and will throw an error. %>
      <% if @search.present? and @search.near.present? and current_location.present?%>
        <h4 class="pull-right">
          <span>
            <%= image_tag 'img/mi.png' %>
          </span> <%= number_with_precision result.try(:distance), :precision => 2 %> mi
        </h4>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
