.search-results
  /.filters
    -if @search.cities_list.present?
      - @search.cities_list.each do |city|
        a href="#"
          i class="fa fa-times-circle" aria-hidden="true"
          |   #{city}  
    -if @search.state.present?
      a href="#"
        i class="fa fa-times-circle" aria-hidden="true"
        |   #{@search.state}  
    -if @search.co.present?
      a href="#"
        i class="fa fa-times-circle" aria-hidden="true"
        |   #{@search.co}  
    -if @search.name.present?
      a href="#"
        i class="fa fa-times-circle" aria-hidden="true"
        |   #{@search.name}  
    -if @search.near.present?
      a href="#"
        i class="fa fa-times-circle" aria-hidden="true"
        |   #{@search.near}  
  = render 'result'
