<div class='row <%= type %>_panel-group panel-group'>
	<% sp_faqs.each do |faq| %>
  	<div class="col-md-12 sp-faqs">
      <div class='panel-heading' click='javascript:toggleIcon(this);'>
	      <h2 class='dr_faq' data-toggle="collapse" data-target="#<%= faq.id %>"><%= faq.faq_title %><i class="more-less glyphicon glyphicon-minus pull-right"></i></h2>
      </div>
	    <p id="<%= faq.id %>" class="collapse in panel-body"><%= faq.faq_body %></p>
	  </div>
  <% end %>
</div>

<script type='text/javascript'>
  function toggleIcon(e) {
    $(e.target)
      .prev('.panel-heading')
      .find(".more-less")
      .toggleClass('glyphicon-plus glyphicon-minus');
    }
  $('.<%= type %>_panel-group').on('hidden.bs.collapse', toggleIcon);
  $('.<%= type %>_panel-group').on('shown.bs.collapse', toggleIcon);
</script>