<div class="search">
  <span id='page_title' class='user-care_main_frame-hide'><%= @page_title %></span>
  <%= simple_form_for @search, method: :get, data: {search_form: ""} do |f| %>
    <%= render "main_fields", f: f %>
    <div class="clear"></div>
    <% if @search.class == Search::Doctor && @search_results.present? %>
      <% is_doctor = true %>
      <% cls = 'no_margin' %>
    <% else %>
      <% is_doctor = false %>
      <% cls = nil %>
    <% end %>
    <section id='<%= "hospital-reviews-frame_middle #{cls}" %>'>
      <div class="container">
        <div class="row blue-box">
          <div class='col-md-12'>
            <h1 class='dr-h1'><%= @search_heading %></h1>
            <% if is_doctor %>
              <%= raw @sp.doctorised_header if @sp.present? && @sp.doctorised_header.present? %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 filter">
            <%= render "filter", f: f %>
          </div>

          <div class="col-md-9">
              <div class="hospital-reviews-result">
                <div class="row">
                  <div class="col-md-12">
                    <% if @clear %>
                    <% elsif [Search::Doctor, Search::Hospital].include?(@search.class) && @search.count == 0 %>
                        Unable to find exact result for your request. But we are proposing best doctors and hospitals for your reference.
                    <% else %>
                      <% @results = @search_results %>
                    <% end %>
                  </div>

                  <div class="col-md-6 add-provider">
                     <% obj = @search.class.name.gsub('Search::','').titlecase %>
                     <%= link_to "+ Add a #{obj}", new_recommendation_path(obj.gsub(' ', '-').downcase), class: 'btn btn-primary' %>
                  </div>
                  <div class="col-md-6 add-provider">
                    <div class="soft-buyreviews-frame pull-right">
                      <span>
                        Sort By:
                      </span>
                      <span class="sort">
                        <%= f.input :order, as: :select, collection: @search.order_select_options, label: false, input_html: {class: 'form-control'}, wrapper: false %>
                      </span>
                      <br>
                      <a class="compare-button hide button" href="/locations/compare">COMPARE <span>2</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--hospital-reviews-result-->
              <% if [Search::Doctor, Search::Hospital].include?(@search.class) && !@search_results.present? && !@practices_results.present?%>
                <%= render partial: 'shared/best_doctors_and_hospitals' %>
              <% elsif @search_results.present? || @practices_results.present? %>
                <div class="clear"></div>
                <div class="user-rating-box-frame user-rating-box-frame_review">
                  <% if @results.present? %>
                    <div class="row">
                      <% @results.each do |result| %>
                        <%= render "result", result: result, cls: nil %>
                      <% end %>
                    </div>
                  <% end %>
                  <% if @practices_results.present? %>
                    <div class="row">
                      <% @practices_results.each do |result| %>
                      <%= render "result", result: result, cls: 'practice' %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <!--user-rating-box-frame-->
              <div class="clear"></div>
              <div class="row  text-center">
                  <div class="col-md-12">
                    <%#= page_entries_info @results, entry_name: 'results' %>
                    <%= paginate(@results, remote: false) if @search.count >= 25 && @results.present?  %>
                  </div>
              </div>
              <div class="Previous-next-h-review-bottom-frame">
                <div class="row">
                  <div class="col-md-12">

                    <div class="COMPARE-2 compare-index">
                      <div class="COMPARE-hidden-box">
                        <div class="media">
                          <div class="media-left media-middle">
                            <a href="#">
                              <%= image_tag 'img/fh-s.png' %>
                            </a>
                          </div>
                          <div class="media-body">
                            <p>Fortis Hospital New Delhi, India Ph: +91 11 2134567</p>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left media-middle">
                            <a href="#">
                              <%= image_tag 'img/fh-s.png' %>
                            </a>
                          </div>
                          <div class="media-body">
                            <p>Fortis Hospital New Delhi, India Ph: +91 11 2134567</p>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                      <div class="COMPARE-2_bottom-link">
                        <a class="compare-button hide" href="/locations/compare">COMPARE <span>2</span></a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            <%= render partial: 'shared/blogs', locals: {cls: 'mobile-view-bp-sec'} %>
            <%= render partial: 'shared/top_specialities', locals: {cls: 'mobile-view-bp-sec'} if [Search::HealthInsurance, Search::TravelHealthInsurance].include? @search.class %>
            <%= render partial: 'top_speciality_hospitals', locals: {cls: 'mobile-view-bp-sec'} if @search.class == Search::Hospital %>
          </div>
        </div>

 
        <%= render partial: 'searches/faqs', locals: {speciality: @sp} if @search.class == Search::Doctor && @sp.present? %>
        <%= render partial: 'shared/near_by', locals: {country: @search.default_country, state: @search.state, city: @search.city} if @search.class == Search::Hospital %>
      </div>  
    </section>
    <div class="clear"></div>
  <% end %>
</div>

