= simple_form_for(@hdetail) do |f|
  = f.error_notification

  .form-inputs
    = f.input :platform
    = f.input :website_url
    = f.input :name
    = f.input :address
    = f.input :phone
    = f.input :photo
    = f.input :website
    = f.input :speciallity
    = f.input :hour
    = f.input :fee
    = f.input :fee
    = f.input :about_me
    = f.input :education
    = f.input :rating
    = f.input :number_of_reviews
    = f.input :total_rating
    = f.association :doctor

  .form-actions
    = f.button :submit
