p#notice = notice

p
  strong Platform:
  = @hdetail.platform
p
  strong Website url:
  = @hdetail.website_url
p
  strong Name:
  = @hdetail.name
p
  strong Address:
  = @hdetail.address
p
  strong Phone:
  = @hdetail.phone
p
  strong Photo:
  = @hdetail.photo
p
  strong Website:
  = @hdetail.website
p
  strong Speciallity:
  = @hdetail.speciallity
p
  strong Hour:
  = @hdetail.hour
p
  strong Fee:
  = @hdetail.fee
p
  strong Fee:
  = @hdetail.fee
p
  strong About me:
  = @hdetail.about_me
p
  strong Education:
  = @hdetail.education
p
  strong Rating:
  = @hdetail.rating
p
  strong Number of reviews:
  = @hdetail.number_of_reviews
p
  strong Total rating:
  = @hdetail.total_rating
p
  strong Doctor:
  = @hdetail.doctor

=> link_to 'Edit', edit_hdetail_path(@hdetail)
'|
=< link_to 'Back', hdetails_path
