.row
  .columns
    =link_to "Clear Search", search_travel_health_insurances_by_country_path, class: 'button hollow secondary small', title: 'Clear Search'

- if @search.has_query? && !@search.has_results?
  .row
    .columns
      p
        strong There are no Travel health insurance companies listed for this country , Please choose your destination country.


