<!-- square-270 -->
<ins class="adsbygoogle"
  style="display:inline-block;width:270px;height:270px"
  data-ad-client="ca-pub-1905350847120100"
  data-ad-slot="3772210930"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>