h3 Analytics:
- monthly_pg_views = timed_impressions(location, 1.month.ago)
- yearly_pg_views = timed_impressions(location, 1.year.ago)
- monthly_uniq_pg_clicks = location.impressionist_count(start_date: 1.month.ago, filter: :ip_address)
- yearly_uniq_pg_clicks = location.impressionist_count(start_date: 1.year.ago, filter: :ip_address)
- monthly_pg_clicks = location.impressionist_count(start_date: 1.month.ago)
- yearly_pg_clicks = location.impressionist_count(start_date: 1.year.ago)
= column_chart \
  [         \                                                                       
    {name: "#{1.month.ago.strftime('%d %b, %Y')} - #{Date.today.strftime('%d %b, %Y ')}", data: [ \
      ['Total Page Impressions', monthly_pg_views], \
      ['Total Page Clicks', monthly_pg_clicks], \
      ['Unique Page Clicks', monthly_uniq_pg_clicks] \
      ]}, 
    {name: "#{1.year.ago.strftime('%d %b, %Y')} - #{Date.today.strftime('%d %b, %Y')}", data: [ \
      ['Total Page Impressions', yearly_pg_views], \
      ['Total Page Clicks', yearly_pg_clicks], \
      ['Unique Page Clicks', yearly_uniq_pg_clicks]]}  \
    ], download: {filename: "chart"}

br
table.table.table-striped
  thead
    tr
      th
      th Last Month
      th Last 12 Months
  tbody
    tr
      td Total Page Impressions
      td= monthly_pg_views
      td= yearly_pg_views
    tr
      td Total Page Clicks
      td= monthly_pg_clicks
      td= yearly_pg_clicks
    tr
      td Unique Page Views
      td= monthly_uniq_pg_clicks
      td= yearly_uniq_pg_clicks
    tr
      td Reviews
      td=location.ratings.last_month
      td=location.ratings.last_year

- content_for :extra_js do
  javascript: 
    var canvas = $('.chartjs-render-monitor')[0];
    var data_url = canvas.toDataURL();
    $('#location_analytic_chart').val(data_url);
      
    function allow_for_submission(){
      $('#error').html();
      if ($('#location_email').val() == ''){
        $('#error').html('Provide email.');
        $('#error').css({ 'color': 'red'});
        return false;
      }
      else{
        return true;
      }
    }
