tr
  th Record ID
  td=location.id
tr
  th Slug
  td=location.slug
tr
  th Claimed
  td=location.is_claimed
tr
  th Location Type
  td=location.location_type.name
tr
  th Description
  td=simple_format location.description
tr
  th HWAID
  td=location.hwaid
tr
  th Medicare Id
  td=location.medicare_id
tr
  th Address
  td=location.address
tr
  th Address2
  td=location.address2
tr
  th City
  td=location.city
tr
  th State
  td=location.state
tr
  th Zip
  td=location.zip
tr
  th Country
  td=location.country
tr
  th Continent
  td=location.continent
tr
  th Website
  td=location.website
tr
  th Phone
  td=location.phone
tr
  th Email
  td=location.email
tr
  th Sub Type
  td=location.sub_type
tr
  th Latitude
  td=location.latitude
tr
  th Longitude
  td=location.longitude

- { 'Overall rating' =>  location.hospital_overall_rating,
'Patient Experience' => location.patient_experience_national,
'Safety of care' => location.safety_of_care_national,
'Mortality' => location.mortality_national,
'Readmission' => location.readmission_national,
'Timeliness of care' => location.timeliness_of_care_national, 
'Effectiveness of care' => location.effectiveness_of_care_national,
'Efficient use of imaging' => location.efficient_use_of_medical_imaging_national}.each_pair do |k, v|
  tr
    th = k
    td =v

- { 'overall_performance_rate': 'Overall Performance',        'communication_with_nurses_rate': 'Communication With Nurses',
'communication_with_drs_rate': 'Communication With Doctors',
'responsiveness_of_hospital_staff_rate': 'Responsiveness Of Hospital Staff',
'care_transition_rate': 'Care Transition',
'communication_about_medicine_rate': 'Communication About Medicine',
'cleanliness_quietness_rate': 'Cleanliness & Quietness',
'discharge_rate': 'Discharge Process'}.each_pair do |k, v|
  tr
    th = v
    td = location[k]

tr
  th Photo
  td
    - if location.photo?
      - alt = location.photo_alt
      = image_tag "https://healthsoul.s3.amazonaws.com/location/photo/#{location.id}/thumb_#{location['photo']}", title: alt, alt: alt
tr
  th PlaceId
  td=location.placeid

tr
  th Current Place Photo
  td
    img src="#{location.place_photo}"
