.container
  h1 Edit Location

  = simple_form_for [:manage, @location] do |f|
    .form-group
      = f.input :name, input_html: {class: 'form-control'}
    .form-group
      = f.input :description, input_html: {class: 'form-control'}
    .form-group
      = f.input :address, input_html: {class: 'form-control'}
    .form-group
      = f.input :address2, input_html: {class: 'form-control'}
    .form-group
      = f.input :city, input_html: {class: 'form-control'}
    .form-group
      = f.input :state, input_html: {class: 'form-control'}
    .form-group
      = f.input :zip, input_html: {class: 'form-control'}
    .form-group
      = f.input :website, as: :url, input_html: {class: 'form-control'}
    .form-group
      = f.input :phone, input_html: {class: 'form-control'}
    .form-group
      = f.input :email, input_html: {class: 'form-control'}
    .form-group
      = f.input :photo, as: :file, input_html: {class: 'form-control'}
      = f.hidden_field :photo_cache
    - if @location.photo? 
      - alt = @location.photo_alt
      = image_tag(@location.photo.thumb.url, alt: alt)
      br
      .checkbox
        label
          = f.check_box :remove_photo
          | Remove Photo
      hr
    .form-group
      = f.input :photo_alt, input_html: {class: 'form-control'}, label: 'Photo ALT text'
    =f.button :button, class: 'btn btn-default'


  br
  br
