= render 'locations/header'

.container
  .row
    .col-md-7
      table.table.table-striped
        = render partial: 'location_info', locals: {location: @location}
    .col-md-5
      = render partial: 'manage/locations/analytics_chart', locals: {location: @location}

      hr

      h4 Mail Analytics:
      =simple_form_for @location, method: :post, url: analytics_report_admin_location_path(@location.slug), html: {multipart: true}  do |f|
        .row
          .col-md-12
            #error
        .row
          .col-md-9
            = f.input :email, type: "email", label: false, placeholder: 'Email', required: true, input_html: {class: 'form-control'}
            = f.input :analytic_chart, as: :hidden
          .col-md-3
            = f.button :button, "Send Mail", onclick: "javascript: return allow_for_submission();", class: 'btn btn-secondary'


  .row
    .col-md-12.btn-group
      =link_to "View Public Page", location_path(@location), class: 'btn btn-default', title: 'View'
      =link_to "Edit Location", [:edit, :manage, @location], class: 'btn btn-default', title: 'Edit'
    br
    br
