h1 New user has submitted information via Google form.

p
  = 'Below is detail information.'

table
  tr
    td
      strong= 'Name:'
    td= @event_member.name
  tr
    td
      strong= 'Email:'
    td= @event_member.email
  tr
    td
      strong= 'City:'
    td= @event_member.city

  - if @event_member.is_student?
    tr
      td
        strong= 'Professional School:'
      td= @event_member.professional_school
    tr
      td
        strong= 'Type of Degree:'
      td= @event_member.degree_type
    tr
      td
        strong= 'Graduation:'
      td= @event_member.graduation
  - else

    tr
      td
        strong= 'Practice Name:'
      td= @event_member.practice_name
    tr
      td
        strong= 'Speciality:'
      td= @event_member.speciality
  
  tr
    td
      strong= 'Referral Code:'
      td= @event_member.referral_code
      
  - if @event_member.optional_information.present?
    tr
      td
        strong= 'Optional Information:'
      td= @event_member.optional_information


p
  | Regards,
  br/
  | Team Healthsoul