@import "froala_style.min";
.blog-video img{
  margin: 0px 0px 0px 1em;
}
.blog-video video{
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.37);
}
.blog{
  .tag_select{
    position: relative;
    border-radius: 0;
    // padding: 20px;
  }
  .tag_select select {
    display: none;
  }
  .select-selected {
    background-color: #fff;
    color: black;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: black;
    padding: 9px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .blogs-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .blog-frame{
    position: relative;
    @media screen and (max-width: 763px) {
      height: 200px;
    }
  }
  .blog-hero-frame{
    width: 600px;
    border-bottom:2px solid #18b079;
    .featured-blog-left{
      width: 100%;
      padding-bottom: 20px;
      .featured-blog-title{
        color: white;
        text-align: left;
        h1{
          @media screen and (max-width: 763px) {
            font-size: 1.8em;
          }
        }
        h2{
          margin-top: 0px;
          padding-bottom: 10px;
          float: left;
          border-bottom: 2px solid #18b079;
        }

      }
      .author-avatar img{
        margin-right: 7px;
        float: left;
        height: 40px;
        border-radius: 50%;
      }
      p{
        text-align: left;
      }
      .blog-hero-button{
        float: left;
        margin-bottom: 20px;
        padding: 7px 30px;
        border-radius: 15px;
        font-size: 14px;
        &:hover{
          text-decoration: none;
          opacity: .8;
        }
      }
    }
  }
  .featured-blog-date{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 280px;
    display: inline-flex;
    .featured-blog-date-row{
      width: 100%;
      padding: 4px 7px;
    }
    .featured-blog-date-month{
      background-color:rgba(0, 0, 0, 0.5);
      font-size: 18px;
    }
    .featured-blog-date-year{
      background: #0e87a3;
      font-size: 20px;
    }
  }
  .blog-share-wrapper{
    width:1000px;
    margin: 10px auto;
    @media screen and (max-width: 996px) {
      width: 100%;
    }
    .blog-share{
      width: 223px;
      float: right;
      background-color:rgba(0, 0, 0, 0.37);
      color:#fff;
      padding: 7px;
      h4{
        float: left;
        margin-right: 10px;
      }
    }
  }
  .blog-views{
    background-color: #18b079;
    color:#fff;
    margin: 0px 0px 0px 1em;
    font-size: 18px;
  }
  .blog-content{
    padding: 20px 0px 10px 0px;
    font-size: 1.3em;
    line-height: 1.5;
  }
  .blog-shadow-button{
    padding: 14px 34px 12px 34px;
    border-radius: 15px;
    font-size: 18px;
    -webkit-box-shadow: 2px 2px 3px 4px #ccc;
    -moz-box-shadow:    2px 2px 3px 4px #ccc;
    box-shadow:         2px 2px 3px 4px #ccc;
  }
  .blog-share-button{
    margin-right: 21px;
    &:hover{
      text-decoration: none;
    }
  }
  .share-icon{
    .a2a_svg{height: 40px; width: 40px; border-radius: 50% !important; }
  }
  .a2a_dd.no-svg{
    span{display: none;}
  }
  .addtional-hero-blogs{
    width: 1000px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.50);
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    .addtional-hero-blog-link{
      width: 30%;
      padding: 15px 30px;
      &.middle-link{
        border-left: 2px #18b079 solid;
        border-right: 2px #18b079 solid;
      }
      .addtional-hero-blog-title{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #fff;
      }
      .addtional-hero-blog-author{
        color: #18b079;
      }
    }
  }
  .related-blog{
    margin-bottom: 30px;
    .related-blog-title{
      padding-top: 10px;
      padding-left: 10px;
      color: #0e87a3;
      border-left: 5px solid #0e87a3;
    }
    .related-blog-button{
      float: left;
      background: #0e87a3;
    }
  }
  .blog-preview-title{
    // height: 25px;
    padding-left: 7px;
    padding-top: 5px;
    margin-bottom: 7px;
    color: #0e87a3;
    border-left: 3px solid #0e87a3;
    h3{
      margin-top: 0px;
    }
    h4{
      margin-top: 0px;
    }
  }
  .blog-large-preview{
    margin-bottom: 20px;
    a:hover{
      text-decoration: none;
    }
    .blog-large-preview-author-avatar img{
      margin-right: 7px;
      float: left;
      height: 20px;
      border-radius: 50%;
    }
    .blog-large-preview-image{
      @media (min-width: 991px) {
        height: 250px;
      }
      position: relative;
    }
    .blog-large-preview-image img{
      width: 100%;

      @media (min-width: 991px) {
        height: 250px;
      }
      object-fit: unset;
    }
    .blog-large-preview-date{
      position: absolute;
      bottom: 0;
      left: 0;
      .blog-large-preview-date-row{
        width: 100%;
        padding: 4px 7px;
        color: #fff;
        text-align: center;
      }
      .blog-large-preview-date-month{
        background-color:rgba(0, 0, 0, 0.5);
        font-size: 16px;
      }
      .blog-large-preview-date-year{
        background: #0e87a3;
        font-size: 18px;
      }
    }
  }
}
.blog-small-preview{
  margin-bottom: 20px;
  width: 100%;
  @media (min-width: 991px) {
    width: 50%;
    float: left;
    //height: 250px;
  }
  a:hover{
    text-decoration: none;
  }
  .blog-small-preview-author-avatar img{
    margin-right: 7px;
    float: left;
    height: 15px;
    border-radius: 50%;
  }
  .blog-small-preview-image{
    padding-right: 10px;
    overflow: hidden;
    @media (min-width: 991px) {
      height: 300px;
    }
    position: relative;
  }
  .blog-small-preview-image img{
    max-width: 100%;
    @media (min-width: 991px) {
      height: 300px;
    }
    object-fit: unset;
  }
  .blog-small-preview-date{
    position: absolute;
    bottom: 0;
    left: 0;
    .blog-small-preview-date-row{
      width: 100%;
      padding: 4px 7px;
      color: #fff;
    }
    .blog-small-preview-date-month{
      background-color:rgba(0, 0, 0, 0.5);
      font-size: 14px;
    }
    .blog-small-preview-date-year{
      background: #0e87a3;
      font-size: 16px;
    }
  }
}
.blog-older-posts{
  color: #0e87a3;
  &:hover{
    cursor: pointer;
  }
}

@media screen and (max-width: 663px) {
  #banner_frame.review-banner.blog {
    height: 200px;
  }
  #banner_frame.blog-detail {
    height: 263px;
  }
}
.blog-detail{
  background-position: center top !important;
  background-size: cover !important;
}
.tag-select {
  .select {

    margin-bottom: 15px;
    width: 100%;
    @media screen and (min-width: 663px) {
      width: 200px;
      float: right;
    }
  }
}

.select2-container .select2-selection--single{
  height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 40px;
}

.modal-subscribe {
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog-link {
  font-weight: normal;
  font-family: HELVETICA-NORMAL !important;
  color: #337ab7 !important;
}
.blog-container-title {
  color: white !important;
  font-family: HELVETICA-BOLD;
  text-align: center;
  padding-top: 14px;
  color: white !important;
  margin-bottom: 0.5em !important;
}

.blog-meta-description {
  font-size: 10px;
  font-weight: 300;
}

.blog-list {
  width: 100% !important;
  list-style: none;
  background-color: #fff;
}

.blog-entry-item {
  margin: 0 5%
}
.blog-search{
  // position:fixed;
  max-height:175px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.37);
  color: #fff;
  width: 100%;
  float: left;
  .blog-search-buttons{
    width: 80%;
    margin-left: 10%;
    height: 70px;
    @media screen and (max-width: 763px) {
      width: 98%;
      margin-left: 1%;
    }
  }
}
.blog-search-type{
  background: #18b079;
  color: #fff;
  padding: 12px 5px;
  float: left;
  display: block;
  margin-right: 0;
  text-decoration: none ;
  letter-spacing: 1px;
  width: 30%;
  margin-left: 3%;
  font-size: 1.0em;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #18b079;
  opacity: 0.75;
  margin-bottom: 20px;
  @media screen and (max-width: 763px) {
    width: 32%;
    margin-left: 1%;
  }
  a{
    text-decoration: none;
  }
}
.blog-search-header{ color: #18b079; }
.blog-search-buttons a:hover{
  color: #fff;
}
@media screen and (max-width: 763px) {
  .blog-search-header{
    font-size: 1.2em;
  }
  .blog-search-type{
    font-size: .7em;
  }
}
@media screen and (max-width: 444px) {
  .blog-search-type{
    height: 50px;
  }
}
.width_95_percent{
  width: 95%;
}
.middle-blog-frame{
  width: 95%;
  padding: 10px;
}
.height_390{
  max-height:390px;
}
.mb-10{
  margin-bottom:10px
}
.tag_content{
  padding: 0px 20px;
  font-size: 18px;
}
.mt-20{
  margin-top: 20px
}
.btn_subscribe{
  color: white; 
  background: #18b079;
}
div.text-center#v-advert {
   position: fixed;
   width: 160px;
   /* z-index: -1; */
   text-align: center;
} 
@media only screen and (max-width: 1024px){ 
  width: 135px;
}
@media only screen and (max-width: 520px){
  #v-advert {
    display: none;
  }
  .blog .blog-hero-frame{
     width: 100%;
   }
   img.advert_button{
     width: 100%;
   }
}
.blog_small_thumb img{
  max-width: 150px;
}
.faqs{
  background-color: #f3f3f4;
}