.compare .recent-review {
  text-align: center;
  position: relative;
  .circle_image {
    float: none;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  h3 {
    margin-bottom: 1em;
  }
  .number_reviews {
    margin-bottom: 1em;
  }
}

.compare-label {
  font-weight: bold;
  text-align: right;
}

.compare-button {

}

.compare-index{
  z-index: -1;
}