@import 'settings';
@import 'foundation';
@include foundation-grid;
.country-name {
  border: 1px solid #ccc;
  padding: 6px 7px;
  cursor: pointer;
  background: #fff;
  i {
    float: right;
    margin-top: 4px;
  }
}
.countries {
  display: none;
  position: absolute;
  z-index: 11;
  border: 1px solid #ccc;
  top: -50px;
  right: 0;
   @include breakpoint(large) {
    top: -180px;
    width: 750px;
   }
  background: #fff;
  padding: 20px;
  ul { list-style: none; }
  .most-searched a {
    margin-left: 8px;
  }
}
.countries-container {
  position: relative;
}

  .current-selected-active {
    background: rgba(0, 128, 155, 0.19);
    padding: 3px;
  }


.menu-country-select {
	float: right;
	display: inline-block;
	margin-left: 15px;
  .country-name {
    border: none;
    padding: 0;
    display: inline-block;
    float: right;
    i {
      margin-left: 3px;
    }
  }
  .countries {
    top: 0;
  }
}
