@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Bold.woff2') format('woff2'), url('fonts/Barlow-Bold.woff') format('woff'), url('fonts/Barlow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Thin.woff2') format('woff2'), url('fonts/Barlow-Thin.woff') format('woff'), url('fonts/Barlow-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-SemiBold.woff2') format('woff2'), url('fonts/Barlow-SemiBold.woff') format('woff'), url('fonts/Barlow-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-ExtraLight.woff2') format('woff2'), url('fonts/Barlow-ExtraLight.woff') format('woff'), url('fonts/Barlow-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Medium.woff2') format('woff2'), url('fonts/Barlow-Medium.woff') format('woff'), url('fonts/Barlow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Regular.woff2') format('woff2'), url('fonts/Barlow-Regular.woff') format('woff'), url('fonts/Barlow-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Black.woff2') format('woff2'), url('fonts/Barlow-Black.woff') format('woff'), url('fonts/Barlow-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Light.woff2') format('woff2'), url('fonts/Barlow-Light.woff') format('woff'), url('fonts/Barlow-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-ExtraBold.woff2') format('woff2'), url('fonts/Barlow-ExtraBold.woff') format('woff'), url('fonts/Barlow-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	font-family: 'Barlow';
	font-weight: 400;
	color: #1A1A1A;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

section,
.container,
.container-fluid {
	position: relative;
	word-wrap: break-word;
}

button:focus {
	outline: none;
}

p,
li,
blockquote {
	color: #15181b;
	letter-spacing: 0.5px;
	line-height: 1.7;
}

ul,
ol,
pre,
blockquote {
	margin-bottom: 0;
	margin-top: 0;
}

.col-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

/* Start header css */
.cid-qPydcGGZlE .navbar-dropdown {
	padding: 0.5rem 1rem;
	position: fixed;
}

.cid-qPydcGGZlE .navbar {
	z-index: 100;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 77px;
	transition: all 0.3s;
	background: #fff;
	border-bottom: 1px solid #D8D8D8;
}

.cid-qPydcGGZlE .container {
	display: flex;
}

.cid-qPydcGGZlE .navbar-brand {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	margin-right: 0;
	padding: 0;
	transition: all 0.3s;
	word-break: break-word;
	z-index: 1;
}

.cid-qPydcGGZlE .navbar .navbar-collapse {
	display: flex;
	justify-content: flex-end;
	z-index: 1;
	flex-basis: 100%;
	align-items: center;
}

.cid-qPydcGGZlE amp-img {
	width: 150px;
	display: flex;
	align-items: center;
}

.cid-qPydcGGZlE ul.navbar-nav {
	flex-wrap: wrap;
}

.cid-qPydcGGZlE .navbar-expand-lg .navbar-nav .nav-link {
	color: #1A1A1A;
	font-size: 16px;
	padding: 1px 10px;
	line-height: 24px;
}

a.nav-link.link.login-menu {
	border-left: 1px solid #D8D8D8;
	margin-left: 10px;
	padding-left: 20px;
}

.cid-qPydcGGZlE .navbar-nav .nav-link {
	font-weight: normal;
}

.cid-qPydcGGZlE a.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cid-qPydcGGZlE .navbar-nav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding-left: 0;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger.sticky-but {
	position: fixed;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger {
	position: absolute;
	top: 35px;
	right: 20px;
	margin-left: auto;
	width: 30px;
	height: 20px;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 1000;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(1) {
	top: 0;
	transition: all 0.2s;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span {
	position: absolute;
	right: 0;
	width: 30px;
	height: 2px;
	border-right: 5px;
	background-color: #000;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(2) {
	top: 8px;
	transition: all 0.15s;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(3) {
	top: 8px;
	transition: all 0.15s;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(4) {
	top: 16px;
	transition: all 0.2s;
}

.cid-qPydcGGZlE .builder-sidebar {
	background-color: #000000;
	position: relative;
	height: 100vh;
	z-index: 1030;
	padding: 1rem 2rem;
	max-width: 20rem;
}

.cid-qPydcGGZlE .close-sidebar {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin-bottom: 20px;
}

.cid-qPydcGGZlE .close-sidebar span:nth-child(1) {
	transform: rotate(45deg);
}

.cid-qPydcGGZlE .close-sidebar span {
	position: absolute;
	left: 0;
	width: 30px;
	height: 2px;
	border-right: 5px;
	background-color: #ffffff;
}

.cid-qPydcGGZlE .close-sidebar span:nth-child(2) {
	transform: rotate(-45deg);
}

.cid-qPydcGGZlE .nav-item.dropdown {
	position: relative;
}

.cid-qPydcGGZlE .open {
	transform: translateX(0%);
	display: block;
}

.cid-qPydcGGZlE .navbar .dropdown.open>.dropdown-menu {
	display: block;
}

.cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
	background-color: #fff;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 8px 0px;
}

.cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu a.dropdown-item {
	display: block;
	padding: 0px 20px;
}

.cid-qPydcGGZlE .nav-item.dropdown .dropdown-menu {
	z-index: -1;
	opacity: 0;
	pointer-events: none;
}

.cid-qPydcGGZlE .nav-dropdown .dropdown-menu {
	border-radius: 0;
	border: 0;
	left: 0;
	margin: 0;
	min-width: 10rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	position: absolute;
}

.language-translater amp-img {
	width: 24px;
	height: 16px;
	margin-top: 7px;
}

.cid-qPydcGGZlE .nav-item.dropdown:hover>.dropdown-menu {
	z-index: 1;
	opacity: 1;
	pointer-events: all;
}

.logo-header {
	width: 150px;
	align-items: center;
	height: 50px;
}

header {
	padding: 20px 0px;
}

.sidenav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.sidenav ul li {
	display: inline;
}

.sidenav ul li a {
	color: #1A1A1A;
	font-size: 16px;
	padding: 10px;
	display: inline-block;
}

.login_btn {
	border-left: 1px solid #D8D8D8;
	margin-left: 20px;
	padding-left: 20px;
}

/* End header css */

section#hospital-search-section {
	padding-top: 8rem;
    padding-bottom: 4rem;
}
.hospital-search-box {
    border-radius: 8px;
    background: linear-gradient(216.71deg, #21E4A8 0%, #20A8C5 100%);
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.1);
}
.hospital-detail {
    color: #fff;
    padding: 30px 20px;
}
.hospital-detail h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
	margin-top: 0px;
	font-weight: 600;
}
.hospital-detail-items {
    margin-bottom: 10px;
    display: flex;
}.hospital-detail-items p {
    color: #fff;
    margin: 0px;
	width: 45%;
	display: flex;
}
.hospital-detail-items i {
    font-size: 20px;
}
.hospital-detail-items p i {
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.hospital-detail-btn a {
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
    margin-top: 10px;
}
a.white-btn {
    background: #fff;
    color: #46b2c1;
}
.hospital-advisement amp-img {
    border: 1px solid #444;
}
.hospital-map-box amp-iframe {
    border: 1px solid rgba(0,0,0,0.12);
    box-shadow: inset 0 0 19px 0 rgba(0,0,0,0.05);
    margin-bottom: 20px;
}
section#hospital-map-section {
    background-color: #F9F9F9;
    padding: 40px 0px;
}
.hospital-map-box h3 {
    margin: 0px 0px 15px;
    font-size: 26px;
    font-weight: 600;
}.hospital-map-box p {
    margin: 0 0 30px;
}


.blog-sidebar h4 {
	margin-top: 0px;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.blog-post-box {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}

.blog-post-box amp-img {
	height: 120px;
	border-radius: 8px 8px 0 0;
}

.blog-post-box h5 {
	color: #1A1A1A;
	font-size: 16px;
	padding: 15px 15px 20px;
	margin: 0px;
}
#patient-rating-section {
    padding: 40px 0px;
}
.patient-ratings {
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.05);
    margin-bottom: 30px;
    padding: 30px;
}.patient-ratings h3 {
    font-size: 18px;
    margin-bottom: 10px;
}.patient-ratings span {
    margin-bottom: 15px;
    display: block;
}.patient-ratings span i {
    color: #f7cc21;
    font-size: 20px;
    margin-right: 5px;
}.patient-ratings p {
    margin-bottom: 0px;
}
.hospital-map-box h5 {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.reviewed-items-box {
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
}.items-image amp-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}.items-details h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.items-details p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}
.items-details span {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}.items-details span i {
    color: #f7cc21;
    font-size: 18px;
    margin-right: 5px;
}.Featured-doctor h4 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
section#patient-reviews-section {
    background-color: #f9f9f9;
    padding: 40px 0px;
}
#patient-reviews-section h3 {
    margin: 0px 0px 25px;
    font-size: 26px;
    font-weight: 600;
}
.Patient-reviews {
    display: flex;
}
.Patient-reviews-img amp-img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.Patient-reviews-details h5 {
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 5px;
}
.Patient-reviews-details h5 a {
    float: right;
    color: #00B07A;
    font-weight: 500;
    font-size: 16px;
}
.Patient-reviews-details span {
    color: #A3A3A3;
    font-size: 12px;
}
.Patient-reviews-details p {
    font-size: 14px;
    margin-top: 5px;
	width: 70%;
	margin-bottom: 10px;
}
.Patient-reviews-details ul {
    padding: 0px;
    list-style: none;
}.Patient-reviews-details ul li {
    font-weight: 500;
    line-height: 27px;
}.Patient-reviews-details ul span {
    float: right;
    width: 25%;
    font-size: 14px;
    color: #1A1A1A;
}.Patient-reviews-details ul span i {
    color: #f7cc21;
    font-size: 18px;
    margin-right: 5px;
}
.Patient-reviews-comment {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
	margin: 20px 0px;
	display: flex;
}
.help-unhelp {
    width: 44%;
    display: flex;
}
.Patient-reviews-comment p {
	margin: 10px 0px;
    font-weight: 500;
}
.Patient-reviews-comment p i {
	margin-right: 10px;
	font-size: 18px;
}
.help-unhelp p {
    font-weight: 400;
}
.Patient-reviews-details {
    width: 100%;
}
a.load-more {
    background: #00B07A;
    color: #fff;
    float: right;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
}
/* Start Footer CSS */
section#footer {
	background-color: #0E87A3;
	color: #fff;
	padding: 40px 0px;
}

.footer-items p {
	color: #fff;
	font-size: 14px;
	width: 90%;
}

.footer-logo {
	width: 150px;
	height: 50px;
}

.social-icons {
	display: flex;
}

.social-icons amp-img {
	width: 25px;
	height: 25px;
}

.social-icons a {
	margin-right: 16px;
}

.address-outter {
	margin-top: 30px;
}

.address-outter amp-iframe {
	width: 90%;
}

.address-outter .footer-adderss p {
	margin-top: 0px;
	line-height: 28px;
}

.footer-items ul {
	list-style: none;
	padding: 0px;
}

.footer-items ul li a {
	color: #fff;
	font-size: 14px;
	margin-bottom: 15px;
	display: block;
}

section#bottom-footer p {
	color: #fff;
	font-size: 11px;
}

section#bottom-footer {
	background-color: #818285;
	padding: 10px 0px;
}

/* End Footer CSS */
@media (min-width: 576px) {}

@media (min-width: 768px) {
	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-md-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}

	.col-md-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-md-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-md-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-md-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.container {
		max-width: 720px;
	}

	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
}

@media (min-width:900px) {}

@media (max-width:900px) {}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.cid-qPydcGGZlE .ampstart-btn,
	.cid-qPydcGGZlE amp-sidebar {
		display: none;
	}
}

@media (min-width:1100px) {}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
	
}

@media (max-width:1200px) {
	.hospital-detail-btn a {
		padding: 10px 20px;
		font-size: 16px;
	}
}

@media (max-width:991px) {
	.cid-qPydcGGZlE .navbar .navbar-collapse {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		min-height: 100vh;
		background: #000000;
		padding: 1rem 2rem 1rem 2rem;
	}


}


@media (max-width:768px) {
	.hospital-detail{
		padding-top: 15px;
	}
	.hospital-search-box {
		margin-bottom: 30px;
	}
	.Patient-reviews-details p{
		width: 100%;
	}
	.Patient-reviews-details ul span{
		width: auto;
	}
	.hospital-detail-items p {
		width: 100%;
	}
	.hospital-detail-btn a{
		padding: 10px 10px;
		margin-right: 0px;
		font-size: 14px;
	}
}

@media (max-width:600px) {
	.hospital-detail{
		padding-top: 0px;
	}
	.Patient-reviews-comment{
		display: block;
	}
	.footer-items {
		margin-bottom: 20px;
	}
	.help-unhelp{
		width:100%;
	}
	.Patient-reviews-comment p {
		margin-bottom: 0px;
	}
	.help-unhelp p {
		margin-bottom: 10px;
	}
}