@import 'font';
@import "colors";
@import "jquery.raty";
@import "flags";
@import 'font-awesome';
@import 'question';
@import 'answer';
@import "select2";
@import 'blog';
@import 'flatpickr.min';
@import 'bootstrap.min';
@import 'font-awesome';
@import 'flexslider';
@import 'inner';
@import 'scrollPress';
@import 'style';

html, body{
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;
}
.icon_claim{
  width: 27px;
  height: 20px;
}
.icon_close-nav{
  width: 28px;
  height: 18px;
}
.icon_depa{
  width: 25px;
  height: 21px;
}
.icon_dp{
  width: 23px;
  height: 23px;
}
.icon_social{
  width: 35px;
  height: 35px;
}
.icon_nav{
  width: 28px;
  height: 18px;
}
.icon_over{
  width: 18px;
  height: 18px; 
}
.icon_qa{
  width: 22px;
  height: 22px;
}
.icon_service{
  width: 23px;
  height: 27px;
}
.icon_user-r{
  width: 28px;
  height: 28px;
}
.icon_yt{
  width: 35px;
  height: 35px;
}
#promotion{
  .header{
    font-family: HELVETICA-BOLD;
    color: #18b079;
    border-bottom: 2px solid #18b079;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 35px;
  }
}
.flash-wrapper{
  font-size: 18px;
  text-align: center;
  margin: 0 20% 7px 20%;
  .callout{
    border: solid 1px #fff;
    padding: 8px;
  }
}
[data-cancel] {
  position: absolute;
  top: 0;
  right: 6px;
  font-size: 22px;
}
.circle_image {
  margin-right: 2em;
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 50%;
  text-align: center;
  padding-top: 27px;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    1px 5px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         1px 5px 5px 0px rgba(50, 50, 50, 0.3);
  background: $green;
  color: #fff;
  background-size: cover;
  background-position: center center;
}
.stars, [data-stars] {
  color: #f7931e;
  &.stars-inactive {
    color: #ccc;
    i {
      pointer-events: none;
      cursor: default;
    }
  }
}
.search-type-button {
    color: #fff;
    background: #57b17b;
    width: 250px;
    padding: 13px 5px;
    margin: 0px;
    vertical-align: middle;
    top: -3px;
    position: relative;
    font-size: 1.5em;
}

.question-button {
    color: #fff;
    background: #57b17b;
    padding: 13px 5px;
    margin: 0px;
    vertical-align: middle;
    top: -3px;
    font-size: 1.5em;
    letter-spacing: 1px;
    }


[data-stars] {
  font-size: 8px;
}

.over-all-rev-section [data-stars] {
  font-size: 12px;
}

.how-it-works-card {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 25px 25px 25px 25px;
  margin: 3% 3% 1% 4%;
  background: white;
  height: 200px;
}

.green-underlined-heading {
  color: #18b079;
  border-bottom: 2px solid #18b079;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 32px;
  font-family: HELVETICA-BOLD;
}

.blue-heading {
  color: #0e87a3;
  border-bottom: 2px solid #0e87a3;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 32px;
  font-family: HELVETICA-BOLD;
}

.blue-title {
  color: #0e87a3;
}

.user-rating-box-frame.user-rating-box-frame_review .total-rev_re_page h4 span[data-stars] {
  font-size: 8px;
  margin-left: 5px;
  float: right;
  margin-top: 5px;
}

.review-bottom-frame.blog a{
  background: none !important;
}
.search_box.home{
  background: url(/assets/img/banner-top-c3164378b266a46e28112c165ed6efd3d8c9e426872f9139d4af67599067ff5d.jpg?v=2) no-repeat;
  color: #fff;
  background-size: cover;
  padding: 15px 15px 15px 15px;

  a, a:hover{
    color: #fff !important;
    text-decoration: none;
  }
} 
.search_box.featured_image{
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 768px){
  .search_box button {
   width: 100%;
   margin-top: 0;
  }
  .p-r-3 {
     padding-right: 3px;
  }
  .p-l-r-3 {
     padding-left: 3px;
     padding-right: 3px;
  }
  .p-l-3 {
     padding-left: 3px;
  }
}
.breadcrumb{
  padding: 8px 2px;
  margin-bottom: 0px;
  background-color: #fff;
}
.search_box{
  text-align: center;
  padding: 0px 1em 1.5em 1em;
  color: #365c4c;
  background: #d2f0e3;

  .select2-container--default .select2-selection--single{
    border: none;
  }
  .form-control_review{
    margin-bottom: 10px  
  }
  .search-type-row {
    display: flex;
  }
  h1{
    display: inline-block;
    font-size: 30px;
  }
  .button, button {
    background: #18b079;
    border: 0px;
    padding: 0.5em 0em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
    color: #fff;
    margin-top: 0.2em;
    width: 100%
  }
  button:hover{
    background: #0e87a3;
  }
  .secondary{
    background: transparent;
    text-decoration: none;
  }
  a, a:hover{
    color: #365c4c !important;
    text-decoration: none;
  }
  .form-control_review {
    border: 0px;
    color: #000;
    width: 100%;
  }
  .seacch {
    padding: 10px 3em;
  }
  .search-type-row{
    color: #fff;
    margin: 0px 0px 0.5em 0px;
  }
  .search-type {
    padding: 10px 0px;
    background: #18b079;
    text-decoration: none !important;
    letter-spacing: 1px;
    font-size: 1.0em;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #18b079;
    opacity: 0.75;
   }
  .search-type:hover{
    background-color:#0e87a3;
  }
  .selected-search {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: #3daf86;
    opacity: inherit;
  }

}

#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame a {
  padding: 12px 20px;
}

.mobile-view-bp-sec{
  display: none;
}

#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .search-type {
    background: #18b079;
    color: #fff;
    padding: 12px 5px;
    float: left;
    display: block;
    margin-right: 0;
    text-decoration: none !important;
    letter-spacing: 1px;
    width: 25%;
    font-size: 1.0em;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #18b079;
    opacity: 0.75;
}

#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .selected-search {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background: #3daf86;
  opacity: 0.95;
}


.country-name {
  border: 1px solid #ccc;
  padding: 6px 7px;
  cursor: pointer;
  i {
    float: right;
    margin-top: 4px;
  }
}
 #banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame {
  .country-name {
    background: #fff;
    padding: 10px 7px;
    border: none;
    color: #757575;
    margin-bottom: 3%;
  }
  .countries {
    text-align: left;
    color: #757575;
    a[data-country] {
      background: none;
      color: #000;
      padding: 0;
      display: block;
    }
  }
}
.countries {
  display: none;
  position: absolute;
  z-index: 11;
  border: 1px solid #ccc;
  top: -50px;
  right: 0;
  background: #fff;
  padding: 20px;
  width: 300%;
  max-width:500px;
  @media screen and (max-width: 763px) {
    width: 100%;
    max-width:763px;
  }

  ul { list-style: none; }
  .most-searched a {
    margin-left: 8px;
  }
}
.countries-container {
  position: relative;
}

  .current-selected-active {
    background: rgba(0, 128, 155, 0.19);
    padding: 3px;
  }


.menu-country-select {
  float: right;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  @media screen and (max-width: 720px) {
    margin-top: 0;
  }
  .country-name {
    border: none;
    padding: 0;
    display: inline-block;
    float: right;
    i {
      margin-left: 3px;
    }
  }
  .countries {
    top: 0;
    width: 750px;
  }
}

.columns.medium-4 {
  width: 33%;
  float: left;
}
#map {
  width: 100%;
  height: 200px;
}

.user-care-right h4 span, .user-care-right h5 span {
  float: right;
}

h3.doctor-review-summary {
  margin-bottom: 1em !important;
  margin-top: 0.5em;
  margin-left: 1em;
  padding-left: 0;
}
  .form-control_review-seacch_left {
   float: left;
   padding-left:0px;
   padding-right:0px;
  }

  .form-control_review-seacch_right {
    float: right;
    padding-left:0px;
    padding-right:0px;
  }


select#search_doctor_speciality {
  color: black;
  width: 97%;
  height: 40px;
}

.review-bottom-frame.doctor {
  .form-control_review-seacch_left {
   float: left;
   padding-left:0px;
   padding-right:0px;
  }
  .form-control_review-seacch_right {
    float: right;
    padding-left:0px;
    padding-right:0px;
  }
}

h4.g-color a {
  color: #18b079;
}

.review-banner {
  &.health-insurance {
    background: image_url('img/review-banner-hi.jpg') no-repeat !important;
    background-size: cover !important;
  }
  &.travel-health-insurance {
    background: image_url('img/review-banner-thi.jpg') no-repeat !important;
    background-size: cover !important;
  }
  &.provider {
    background: image_url('img/review-banner-provider.jpg') no-repeat !important;
    background-size: cover !important;
  }
  &.blog {
    background: image_url("blog-hero.jpg") no-repeat center center !important;
    background-size: cover !important;
  }
  &.faq{
    background: image_url("img/forum-banner.jpg") no-repeat center center !important;
    background-size: cover !important;
  }
}

a.button {
  background: #18b079;
  color: #fff;
  padding: 10px 0px;
  display: block;
  text-align: center;
  &.compare-button {
    width: 209px;
    float: right;
    margin-top: 5px;
    margin-right: 3px;
  }
  span {
    border: 1px solid #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: -webkit-inline-box;
    text-align: center;
    padding-left: 6px;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: -webkit-inline-box;
    text-align: center;
    padding-left: 6px;
    background: #fff;
    color: #18b079;
    margin-left: 3px;
  }
}
@media(max-width:520px) {
  .mobile-view-bp-sec{
      display: block;
  }
  .desktop-view-bp{
      display: none;
  }
}
@media only screen and (min-width: 961px){
  .fortis_dr_frame {
    /* height: 270px !important; */
  }
}
@media all and (min-width: 220px) and (max-width: 420px) {
  .fortis_dr_frame {
    height: auto !important;
  }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-2 {
        width: 33.33333%;
        float: left;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-5 {
        width: 66.666667%;
        float: left;
        padding-left: 10px;
    }
    .contact-form{
      div{
        padding: 0% 5% 0px 5%;
      }
    }
    .steps{
      padding: 0% 5% 0px 5% !important;
    }
    .how-it-works-card{
      padding: 2% 12% 0px 2% !important;
      p{
        margin: 0px !important;
      }
      h2{
        font-size: 20px;
      }
    }
    .blue-heading{
        font-size: 22px;
      }
    .how-it-works-heading{
      h2{
        font-size: 20px;
      }
    }

}
@media all and (min-width: 220px) and (max-width: 1100px) {
  .fortis_dr_frame {
    height: auto !important;
  }
  .menu-country-select .countries {
    width: 100%;
    position: relative;
  }
    #banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .search-type {
    background: #18b079;
    color: #fff;
    padding: 12px 5px;
    margin-right: 0;
    text-decoration: none !important;
    letter-spacing: 0px;
    float: left;
    width: 25%;
    font-size: 0.9em;
    text-align: -webkit-center;
    vertical-align: middle;
    height: 50px;
    font-weight: bold;
}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .review-bottom-frame{
  height: 100px;
  display: table;
}
}
.search-type > li {
display: inline-block;
    width: 24.5%;
    font-size: 1em;
}
.nav>li.login>a:before {
  content: '';
  border-left: 1px solid #eee;
  position: absolute;
  left: 0;
  height: 25px;
}

.nav li.login, .nav li.login-link  {
  a {
    padding-left: 8px;
    padding-right: 5px;
  }
}

header{
  background:#0e87a3;
  @media screen and (min-width: 763px) {
    background:#fff;
    .navbar-default .navbar-nav>li>a {
      padding-left: 10px;
      padding-right: 10px;
      color: #0e87a3;
      &:hover {
        color: #0e87a3;
      }
    }
  }
  .container {
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
  img.header-logo {
    width: 190px;
    padding-top: 8px;
    padding-bottom: 8px;
    @media screen and (max-width: 763px) {
      display: none;
    }
  }
  ul.navbar-nav {
    margin-top: 10px;
  }
}

.label a { color: #fff }

header .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#0e87a3;background-color:transparent;}

.recently-review a:hover{ color: #337ab7}
.press-article {
  padding: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;

  h2 {
    font-size: 20px;
  }

  .source {
    font-style: italic;
  }
}

.back-to-search-button {
  position: relative;
  top: 12px;
}

b, strong {
  font-family: Helvetica-Bold;
}

ul, ol {
  margin-left: 25px;
  overflow-wrap: break-word;
}
.share-wrapper{
  float: right;
  margin-top: 1%;
}
.favorite-link{
  //
}
.country-code-select {
  height: 3.2em;
  margin: 0 0 1rem;
  padding: 0.5rem;
  appearance: none;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-family: inherit;
  font-size: 1.1em;
  /* line-height: 2em; */
  color: #0a0a0a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  background-color: white;
  width: 100%;
  }
  .custom-select-box{
    height: 40px;
    border: 0px;
    width: 97%;
    color: black;
    border-radius: 55px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 10px;
    @media screen and (max-width: 767px) {
      background-color: white;
      width: 100%;
      padding: 1px 0px 1px 14px;
      box-sizing: content-box;
      margin-bottom: 3%;
      text-align-last:center;
    }
  }
.blog-home-page{
  height: 200px;
  img{
    object-fit: cover;
    height: 100px;
    width: 250px;
  }
}

.member-image{
  width: 100px;
  height: 100px;
}

.blog-avatar{
  text-align: left !important;
  
  img{
    margin-right: 7px;
    float: left;
    height: 15px;
    border-radius: 50%;
    width: auto !important;

  }
}

.show_more{
  margin: 1em 0em 0em 1em;
}
.description{
  text-align: justify;
}

.fr-sticky-on + .fr-sticky-dummy,
.fr-sticky-box > .fr-sticky-dummy {
  display: block;
}

.text-center{
  text-align: center
}
.width_167{
  width: 167px;
}

/* Awards filter start */
.filter{
  .revise-doctor-frame-top {width: 100%; background: #d1f1e6; padding: 10px; vertical-align: middle; font-weight:bold;}
  .revise-doctor-frame {width: 100%; background: #fff; padding: 10px; vertical-align: middle;}
  .revise-doctor-frame:hover {background: #f3f3f4;}
  .award-doctor-name{width:100%; height:auto; font-size:16px; color:#000;}
  .award-doctor-speciality{width:100%; height:auto; font-size:16px; color:#000;}
  .award-doctor-review{width:100%; height:auto; font-size:16px; color:#000;}
  .award-doctor-average-ratings{width:100%; height:auto; font-size:16px; color:#000;}
  .award-doctor-address{width:100%; height:auto; font-size:16px; color:#000;}
  .award-top-heading {
    color: #1384a0;
    text-align: center;
    width:100%;
    height:auto;
    padding-bottom: 5px;
    font-size: 24px;
    margin: 20px 0;
  }
}
/* Awards filter end */

/* Awards start */
.award-para-section {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}
.award-top-heading {
  color: #1384a0;
  text-align: center;
  width:100%;
  height:auto;
  padding-bottom: 5px;
  font-size: 24px;
  margin: 20px 0;
}
.award-top-paragraph {
  color: #000;
  text-align: center;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 18px;
}
.award-healthsoul-section{
  border-bottom:2px solid #ccc; 
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.healthsoul-award-box-main{
  width:100%; height:auto; 
  float:left; 
  text-align:center; 
  margin:10px 0;
}
.healthsoul-award-box-main-left{
  width:100%; height:auto; 
  float:left; 
  text-align:center; 
  margin:10px 0; 
  border-right: 2px solid #ccc;
}
.healthsoul-award-img-main{
  width:200px; 
  height:auto; 
  text-align:center; 
  margin:10px auto;
}
.healthsoul-award-img-main img{
  width:100%;
}
.healthsoul-award-txt-main{
  width:100%; 
  height:auto; 
  float:left; 
  text-align:center; 
  margin:10px 0; 
  font-size:18px;
}
.healthsoul-award-txt-main a{
  display:inline-block; 
  background:#2bb27e; 
  padding:5px 10px; 
  color:#fff; 
  text-decoration:none;
}
.healthsoul-award-txt-main a:hover{
  display:inline-block; 
  background:#2bb27e; 
  padding:5px 10px; 
  color:#fff; 
  text-decoration:underline;
}
.award-distribution-img-main{
  width:100%; 
  height:auto; 
  float:left; 
  text-align:center; 
  margin:10px 0;
}
.award-distribution-img-main img{
  width:100%;
}
.award-distribution-guiding{
  width:100%; 
  height:auto; 
  float:left; 
  text-align:left; 
  margin:10px 0; 
  font-size:16px;
}
.award-distribution-heading{
  font-size:18px; 
  color:#1384a0; 
  margin-bottom:5px;
  margin-top: 50px;
}


@media only screen and (max-width:990px){
  .healthsoul-award-box-main-left{
    width:100%; 
    height:auto; 
    float:left; 
    text-align:center; 
    margin:10px 0; 
    border-right: 0px solid #ccc;
  }
  .award-distribution-heading{
    font-size:18px; 
    color:#1384a0; 
    margin-bottom:5px;
    margin-top: 0px;
  }
}
/* Awards end */

/* user - password start */
.height_100_percent{
   height:100%;
}
/* user - password end */

/* session-devise start */
.no_display{
  display: none;
}
.text-underline{
  text-decoration: underline;
}
/* session-devise end */

/* login start */
.mb-20{
  margin-bottom: 20px
}
.email-address{
  width:190px !important; 
  height:38px !important; 
  margin-bottom: 20px; 
  line-height: 25px; 
  display: none;
}
.btn-login{
  height:38px !important; 
  margin-bottom: 20px; 
  line-height: 25px; 
  font-weight: bold;
}
/* login end */

/* doctor start */
.img_award{
  width: 130px;
  height:120px
}
/* doctor end */

/* faq start */
.frm_faq{ 
  border: 1px solid black; 
  padding: 10px;
}
/* faq end */

.width_100_percent{
  width: 100%
}
.mt-10{
  margin-top:10px;
}

/* home start */
.promotion-frame{
  min-height: 180px; 
  background-color: #f3f3f4 !important;  
  .promotion-image{
    min-height: 120px; 
    min-width: 120px;
}
}

/* home end */

/* location start */
.white{
  color: white;
  a:hover{
   color: white;
  }
}
.pointer{
  cursor: pointer;
}
.award_img{
  width: 150px;
  height:150px;
}
/* location end */

/* doctor manage start */
.width_200{
  width: 200px;
}
/* doctor manage end */

.ml-1-percent{
  margin-left:1%;
}
.max_width_200{
  max-width: 200px;
}

/* signup start */
.signup-email-address{
  width:210px !important; 
  height:46px !important; 
  margin-bottom: 20px; 
  line-height: 35px; 
  display: none;
}
.signup-phone{
  height:46px !important; 
  margin-bottom: 20px; 
  line-height: 35px;  
  font-weight: bold;
}
/* signup end */

.mt-100{
  margin-top:100px;
}

/* appointment modal start */
.appointment_date{
  background: white; 
  height: unset;
}
.mt-3-percent{
  margin-top: 3%;
}
.unset{
  height: unset;
}
.appointment_birth_date{
  background: white; 
  height: 100%;
}
/* appointment modal end */

.float-right{
  float: right;
}

.pl-6-percent{
  padding-left: 6%;
}
.mt-2-percent{
  margin-top: 2%;
}

.calculator-form div{
  margin-top: 1%;
}
/* provider start */
.ptb-70{
  padding-top: 70px; 
  padding-bottom: 70px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-25{
  margin-bottom: 25px;
}
.calculator_type{
  list-style-type: none;
  margin-top: 2%;
  div{
    border-bottom: 1px solid #e3e3e3;
    margin: 0px 0px 5px 0px;
    padding: 5px 0px;
  }
}
.mt-50{
  margin-top: 50px;
}

/* calculator start */
.bmi_table{
  margin-top: 20px; 
  margin-bottom: 20px; 
  text-align: center; 
  border: 1px solid lightgray; 
  width: 100%; 
  background: lightgoldenrodyellow; 
  display: none;
}
.blue{
  color: blue;
}
.red{
  color: red;
}
.orange{
  color: orange;
}
.green{
  color: green;
}
.mt-45{
  margin-top: 45px;
}
.min_height_750{
  min-height: 750px;
}
.mt-30{
  margin-top: 30px;
}
/* calculator end */

.refer_user{
  width: 300px; 
  margin: 0 auto;
}
.text-left{
  text-align: left;
}
.textarea{
  height: 150px; 
  width: 100%;
}
.tbl_overview{
  font-size: 18px;
  th {
    font-weight: bold;
    margin: 0px 0.2em 0px 0px;
    padding: 0.5em 0em 0.5em 0em;
    vertical-align: top;
    width: 40%;
  }
  tr{
    border-top: 1px solid #ccc;
  } 
  td{
    padding: 0.5em 0em 0.5em 0.5em;
  }
}
.no-border{
  tr{
    border: none;
  }
  th{
    width: 20%;
  }
  border: none !important;
}
.add-provider{
  padding: 0.8em;
  a {
    font-size: 16px;
  }
}
.btn-secondary {
  color: #fff !important;
  background-color: #6c757d;
  border-color: #6c757d;
}

#search-results{
  position: absolute;
  z-index: 9999;
  margin-left: 15px;
}

.search-result{
  color: black;
  border: dotted white 1px;
  width: 260px;
  margin-left: 0px;
  background-color: #f3f3f4;
  padding: 10px;
  hr{
    margin-top: 30px;
    margin-bottom: 7px;
  }
}

.search-loading {    
  background-color: #ffffff!important;
  background-image: url("http://loadinggif.com/images/image-selection/3.gif")!important;
  background-size: 25px 25px!important;
  background-position:right center!important;
  background-repeat: no-repeat!important;
  margin-right: 10px;
}
@media screen and (max-width:520px){
  .nav_munu_main_section_inner ul{
    margin-top: 0;
    margin-left: 0;
  }
  .nav_munu_main_section_inner ul li {
    margin-bottom: 0;
    padding: 0 20px;
  }
  .nav_munu_main_section_inner ul li:hover, 
  .nav_munu_main_section_inner ul li:focus, 
  .nav_munu_main_section_inner ul li:active, 
  .nav_munu_main_section_inner ul li:visited {
    background: #0d87a3;
    font-family: HELVETICA;
  }
  .nav_munu_main_section_inner ul li a:hover, 
  .nav_munu_main_section_inner ul li a:focus, 
  .nav_munu_main_section_inner ul li a:active, 
  .nav_munu_main_section_inner ul li a:visited {
    background: #0d87a3;
    font-family: HELVETICA;
  }
  .nav_munu_main_section_inner ul li a{
    color: #fff;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    cursor: pointer;
    font-family: HELVETICA !important;
  }
  .follow-us{
    padding-left: 15px;
    padding-right: 15px;
  }
  .subscribe_form{
    margin-bottom: 15px;
  }
  
}

.search h1 {
  font-size: 20px;
}
.affiliate_button{
  width: 100%; 
  border: 0px;
}
.pagination{
  font-size: 16px;
}
.pagination > li.current > a {
  background-color: #d2f0e3; 
  font-weight: bold;
}
.advert img{
  width: 100%;
}
.featured{
  border: 2px solid #0e87a3;
  .panel-title{
    background-color: #0e87a3;
  }
  .panel-footer{
    background-color: #0e87a3;
  }
}
.sponsored{
  border: 1px solid #18b079;
  .panel-title{
    background-color: #18b079;
  }
  .panel-footer{
    background-color: #18b079;
  }
}
.panel{
  margin-top:0.5em;
}
.panel-title{
  color: white;
  text-align: center;
  padding: 0.5em 0px;
  margin-bottom: 0px !important;
}
.panel-body{
  padding: 1em;
}
.panel-footer{
  text-align: center;
  padding: 0.2em 0px;
  color: white;
}
.exhibit{
  background: #d3e9f0;
  padding: 1em;
}
.promotion{
  background: #d2f0e4;
  padding: 1em;
}
.event-container{
  font-size: 15px;
  margin:0px 1em;
}
.radio-inline{
  margin-top: 0px;
}
.event_image img{
  width: 100%;
}
.event-venue{
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 0.5em;
  line-height: 1.2em;
  font-size: 18px;
}
.practice{
  background-color: #d3e9f0;
}
.medical-box{
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 0.5em;
  margin: 0.5em 0em;
  min-height: 115px;
  p {
    margin: 0.5em 0em;
  }
}
.form-error {
  color: red;
}
.text-white{
  color: white;
}
.fit_blog_banner img{
  height: 100%;
  max-width: 100%;
  max-height: 100px;
}
.search-container{
  padding: 0px;
}
.blog-title{
  padding-top: 0.5em;
  color: #000;
}
.steps{
  padding-left: 27%;
  text-align: left;
}
.login-singup{
  input{
    max-width: 60%;
  }
  .bg_img img{
    width: 100%;
    height: 100%;
  }
  h2{
    margin-top: 0px;
  }
  .form-group{
    margin-bottom: 8px;
  }
  .signup-phone{
    margin-bottom: 10px;
  }
}
.pull-left {
  p {
    text-align: left !important;
  }
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.57);
}
.icon-and-text-margin{
  margin-right: 0.5em;
}
.faq-well{
  border: 1px solid #e3e3e3;
}
.pb-14{
  padding-bottom: 14px;
}
.faq-show-all{
  margin-bottom: 1em;
  margin-top: 1em;
}
.dr-footer{
  background: #d2f0e3;
  padding: 19px;
  margin-bottom: 20px;
}
.sp-faqs .panel-heading{
  background-color: #e2dfdf;
  border-bottom: 1px solid #c1bdbd;
  border-radius: 0px;
}
.dr-h1{
  line-height: 1.5em;
}
.no_margin{
  margin-top: 0px;
}
.blue-box{
  background-color: #d3e9f0;
}
.dr_faq{
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}
.green-box{
  background-color: #d2f0e3;
}
.grey-box{
  background-color: #f3f3f4;
}
.winner-box{
  margin-boom: 1em;
}
.state_hospitals .row{
  line-height: 2em;
  a {
    color: #000;
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
.height-20{
  height: 20px;
}
.panel-grey{
  border: 2px solid #bbb;
  .panel-footer, .panel-title{
    background-color: #aaa;
  }
  h3{
    font-size: 16px !important;
  }
}