@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Bold.woff2') format('woff2'),
        url('fonts/Barlow-Bold.woff') format('woff'),
        url('fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Thin.woff2') format('woff2'),
        url('fonts/Barlow-Thin.woff') format('woff'),
        url('fonts/Barlow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-SemiBold.woff2') format('woff2'),
        url('fonts/Barlow-SemiBold.woff') format('woff'),
        url('fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-ExtraLight.woff2') format('woff2'),
        url('fonts/Barlow-ExtraLight.woff') format('woff'),
        url('fonts/Barlow-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Medium.woff2') format('woff2'),
        url('fonts/Barlow-Medium.woff') format('woff'),
        url('fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Regular.woff2') format('woff2'),
        url('fonts/Barlow-Regular.woff') format('woff'),
        url('fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Black.woff2') format('woff2'),
        url('fonts/Barlow-Black.woff') format('woff'),
        url('fonts/Barlow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Light.woff2') format('woff2'),
        url('fonts/Barlow-Light.woff') format('woff'),
        url('fonts/Barlow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-ExtraBold.woff2') format('woff2'),
        url('fonts/Barlow-ExtraBold.woff') format('woff'),
        url('fonts/Barlow-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body{
    font-family: 'Barlow';
    font-weight: 400;
    color:#1A1A1A;
}

button:focus{
    outline:none;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: unset;
}
/*.inner-pages {
    padding: 40px 0px;
}*/

.dashboard-page {
    display: flex;
}


.tab {
    width: 30%;
}

.tab-info-box {
    width: 70%;
    background: #fff;
    padding: 30px;
    box-shadow: 9px 8px 11px 6px rgba(0,0,0,0.2);
    border-radius: 0px 10px 10px 10px;
}

.dashboard-page .tab button.tablinks {
    display: block;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #A3A3A3;
    padding: 20px 20px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius:5px 0px 0px 5px;
}

.dashboard-page .tab button.tablinks.active{
    color: #1A1A1A;
    box-shadow: 1px 2px 23px 6px rgba(0,0,0,0.2);
}




.analytics_table table {
    margin-bottom: 0px;
}

.analytics_table table tr th:first-child {
    font-weight: 500;
    font-size: 24px;
}

.analytics_table table tr th {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 21px 25px;
    color: #fff;
    font-weight: 300;
    background: #00B07A;
    text-align: left;
}

.analytics_table table tr td{
    padding: 13px 25px;
    color: #fff;
    font-size: 16px;
    background: #00B07A;
    font-weight: 300;
}

.analytics_chart {
    background-color: #F9F9F9;
    border-radius: 10px;
    margin-bottom: 30px;
}

.analytics_chart_date {
    border-radius: 8px 8px 0 0;
    background-color: rgba(0,0,0,0.05);
    padding: 20px;
}

.analytics_chart_date ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-flex;
}

.analytics_chart_date ul li {
    display: flex;
    margin-right: 30px;
}

.analytics_chart_date ul li span {
    height: 24px;
    width: 24px;
    border-radius: 2px;
    display: block;
    margin-right: 10px;
}

.analytics_chart_date ul li span.blue_process {
    background-color: #4B78D2;
}

.analytics_chart_date ul li span.red_process {
    background-color: #DC3912;
}

.analytics_chart_date ul li p {
    margin: 0px;
}

.email_analytics {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 30px 20px 30px;
}

.email_analytics h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.email_analytics_field {
    display: flex;
}
.email_analytics_field .doctor_email {
    width: 75%;
    margin-right: 20px;
}
.email_analytics_field .doctor_email input{
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    width: 100%;
    padding: 13px 15px;
    font-size: 14px;
    margin-right: 15px;
    height: 48px;
}

.email_analytics_field button {
    border-radius: 8px;
    background-color: #00B07A;
    color: #fff;
    padding: 13px 25px;
    font-size: 18px;
    height: 48px;
    line-height: 21px;
}

.dr-profile-outter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.dr-profile-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}

.dr-profile-image img{
    max-width: 100%;
    width: 100%;
}

.dr-profile-detail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0px 15px;
}

.dr-image {
    max-width: 100%;
    width: 100%;
}

.dr-profile .dr-profile-detail p {
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    color:#000;
}

.dr-profile .dr-profile-detail p span {
    font-weight: 600;
    margin-left: 30px;
    width: 60%;
    float: right;
}

.dr-profile .dr-profile-detail p span i{
    color: #f7cc21;
    font-size: 19px;
    margin: 0px 1px;
}

.dr-profile-detail h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.green-border-btn, .green-border-btn:hover {
    border-color: #00B07A;
    color: #00B07A;
}

.main_btn {
    border: 2px solid;
    height: 48px;
    border-radius: 8px;
    display: inline-block;
    line-height: 43px;
    padding: 0px 20px;
    font-size: 18px;
    margin-right: 15px;
}

.green-color-btn, .green-color-btn:hover {
    background: #00B07A;
    border-color: #00B07A;
    color: #fff;
}

.mt30 {
    margin-top: 30px;
}

.dr-profile h3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.dr-profile p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

.dr-general-details ul {
    padding: 0px;
    list-style: none;
    margin: 20px 0px;
}

.dr-general-details ul li {
    font-weight: 600;
    margin-bottom: 10px;
}

.dr-general-details ul li span {
    width: 70%;
    float: right;
    font-weight: 400;
}

.dr-profile .Specialities_list p {
    margin-bottom: 10px;
}

.dr-profile .Specialities_list p span {
    float: right;
    color: #f7cc21;
    font-size: 14px;
}

.Reviews_tab_outter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.Reviews_tab_4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
span.progress-sync {
    color: #00B07A;
    font-size: 18px;
    text-align: center;
    display: block;
    margin: 10px 0px;
    font-weight: 600;
}
.Reviews_tab_8{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.social-review-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.social-review-circle .col-md-3 {
    padding: 0px 15px;
    -webkit-box-flex: 0;
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
}
.total_Reviews {
    text-align: center;
    border-right: 1px solid #D8D8D8;
}

.total_Reviews h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0px;
}

.review_table tr {
    border-top: 1px solid #D8D8D8;
}

.review_table tr th {
    font-weight: 500;
}

.review-dr-img img{
    height: 24px;
    width: 24px;
    border: 1px solid #D8D8D8;
    border-radius: 50%;
    margin-right: 10px;
}

.review-social-img img{
    height: 24px;
    width: 24px;
    border: 1px solid #D8D8D8;
    border-radius: 50%;
}

.review_table table td p {
    font-size: 15px;
    margin-bottom: 0px;
    text-align: left;
    white-space: initial;
}

.review_table table td p span {
    font-size: 13px;
}

.review_table table td span i{
    color: #f7cc21;
    font-size: 15px;
    margin: 0px 1px;
}

.review_table tr td, .review_table tr th {
    padding: 15px 10px;
    white-space: nowrap;
}

.review-dr-img {
    float: left;
}
.social-review-circle p {
    margin: 10px 0px;
    font-size: 14px;
    text-align: center;
}

.review_table table td span {
    display: flex;
}

p.dr-review-text {
    width: 100%;
    white-space: pre-line;
}

.review_table table {
    width: 100%;
}

.reply_back-ic {
    float: right;
}

.modal-header {
    border-bottom: 1px solid #D8D8D8;
    padding: 20px 25px;
}

.review-respond-modal .modal-header h4 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.review-respond-modal .modal-header h4 {
    font-size: 18px;
}

.review-respond-modal .modal-body {
    padding: 25px 25px;
}

.review-user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    top: -2px;
    float: left;
}

.review-user h5 {
    font-size: 18px;
    margin-bottom: 0px;
}

.review-user p {
    font-size: 16px;
}

.rating i {
    color: #f7cc21;
    font-size: 15px;
    margin: 0px 1px;
}

.review-user-inner {
    display: flex;
}

.review-user-inner p {
    margin-bottom: 5px;
    font-size: 14px;
}
span.rating {
    margin-bottom: 10px;
    display: block;
}

.review-user h4 {
    font-size: 16px;
    margin-bottom: 15px;
}
.review-user textarea {
    width: 100%;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    background-color: #FFFFFF;
    height: 150px;
    margin-bottom: 20px;
}
.review-subimt-btn {
    text-align: right;
}

#review-respond .modal-content {
    border-radius: 10px;
}
.review_table {
    overflow-x: auto; 
}

.analytics_table {
    overflow: auto;
    width: 100%;
    background-color: #00B07A;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.05);
    border-radius: 10px;
    margin-bottom: 30px;
}

.Widgets-profile xmp{
    white-space: inherit;
    overflow: auto;
}

.Widgets-title {
    margin-bottom: 30px;
}

.Widgets-title h2 {
    font-size: 24px;
    font-weight: 600;
}
.Widgets-profile {
    margin-bottom: 40px;
}
.Widgets-profile h4 {
    font-size: 18px;
}
.Widgets-profile h4 a {
    float: right;
    color: #00B07A;
    font-size: 16px;
}



/* Start Home Banner CSS */
.search_box.home {
    background-image: url(../img/home-banner.jpg);
    color: #fff;
    background-size: cover;
    position: relative;
    padding: 50px 0px;
}
.search_box.home:before {
    /*background: linear-gradient(216.71deg, #21e4a8f5 0%, #20a8c5d6 50%);*/
    background: linear-gradient(216.71deg);
    content: "";
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 0;
}
.banner-inner-box h1{
    font-size: 40px;
    color: #fff;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 10px;
    opacity: 0.9;
    text-align: center;
}
.banner-inner-box h3{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 40px;
    text-align: center;
}
.search_box .search-type {
    background: #fff;
    text-decoration: none !important;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 8px 8px 0 0;
    padding: 10px 15px;
    opacity: 0.7;
}
.search_box .selected-search {
    background: #fff;
    opacity: 0.9;
}
.search_box .search-type a {
    color: #000;
    text-transform: lowercase;
}

.search_box .search-type-row {
    display: flex;
}
form.home-search-form {
    background: #fff;
    opacity: 0.9;
    display: inline-flex;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
    width: 100%;
}
form.home-search-form .group-fields:last-child {
    border-right: 0px;
}
:focus{
    outline: none;
}
.group-fields {
    width: 33%;
    float: left;
    padding: 20px;
    border-right: 1px solid #D8D8D8;
}
.group-fields label {
    color: #1A1A1A;
    font-size: 14px;
}
.group-fields select, .group-fields input {
    color: #1A1A1A;
    font-size: 22px;
    font-weight: 600;
    border: none;
    width: 100%;
    background: #fff;
    -webkit-appearance: none;
}
.home-search-box {
    background: #fff;
    padding: 25px;
    opacity: 0.9;
    border-radius: 0px 8px 8px 8px;
}
.white-btn {
    border-radius: 8px;
    background-color: #FFFFFF;
    opacity: 0.9;
    padding: 13px 20px;
    color: #00B07A;
    margin-left: 10px;
    width: 160px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.reset-btn {
    background: transparent;
    color: #fff;
}
.home-search-btn {
    text-align: right;
    margin-top: 30px;
}
/* End Home Banner CSS */

/* Start Best Hospital near you CSS */
#search-hospital-section {
    background: url(../img/hospital_search.png) no-repeat;
    background-size: cover;
    padding: 40px 0px;
}
#search-hospital-section h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.hospital-search {
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 70%;
    float: right;
}
.hospital-search input {
    border: none;
    padding: 10px 15px;
    color: #1A1A1A;
    width: 70%;
    font-size: 16px;
    border-radius: 8px;
}
.hospital-search a {
    color: #00B07A;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    float: right;
}
#search-hospital-section ul {
    padding: 0px;
    list-style: none;
}
#search-hospital-section ul li {
    width: 24%;
    display: inline-block;
    margin-bottom: 40px;
}
#search-hospital-section ul li a {
    color: #fff;
}
/* End Best Hospital near you CSS */

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 50px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
}

@media (min-width:1100px){
    .modal-dialog {
        max-width: 900px;
        margin: 0rem auto;
    }
}



@media (min-width:900px){
    .modal-dialog {
        max-width: 700px;
        margin: 0rem auto;
    }
}

@media (max-width:900px){
    p.dr-review-text{
        white-space: unset;
    }
    
}

@media (max-width:1000px){
    .tab {
        width: 25%;
    }
    .tab-info-box{
        width: 75%;
    }
    .dashboard-page .tab button.tablinks {
        padding: 20px 20px;
        font-size: 20px;
        font-weight: 500;
    }
    .email_analytics_field input {
        width: 66%;
    }
}

@media (max-width:768px){
    .modal-dialog {
        max-width: 600px;
        margin: 0rem auto;
    }
    .dr-profile .dr-profile-detail p span{
        width: 43%;
    }
    .dr-image {
        margin-bottom: 20px;
    }
    .dashboard-page {
        display: unset;
    }
    .tab {
        width: 100%;
        margin-bottom: 20px;
    }
    .dashboard-page .tab button.tablinks {
        display: contents;
    }
    .tab-info-box{
        width: 100%;
        padding: 15px;
    }
    .dashboard-page .tab button.tablinks {
        padding: 11px 15px;
        font-size: 16px;
        font-weight: 400;
        width: auto;
        display: inline;
    }
    .analytics_table table tr th {
        font-size: 14px;
        white-space: initial;
    }
    .email_analytics_field {
    display: unset;
}
    .analytics_table table tr th:first-child{
        font-size: 16px;
    }
    .analytics_table table tr td {
        padding: 10px 15px;
        font-size: 14px;
    }
    .analytics_table table tr th {
        padding: 10px 15px;
    }
    .analytics_table table tr {
        white-space: nowrap;
    }
    .analytics_chart_date ul {
        display: block;
    }
    .analytics_chart_date ul li {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .email_analytics_field .doctor_email{
        margin-bottom: 30px;
        width: 100%;
    }
}

@media (max-width:600px){
    .Reviews_tab_4 {
        -webkit-box-flex: 0;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .Reviews_tab_8 {
        -webkit-box-flex: 0;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .dr-profile-detail {
        -webkit-box-flex: 0;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 20px 15px 0px;
    }
    .dr-general-details ul li {
        font-size: 14px;
    }
    .dr-profile p {
        font-size: 14px;
    }
    .dr-profile-detail .main_btn {
        margin-bottom: 20px;
    }
    .dashboard-page .tab button.tablinks {
        padding: 8px 10px;
        font-size: 12px;
    }
    .dr-general-details ul li span {
        width: 55%;
    }
    .dr-profile .Specialities_list p span {
        width: 100%;
        margin-bottom: 10px;
    }
}