@charset "UTF-8";
.flag {
	padding-top: 0px;
  background-image: image_url('flags.png');
  background-repeat: no-repeat;
  height: 12px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;

  &.afg {background-position:   0px 0px;}
  &.alb {background-position: -20px 0px;}
  &.dza {background-position: -40px 0px;}
  &.asm {background-position: -60px 0px;}
  &.and {background-position: -80px 0px;}
  &.ago {background-position: -100px 0px;}
  &.aia {background-position: -120px 0px;}
  &.atg {background-position: -140px 0px;}
  &.arg {background-position: -160px 0px;}
  &.arm {background-position: -180px 0px;}
  &.abw {background-position:   0px -12px;}
  &.aus,&.aus2,&.aus3,&.hmd {background-position: -20px -12px;}
  &.aut,&.aut2 {background-position: -40px -12px;}
  &.aze {background-position: -60px -12px;}
  &.bhs {background-position: -80px -12px;}
  &.bhr {background-position: -100px -12px;}
  &.bgd,&.bgd2 {background-position: -120px -12px;}
  &.brb {background-position: -140px -12px;}
  &.blr {background-position: -160px -12px;}
  &.bel,&.bel2 {background-position: -180px -12px;}
  &.blz {background-position:   0px -24px;}
  &.ben {background-position: -20px -24px;}
  &.bmu {background-position: -40px -24px;}
  &.btn {background-position: -60px -24px;}
  &.bol {background-position: -80px -24px;}
  &.bih {background-position: -100px -24px;}
  &.bwa {background-position: -120px -24px;}
  &.bra,&.bra2 {background-position: -140px -24px;}
  &.vgb {background-position: -160px -24px;}
  &.brn {background-position: -180px -24px;}
  &.bgr {background-position:   0px -36px;}
  &.bfa {background-position: -20px -36px;}
  &.bdi {background-position: -40px -36px;}
  &.khm {background-position: -60px -36px;}
  &.cmr {background-position: -80px -36px;}
  &.can,&.can2 {background-position: -100px -36px;}
  &.cpv {background-position: -120px -36px;}
  &.cym {background-position: -140px -36px;}
  &.caf {background-position: -160px -36px;}
  &.tcd {background-position: -180px -36px;}
  &.chl {background-position:   0px -48px;}
  &.chn,&.chn2,&.chn3,&.chn4,&.chn5,&.chn6 {background-position: -20px -48px;}
  &.col,&.col2 {background-position: -40px -48px;}
  &.com {background-position: -60px -48px;}
  &.cod {background-position: -80px -48px;}
  &.cog {background-position: -100px -48px;}
  &.cok {background-position: -120px -48px;}
  &.cri {background-position: -140px -48px;}
  &.civ {background-position: -160px -48px;}
  &.hrv {background-position: -180px -48px;}
  &.cub {background-position:   0px -60px;}
  &.cyp,&.cyp2 {background-position: -20px -60px;}
  &.cze,&.cze2 {background-position: -40px -60px;}
  &.dnk,&.dnk2 {background-position: -60px -60px;}
  &.dji {background-position: -80px -60px;}
  &.dma {background-position: -100px -60px;}
  &.dom {background-position: -120px -60px;}
  &.tls {background-position: -140px -60px;}
  &.ecu {background-position: -160px -60px;}
  &.egy {background-position: -180px -60px;}
  &.slv {background-position:   0px -72px;}
  &.gnq {background-position: -20px -72px;}
  &.eri {background-position: -40px -72px;}
  &.est,&.est2 {background-position: -60px -72px;}
  &.eth {background-position: -80px -72px;}
  &.flk {background-position: -100px -72px;}
  &.fro {background-position: -120px -72px;}
  &.fji {background-position: -140px -72px;}
  &.fin,&.fin2 {background-position: -160px -72px;}
  &.fra,&.fra2,&.reu,&.guf,&.atf,&.glp,&.ncl,&.myt,&.maf, &.pyf {background-position: -180px -72px;}
  &.pyf {background-position:   0px -84px;}
  &.gab {background-position: -20px -84px;}
  &.gmb {background-position: -40px -84px;}
  &.geo {background-position: -60px -84px;}
  &.deu,&.deu2 {background-position: -80px -84px;}
  &.gha {background-position: -100px -84px;}
  &.gib {background-position: -120px -84px;}
  &.grc,&.grc2 {background-position: -140px -84px;}
  &.grl {background-position: -160px -84px;}
  &.grd {background-position: -180px -84px;}
  &.gum {background-position:   0px -96px;}
  &.gtm {background-position: -20px -96px;}
  &.gin {background-position: -40px -96px;}
  &.gnb {background-position: -60px -96px;}
  &.guy {background-position: -80px -96px;}
  &.hti {background-position: -100px -96px;}
  &.hnd {background-position: -120px -96px;}
  &.hkg {background-position: -140px -96px;}
  &.hun,&.hun2 {background-position: -160px -96px;}
  &.isl,&.isl2 {background-position: -180px -96px;}
  &.ind,&.ind2 {background-position:   0px -108px;}
  &.idn,&.idn2 {background-position: -20px -108px;}
  &.irn {background-position: -40px -108px;}
  &.irq {background-position: -60px -108px;}
  &.irl,&.irl2 {background-position: -80px -108px;}
  &.isr,&.isr2 {background-position: -100px -108px;}
  &.ita,&.ita2 {background-position: -120px -108px;}
  &.jam {background-position: -140px -108px;}
  &.jpn,&.jpn2 {background-position: -160px -108px;}
  &.jor {background-position: -180px -108px;}
  &.kaz {background-position:   0px -120px;}
  &.ken {background-position: -20px -120px;}
  &.kir {background-position: -40px -120px;}
  &.prk {background-position: -80px -120px;}
  &.kor,&.kor2 {background-position: -100px -120px;}
  &.kwt {background-position: -120px -120px;}
  &.kgz {background-position: -140px -120px;}
  &.lao {background-position: -160px -120px;}
  &.lva {background-position: -180px -120px;}
  &.lbn {background-position:   0px -132px;}
  &.lso {background-position: -20px -132px;}
  &.lbr {background-position: -40px -132px;}
  &.lby {background-position: -60px -132px;}
  &.lie {background-position: -80px -132px;}
  &.ltu,&.ltu2 {background-position: -100px -132px;}
  &.lux,&.lux2 {background-position: -120px -132px;}
  &.mac {background-position: -140px -132px;}
  &.mkd {background-position: -160px -132px;}
  &.mdg {background-position: -180px -132px;}
  &.mwi {background-position:   0px -144px;}
  &.mys,&.mys2 {background-position: -20px -144px;}
  &.mdv {background-position: -40px -144px;}
  &.mli {background-position: -60px -144px;}
  &.mlt {background-position: -80px -144px;}
  &.mhl {background-position: -100px -144px;}
  &.mtq {background-position: -120px -144px;}
  &.mrt {background-position: -140px -144px;}
  &.mus {background-position: -160px -144px;}
  &.mex {background-position: -180px -144px;}
  &.fsm {background-position:   0px -156px;}
  &.mda {background-position: -20px -156px;}
  &.mco {background-position: -40px -156px;}
  &.mng {background-position: -60px -156px;}
  &.mne {background-position: -80px -156px;}
  &.msr {background-position: -100px -156px;}
  &.mar {background-position: -120px -156px;}
  &.moz {background-position: -140px -156px;}
  &.mmr {background-position: -160px -156px;}
  &.mmr2 {background-position: -160px -156px;}
  &.nam {background-position: -180px -156px;}
  &.nru {background-position:   0px -168px;}
  &.npl {background-position: -20px -168px;}
  &.nld,&.nld2,&.ant  {background-position: -40px -168px;}
  &.nzl {background-position: -60px -168px;}
  &.nic {background-position: -80px -168px;}
  &.ner {background-position: -100px -168px;}
  &.nga {background-position: -120px -168px;}
  &.niu {background-position: -140px -168px;}
  &.mnp {background-position: -180px -168px;}
  &.nor,&.nor2,&.sjm,&.bvt {background-position:   0px -180px;}
  &.omn {background-position: -20px -180px;}
  &.pak {background-position: -40px -180px;}
  &.plw {background-position: -60px -180px;}
  &.pse {background-position: -80px -180px;}
  &.pan {background-position: -100px -180px;}
  &.png {background-position: -120px -180px;}
  &.pry {background-position: -140px -180px;}
  &.per {background-position: -160px -180px;}
  &.phl {background-position: -180px -180px;}
  &.pcn {background-position:   0px -192px;}
  &.pol,&.pol2 {background-position: -20px -192px;}
  &.prt {background-position: -40px -192px;}
  &.pri {background-position: -60px -192px;}
  &.qat {background-position: -80px -192px;}
  &.rou {background-position: -100px -192px;}
  &.rus, &.rus2, &.rus3 {background-position: -120px -192px;}
  &.rwa {background-position: -140px -192px;}
  &.shn {background-position: -160px -192px;}
  &.tdc {background-position: -160px -192px;}
  &.kna {background-position: -180px -192px;}
  &.lca {background-position:   0px -204px;}
  &.spm {background-position: -20px -204px;}
  &.vct {background-position: -40px -204px;}
  &.wsm {background-position: -60px -204px;}
  &.smr {background-position: -80px -204px;}
  &.stp {background-position: -100px -204px;}
  &.sau {background-position: -120px -204px;}
  &.sen {background-position: -160px -204px;}
  &.srb {background-position: -180px -204px;}
  &.syc {background-position:   0px -216px;}
  &.sle {background-position: -20px -216px;}
  &.sgp {background-position: -40px -216px;}
  &.svk,&.svk2 {background-position: -60px -216px;}
  &.svn,&.svn2 {background-position: -80px -216px;}
  &.slb {background-position: -100px -216px;}
  &.som {background-position: -120px -216px;}
  &.zaf {background-position: -140px -216px;}
  &.ssd {background-position: -160px -216px;}
  &.esp,&.esp2 {background-position: -180px -216px;}
  &.lka {background-position:   0px -228px;}
  &.sdn {background-position: -20px -228px;}
  &.sur {background-position: -40px -228px;}
  &.swz {background-position: -60px -228px;}
  &.swe,&.swe2 {background-position: -80px -228px;}
  &.che,&.che2 {background-position: -100px -228px;}
  &.syr {background-position: -120px -228px;}
  &.twn {background-position: -140px -228px;}
  &.tjk {background-position: -160px -228px;}
  &.tza {background-position: -180px -228px;}
  &.tha {background-position:   0px -240px;}
  &.tibET {background-position: -20px -240px;}
  &.tls {background-position: -40px -240px;}
  &.tls2 {background-position: -40px -240px;}
  &.tgo {background-position: -60px -240px;}
  &.tkl {background-position: -80px -240px;}
  &.ton {background-position: -100px -240px;}
  &.tto {background-position: -120px -240px;}
  &.tun {background-position: -140px -240px;}
  &.tur {background-position: -160px -240px;}
  &.tkm {background-position: -180px -240px;}
  &.tca {background-position:   0px -252px;}
  &.tuv {background-position: -20px -252px;}
  &.uga {background-position: -40px -252px;}
  &.ukr {background-position: -60px -252px;}
  &.are {background-position: -80px -252px;}
  &.gbr,&.gbr2,&.gbr3,&.gbr4,&.gbr5,&.aci {background-position: -100px -252px;}
  &.usa,&.usa2,&.usa3,&.usa4,&.usa5,&.usa6,&.usa7,&.usa8,&.usa9,&.usa10,&.usa11,&.usa12,&.usa13,&.usa14,&.usa15,&.usa16 {background-position: -120px -252px;}
  &.umi {background-position: -120px -252px;}
  &.ury {background-position: -140px -252px;}
  &.uzb {background-position: -160px -252px;}
  &.vut {background-position: -180px -252px;}
  &.vat {background-position:  0px -264px;}
  &.va {background-position:   0px -264px;}
  &.ven {background-position: -20px -264px;}
  &.vnm {background-position: -40px -264px;}
  &.vir {background-position: -60px -264px;}
  &.wlf {background-position: -80px -264px;}
  &.esh {background-position: -100px -264px;}
  &.yem {background-position: -120px -264px;}
  &.zmb {background-position: -140px -264px;}
  &.zwe {background-position: -160px -264px;}
  &.iot {background-position: -180px -264px;}
  &.cxr {background-position:   0px -276px;}
  &.cck {background-position: -20px -276px;}
  &.ggy {background-position: -40px -276px;}
  &.imn {background-position: -60px -276px;}
  &.jey {background-position: -80px -276px;}
  &.nfk {background-position: -100px -276px;}
  &.blm {background-position: -120px -276px;}
  &.sgs {background-position: -140px -276px;}
}
