@font-face {
  font-family: HELVETICA-BOLD;
  src: image_url('HELVETICA-BOLD.TTF');
  src: url('HELVETICA-BOLD.EOT?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: HELVETICA-NORMAL;
  src: image_url('HELVETICA-NORMAL.TTF');
  src: url('HELVETICA-NORMAL.EOT?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: HELVETICA;
  src: image_url('HELVETICA.TTF');
  src: url('HELVETICA.EOT?#iefix') format('embedded-opentype');
}
