form {
  .error {
    input { @extend .is-invalid-input !optional;}
    textarea { @extend .is-invalid-input !optional;}
    label { @extend .is-invalid-label  !optional;}
  }
  .actions {
    input[type='submit'] {
      @extend .button  !optional;
    }
  }
  .radio_buttons{
    label {
      display: inline-block;
    }
    .radio {
      display: inline-block;
      padding: 0% 2%;
    }
  }
  .align-middle {
    padding-top: 2%; 
  }

}
.well{
  margin-top: 1%;
  background-color: #eff0f1;
  padding: 1%;
}
.height_500{
  height: 500px
}
.width_200{
  max-width:200px;
}
.clear{
  clear: both
}
.ml-10{
  margin-left: 10px;
}
.well_form{
  padding: 1em;
}
.button-danger{
  background-color: #d9534f;
}
.blue-box{
  background-color: #d3e9f0;
}
.green-box{
  background-color: #d2f0e3;
}