@import "foundation";
@import "colors";
@include foundation-grid;
.hero {
  height: 0;
  padding-top: 16.1713968%;
  background: image_url("hero.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
.speciality {
  width: 33%;
}
.home-search {
  position: absolute;
  top: 6%;
  width: 100%;
  @include breakpoint(medium) {
    top: 25%;
  }
  input.string {
    padding: 25px;
    display: inline-block;
    font-size: 1.2em;
    &.name {
      width: 35%;
    }
    &.near {
      width: 51%;
    }
  }
  button.button {
    color: #fff;
    background: $green;
    width: 14%;
    padding: 13px 0;
    margin: 0;
    vertical-align: middle;
    top: -3px;
    position: relative;
    font-size: 2em;
  }
  label {
    color: #fff;
    font-size: 1.1em;
  }

  .background {
    background: rgba(55,133,163, .6);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
  }

h1  h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6em;
  }
  h3 {
    color: #fff;
    text-transform: none;
    font-size: 1.2em;
  }
  .button {
    background: rgba(90, 184, 127, 0.82);
    color: #fff;
    text-transform: uppercase;
  }
  select.country {
    display: none;
    width: 35%;
    font-size: 21px;
    height: 53px;
  }
}

section.home-section {
  padding: 3em 0;
}

.action-call {
  background-color: $green;
  color: #fff;
  .columns {
    text-align: center;
    h2 {
      font-size: 1.6em;
      text-transform: uppercase;
      padding-bottom: .5em;
    }
    h3 {
      font-size: 1.5em;
      padding: .8em 0;
      text-transform: capitalize;
      @include breakpoint(medium) {
        margin-top: 2em;
     }
    }
    a.button {
      background: lighten($green, 10%);
      border: 1px solid rgba(255,255,255,.7);
      text-transform: uppercase;
    }
  }
}

.recently-reviewed {
  h2 {
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    padding: 1em 0;
  }
  .columns {
    margin-bottom: 4em;
  }
}

.recent-review, .search-results .result {
  padding-bottom: .5em;
  h3 {
    a {
      color: $green;
    }
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 0;
  }
  .circle_image {
    margin-right: 2em;
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    text-align: center;
    padding-top: 37px;
    -webkit-box-shadow: 1px 5px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    1px 5px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         1px 5px 5px 0px rgba(50, 50, 50, 0.3);
    background: $green;
    color: #fff;
    background-size: cover;
    background-position: center center;
  }
  p {
    line-height: 1.5;
    margin-bottom: 0;
  }
  p.number_reviews {
    font-style: italic;
  }
  p.reviewed_by a {
    font-weight: bold;
  }
  p.reviewed_by, p.reviewed_by a {
    color: rgb(175, 175, 175);
  }
  p.rating_overall {
    [data-stars] {
      margin-left: 15px;
    }
  }
  p.sub-type {
    font-style: italic;
    color: lighten($body-font-color, 20%);
  }
}