.review-banner {
    background: image_url('img/review-banner.jpg?v=1') no-repeat !important;
    background-size: cover !important;
}
.review-bottom-frame .form-control_review {
    padding: 10px 10px;
    border: 0px;
    color: #000;
    width: 98%;
}
.form-control_review-seacch_left {
    float: left;
}
.form-control_review-seacch_right {
}
.form-control_review-seacch_right p {
    margin: 0 0 0px;
}
.form-control_review-seacch_right p a {
    background: transparent !important;
    padding: 0px !important;
    display: initial !important;
    margin-right: 0% !important;
    float: left;
    font-size: 13px;
    margin-top: 5px;
}

.select-container select {
    background: white !important;
    height: 34px;

}
.user-rating-box-frame.user-rating-box-frame_review .revie-hosp-frame .col-md-2 .img-responsive.img-responsive-fh {
    width: 80px;
}
.review-bottom-frame button {
    background: #18b079;
    border: 0px;
    padding: 10px 30px 10px 30px;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
}
.last-reviewed-frame p {
    margin: 0 0 0px
}
.blog_search .form-control_review-seacch_left{width:40%;}
.blog_search .form-control_review-seacch_right{width:16%; float: right;}
.blog_search {width:100%;margin:0 auto;}
.travelhealthinsurancereview_search .form-control_review-seacch_left{width:40%;}
.travelhealthinsurancereview_search .form-control_review-seacch_right{width:16%; float: right;}
.travelhealthinsurancereview_search {width:100%;margin:0 auto;}
.form-control_review.seacch {
    background: #fff image_url('img/search-icon.png') no-repeat left center;
    background-position: 10px 11px;
    padding: 10px 15%;
}
.form-control_review.address {
    background: #fff image_url('img/search-icon.png') no-repeat left center;
    background-position: 10px 11px;
    padding: 10px 15%;
}
.form-control_review.location {
    background: #fff image_url('img/location.png') no-repeat left center;
    background-position: 10px 11px;
    padding: 10px 15%;
}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli {
    width: 1000px;
}
#hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type {
    margin-top: 5%;
}
#hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type h4 {} #hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type ul {
    list-style-type: none;
    margin-top: 5%;
}
#hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type li {
    margin-bottom: 2%;
}
#hospital-reviews-frame_middle h3 {
    margin-bottom: 8%;
    font-size: 20px;
}
.user-rating-main-left-frame select{
  width: 100%;
}
.user-rating-main-left-frame {
    border-right: 1px solid rgba(204, 204, 204, 0.6);
}
#hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type.user-rating-main-left-frame-heading_type-inner {
    margin-top: 10%;
}
.search_hospital_cities{
  max-height: 355px;
  overflow-y: scroll;
}
.revie-hosp-framea_tag {
    color: #333 !important;
}
#hospital-reviews-frame_middle {
    margin-top: 1%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.78);
    padding-bottom: 10px;
}
.color-heading {
    color: #18b079;
}
.color-heading2 {
    color: #0b85a2 !important;
}
.soft-buyreviews-frame select {
    display: initial;
    width: auto;
    border-radius: 0px;
    padding: 0px 40px 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: image_url('img/left-down.png') white no-repeat 96.5% !important
}
.hospital-reviews-result {
    padding-bottom: 5px;
}
.user-rating-box-frame .col-md-7-right-star.pull-right p {
    margin: 0 0 2px;
}
.user-rating-box-frame .col-md-7-right-star.pull-right p:last-child {
    text-align: right;
}
#hospital-reviews-frame_middle .user-rating-box-frame {
    margin-top: 3%;
}
#hospital-reviews-frame_middle .user-rating-box-frame .row .col-md-6 {
    margin-bottom: 2%;
}
.revie-hosp-frame:hover {
   
}
.revie-hosp-frame {
    margin-bottom: 10px;
}
#hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type.user-rating-main-left-frame-heading_type-inner:last-child {
    padding-bottom: 20%;
}
.Previous-next-h-review-bottom-frame{ overflow: hidden; }
.Previous-next-h-review-bottom-frame .col-md-10 ul {} .Previous-next-h-review-bottom-frame .col-md-10 ul li {
    list-style-type: none;
    color: #000;
    display: inline;
    padding-right: 10px;
}
.Previous-next-h-review-bottom-frame .col-md-10 ul li a {
    color: #000;
    font-size: 18px;
}
.Previous-next-h-review-bottom-frame .col-md-10 ul li a.active {
    color: #18b079;
}
.Previous-next-h-review-bottom-frame {
    margin-top: 3%;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-2_bottom-link a {
    background: #18b079;
    color: #fff;
    padding: 10px 0px;
    width: 100%;
    display: block;
    text-align: center;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-2_bottom-link a:hover {
    text-decoration: none;
    background: #0e87a3;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 {
    bottom: -30px;
    right: 59%;
    position: absolute;
}
.Previous-next-h-review-bottom-frame .col-md-10 ul li a:hover {
    text-decoration: none;
    color: #18b079;
}
#hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type li a {
    color: #0e87a3;
    text-decoration: none !important;
    font-size: 13px;
}
.review-bottom-frame button:hover {
    background: #0e87a3;
}
#hospital-reviews-frame_middle .user-rating-main-left-frame-heading_type li span:last-child {
    position: relative;
    top: 3px;
    left: 4px;
}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame {
    display: flow-root;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-hidden-box {
    background: #f3f3f4;
    border: 1px solid #737374;
    width: 150%;
    padding: 10px;
    visibility: hidden;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-hidden-box .media .media-middle {
    padding-right: 10px;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-hidden-box .media {
    border: 1px solid #b5b5b6;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-hidden-box .media .media-middle img {} .Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-2_bottom-link {
    margin-top: 0px;
    width: 150%;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-2_bottom-link a:focus {
    border: 0px;
    outline: initial;
    text-decoration: none;
}
.Previous-next-h-review-bottom-frame .COMPARE-2 .COMPARE-2_bottom-link a span {
    border: 1px solid #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: -webkit-inline-box;
    text-align: center;
    padding-left: 6px;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: -webkit-inline-box;
    text-align: center;
    padding-left: 6px;
    background: #fff;
    color: #18b079;
    margin-left: 3px;
}
#hospital-reviews-frame_middle .container .row .col-md-4_OVERVIEW {
    width: 28.333333%;
}
#hospital-reviews-frame_middle .container .row .col-md-8_OVERVIEW {
    width: 71.666667%;
}
.g-color {
    color: #18b079;
}
.user-rating-box-frame.user-rating-box-frame_review .total-rev_re_page {
    margin-top: 5px;
}
.user-rating-box-frame.user-rating-box-frame_review .total-rev_re_page h4 {
    margin-bottom: 5px;
}
.user-rating-box-frame.user-rating-box-frame_review .total-rev_re_page h4 span {
    font-size: 14px;
    margin-left: 41%;
}
.user-rating-box-frame.user-rating-box-frame_review .thomas_right_frame_i h4 {
    line-height: 23px;
    text-align: right;
}
.user-rating-box-frame.user-rating-box-frame_review .last-reviewed-frame {
    margin-top: 12px;
}
.user-rating-box-frame.user-rating-box-frame_review .revie-hosp-frame .col-md-2 {
    padding-right: 0px;
}
.user-rating-box-frame.user-rating-box-frame_review .revie-hosp-frame .col-md-5 {
    padding-left: 0px;
}
.user-rating-box-frame.user-rating-box-frame_review .revie-hosp-frame .col-md-4 {} .user-rating-box-frame.user-rating-box-frame_review .main-heading-re_i img {
    margin-left: 22%;
}
.hospital-reviews-frame_middle-fixed .col-md-3 {
    position: inherit;
}
.overview-left-frame {
    margin-top: 0%;
}
.scroll-to-fixed-fixed {
    margin-top: 0%;
}
.hospital-reviews-frame_middle-fixed {
    font-family: HELVETICA-NORMAL;
    padding-bottom: 25px !important;
}
.overview-left-frame ul li.scocial-icon-frame a {
    width: auto;
    padding: 0px 17px;
    border-bottom: 0px;
    margin-left: 0;
    font-size: 20px;
}
.overview-left-frame ul li.scocial-icon-frame a:first-child {
    padding: 0px 15px 0px 0px;
}
.overview-left-frame ul li.scocial-icon-frame {
    padding-top: 10px;
    display: inline-block;
    margin-left: 14%;
    padding-bottom: 10px;
}

/*review-2  page start */

.overview-left-frame {
    background: #0e87a3;
}
.overview-left-frame ul {
    margin-bottom: 6px;
    width: 90%;
    margin: 0 auto;
}
.overview-left-frame ul li {
    list-style-type: none;
}
.overview-left-frame ul li a {
    color: #fff;
    padding: 15px 0px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
    text-decoration: none!important;
    font-family: HELVETICA-BOLD;
    font-size: 14px;
    letter-spacing: 1px;
}
.overview-left-frame ul li a:hover {} .overview-left-frame ul li a span:first-child {
    margin-right: 10px;
    width: 27px;
    display: inherit;
}
.overview-left-frame ul li a span:last-child {} .overview-main-frame h3 {
    margin-bottom: 10px !important;
    font-size: 20px !important;
    color: #18b079;
    border-bottom: 1px solid #ccc;
    padding: 0px 20px 10px 0px;
    margin-top: 0px;
    font-family: HELVETICA-BOLD;
}
.overview-main-frame .overview-main-frame-con {
    background: #f3f3f4;
    padding: 20px 20px;
}
.overview-main-frame .overview-main-frame-con p {
    color: #231F20;
    line-height: 22px;
    margin-bottom: 3%;
    font-family: HELVETICA;
}
.overview-main-frame .overview-main-frame-con p a {
    color: #0e87a3;
    margin-left: 5px;
    text-decoration: none;
}
.overview-main-frame .overview-main-frame-con p:last-child {
    margin-bottom: 0%;
}
.service-review-detail h2 {
    margin-bottom: 10px !important;
    font-size: 20px !important;
    color: #18b079;
    padding: 10px 20px 0px 0px;
    margin-top: 0px;
    font-family: HELVETICA-BOLD;
}
.service-review-detail h3 {
    margin-bottom: 10px !important;
    font-size: 20px !important;
    color: #18b079;
    padding: 10px 20px 0px 0px;
    margin-top: 0px;
    font-family: HELVETICA-BOLD;
}
.service-review-detail {
    margin-top: 15px;
}
.over-all-rev-section {
    text-align: center;
}
.over-all-rev-section p {} .over-all-rev-section p img {
    margin: 0 auto;
}
.over-all-rev-section h4 {
    margin-top: 0px;
    color: #0e87a3;
    font-family: HELVETICA-BOLD;
}
.over-all_section {
    margin-left: 0px;
    margin-right: 0px;
    background: #f3f3f4;
    padding: 20px;
}
.over-all-rev-section:last-child {
    margin-bottom: 0px;
}
.hospital-reviews-result.hospital-user-reviews-result h2 {
    margin-bottom: 5px !important;
    font-size: 20px !important;
    font-family: HELVETICA-BOLD;
    color: #18b079;
}

.hospital-reviews-result.hospital-user-reviews-result h3 {
    margin-bottom: 5px !important;
    font-size: 20px !important;
    padding-left: 20px;
    font-family: HELVETICA-BOLD;
}
.hospital-reviews-result.hospital-user-reviews-result {
    margin-top: 15px;
}
.hospital-reviews-result.hospital-user-reviews-result .soft-buyreviews-frame.pull-right {
    margin-top: 10px;
}
.user-care {
    background: #f3f3f4;
    margin-top: 10px;
    padding: 20px
}
.user-care .user-care-left h5 {
    font-size: 16px;
    margin-bottom: 5%;
}
.user-care .user-care-left h5 img {
    margin-right: 5px;
}
.user-care .user-care-left p:nth-child(3) {
    margin: 0 0 0px;
}
.user-care-right h4 {
    color: #0e87a3;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.user-care-right h5 img {
    width: 70px;
    display: initial;
    max-width: fit-content;
    margin-left: 4px;
    position: relative;
    top: -2px;
    float: right;
}
.user-care-right h5 {
    margin-bottom: 20px;
}
.user-care-right h4 img {
    width: 77px;
    display: initial;
    max-width: fit-content;
    margin-left: 4px;
    position: relative;
    top: -3px;
}
.user-care-right h5 span:first-child {} .recommended-frame {
    background: #18b079;
    color: #fff;
    padding: 10px 20px;
    display: flex;
}
.recommended-frame .helpful-un a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.over-all_section.over-all_section_CLAIM p {
    font-size: 16px;
}
.over-all_section.over-all_section_CLAIM p a {
    background: #18b079;
    color: #fff;
    padding: 7px 15px;
    margin-left: 5px;
    text-decoration: none;
}
.over-all_section.over-all_section_CLAIM {
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: HELVETICA;
}
.Answer_This_Question {
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: HELVETICA;
    background: #f3f3f4;
    padding: 20px;
}
/*new */
.phone a{
  color: #fff;
}
.location{
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}
.location h1, .location h3{
  color: #fff !important;
}
.pull-left p{
  text-align: left;
}
.no_bg {  
  background: none !important;
 }
.helvetica {
  font-family: 'HELVETICA'
}
#fortis_hospital_frame {
   font-family: HELVETICA-NORMAL;
    border-radius: 8px;
    background: linear-gradient(216.71deg, #21E4A8 0%, #20A8C5 100%);
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.1);
    padding: 0px;
}
#fortis_hospital_frame .fortis-heading_se h1 {
    color: #16AF79;
    margin-top: 0px;
    font-family: HELVETICA-BOLD;
    font-size: 26px;
    margin-bottom: 5px;
    .white a{
      font-size: smaller;
    }
}
.helvetica div#nav_menu a {
    background: #fff;
    border: none;
    color: #1A1A1A !important;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
}
.helvetica div#nav_menu a.active:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 20px;
    height: 4px;
    width: 52px;
    border-radius: 2px;
    background-color: #00B07A;
}
#fortis_hospital_frame .fortis-heading_se h2 {
    color: #16AF79;
    margin-top: 0px;
    font-family: HELVETICA-BOLD;
    font-size: 23px;
    margin-bottom: 5px;
}
#fortis_hospital_frame .fortis-heading_se h3 {
    color: #16AF79;
    margin-top: 0px;
    font-family: HELVETICA-BOLD;
    font-size: 21px;
    margin-bottom: 5px;
}
#fortis_hospital_frame .fortis-heading_se h4 {
    color: #fff;
    font-family: HELVETICA-BOLD;
    font-size: 18px;
    margin-top: 0px;
}
#fortis_hospital_frame .fortis-heading_se-star h5 {
    color: #fff;
    margin-top: 3px;
    margin-bottom: 3px;
}
#fortis_hospital_frame .fortis-heading_se-star .col-md-4 {
    padding-right: 0px;
}
#fortis_hospital_frame .fortis-heading_se-star .col-md-8 {} #fortis_hospital_frame .white_a_re a {
    background: #18b079;
    color: #fff;
    padding: 10px 5px;
    display: inline-block;
    margin-top: 4%;
    text-decoration: none;
    font-family: HELVETICA-BOLD;
    font-size: 13px;
    letter-spacing: 1px;
}
#fortis_hospital_frame .fortis_hospital_frame-right-frame p {
    color: #fff;
    text-align: right;
    line-height: 20px;
}

#fortis_hospital_frame .fortis_hospital_frame-middle-frame {
    background: transparent;
    font-family: HELVETICA;
}
.user-rating-main-left-frame-heading_type select{
    width: 100%;
}
.hospital-reviews-frame_middle-fixed .soft-buyreviews-frame select {
    background: image_url('img/left-down.png') white no-repeat 91.5% !important;
    width: 150px;
    font-family: HELVETICA-NORMAL;
}
.hospital-reviews-frame_middle-fixed .soft-buyreviews-frame span {
    font-family: HELVETICA-BOLD;
    margin-right: 5px;
}
.user-care_main_frame-readmore a {
    padding: 10px 5px 5px 10px;
    color: #18b079;
    display: inline-block;
    text-decoration: none;
}
.user-care_main_frame-showless a {
    padding: 10px 5px 5px 10px;
    color: #18b079;
    display: inline-block;
    text-decoration: none;
}
.user-care_main_frame-showless-2 {
    position: absolute;
    right: 0px;
    top: 0px;
}
.user-care_main_frame-showless {
    position: relative;
}
.user-care_main_frame-readmore {
    float: right;
}
.user-care_main_frame {
    margin-bottom: 8px;
    font-family: HELVETICA;
}
.user-care_main_frame-showless ul {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-line-pack: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.user-care_main_frame-showless .pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #18b079;
    border-color: #18b079;
}
.user-care_main_frame-hide {
    display: none;
}
/*review-2  page end */
/*about us page */

.about-us-page .about-us_main_heading h1 {
    color: #fff;
    text-align: center;
    font-family: HELVETICA-BOLD;
}
.about-us-page .review-banner {
    background: image_url('img/about-us-banner.jpg?v=1') no-repeat !important;
    background-size: cover !important;
}
#about-us-frame {
    margin-top: 3%;
    margin-bottom: 3%;
}
#about-us-frame .about-us-frame-cont {
    text-align: center;
}
#about-us-frame .about-us-frame-cont h2 {
    color: #18b079;
    text-align: center;
    border-bottom: 2px solid #18b079;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#about-us-frame .about-us-frame-cont p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
}
#about-vision-misson .about-vision-misson-heading {
    text-align: center;
}
#about-vision-misson .about-vision-misson-heading h2 {
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 24px;
}
#about-vision-misson {
    color: #fff;
    text-align: center;
}
.about-vision{
  background: #18b079;
}
.about-mission{
  background: #0885a2;
}
#about-vision-misson h4{
  font-weight: 900;
  margin-bottom: 21px;
}
#about-vision-misson .media-body {
    text-align: left;
    padding-left: 2%;
}
#about-vision-misson .media {
    margin-top: 2%;
    margin-bottom: 2%;
}
#about-vision-misson li {
    text-align: left;
}
#about-management-team-frame .about-management-team-frame-heading {
    text-align: center;
    margin-bottom: 4%;
}
#about-management-team-frame .about-management-team-frame-heading h2 {
    color: #18b079;
    text-align: center;
    border-bottom: 2px solid #18b079;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#about-management-team-frame .row {
    text-align: center;
}
#about-management-team-frame .row h4 {
    color: #0885A2;
}
#about-management-team-frame .row p {
    color: #6D6E70;
}
#about-management-team-frame .row img {
    border-radius: 100%;
    width: 50%;
    border: 1px solid #ccc;
}
.about-offer .row {
    width: 80%;
    margin: 0 auto;
}
#about-management-team-frame {
    margin-top: 3%;
    margin-bottom: 3%;
}
.about-offer .about-vision-misson-heading_image_frame {
    position: absolute;
    top: 55px;
    left: -12px;
    text-align: center;
    width: 100%;
}
.about-offer .about-rating-frame {} .about-offer .about-vision-misson-heading_image_frame p img {
    margin-left: 10px;
}
.about-offer .about-vision-misson-heading_image_frame h5 {
    margin-bottom: 5px;
}
.about-offer .row {
    margin-top: 4%;
    margin-bottom: 1%;
}
#journey-offer-about-us {
    border-bottom: 1px solid #ccc;
    margin-top: 3%;
    margin-bottom: 1%;
}
#journey-offer-about-us .journey-offer-about-us_inner {
    text-align: center;
}
#journey-offer-about-us .journey-offer-about-us_inner h2 {
    color: #18b079;
    text-align: center;
    border-bottom: 2px solid #18b079;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#journey-offer-about-us .journey-offer-about-us_inner img {
    margin: 0 auto;
    margin-top: 4%;
}
/*about us page end */
/*sign up page start */

.sign-up-banner img {
    width: 100%;
}
.sign-up-form-section .recently-review-top-heading h2 {
    color: #18b079;
    text-align: center;
    border-bottom: 2px solid #18b079;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 24px;
}
.sign-up-form-section {
    text-align: center;
    border-bottom: 1px solid #6d6e71;
    padding-bottom: 2%;
    padding-top: 2%;
}
.sign-up-form-section .container {
    width: 100%;
    margin: 0 auto;
}
.sign-up-form-section-from-input .sign-up-scocial-section p {
    font-family: HELVETICA-BOLD;
    font-size: 16px;
    margin-top: 15px;
}
.sign-up-form-section label {
    font-weight: normal;
    font-size: 16px;
}
.sign-up-form-section .form-control {
    border: 1px solid #6d6e71;
    border-radius: 0px;
    height: 45px;
}
.sign-up-form-section .form-group {
    margin: auto;
    max-width: 600px;
    margin-bottom: 20px;
}
.sign-up-form-section .sign-up-scocial-section {
    width: 100%;
    margin-bottom: 30px;
}

.sign-up-form-section .email-sign-up {
    margin-bottom: 30px;
}


.sign-up-form-section .btn-default {
    background: #18b079;
    color: #fff;
    padding: 8px 25px;
    border-radius: 0px;
    font-size: 16px;
    margin-bottom: 15px;
}
.sign-up-form-section .form-group p {
    font-family: HELVETICA-BOLD;
}
.sign-up-form-section .form-group p a {
    margin-left: 5px;
}
.sign-up-form-section-from-input .sign-up-scocial-section p img {
    margin-right: 5px;
}
/*sign up page end */
/* profile page */

.profile-page #fortis_hospital_frame .fortis_hospital_frame-right-frame p {
    text-align: left;
}
.STATS-frame .col-md-3 {
    width: 20%;
}
.STATS-frame .Total_Points {
    background: #18b079;
    color: #fff;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    line-height: 90px;
    font-size: 30px;
    margin: 0 auto;
}
.STATS-frame .Total_Points ~ h4 {
    color: #231F20 !important;
    margin-top: 15px;
}
.STATS-frame {
    border-bottom: 1px solid #757575;
    margin-bottom: 0% !important;
    padding-bottom: 3%;
}
.STATS-frame-reviews .row .user-care-left img {
    border-radius: initial !important;
    border: 0px solid #ccc !important;
    width: inherit !important;
}
.STATS-frame-reviews .user-care .user-care-left h5 {
    margin-bottom: 8%;
}
.STATS-frame-reviews .user-care .user-care-left p:nth-child(2) {
    margin: 0 0 0px;
}
.STATS-frame-reviews .user-care .user-care-left p:nth-child(3) {
    margin: 0 0 15px;
}
.STATS-frame-reviews .user-care-left {
    text-align: left;
}
.STATS-frame-reviews .user-care-middle {
    text-align: left;
}
.STATS-frame-reviews .user-care-middle p:nth-child(2) {
    margin-top: 25px;
}
.STATS-frame-reviews .row p {
    color: #231F20 !important;
}
.STATS-frame-reviews .user-care-right {
    text-align: left;
}
.STATS-frame-reviews .user-care-right h4 img {
    text-align: right;
    float: right;
    border: 0px !important;
    border-radius: initial !important;
    width: 40% !important;
}
.STATS-frame-reviews .user-care-right h4 {
    line-height: 32px
}
.STATS-frame-reviews .user-care-right h5 img {
    text-align: right;
    border: 0px !important;
    border-radius: initial !important;
    width: 32% !important;
}
.STATS-frame-reviews .about-management-team-frame-heading {
    margin-bottom: 2% !important;
}
.fortis_hospital_frame_profile .fortis_hospital_frame-middle-frame-2 a img {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    display: table;
}
.fortis_hospital_frame_profile .fortis_hospital_frame-middle-frame {
    padding: 30px !important;
}
/*profile page end */
/*hospital-details-2 start */

.Answer_This_Question {
    font-size: 16px;
    border-top: 1px solid rgba(204, 204, 204, 0.51);
}
.Answer_This_Question .col-md-5 p:nth-child(3) {
    margin-top: 23px;
}
.Answer_This_Question .col-md-5 p:nth-child(3) a {
    margin-right: 20px;
}
.Answer_This_Question .col-md-5 p a {
    text-decoration: none !important
}
/*hospital-details-2 end */
/*healthcareprovider stert */

.healthcareprovider-page .find-the-best-hosp_middle_frame h2 {
    color: #18b079;
    border-bottom: 2px solid #18b079;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 24px;
    font-family: HELVETICA-BOLD;
}
.healthcareprovider-page .find-the-best-hosp_middle_frame p {
    font-family: HELVETICA-BOLD;
    /* font-size: 14px; */

    color: #58595B;
    line-height: 26px;
}
.healthcareprovider-page .find-the-best-hosp_middle_frame p a {
    font-size: 16px;
    background: #18b079;
    color: #fff;
    padding: 7px 20px;
    display: inline-block;
}
.healthcareprovider-page .find-the-best-hosp_middle_frame p:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 15px;
}
.healthcareprovider-page .find-the-best-hosp_mail_frame {
    text-align: center;
    margin-top: 5%;
    display: inline-block;
    width: 100%;
    margin-bottom: 4%;
}
.healthcareprovider-page .find-the-best-hosp_middle_frame {
    margin-top: 14%;
}
.sign-up-form-section.contact-us-learn-more .form-control {
    height: 40px;
}
.sign-up-form-section.contact-us-learn-more textarea {
    display: block;
    width: 100%;
    border: 1px solid #6d6e71;
    height: 70px;
    resize: none;
}
.sign-up-form-section.contact-us-learn-more {
    width: 40%;
    margin: 0 auto;
    border-bottom: 0px;
    margin-top: 15%;
}

.healthcareprovider-page .find-the-best-hosp_middle_frame.find-the-best-hosp_middle_frame2 h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.healthcareprovider-page .find-the-best-hosp_middle_frame.find-the-best-hosp_middle_frame2 p {
    color: #fff;
}
.healthcareprovider-page .find-the-best-hosp_middle_frame {
    margin-top: 5%;
}
.find-the-best-hosp_right_frame img {
    border: 20px solid #fff;
}
.healthcare-user-left-section_healthcareprovider h3 {
    font-family: HELVETICA-BOLD;
}
.healthcare-user-left-section_healthcareprovider p {
    font-family: HELVETICA-BOLD;
}
.healthcare-user-left-section_healthcareprovider p a {} .healthcare-user-left-section.healthcare-user-left-section_healthcareprovider {
    margin-top: 8%;
}
.contact-us-leanmore-badge{background:#e6e7e8;padding-top:4%;padding-bottom:4%; text-align:center;}
.contact-us-leanmore-badge h3{color: #18b079;
    text-align: center;
    border-bottom: 2px solid #18b079;

    padding-bottom: 5px;
    font-size: 24px;font-family: HELVETICA-BOLD;margin-top: 0px;}
.contact-us-leanmore-badge p{color:#404041;line-height: 30px;font-family:HELVETICA-BOLD;}
.contact-us-leanmore-badge textarea{width:100%;padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;resize:none;    float: left;}
.contact-us-leanmore-badge img{ margin: 0 auto;}
.contact-us-leanmore-badge .contact-us-leanmore-badge-frame{    margin-bottom:30px;}
.contact-us-leanmore-badge .container{    width:700px;}
/*healthcareprovider end */

@media all and (min-width: 1200px) and (max-width: 1600px) {
    .sign-up-form-section.contact-us-learn-more {
        margin-top: 7%;
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    /*review page */

    .form-control_review-seacch_left {
        margin-right: 0px;
        border: 2px solid transparent;
    }
    .form-control_review-seacch_right p a {
        margin-top: 10px;
        margin-left: 10px;
    }
    #hospital-reviews-frame_middle .container .row .col-md-4 {
        width: 100%;
    }
    #hospital-reviews-frame_middle .container .row .col-md-8 {
        width: 100%;
    }
    .hospital-reviews-result h4 .color-heading {} .hospital-reviews-result h4 {
        text-align: center;
        display: block;
    }
    .hospital-reviews-result .soft-buyreviews-frame.pull-right {
        width: 100%;
        float: none!important;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-2 {
        width: 16.66666667%;
        float: left;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-5 {
        width: auto;
        float: right;
        padding-left: 10px;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-4 {
        width: 100%;
        margin-top: 5px;
    }
    .user-rating-box-frame.user-rating-box-frame_review .thomas_right_frame_i h4 {
        text-align: center;
    }
    .Previous-next-h-review-bottom-frame .col-md-10 {
        margin-bottom: 7%;
    }
    .Previous-next-h-review-bottom-frame .COMPARE-2 {
        bottom: -22px;
        right: 56%;
        position: absolute;
        margin-left: 5%;
    }
    #hospital-reviews-frame_middle {
        padding-bottom: 10%;
    }
    .Previous-next-h-review-bottom-frame .col-md-10 ul li a {
        font-size: 16px;
    }
    .review-bottom-frame .form-control_review {
        padding: 10px 20% !important;
    }
    #banner_frame {
        height: 300px;
    }
}
@media all and (min-width: 421px) and (max-width: 767px) {
    /*review page */

    .form-control_review-seacch_left {
        width: 100% !important;
        float: none;
    }
    .form-control_review-seacch_right {
        width: 100% !important;
        float: none;
    }
    .form-control_review-seacch_right p a {
        margin-top: 10px;
        margin-left: 10px;
    }
    #hospital-reviews-frame_middle .container .row .col-md-4 {
        width: 100%;
    }
    #hospital-reviews-frame_middle .container .row .col-md-8 {
        width: 100%;
    }
    .hospital-reviews-result h4 .color-heading {} .hospital-reviews-result h4 {
        text-align: center;
        display: block;
    }
    .hospital-reviews-result .soft-buyreviews-frame.pull-right {
        width: 100%;
        float: none!important;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-2 {
        width: 16.66666667%;
        float: left;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-5 {
        width: auto;
        float: right;
        padding-left: 10px;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-4 {
        width: 100%;
        margin-top: 5px;
    }
    .user-rating-box-frame.user-rating-box-frame_review .thomas_right_frame_i h4 {
        text-align: center;
    }
    .Previous-next-h-review-bottom-frame .col-md-10 {
        margin-bottom: 7%;
    }
    .Previous-next-h-review-bottom-frame .COMPARE-2 {
        bottom: -22px;
        right: 56%;
        position: absolute;
        margin-left: 5%;
    }
    #hospital-reviews-frame_middle {
        padding-bottom: 10%;
    }
    .Previous-next-h-review-bottom-frame .col-md-10 ul li a {
        font-size: 16px;
    }
	.contact-us-leanmore-badge .container {
    width: 100%;
}
}
.fortis_hospital_frame-right-frame a:hover{
  color: inherit;
}
@media all and (min-width: 220px) and (max-width: 420px) {
    /*review page */

    .form-control_review-seacch_left {
        width: 100% !important;
        float: none;
    }
    .form-control_review-seacch_right {
        width: 100% !important;
        float: none;
    }
    .form-control_review-seacch_right p a {
        margin-top: 10px;
        margin-left: 10px;
    }
    #hospital-reviews-frame_middle .container .row .col-md-4 {
        width: 100%;
    }
    #hospital-reviews-frame_middle .container .row .col-md-8 {
        width: 100%;
    }
    .hospital-reviews-result h4 .color-heading {} .hospital-reviews-result h4 {
        text-align: center;
        display: block;
    }
    .hospital-reviews-result .soft-buyreviews-frame.pull-right {
        width: 100%;
        float: none!important;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-2 {
        width: 16.66666667%;
        float: left;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-5 {
        width: 82.666667%;
        float: left;
        padding-left: 10px;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-4 {
        width: 100%;
        margin-top: 5px;
    }
    .user-rating-box-frame.user-rating-box-frame_review .thomas_right_frame_i h4 {
        text-align: center;
    }
    .Previous-next-h-review-bottom-frame .col-md-10 {
        margin-bottom: 7%;
    }
    .Previous-next-h-review-bottom-frame .COMPARE-2 {
        bottom: -22px;
        right: 56%;
        position: absolute;
        margin-left: 5%;
    }
    #hospital-reviews-frame_middle {
        padding-bottom: 10%;
    }
    .Previous-next-h-review-bottom-frame .col-md-10 ul li a {
        font-size: 16px;
    }
    /* hospital-details start */

    .fortis_hospital_frame-middle-frame .col-md-3 .fortis_hospital_frame-middle-frame-2 a img {
        margin: 0 auto;
        text-align: center;
        display: table;
        margin-bottom: 4%;
    }
    .fortis_hospital_frame-middle-frame {
        text-align: center;
    }
    .fortis_hospital_frame-right-frame p {
        text-align: center !important;
    }
    .fortis_hospital_frame-middle-frame .col-md-4.pull-right {
        float: none !important;
        margin-top: 4%;
    }
    .overview-left-frame {
        margin-bottom: 5%;
    }
    .scroll-to-fixed-fixed {
        margin-top: 0%;
        position: relative !important;
        width: 100% !important;
        left: 0px !important;
        top: 0px !important;
    }
    .user-care_main_frame-showless ul {
        display: table;
    }
    .recommended-frame {
        display: block;
    }
    .scroll-to-fixed-fixed ~ div {
        height: auto!important;
    }
    .service-review-detail h3 {
        text-align: center;
    }
    .hospital-reviews-result.hospital-user-reviews-result h3 {
        text-align: center;
    }
    .over-all_section.over-all_section_CLAIM p a {
        display: table;
        text-align: center;
        margin: 0 auto;
        margin-top: 7px;
    }
    /* hospital-details end */

    .sign-up-form-section .container {
        width: 100%;
    }
    .fortis_hospital_frame_profile .pull-right {
        float: none !important
    }
    .fortis_hospital_frame_profile .fortis_hospital_frame-right-frame {
        margin-top: 5%;
    }
    .STATS-frame .col-md-3 {
        width: 100%;
    }
    .healthcareprovider-page .find-the-best-hosp_middle_frame.find-the-best-hosp_middle_frame2 h3 {
        color: #333;
        border-bottom: 2px solid #333;
    }
    .healthcareprovider-page .find-the-best-hosp_middle_frame.find-the-best-hosp_middle_frame2 p {
        color: #333;
    }
    .sign-up-form-section.contact-us-learn-more {
        width: 90%;
        margin-top: 0px;
    }
	.contact-us-leanmore-badge img {
    float: none;
    margin: 0 auto;
}
.contact-us-leanmore-badge textarea {
width: 100%;    float: none;
    margin-top: 3%;    height: 100px;}
	.contact-us-leanmore-badge .container {
    width: 100%;
}
}
