@import "colors";
@import "settings";
.top-bar {
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
  .top-bar-title {
    padding: 0;
    margin-right: 15px;
    img {
      max-height: 90px;
      width: 70%;
    }
  }
  .mobile-button {
    text-align: right;
    top: 20px;
    position: relative;
  }
  .menu.login-links {
    float: left;
    display: inline-block;
    a {
         font-size: 14px;
    padding: 18px 15px;
    color: #000;
    }
  }

}

.menu-country-select{
  padding: 13px 0px;
}

.top-bar .dropdown.menu > li > a {
  padding: 18px 15px;
  font-size:14px;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.content-wrapper {
  padding: 2em 0;
}

footer {
  background: $footer_bk;
  padding: 2em 0;
  img.footer-logo {
    display: block;
    width: auto;
    height: 69px;
    float: left;
    margin-right: 25px;
    //background: rgb(255, 255, 255);
    //padding: 15px;
  }
  p, a {
    color: #fff;
    line-height: 1.3;
  }
}

.label.primary {
  color: $white;
}

.upcase {
  text-transform: uppercase;
}

.frame:hover {
  background: #d2f0e4;
}
.frame {
  margin-bottom: 10px;
  width: 100%;
  background: #f3f3f4;
  padding: 20px;
  vertical-align: middle;
}
.input_margin{
  margin-left: 1%;
}