@import 'font';
@import "colors";
@import "jquery.raty";
@import "flags";
@import 'font-awesome';
@import 'question';
@import 'answer';
@import "select2";
@import 'bootstrap.min';
@import 'inner';
@import 'scrollPress';
@import 'style';

html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.icon_claim{
  width: 27px;
  height: 20px;
}
.icon_close-nav{
  width: 28px;
  height: 18px;
}
.icon_depa{
  width: 25px;
  height: 21px;
}
.icon_dp{
  width: 23px;
  height: 23px;
}
.icon_social{
  width: 35px;
  height: 35px;
}
.icon_nav{
  width: 28px;
  height: 18px;
}
.icon_over{
  width: 18px;
  height: 18px; 
}
.icon_qa{
  width: 22px;
  height: 22px;
}
.icon_service{
  width: 23px;
  height: 27px;
}
.icon_user-r{
  width: 28px;
  height: 28px;
}
.icon_yt{
  width: 35px;
  height: 35px;
}
#promotion{
  .header{
    font-family: HELVETICA-BOLD;
    color: #18b079;
    border-bottom: 2px solid #18b079;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 35px;
  }
}
.flash-wrapper{
  font-size: 18px;
  text-align: center;
  margin: 0 20% 7px 20%;
  .callout{
    border: solid 1px #fff;
    padding: 8px;
  }
}
[data-cancel] {
  position: absolute;
  top: 0;
  right: 6px;
  font-size: 22px;
}
.circle_image {
  margin-right: 2em;
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 50%;
  text-align: center;
  padding-top: 27px;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    1px 5px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         1px 5px 5px 0px rgba(50, 50, 50, 0.3);
  background: $green;
  color: #fff;
  background-size: cover;
  background-position: center center;
}
.stars, [data-stars] {
  color: #f7931e;
  &.stars-inactive {
    color: #ccc;
    i {
      pointer-events: none;
      cursor: default;
    }
  }
}
.search-type-button {
    color: #fff;
    background: #57b17b;
    width: 250px;
    padding: 13px 5px;
    margin: 0px;
    vertical-align: middle;
    top: -3px;
    position: relative;
    font-size: 1.5em;
}

.question-button {
    color: #fff;
    background: #57b17b;
    padding: 13px 5px;
    margin: 0px;
    vertical-align: middle;
    top: -3px;
    font-size: 1.5em;
    letter-spacing: 1px;
    }


[data-stars] {
  font-size: 8px;
}

.over-all-rev-section [data-stars] {
  font-size: 12px;
}

.how-it-works-card {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 25px 25px 25px 25px;
  margin: 3% 3% 1% 4%;
  background: white;
  height: 200px;
}

.green-underlined-heading {
  color: #18b079;
  border-bottom: 2px solid #18b079;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 32px;
  font-family: HELVETICA-BOLD;
}

.blue-heading {
  color: #0e87a3;
  border-bottom: 2px solid #0e87a3;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 32px;
  font-family: HELVETICA-BOLD;
}

.blue-title {
  color: #0e87a3;
}

.user-rating-box-frame.user-rating-box-frame_review .total-rev_re_page h4 span[data-stars] {
  font-size: 8px;
  margin-left: 5px;
  float: right;
  margin-top: 5px;
}

.search_box.home{
  background: url(/assets/img/banner-top-c3164378b266a46e28112c165ed6efd3d8c9e426872f9139d4af67599067ff5d.jpg?v=2) no-repeat;
  color: #fff;
  background-size: cover;
  padding: 15px 15px 15px 15px;

  a, a:hover{
    color: #fff !important;
    text-decoration: none;
  }
} 
.search_box.featured_image{
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 768px){
  .search_box button {
   width: 100%;
   margin-top: 0;
  }
  .p-r-3 {
     padding-right: 3px;
  }
  .p-l-r-3 {
     padding-left: 3px;
     padding-right: 3px;
  }
  .p-l-3 {
     padding-left: 3px;
  }
}
.breadcrumb{
  padding: 8px 2px;
  margin-bottom: 0px;
  background-color: #fff;
}
.search_box{
  text-align: center;
  padding: 0px 1em 1.5em 1em;
  color: #365c4c;
  background: #d2f0e3;

  .select2-container--default .select2-selection--single{
    border: none;
  }
  .form-control_review{
    margin-bottom: 10px  
  }
  .search-type-row {
    display: flex;
  }
  h1{
    display: inline-block;
    font-size: 30px;
  }
  button {
    background: #18b079;
    border: 0px;
    padding: 0.5em 0em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
    color: #fff;
    margin-top: 0.2em;
    width: 100%
  }
  button:hover{
    background: #0e87a3;
  }
  .secondary{
    background: transparent;
    text-decoration: none;
  }
  a, a:hover{
    color: #365c4c !important;
    text-decoration: none;
  }
  .form-control_review {
    border: 0px;
    color: #000;
    width: 100%;
  }
  .seacch {
    padding: 10px 3em;
  }
  .search-type-row{
    color: #fff;
    margin: 0px 0px 0.5em 0px;
  }
  .search-type {
    padding: 10px 0px;
    background: #18b079;
    text-decoration: none !important;
    letter-spacing: 1px;
    font-size: 1.0em;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #18b079;
    opacity: 0.75;
   }
  .search-type:hover{
    background-color:#0e87a3;
  }
  .selected-search {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: #3daf86;
    opacity: inherit;
  }

}

#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame a {
  padding: 12px 20px;
}


#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .search-type {
    background: #18b079;
    color: #fff;
    padding: 12px 5px;
    float: left;
    display: block;
    margin-right: 0;
    text-decoration: none !important;
    letter-spacing: 1px;
    width: 25%;
    font-size: 1.0em;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #18b079;
    opacity: 0.75;
}

#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .selected-search {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background: #3daf86;
  opacity: 0.95;
}


.country-name {
  border: 1px solid #ccc;
  padding: 6px 7px;
  cursor: pointer;
  i {
    float: right;
    margin-top: 4px;
  }
}
 #banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame {
  .country-name {
    background: #fff;
    padding: 10px 7px;
    border: none;
    color: #757575;
    margin-bottom: 3%;
  }
  .countries {
    text-align: left;
    color: #757575;
    a[data-country] {
      background: none;
      color: #000;
      padding: 0;
      display: block;
    }
  }
}
.countries {
  display: none;
  position: absolute;
  z-index: 11;
  border: 1px solid #ccc;
  top: -50px;
  right: 0;
  background: #fff;
  padding: 20px;
  width: 300%;
  max-width:500px;
  @media screen and (max-width: 763px) {
    width: 100%;
    max-width:763px;
  }

  ul { list-style: none; }
  .most-searched a {
    margin-left: 8px;
  }
}
.countries-container {
  position: relative;
}

  .current-selected-active {
    background: rgba(0, 128, 155, 0.19);
    padding: 3px;
  }


.menu-country-select {
	float: right;
	display: inline-block;
	margin-left: 15px;
  margin-top: 15px;
  @media screen and (max-width: 720px) {
    margin-top: 0;
  }
  .country-name {
    border: none;
    padding: 0;
    display: inline-block;
    float: right;
    i {
      margin-left: 3px;
    }
  }
  .countries {
    top: 0;
    width: 750px;
  }
}

.columns.medium-4 {
  width: 33%;
  float: left;
}
#map {
  width: 100%;
  height: 200px;
}


.user-care-right h4 span, .user-care-right h5 span {
  float: right;
}

h3.doctor-review-summary {
  margin-bottom: 1em !important;
  margin-top: 0.5em;
  margin-left: 1em;
  padding-left: 0;
}





  .form-control_review-seacch_left {
   float: left;
   padding-left:0px;
   padding-right:0px;
  }

  .form-control_review-seacch_right {
    float: right;
    padding-left:0px;
    padding-right:0px;
  }


select#search_doctor_speciality {
  color: black;
  width: 97%;
  height: 40px;
}

.review-bottom-frame.doctor {
  .form-control_review-seacch_left {
   float: left;
   padding-left:0px;
   padding-right:0px;
  }
  .form-control_review-seacch_right {
    float: right;
    padding-left:0px;
    padding-right:0px;
  }
}

h4.g-color a {
  color: #18b079;
}

.review-banner {
  &.health-insurance {
    background: image_url('img/review-banner-hi.jpg') no-repeat !important;
    background-size: cover !important;
  }
  &.travel-health-insurance {
    background: image_url('img/review-banner-thi.jpg') no-repeat !important;
    background-size: cover !important;
  }
  &.provider {
    background: image_url('img/review-banner-provider.jpg') no-repeat !important;
    background-size: cover !important;
  }
  &.blog {
    background: image_url("blog-hero.jpg") no-repeat center center !important;
    background-size: cover !important;
  }
  &.faq{
    background: image_url("img/forum-banner.jpg") no-repeat center center !important;
    background-size: cover !important;
  }
}

a.button {
  background: #18b079;
  color: #fff;
  padding: 10px 0px;
  display: block;
  text-align: center;
  &.compare-button {
    width: 209px;
    float: right;
    margin-top: 5px;
    margin-right: 3px;
  }
  span {
    border: 1px solid #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: -webkit-inline-box;
    text-align: center;
    padding-left: 6px;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: -webkit-inline-box;
    text-align: center;
    padding-left: 6px;
    background: #fff;
    color: #18b079;
    margin-left: 3px;
  }
}

@media all and (min-width: 220px) and (max-width: 420px) {
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-2 {
        width: 33.33333%;
        float: left;
    }
    #hospital-reviews-frame_middle .user-rating-box-frame .revie-hosp-frame .col-md-5 {
        width: 66.666667%;
        float: left;
        padding-left: 10px;
    }



}
@media all and (min-width: 220px) and (max-width: 1100px) {
  .menu-country-select .countries {
    width: 100%;
    position: relative;
  }
    #banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .search-type {
    background: #18b079;
    color: #fff;
    padding: 12px 5px;
    margin-right: 0;
    text-decoration: none !important;
    letter-spacing: 0px;
    float: left;
    width: 25%;
    font-size: 0.9em;
    text-align: -webkit-center;
    vertical-align: middle;
    height: 50px;
    font-weight: bold;
}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame .review-bottom-frame{
  height: 100px;
  display: table;
}
}
.search-type > li {
display: inline-block;
    width: 24.5%;
    font-size: 1em;
}
.nav>li.login>a:before {
  content: '';
  border-left: 1px solid #eee;
  position: absolute;
  left: 0;
  height: 25px;
}

.nav li.login, .nav li.login-link  {
  a {
    padding-left: 8px;
    padding-right: 5px;
  }
}

header{
  background:#0e87a3;
  @media screen and (min-width: 763px) {
    background:#fff;
    .navbar-default .navbar-nav>li>a {
      padding-left: 10px;
      padding-right: 10px;
      color: #0e87a3;
      &:hover {
        color: #0e87a3;
      }
    }
  }
  .container {
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
  img.header-logo {
    width: 190px;
    padding-top: 8px;
    padding-bottom: 8px;
    @media screen and (max-width: 763px) {
      display: none;
    }
  }
  ul.navbar-nav {
    margin-top: 10px;
  }
}

.label a { color: #fff }

header .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#0e87a3;background-color:transparent;}

.recently-review a:hover{ color: #337ab7}
.press-article {
  padding: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;

  h2 {
    font-size: 20px;
  }

  .source {
    font-style: italic;
  }
}

.back-to-search-button {
  position: relative;
  top: 12px;
}

b, strong {
  font-family: Helvetica-Bold;
}

ul, ol {
  margin-left: 25px;
  overflow-wrap: break-word;
}
.share-wrapper{
  float: right;
  margin-top: 1%;
}
.favorite-link{
  //
}
.country-code-select {
  height: 3.2em;
  margin: 0 0 1rem;
  padding: 0.5rem;
  appearance: none;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-family: inherit;
  font-size: 1.1em;
  /* line-height: 2em; */
  color: #0a0a0a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  background-color: white;
  width: 100%;
  }
  .custom-select-box{
    height: 40px;
    border: 0px;
    width: 97%;
    color: black;
    border-radius: 55px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 10px;
    @media screen and (max-width: 767px) {
      background-color: white;
      width: 100%;
      padding: 1px 0px 1px 14px;
      box-sizing: content-box;
      margin-bottom: 3%;
      text-align-last:center;
    }
  }
.blog-home-page{
  height: 200px;
  img{
    object-fit: cover;
    height: 100px;
    width: 250px;
  }
}

.member-image{
  width: 100px;
  height: 100px;
}

.blog-avatar{
  text-align: left !important;
  
  img{
    margin-right: 7px;
    float: left;
    height: 15px;
    border-radius: 50%;
    width: auto !important;

  }
}

.show_more{
  margin: 1em 0em 0em 1em;
}
.description{
  text-align: justify;
}