@import "colors";
@import "settings";
.h-image {
  background: $blue image_url("h.png") no-repeat center center;
  background-size: 40%;
  text-align: center;
  height: 300px;
  &.hospital-image {
    background-size: cover;
  }
  .image-padding {
    padding: 50px;
    img {
      max-height: 200px;
    }
  }
}

#map {
  width: 100%;
  height: 300px;
}


.cta-buttons {
  clear: both;
  padding-top: 20px;
}


.locations-show {
  h1 {
    margin: 0;
  }
  h2 a{
    color: $green;
    font-size: 0.7em;
    text-transform: capitalize;
  }
  .address {
    font-size: .8em;
    color: lighten($body-font-color, 20%);
    address {
      font-style: normal;
    }
  }
  .review-summary {
    margin-top: 3em;
    h3 img {
      margin-right: 1em;
    }
    .write-review {
      text-transform: uppercase;
      top: 4px;
      position: relative;
    }
  }
}

.ratings-overview {
  padding: 3em;
  background: $green;
  h2 {
    color: #fff;
    font-size: 1em;
  }
  h4 {
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
  }
  .review-circle {
    position: relative;
  }
}

.reviews {
  margin-top: 3em;
}

.department-ratings {
  margin-top: 2em;
  padding: 3em;
  background: $blue;
  h2 {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 10px;
  }
  h2, p {
    color: #fff;
  }
}

#place-photos {
  img {
    display: block;
    float: left;
    max-height: 150px;
    margin-right: 5px;
    cursor: pointer;
  }
}
