@import "colors";
.intro {
  padding: 4em 0;
}
.how {
  padding: 5em 0;
  text-align: center;
  h2 {
    color: $green;
    text-align:center;
  }
  p {
    font-size: 25px;
  }
}
.why {
  background: $green;
  padding: 5em 0;
  text-align: center;
  p {
    color: #fff;
    font-size: 25px;
  }
  h2 {
    font-style: italic;
    color: #fff;
    margin-bottom: 1em;
  }
}
.request {
  background: $blue;
  padding: 5em 0;
  text-align: center;
  p {
    color: #fff;
    font-size: 25px;
  }
  a.button {
    border-color: #fff;
    color: #fff;
  }
  h2 {
    font-style: italic;
    color: #fff;
    margin-bottom: 1em;
  }
}
.button.users-btn-active{
  opacity: .7;
  cursor: default;
}
