@import "foundation";
@import "colors";
@include foundation-grid;
.rating {
  .radio {
    display: inline-block;
    margin-right: 15px;
  }
  .reasons div.radio {
    display: block;
    margin-right: 0;
    @extend .columns;
    @extend .medium-4;
  }
}

.review {
  padding: 10px;
  border: 1px solid $green;
  //background: #eeeeee;
  margin-bottom: 1em;
}

.stars, [data-stars] {
  color: $stars;
  //color: rgb(240,167,0);
  &.stars-inactive {
    color: #ccc;
    i {
      pointer-events: none;
      cursor: default;
    }
  }
}

h2 [data-stars] {
  font-size: 0.3em;
  margin-right: 10px;
}

.stars span.na {
  vertical-align: middle;
  top: -8px;
  position: relative;
  margin-left: 7px;
  background: rgb(255, 255, 255);
  color: rgb(204, 204, 204);
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  &.na-active {
    background: #ccc;
    color: #fff;
  }
}

[data-stars] {
  font-size: .6em;
}

.ind-rating-stars {
  @include grid-row;
  .title {
    @include grid-column(8);
  }
  .stars-container {
    @include grid-column(4);
  }
  &.overall {
    font-weight: bold;
    text-transform: uppercase;
    span[data-stars] {
      //color: lighten($stars, 10%);
      color: rgb(240,167,0);
      color: rgb(207, 193, 38);
    }
  }
}
.date-visited {
  margin-top: 1em;
  @include grid-row;
  @include grid-column;
}

.user-totals span.badge {
  font-size: 0.9em;
  margin-left: 5px;
}

.where {
  display: none;
}
