@import 'settings';
@import 'foundation';
@include foundation-grid;
.search {
  .filter {
    h3 {
      font-size: 1em;
      font-weight: bold;
    }
    h4 {
      font-size: 1em;
    }
  }
  .search-within {
    display: none;
  }
  a.advanced-search {
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -18px;
  }
  .advanced-search-form {
    display: none;
  }
  .search-start {
    font-size: 1.2em;
    font-style: italic;
  }

  .countries {
    display: none;
  }
}

.sort {
  label {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    color: rgb(73,73,73);
  }
  select {
    width: auto;
    padding: 0;
    margin: 0;
    height: 1.6rem;
  }
}

.search-results .result {
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgb(254, 254, 254);
  padding-top: 1.5em;

  img.circle {
    width: 100px;
    height: 100px;
    margin-right: 2em;
    border-radius: 50%;
    -webkit-box-shadow: 1px 5px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    1px 5px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         1px 5px 5px 0px rgba(50, 50, 50, 0.3);
    color: #fff;
    float: left;
    &.no-pic {
      background: $green;
      padding: 6px;
    }
  }
}

.search-header {
  height: 0;
  padding-top: 14.2777778%;
  background-size: cover;
  position: relative;
  min-height: 220px;
  h1 {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
  }
  &.hospitals {
    background: image_url("search-header.jpg") no-repeat center center;
  }
  &.health-ins {
    background: image_url("search-ins.jpg") no-repeat center center;
    h1 {
      color: #fff;
    }
  }
  &.travel-ins {
    background: image_url("search-travel.jpg") no-repeat center center;
    h1 {
      color: #fff;
    }
  }
}


body.search-body {
  background: rgb(242, 242, 242);
}
.search {
  position: relative;
  padding: 2em 0;
  .row.collapse > .columns {
    padding-right: 5px;
  }
  form[data-search-form] {
    button[type='submit'] {
      color: rgb(255, 255, 255);
      background: rgb(87, 177, 123);
      padding: 13px 30px;
      vertical-align: middle;
      margin-top: 5px;
      width: 100%;
       @include breakpoint(medium) {
         margin: 0;
         width: auto;
         margin-left: 5px;
         top: -7px;
       }
      position: relative;
      font-size: 1.6em;
    }
  }
  .filter {
    background: rgba(255,255,255,.8);
    padding: 1em;
  }
}

.filters a {
  margin-right: 1em;
}
