body{font-family:HELVETICA;}
a:focus{outline:0px auto -webkit-focus-ring-color !important;outline-offset:0px !important;}
header{background:#0e87a3;}
header .navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color:transparent;}
header .navbar-default{background-color:transparent;border-color:transparent;min-height:inherit;margin-bottom:0px;}
header .navbar-default .navbar-nav>li>a{color:#fff;}
header .navbar-default .navbar-nav>li>a:hover{color:#fff;}
header .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#fff;background-color:transparent;}
header .navbar-default .navbar-nav>li>a img{margin-right:5px;}
.nav_menu_logo{position:relative;width:100%;height:95px;line-height:95px;}
.nav_munu_main_section{width:100%;height:auto;background:#18b079;position:absolute;left:0px;z-index:9999;display:none; overflow: auto;}
.nav_munu_main_section_inner ul{list-style-type:none;margin-top:3%;margin-left:1%;}
.nav_menu_logo_close{background:#fff;}
.nav_munu_main_section_inner ul li{margin-bottom:1.5%;}
.nav_munu_main_section_inner ul li a{color:#fff;font-size:21px;}
.nav_munu_main_section_inner ul li a.active{font-family:HELVETICA-BLACK;}
.nav_munu_main_section_inner ul li a:hover{text-decoration:none;font-family:HELVETICA-BLACK;color:#fff;}
#banner_frame{width:100%;position:relative;background:image_url("img/banner-top.jpg?v=2")no-repeat;height:300px;background-size:cover;}
#banner_frame .banner-review-frame{width:100%;padding:0;display:table;height:100%;position:absolute;top:0;left:0;margin:0;}
#banner_frame .banner-review-frame .banner-review-frame_middle{padding:0;vertical-align:middle;display:table-cell;margin:0;}
#banner_frame .container_banner_frame{}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli{width:100%;background-color:rgba(0, 0, 0, 0.37);margin:0 auto;text-align:center;padding:10px;text-align:center;color:#fff;padding:30px; padding-bottom: 0px;position: absolute;bottom: 0;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h2 {margin-top:0px;margin-bottom:0px;border-bottom:0px solid #18b079;display:block;padding-bottom:0px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h1 {margin-top:0px;margin-bottom:8px;border-bottom:2px solid #18b079;display:inline-block;padding-bottom:5px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame{margin-top:3%;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame a{background:#18b079;color:#fff;padding:12px 32px;display:-webkit-inline-box;margin-right:2%;text-decoration:none !important;letter-spacing:1px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame a:hover{background:#0e87a3;color:#fff;}
#healthcare-user{padding-top:3%;padding-bottom:3%;background:#18b079;color:#fff;position:relative;}
#healthcare-user .healthcare-user-left-section h3{font-size:22px;margin-bottom:2px;}
#healthcare-user .healthcare-user-left-section a{background:#fff;margin-right:3%;padding:12px 32px;color:#0e87a3;font-size:14px;display:-webkit-inline-box;margin-top:2%;letter-spacing:1px;}
.row.row-start-rev-frame{margin-top:5%;margin-bottom:2%;}
.last-reviewed-frame a{color:#0e87a3;}
.last-reviewed-frame a:hover{text-decoration:none;color:#0e87a3;}
#healthcare-user .healthcare-user-left-section a:hover{text-decoration:none;background:#0e87a3;color:#fff;}
.healthcare-user-left-section:last-child{margin-top:5%;}
.recently-review .recently-review-top-heading h2{    color: #000;
    text-align: left;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;}
.recently-review .recently-review-top-heading{text-align:center;}
#healthcare-user .healthcare-user-left-section_home h3{font-size:30px;line-height:40px;letter-spacing:2px;}
.revie-hosp-frame{width:100%;background:#fff;min-height:160px;vertical-align:middle; line-height: 2em;}
.auto_height {min-height: auto;}
.revie-hosp-frame h4{margin-top:0px;margin-bottom:0px;}
.clear{clear:both;}
.recently-review .col-md-7-right-star.pull-right p{margin:0 0 2px;}
.healthcare-user-left-section_home_iner{margin-top:6%;}
.healthcare-user-right-section .img-responsive{width:420px;}
.recently-review .col-md-7-right-star.pull-right p:last-child{text-align:right;}
.recently-review .col-md-7-right-star.pull-right p img{width:auto;display:initial;margin-left:5px;}
.recently-review .container{position:relative;}
.revie-hosp-frame-from{}
.revie-hosp-frame-from h4{text-align:center;color:#0e87a3;font-size:16px;font-weight:normal;}
.footer-bottom{background:#818285;}
.footer-bottom p{margin:0 0 0px;line-height:50px;color:#fff;font-size:13px;}
.footer-top{background:#0e87a3;padding-top:2%;padding-bottom:2%;}
footer .col-md-3.col-md-3_footer_left ul{margin-left:35%;margin-top:7%;padding-left:0px;}
footer .col-md-3.col-md-3_footer_left ul li{list-style-type:none;color:#fff;margin-bottom:2%;}
.footer-top .col-md-2 { padding-right: 0px; padding-left: 0px}
.footer-menu-list #healthsoul_map{ height: 120px; }
.footer-menu-list{margin-top:4%; line-height: 1.8em;}
.footer-menu-list a, .footer-menu-list a:hover{color:#fff;}
.footer-menu-list ul{margin-top:4%;}
.footer-menu-list{color:#fff;}
.footer-menu-list ul li{list-style-type:none;margin-bottom:2%;margin-bottom:5%;}
.footer-menu-list li a{color:#fff;}
.footer-menu-list li a:hover{color:#fff;}
.footer-menu-list h4{font-size:14px;}
footer .follow-us a img{margin-right:5px}
.footer-menu-list form{margin-top:7%;}
footer .follow-us a{text-decoration:none !important;color:#fff;}
footer .footer-menu-list button{margin-top:10px;border:0px;background:#fff;padding:5px 20px;color:#0e87a3;}
footer .footer-menu-list button:hover{color:#fff;background:#18b079;}
footer p{color:#fff;}
footer .form-control{background:#fff;border:0px;border-radius:0px;}
.fa-angle-up:before{}
.scroll-btn{right:30px !important;}
.scroll-btn i{background:image_url('img/top.png') no-repeat;width:21px;height:31px;transform:translate(-45%,-35%) !important;}
.click-bubble-container{background-color:#18b079 !important;border-radius:0% !important;}
.scroll-btn i{font-size:20px !important;}
@media all and (min-width:768px) and (max-width:1199px){.recently-review{overflow:hidden;}
.flex-direction-nav .flex-prev{left:0% !important;}
.flex-direction-nav .flex-next{right:-3% !important;}
}
@media all and (min-width:768px) and (max-width:991px){#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli{width:90%;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h2{font-size:18px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h1{font-size:18px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame a{padding:10px 20px;margin-bottom:0%;margin-bottom:0%;}
footer .col-md-3.col-md-3_footer_left ul{margin:0 auto;text-align:center;}
.footer-logo{width: 230px;height: 69px;text-align:center;margin:0 auto;display:table;margin-bottom:3%;}
.footer-menu-list ul{padding-left:0%;margin:0 auto;text-align:center;}
.footer-menu-list{text-align:center;}
.footer-bottom p{line-height:24px;}
.footer-bottom p.pull-right{float:none !important;}
.footer-bottom{text-align:center;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fffbfb;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#0e87a3;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli{width:100% !important;}
.review-bottom-frame .form-control_review{width:100% !important;margin-bottom:3%;padding:10px 12% !important;}
.user-rating-main-left-frame{border-right:0px solid rgba(204, 204, 204, 0.6) !important;text-align:center;}
.user-rating-box-frame .revie-hosp-frame .row .col-md-6 .revie-hosp-frame .row .col-md-3{}
.nav_menu_logo .col-md-4{width:33.33333333%;float:left;}
.nav_menu_logo .col-md-8{}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff;}
#healthcare-user{text-align:center;}
footer .follow-us a{margin-bottom:2%;display:inline-block;}
#healthcare-user .healthcare-user-right-section img{margin:0 auto;}
}
@media all and (min-width:421px) and (max-width:767px){#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli{width:90%;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h2 {font-size:18px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h1 {font-size:18px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame a{padding:10px 20px;margin-bottom:1%;margin-bottom:0%;}
footer .col-md-3.col-md-3_footer_left ul{margin:0 auto;text-align:center;}
.footer-logo{text-align:center;margin:0 auto;display:table;margin-bottom:3%;}
.footer-menu-list ul{padding-left:0%;margin:0 auto;text-align:center;}
.footer-menu-list{text-align:center;}
.footer-bottom p{line-height:24px;}
.footer-bottom p.pull-right{float:none !important;}
.footer-bottom{text-align:center;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fffbfb;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#0e87a3;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli{width:100% !important;}
.review-bottom-frame .form-control_review{width:100% !important;margin-bottom:3%;padding:10px 12% !important;}
.user-rating-box-frame .revie-hosp-frame .row .col-md-6 .revie-hosp-frame .row .col-md-3{}
.nav_menu_logo .col-md-4{width:33.33333333%;float:left;}
.nav_menu_logo .col-md-8{}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff;}
#healthcare-user{text-align:center;}
footer .follow-us a{margin-bottom:2%;display:inline-block;}
#healthcare-user .healthcare-user-right-section img{margin:0 auto;}
header .nav>li{float:left;}
header .nav>li:nth-child(1){display:none;}
header .nav>li:nth-child(2){display:none;}
header .nav>li:nth-child(3){display:none;}
header .nav>li:nth-child(4){display:none;}
header .nav{display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-line-pack: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;}
header .navbar-nav .open .dropdown-menu{position:absolute;background:#0e87a3;}
}
@media all and (min-width:220px) and (max-width:420px){#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli{width:90%;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h2{font-size:18px;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .banner-review-frame_heading h1{font-size:18px;}

#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli .review-bottom-frame a{padding:10px 20px;margin-bottom:1%;margin-bottom:0%;}
footer .col-md-3.col-md-3_footer_left ul{margin:0 auto;text-align:center;}
.footer-logo{text-align:center;margin:0 auto;display:table;margin-bottom:3%;}
.footer-menu-list ul{padding-left:0%;margin:0 auto;text-align:center;}
.footer-menu-list{text-align:center;}
.footer-bottom p{line-height:24px;}
.footer-bottom p.pull-right{float:none !important;}
.footer-bottom{text-align:center;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fffbfb;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#0e87a3;}
#banner_frame .banner-review-frame .banner-review-frame_middle .banner-review-frame_middle_alli{width:100% !important;}
.review-bottom-frame .form-control_review{width:100% !important;margin-bottom:3%;padding:10px 12% !important;}
.user-rating-main-left-frame{border-right:0px solid rgba(204, 204, 204, 0.6) !important;text-align:center;}
.user-rating-box-frame .revie-hosp-frame .row .col-md-6 .revie-hosp-frame .row .col-md-3{}
.nav_menu_logo .col-md-4{width:33.33333333%;float:left;}
.nav_menu_logo .col-md-8{}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff;}
#healthcare-user{text-align:center;}
footer .follow-us a{margin-bottom:2%;display:inline-block;}
.recently-review .recently-review-top-heading h2{font-size:18px;}
.nav_munu_main_section{border-bottom:1px solid #fff;}
.flexslider .revie-hosp-frame .col-md-3{width:25%;float:left;}
.flexslider .revie-hosp-frame .col-md-7{width:58.33333333%;float:left;}
.flexslider .revie-hosp-frame .col-md-2{width:16.66666667%;float:left;}
.recently-review .row.row-start-rev-frame .col-md-3-star{width:100%;text-align:center;}
.recently-review .row.row-start-rev-frame .col-md-7-right-star.pull-right{width:100%;text-align:center;}
.recently-review .col-md-7-right-star.pull-right p:last-child{text-align:center;}
.recently-review .last-reviewed-frame{text-align:center;}
header .nav>li{float:left;}
header .nav>li:nth-child(1){display:none;}
header .nav>li:nth-child(2){display:none;}
header .nav>li:nth-child(3){display:none;}
header .nav>li:nth-child(4){display:none;}
header .nav{display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-line-pack: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;}
header .navbar-nav .open .dropdown-menu{position:absolute;background:#0e87a3;}
}

@media screen and (max-width:520px){
    .nav_munu_main_section_inner ul{
      margin-top: 0;
      margin-left: 0;
    }
    .nav_munu_main_section_inner ul li {
      margin-bottom: 0;
      padding: 0 20px;
    }
    .nav_munu_main_section_inner ul li:hover, 
    .nav_munu_main_section_inner ul li:focus, 
    .nav_munu_main_section_inner ul li:active, 
    .nav_munu_main_section_inner ul li:visited {
      background: #0d87a3;
      font-family: HELVETICA;
    }
    .nav_munu_main_section_inner ul li a:hover, 
    .nav_munu_main_section_inner ul li a:focus, 
    .nav_munu_main_section_inner ul li a:active, 
    .nav_munu_main_section_inner ul li a:visited {
      background: #0d87a3;
      font-family: HELVETICA;
    }
    .nav_munu_main_section_inner .active {
      background: #0d87a3;
    }
    .nav_munu_main_section_inner ul li a{
      color: #fff;
      font-size: 18px;
      padding-top: 7px;
      padding-bottom: 7px;
      display: block;
      cursor: pointer;
      font-family: HELVETICA !important;
    }
    .follow-us{
      padding-left: 15px;
      padding-right: 15px;
    }
    .subscribe_form{
      margin-bottom: 15px;
    }
    
  }
