@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Bold.woff2') format('woff2'), url('fonts/Barlow-Bold.woff') format('woff'), url('fonts/Barlow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Thin.woff2') format('woff2'), url('fonts/Barlow-Thin.woff') format('woff'), url('fonts/Barlow-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-SemiBold.woff2') format('woff2'), url('fonts/Barlow-SemiBold.woff') format('woff'), url('fonts/Barlow-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-ExtraLight.woff2') format('woff2'), url('fonts/Barlow-ExtraLight.woff') format('woff'), url('fonts/Barlow-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Medium.woff2') format('woff2'), url('fonts/Barlow-Medium.woff') format('woff'), url('fonts/Barlow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Regular.woff2') format('woff2'), url('fonts/Barlow-Regular.woff') format('woff'), url('fonts/Barlow-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Black.woff2') format('woff2'), url('fonts/Barlow-Black.woff') format('woff'), url('fonts/Barlow-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-Light.woff2') format('woff2'), url('fonts/Barlow-Light.woff') format('woff'), url('fonts/Barlow-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow';
	src: url('fonts/Barlow-ExtraBold.woff2') format('woff2'), url('fonts/Barlow-ExtraBold.woff') format('woff'), url('fonts/Barlow-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	font-family: 'Barlow';
	font-weight: 400;
	color: #1A1A1A;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

section,
.container,
.container-fluid {
	position: relative;
	word-wrap: break-word;
}

button:focus {
	outline: none;
}

p,
li,
blockquote {
	color: #15181b;
	letter-spacing: 0.5px;
	line-height: 1.7;
}

ul,
ol,
pre,
blockquote {
	margin-bottom: 0;
	margin-top: 0;
}

.col-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

/* Start header css */
.cid-qPydcGGZlE .navbar-dropdown {
	padding: 0.5rem 1rem;
	position: fixed;
}

.cid-qPydcGGZlE .navbar {
	z-index: 100;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 77px;
	transition: all 0.3s;
	background: #fff;
}

.cid-qPydcGGZlE .container {
	display: flex;
}

.cid-qPydcGGZlE .navbar-brand {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	margin-right: 0;
	padding: 0;
	transition: all 0.3s;
	word-break: break-word;
	z-index: 1;
}

.cid-qPydcGGZlE .navbar .navbar-collapse {
	display: flex;
	justify-content: flex-end;
	z-index: 1;
	flex-basis: 100%;
	align-items: center;
}

.cid-qPydcGGZlE amp-img {
	width: 150px;
	display: flex;
	align-items: center;
}

.cid-qPydcGGZlE ul.navbar-nav {
	flex-wrap: wrap;
}
.cid-qPydcGGZlE .navbar-expand-lg .navbar-nav .nav-link {
	color: #1A1A1A;
	font-size: 16px;
	padding: 1px 10px;
	line-height: 24px;
}

a.nav-link.link.login-menu {
	border-left: 1px solid #D8D8D8;
	margin-left: 10px;
	padding-left: 20px;
}

.cid-qPydcGGZlE .navbar-nav .nav-link {
	font-weight: normal;
}

.cid-qPydcGGZlE a.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cid-qPydcGGZlE .navbar-nav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding-left: 0;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger.sticky-but {
	position: fixed;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger {
	position: absolute;
	top: 35px;
	right: 20px;
	margin-left: auto;
	width: 30px;
	height: 20px;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 1000;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(1) {
	top: 0;
	transition: all 0.2s;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span {
	position: absolute;
	right: 0;
	width: 30px;
	height: 2px;
	border-right: 5px;
	background-color: #000;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(2) {
	top: 8px;
	transition: all 0.15s;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(3) {
	top: 8px;
	transition: all 0.15s;
}

.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(4) {
	top: 16px;
	transition: all 0.2s;
}

.cid-qPydcGGZlE .builder-sidebar {
	background-color: #000000;
	position: relative;
	height: 100vh;
	z-index: 1030;
	padding: 1rem 2rem;
	max-width: 20rem;
}

.cid-qPydcGGZlE .close-sidebar {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin-bottom: 20px;
}

.cid-qPydcGGZlE .close-sidebar span:nth-child(1) {
	transform: rotate(45deg);
}

.cid-qPydcGGZlE .close-sidebar span {
	position: absolute;
	left: 0;
	width: 30px;
	height: 2px;
	border-right: 5px;
	background-color: #ffffff;
}

.cid-qPydcGGZlE .close-sidebar span:nth-child(2) {
	transform: rotate(-45deg);
}

.cid-qPydcGGZlE .nav-item.dropdown {
	position: relative;
}

.cid-qPydcGGZlE .open {
	transform: translateX(0%);
	display: block;
}

.cid-qPydcGGZlE .navbar .dropdown.open>.dropdown-menu {
	display: block;
}

.cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
	background-color: #fff;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 8px 0px;
}

.cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu a.dropdown-item {
	display: block;
	padding: 0px 20px;
}

.cid-qPydcGGZlE .nav-item.dropdown .dropdown-menu {
	z-index: -1;
	opacity: 0;
	pointer-events: none;
}

.cid-qPydcGGZlE .nav-dropdown .dropdown-menu {
	border-radius: 0;
	border: 0;
	left: 0;
	margin: 0;
	min-width: 10rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	position: absolute;
}

.language-translater amp-img {
	width: 24px;
	height: 16px;
	margin-top: 7px;
}

.cid-qPydcGGZlE .nav-item.dropdown:hover>.dropdown-menu {
	z-index: 1;
	opacity: 1;
	pointer-events: all;
}
.logo-header {
	width: 150px;
	align-items: center;
	height: 50px;
}

header {
	padding: 20px 0px;
}

.sidenav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.sidenav ul li {
	display: inline;
}

.sidenav ul li a {
	color: #1A1A1A;
	font-size: 16px;
	padding: 10px;
	display: inline-block;
}

.login_btn {
	border-left: 1px solid #D8D8D8;
	margin-left: 20px;
	padding-left: 20px;
}

/* End header css */

/* Start How It Work CSS */

#howitwork_banner {
    padding-top: 12rem;
    padding-bottom: 8rem;
    background: linear-gradient(216.71deg, #21E4A8 0%, #20A8C5 100%);
}
.howitwork_banner_text h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}
.howitwork_banner_text p {
    color: #fff;
    font-size: 18px;
    margin-top: 0px;
    font-weight: 300;
}
.howitwork_banner_btn a {
    border-radius: 8px;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 25px;
    font-size: 18px;
    display: inline-block;
    margin-right: 15px;
}
a.white_btn {
    color: #00B07A;
    background: #fff;
}
.write-review-box {
    border-radius: 8px;
    background-color: #1A1A1A;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.05);
    color: #fff;
    padding: 30px;
}
#write-review {
    padding: 40px 0px;
}
.write-review-box h2 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.write-review-box p {
    color: #fff;
    font-size: 24px;
    margin: 0px;
}
.write-review-box p span {
    color: #00B07A;
}
#how-it-enter {
    background-color: #F9F9F9;
    padding: 40px 0px;
}
#how-it-enter h2, #winners h2{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}
a.sign-up-now {
    border-radius: 8px;
    background-color: #00B07A;
    color: #fff;
    padding: 12px 20px;
    float: right;
    font-size: 18px;
}
.enter-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.05);
	padding: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.enter-box h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.enter-box p {
    margin: 0px;
    line-height: 22px;
    height: 70px;
}
#how-it-enter h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
#how-it-enter ul {
    padding-left: 20px;
}
#how-it-enter ul li {
    margin-bottom: 15px;
    font-size: 15px;
}
#winners{
	padding: 40px 0px;
}
#winners .enter-box p {
    height: auto;
    width: 80%;
    margin-bottom: 15px;
}
#healthsoul_points {
    background-color: #0E87A3;
    padding: 40px 0px;
}
#healthsoul_points h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
}
#healthsoul_points .enter-box p {
    min-height: 130px;
}
#value_healthsoul_points {
    padding: 40px 0px;
}
.value_healthsoul_text h2 {
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 10px;
}
.value_healthsoul_text p {
    margin-top: 0px;
}
.value_healthsoul_text ul {
    padding-left: 20px;
}
.value_healthsoul_text ul li {
    margin-bottom: 15px;
}
.redeem_healthsoul_text {
    border-radius: 8px;
    background-color: #00B07A;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.05);
    padding: 25px;
    color: #fff;
}
.redeem_healthsoul_text h3 {
    margin-top: 0px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.redeem_healthsoul_text p {
    margin-top: 0px;
    color: #fff;
    line-height: 22px;
    font-weight: 400;
}
.redeem_healthsoul_text span {
    color: #fff;
    margin-top: 100px;
    display: block;
    font-weight: 300;
}
.redeem_healthsoul_text p a {
    color: #fff;
    font-weight: 500;
    text-decoration: underline;
}
/* End How It Work CSS */

/* Start Best Hospitals Near you CSS */

#search-hospital-section {
    background: url(img/hospital_search.png) no-repeat;
    background-size: cover;
    padding: 40px 0px;
}
#search-hospital-section h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 500;
}
.hospital-search {
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    width: 70%;
    float: right;
}
.hospital-search input[type="search"] {
    border: none;
    padding: 12px 15px;
    color: #1A1A1A;
    width: 70%;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 300;
}
.hospital-search input[type="submit"] {
    color: #00B07A;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 25px;
    float: right;
    background: transparent;
    border: none;
}
#search-hospital-section ul {
    padding: 0px;
    list-style: none;
}
#search-hospital-section ul li {
    width: 24%;
    display: inline-block;
    margin-bottom: 20px;
}
#search-hospital-section ul li a {
    color: #fff;
}
/* End Best Hospitals Near you CSS */
/* Start Footer CSS */
section#footer {
	background-color: #0E87A3;
	color: #fff;
	padding: 40px 0px;
}

.footer-items p {
	color: #fff;
	font-size: 14px;
	width: 90%;
}
.footer-logo {
	width: 150px;
	height: 50px;
}
.social-icons {
display: flex;
}
.social-icons amp-img {
	width: 25px;
	height: 25px;
}
.social-icons a {
	margin-right: 16px;
}

.address-outter {
	margin-top: 30px;
}

.address-outter amp-iframe {
	width: 90%;
}

.address-outter .footer-adderss p {
	margin-top: 0px;
	line-height: 28px;
}

.footer-items ul {
	list-style: none;
	padding: 0px;
}

.footer-items ul li a {
	color: #fff;
	font-size: 14px;
	margin-bottom: 15px;
	display: block;
}

section#bottom-footer p {
	color: #fff;
	font-size: 11px;
}

section#bottom-footer {
	background-color: #818285;
	padding: 10px 0px;
}
/* End Footer CSS */


@media (min-width: 768px) {
	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-md-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}

	.col-md-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-md-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-md-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-md-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.container {
		max-width: 720px;
	}

	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
}


@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.cid-qPydcGGZlE .ampstart-btn,
	.cid-qPydcGGZlE amp-sidebar {
		display: none;
	}
}


@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}


@media (max-width:991px) {
	.cid-qPydcGGZlE .navbar .navbar-collapse {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		min-height: 100vh;
		background: #000000;
		padding: 1rem 2rem 1rem 2rem;
	}

	.builder-sidebar .nav-item {
		width: 100%;
		margin: 5px 10px;
	}

	.builder-sidebar a.nav-link {
		color: #fff;
		display: block;
	}
}
@media (max-width:812px) {
	.hospital-search {
		width: 100%;
		margin-bottom: 20px;
	}
}
@media (max-width:600px) {
	#search-hospital-section ul li {
		width: 49%;
	}
	.hospital-search input[type="search"] {
		width: 68%;
	}
	.footer-items {
		margin-bottom: 20px;
	}
	
	
}