
		body {
			font-family: 'Barlow';
			font-weight: 400;
			color: #1A1A1A;
		}

		a {
			text-decoration: none;
			cursor: pointer;
		}

		.col,
		.col-1,
		.col-10,
		.col-11,
		.col-12,
		.col-2,
		.col-3,
		.col-4,
		.col-5,
		.col-6,
		.col-7,
		.col-8,
		.col-9,
		.col-auto,
		.col-lg,
		.col-lg-1,
		.col-lg-10,
		.col-lg-11,
		.col-lg-12,
		.col-lg-2,
		.col-lg-3,
		.col-lg-4,
		.col-lg-5,
		.col-lg-6,
		.col-lg-7,
		.col-lg-8,
		.col-lg-9,
		.col-lg-auto,
		.col-md,
		.col-md-1,
		.col-md-10,
		.col-md-11,
		.col-md-12,
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6,
		.col-md-7,
		.col-md-8,
		.col-md-9,
		.col-md-auto,
		.col-sm,
		.col-sm-1,
		.col-sm-10,
		.col-sm-11,
		.col-sm-12,
		.col-sm-2,
		.col-sm-3,
		.col-sm-4,
		.col-sm-5,
		.col-sm-6,
		.col-sm-7,
		.col-sm-8,
		.col-sm-9,
		.col-sm-auto,
		.col-xl,
		.col-xl-1,
		.col-xl-10,
		.col-xl-11,
		.col-xl-12,
		.col-xl-2,
		.col-xl-3,
		.col-xl-4,
		.col-xl-5,
		.col-xl-6,
		.col-xl-7,
		.col-xl-8,
		.col-xl-9,
		.col-xl-auto {
			position: relative;
			width: 100%;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
		}

		section {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		section,
		.container,
		.container-fluid {
			position: relative;
			word-wrap: break-word;
		}

		button:focus {
			outline: none;
		}

		.cid-qPydcGGZlE .navbar-dropdown {
			padding: 0.5rem 1rem;
			position: fixed;
		}

		.cid-qPydcGGZlE .navbar {
			z-index: 99999;
			display: flex;
			flex-direction: row;
			width: 100%;
			min-height: 77px;
			transition: all 0.3s;
			background: #fff;
		}

		.cid-qPydcGGZlE .container {
			display: flex;
		}

		.cid-qPydcGGZlE .navbar-brand {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			margin-right: 0;
			padding: 0;
			transition: all 0.3s;
			word-break: break-word;
			z-index: 1;
		}

		.cid-qPydcGGZlE .navbar .navbar-collapse {
			display: flex;
			justify-content: flex-end;
			z-index: 1;
			flex-basis: 100%;
			align-items: center;
		}

		.cid-qPydcGGZlE amp-img {
			width: 150px;
			display: flex;
			align-items: center;
		}

		.cid-qPydcGGZlE ul.navbar-nav {
			flex-wrap: wrap;
		}

		p,
		li,
		blockquote {
			color: #15181b;
			letter-spacing: 0.5px;
			line-height: 1.7;
		}

		ul,
		ol,
		pre,
		blockquote {
			margin-bottom: 0;
			margin-top: 0;
		}

		.cid-qPydcGGZlE .navbar-expand-lg .navbar-nav .nav-link {
			color: #1A1A1A;
			font-size: 16px;
			padding: 1px 10px;
			line-height: 24px;
		}

		a.nav-link.link.login-menu {
			border-left: 1px solid #D8D8D8;
			margin-left: 10px;
			padding-left: 20px;
		}

		.cid-qPydcGGZlE .navbar-nav .nav-link {
			font-weight: normal;
		}

		.cid-qPydcGGZlE a.nav-link {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.cid-qPydcGGZlE .navbar-nav {
			list-style-type: none;
			display: flex;
			flex-direction: row;
			padding-left: 0;
		}

		.cid-qPydcGGZlE .ampstart-btn.hamburger.sticky-but {
			position: fixed;
		}

		.cid-qPydcGGZlE .ampstart-btn.hamburger {
			position: absolute;
			top: 35px;
			right: 20px;
			margin-left: auto;
			width: 30px;
			height: 20px;
			background: none;
			border: none;
			cursor: pointer;
			z-index: 1000;
		}

		.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(1) {
			top: 0;
			transition: all 0.2s;
		}

		.cid-qPydcGGZlE .ampstart-btn.hamburger span {
			position: absolute;
			right: 0;
			width: 30px;
			height: 2px;
			border-right: 5px;
			background-color: #000;
		}

		.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(2) {
			top: 8px;
			transition: all 0.15s;
		}

		.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(3) {
			top: 8px;
			transition: all 0.15s;
		}

		.cid-qPydcGGZlE .ampstart-btn.hamburger span:nth-child(4) {
			top: 16px;
			transition: all 0.2s;
		}

		.cid-qPydcGGZlE .builder-sidebar {
			background-color: #000000;
			position: relative;
			height: 100vh;
			z-index: 1030;
			padding: 1rem 2rem;
			max-width: 20rem;
		}

		.cid-qPydcGGZlE .close-sidebar {
			width: 30px;
			height: 30px;
			position: relative;
			cursor: pointer;
			background-color: transparent;
			border: none;
			margin-bottom: 20px;
		}

		.cid-qPydcGGZlE .close-sidebar span:nth-child(1) {
			transform: rotate(45deg);
		}

		.cid-qPydcGGZlE .close-sidebar span {
			position: absolute;
			left: 0;
			width: 30px;
			height: 2px;
			border-right: 5px;
			background-color: #ffffff;
		}

		.cid-qPydcGGZlE .close-sidebar span:nth-child(2) {
			transform: rotate(-45deg);
		}

		.cid-qPydcGGZlE .nav-item.dropdown {
			position: relative;
		}

		.cid-qPydcGGZlE .open {
			transform: translateX(0%);
			display: block;
		}

		.cid-qPydcGGZlE .navbar .dropdown.open>.dropdown-menu {
			display: block;
		}

		.cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
			background-color: #fff;
			box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			padding: 8px 0px;
		}

		.cid-qPydcGGZlE .navbar.navbar-expand-lg .dropdown .dropdown-menu a.dropdown-item {
			display: block;
			padding: 0px 20px;
		}

		.cid-qPydcGGZlE .nav-item.dropdown .dropdown-menu {
			z-index: -1;
			opacity: 0;
			pointer-events: none;
		}

		.cid-qPydcGGZlE .nav-dropdown .dropdown-menu {
			border-radius: 0;
			border: 0;
			left: 0;
			margin: 0;
			min-width: 10rem;
			padding-bottom: 1.25rem;
			padding-top: 1.25rem;
			position: absolute;
		}

		.language-translater amp-img {
			width: 24px;
			height: 16px;
			margin-top: 7px;
		}

		.cid-qPydcGGZlE .nav-item.dropdown:hover>.dropdown-menu {
			z-index: 1;
			opacity: 1;
			pointer-events: all;
		}

		h4 {
			font-size: 18px;
			margin-bottom: 0px;
			font-weight: 600;
			line-height: 26px;
			margin-top: 0px;
		}

		.col-6 {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}

		.container {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}

		.row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
		}

		.logo-header {
			width: 150px;
			align-items: center;
			height: 50px;
		}

		header {
			padding: 20px 0px;
		}

		.sidenav ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

		.sidenav ul li {
			display: inline;
		}

		.sidenav ul li a {
			color: #1A1A1A;
			font-size: 16px;
			padding: 10px;
			display: inline-block;
		}

		.login_btn {
			border-left: 1px solid #D8D8D8;
			margin-left: 20px;
			padding-left: 20px;
		}



		.search_box.home {
			background: linear-gradient(216.71deg, #21E4A8 0%, #20A8C5 100%);
			/* background-image: url(img/home-banner.jpg); */
			color: #fff;
			background-size: cover;
			position: relative;
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			-webkit-align-items: center;
			min-height: 500px;
			box-sizing: border-box;
			padding-top: 8rem;
			padding-bottom: 3rem;
		}

		.mbr-overlay {
			background: linear-gradient(216.71deg, #21e4a8c9 28%, #20a8c5d6 100%);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		}

		.banner-inner-box h1 {
			font-size: 48px;
			color: #fff;
			margin-top: 0px;
			font-weight: 600;
			margin-bottom: 10px;
			text-align: center;
			letter-spacing: 1px;
		}

		.banner-inner-box h3 {
			color: #fff;
			font-weight: 300;
			font-size: 18px;
			margin-bottom: 40px;
			text-align: center;
		}

		.search_box .search-type {
			background: #fff;
			text-decoration: none;
			letter-spacing: 1px;
			font-size: 14px;
			border-radius: 8px 8px 0 0;
			padding: 10px 15px;
			opacity: 0.7;
		}

		.search_box .selected-search {
			background: #fff;
			opacity: 0.9;
		}

		.search_box .search-type a {
			color: #000;
			text-transform: lowercase;
		}

		.search_box .search-type-row {
			display: flex;
		}

		form.home-search-form {
			background: #fff;
			opacity: 0.9;
			display: inline-flex;
			border-radius: 8px;
			border: 1px solid #D8D8D8;
			width: 100%;
		}

		form.home-search-form .group-fields:last-child {
			border-right: 0px;
		}

		:focus {
			outline: none;
		}

		.group-fields {
			width: 33%;
			float: left;
			padding: 20px;
			border-right: 1px solid #D8D8D8;
		}

		.group-fields label {
			color: #1A1A1A;
			font-size: 14px;
			margin-bottom: 5px;
			display: block;
		}

		amp-selector [option][selected] {
			outline: none;
		}

		.group-fields select,
		.group-fields input {
			color: #1A1A1A;
			font-size: 18px;
			font-weight: 600;
			border: none;
			width: 100%;
			background: #fff;
			-webkit-appearance: none;
		}

		.home-search-box {
			background: #fff;
			padding: 25px;
			/* border-radius: 0px 8px 8px 8px; */
			border-radius: 8px;
		}

		.white-btn {
			border-radius: 8px;
			background-color: #FFFFFF;
			opacity: 0.9;
			padding: 13px 20px;
			color: #00B07A;
			margin-left: 10px;
			width: 160px;
			display: inline-block;
			text-align: center;
			font-size: 18px;
			font-weight: 500;
		}



		#search-hospital-section {
			background: url(img/hospital_search.png) no-repeat;
			background-size: cover;
			padding: 40px 0px;
		}

		#search-hospital-section h2 {
			color: #fff;
			font-size: 25px;
			margin-bottom: 30px;
			margin-top: 20px;
			font-weight: 500;
		}

		.hospital-search {
			border-radius: 8px;
			background-color: #FFFFFF;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
			width: 70%;
			float: right;
		}

		.hospital-search input[type="search"] {
			border: none;
			padding: 12px 15px;
			color: #1A1A1A;
			width: 70%;
			font-size: 14px;
			border-radius: 8px;
			font-weight: 300;
		}

		.hospital-search input[type="submit"] {
			color: #00B07A;
			font-size: 16px;
			font-weight: 500;
			padding: 12px 25px;
			float: right;
			background: transparent;
			border: none;
		}

		#search-hospital-section ul {
			padding: 0px;
			list-style: none;
		}

		#search-hospital-section ul li {
			width: 24%;
			display: inline-block;
			margin-bottom: 20px;
		}

		#search-hospital-section ul li a {
			color: #fff;
		}

		.cid-qPhINNGKCl .tab-content {
			/* display: none; */
			width: 100%;
			order: 1;
		}


		amp-selector.ampTabContainer.cid-qPhINNGKCl {
			display: flex;
			flex-wrap: wrap;
		}


		section#footer {
			background-color: #0E87A3;
			color: #fff;
			padding: 40px 0px;
		}

		.footer-items p {
			color: #fff;
			font-size: 14px;
			width: 90%;
		}

		.footer-logo {
			width: 150px;
			height: 50px;
		}

		.social-icons {
			display: flex;
		}

		.social-icons amp-img {
			width: 25px;
			height: 25px;
		}

		.social-icons a {
			margin-right: 16px;
		}

		.address-outter {
			margin-top: 30px;
		}

		.address-outter amp-iframe {
			width: 90%;
		}

		.address-outter .footer-adderss p {
			margin-top: 0px;
			line-height: 28px;
		}

		.footer-items ul {
			list-style: none;
			padding: 0px;
		}

		.footer-items ul li a {
			color: #fff;
			font-size: 14px;
			margin-bottom: 15px;
			display: block;
		}

		section#bottom-footer p {
			color: #fff;
			font-size: 11px;
		}

		section#bottom-footer {
			background-color: #818285;
			padding: 10px 0px;
		}

		.home-search-btn {
			text-align: right;
			margin-top: 30px;
		}

		.reset-btn {
			background: transparent;
			color: #fff;
		}

		section.best-dr-outter {
			padding: 30px 0px;
		}

		.best-dr-outter h4 {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		.items-image amp-img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 20px;
		}

		.items-details p {
			font-size: 14px;
			margin-bottom: 15px;
			margin-top: 0px;
		}

		.items-details span i {
			color: #f7cc21;
			font-size: 18px;
			margin-right: 5px;
		}

		.reviewed-items-box {
			border-radius: 8px;
			background-color: #FFFFFF;
			margin-bottom: 10px;
			padding: 15px;
			display: flex;
			box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
		}

		.items-details h3 {
			margin-top: 0px;
			margin-bottom: 0px;
		}

		section.add-dr-section {
			background-color: #F9F9F9;
			padding: 30px 0px;
		}
        section.best-dr-outter {
            padding: 30px 0px;
            height: 170px;
            z-index: 999;
        }
        .add-doctor-box {
            box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.05);
            background: #fff;
            display: flex;
            padding: 10px;
            border-radius: 8px;
            margin: 20px 0px;
        }
        .add-doctor-box .reviewed-items-box {
            box-shadow: none;
            width: 70%;
            margin-bottom: 0px;
            padding-bottom: 5px;
        }
        .add-doctor-box .reviewed-items-box .items-image amp-img {
            width: 64px;
            height: 64px;
        }
       .add-doctor-box .reviewed-items-box .items-details {
            width: 50%;
        }
        p.Claimed-dr {
            width: 30%;
            float: right;
            text-align: right;
            padding-right: 10px;
        }
        .Claimed-dr amp-img {
            width: 20px;
            height: 18px;
            margin-left: 5px;
            display: inline-block;
            position: relative;
            top: 3px;
        }
        .sort-dr select {
            border: 1px solid #D6D6D6;
            border-radius: 8px;
            width: 150px;
            height: 38px;
            padding: 0px 10px;
            font-size: 14px;
            background-color: #f9f9f9;
            line-height: 38px;
            color: #1A1A1A;
            margin-left:15px;
        }.sort-dr-outter {
            display: flex;
        }.sort-dr {
            display: flex;
            width: 82%;
        }.sort-dr p {
            color: #1A1A1A;
            font-size: 14px;
            opacity: 0.9;
            margin-top: 5px;
        }
        a.add-doctor-btn {
			text-align: center;
			margin: 0 0 0 auto;
            border-radius: 8px;
            background-color: #00B07A;
            color: #fff;
            font-weight: 500;
            height: 38px;
            line-height: 35px;
            padding: 0px 20px;
            cursor: pointer;
        }.blog-sidebar {
            margin-top: 60px;
        }.blog-sidebar h4 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }.blog-post-box {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 8px 30px 0 rgba(0,0,0,0.05);
            margin-bottom: 20px;
        }.blog-post-box amp-img {
            height: 120px;
            border-radius: 8px 8px 0 0;
        }
        .blog-post-box h5 {
            color: #1A1A1A;
            font-size: 16px;
            padding: 15px 15px 20px;
            margin: 0px;
        }        .best-dr-outter .items-details p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 13px;
        }.best-dr-outter .items-details span {
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
        }
        ul.Surgeon-list {
            background: #fff;
            border-radius: 8px;
            padding: 10px 0px 10px 20px;
            list-style: none;
        }
        ul.Surgeon-list li a {
            color: #1A1A1A;
            font-size: 14px;
            padding: 10px 0px;
            border-bottom: 1px solid #D8D8D8;
            width: 100%;
            display: block;
        }
        ul.Surgeon-list li:last-child a {
            border-bottom: none;
        }.doctor-list-pagination h5 {
            margin-top: 8px;
        }.doctor-list {
            display: flex;
            float: right;
        }.doctor-list ul {
            list-style: none;
            padding: 0px;
        }.doctor-list ul li {
            display: inline-block;
        }.doctor-list ul li a {
            width: 24px;
            height: 24px;
            background: transparent;
            border-radius: 4px;
            display: block;
            text-align: center;
            line-height: 24px;
            margin: 0px 5px;
        }.doctor-list p {
            margin: 0px 15px;
        }.doctor-list ul li.active a {
            background-color: #00b07a;
            color: #fff;
        }.doctor-list-pagination {
            margin: 30px 0px;
        }
        section.best-cardiologist {
            background: linear-gradient(216.71deg, #21E4A8 0%, #20A8C5 100%);
            padding: 30px 0px;
            color: #fff;
        }section.best-cardiologist h5 {
            font-size: 20px;
            font-weight: 600;
            margin-top: 0px;
            margin-bottom: 0px;
        }section.best-cardiologist p {
            color: #fff;
		}
		.faq-section {
			padding: 40px 0px;
		}
		.faq-section h2 {
			font-weight: 600;
			margin-top: 0px;
			margin-bottom: 30px;
		}
		.i-amphtml-layout-container section {
			background: #fff;
			box-shadow: 0 8px 30px 0 rgba(0,0,0,0.05);
			border-radius: 8px;
			padding: 20px;
			margin-bottom: 25px;
		}
		header.mbr-section-title {
			padding: 0px;
		}.fa-wrap {
			display: flex;
		}.fa-wrap h4 {
			font-size: 16px;
			font-weight: 600;
		}.fa-plus-ic {
			width: 18px;
			height: 18px;
		}.faq-question {
			width: 98%;
		}
		.fa-minus-ic{
			width: 18px;
			height: 2px;
			margin-top: 12px;
		}
		.i-amphtml-layout-container .i-amphtml-accordion-header {
			background: transparent;
			border: none;
		}
		amp-accordion section[expanded] .fa-plus-ic {
			display: none;
		}
		amp-accordion section:not([expanded]) .fa-minus-ic {
			display: none;
		}
		.i-amphtml-accordion-content {
			padding-top: 10px;
			font-size: 16px;
		}
		amp-accordion section[expanded] .faq-question h4 {
			color: #40b079;
		}
		@media (min-width: 576px) {
			.container {
				max-width: 540px;
			}
		}

		@media (min-width: 768px) {
			.col-md {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%
			}

			.col-md-auto {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				width: auto;
				max-width: none
			}

			.col-md-1 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 8.333333%;
				flex: 0 0 8.333333%;
				max-width: 8.333333%
			}

			.col-md-2 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 16.666667%;
				flex: 0 0 16.666667%;
				max-width: 16.666667%
			}

			.col-md-3 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				max-width: 25%
			}

			.col-md-4 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 33.333333%;
				flex: 0 0 33.333333%;
				max-width: 33.333333%
			}

			.col-md-5 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 41.666667%;
				flex: 0 0 41.666667%;
				max-width: 41.666667%
			}

			.col-md-6 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%
			}

			.col-md-7 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 58.333333%;
				flex: 0 0 58.333333%;
				max-width: 58.333333%
			}

			.col-md-8 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 66.666667%;
				flex: 0 0 66.666667%;
				max-width: 66.666667%
			}

			.col-md-9 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 75%;
				flex: 0 0 75%;
				max-width: 75%
			}

			.col-md-10 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 83.333333%;
				flex: 0 0 83.333333%;
				max-width: 83.333333%
			}

			.col-md-11 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 91.666667%;
				flex: 0 0 91.666667%;
				max-width: 91.666667%
			}

			.col-md-12 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%
			}

			.container {
				max-width: 720px;
			}

			.col-md-2 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 16.666667%;
				flex: 0 0 16.666667%;
				max-width: 16.666667%;
			}

			.col-md-10 {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 83.333333%;
				flex: 0 0 83.333333%;
				max-width: 83.333333%;
			}
		}

	

		@media (min-width: 992px) {
			.container {
				max-width: 960px;
			}

			.cid-qPydcGGZlE .ampstart-btn,
			.cid-qPydcGGZlE amp-sidebar {
				display: none;
			}
		}

		

		@media (min-width: 1200px) {
			.container {
				max-width: 1140px;
			}
			
		}

		@media (max-width:1024px) {
			.hospital-search input[type="submit"]{
				padding: 12px 20px;
			}
		}

		@media (max-width:991px) {
			.cid-qPydcGGZlE .navbar .navbar-collapse {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				min-height: 100vh;
				background: #000000;
				padding: 1rem 2rem 1rem 2rem;
			}


		}
		@media (max-width:812px) {
			.hospital-search{
				width: 100%;
				margin-bottom: 30px;
			}
			.doctor-list ul li a {
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 14px;
				margin: 0px 2px;
			}
			.doctor-list p {
				margin: 0px 5px;
				line-height: 18px;
			}
			.add-doctor-box .reviewed-items-box .items-details {
				width: 100%;
			}
			.add-doctor-box .reviewed-items-box .items-image amp-img {
				width: 50px;
				height: 50px;
			}
			.add-doctor-box .reviewed-items-box{
				width: 90%;
			}
			.sort-dr{
				width: 69%;
			}
			section.best-dr-outter{
				height: 200px;
			}

			.reviewed-items-box{
				padding: 10px;
			}
			.items-details span i {
				font-size: 16px;
				margin-right: 0px;
			}
			.best-dr-outter .items-details span {
				margin: 5px 0;
			}
		}


		@media (max-width:768px) {
			
			form.home-search-form {
				display: grid;
			}

			.group-fields {
				width: 100%;
				border: 1px solid #D8D8D8;
			}
			section.best-dr-outter {
				height: auto;
			}
			.reviewed-items-box {
				padding: 15px;
			}
		}

		@media (max-width:600px) {
			p.Claimed-dr {
				margin: 0;
				width: 100%;
			}
			.add-doctor-box{
				display:flow-root;
			}
			.add-doctor-box .reviewed-items-box {
				width: 100%;
				padding-bottom: 0px;
			}
			.group-fields {
				padding: 10px;
			}

			.group-fields select,
			.group-fields input {
				font-size: 16px;
			}

			.home-search-box {
				padding: 15px;
			}


			.footer-items {
				margin-bottom: 20px;
			}
		}