<div class="col-md-12">
  <div class="revie-hosp-frame">
    <div class="row">
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><%= appointment.date.to_s %>
          <!-- AddEvent script -->
          <script src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

          <!-- AddEvent Settings -->
          <script>
          window.addeventasync = function(){
              addeventatc.settings({
                  mouse      : true
              });
          };
          </script>

        <!-- Button code -->
       <div title="Add to Calendar" class="addeventatc width_167">
         <div>Add to Calendar</div>

         <span class="start">08/17/2018 08:00 AM</span>
         <span class="end">08/17/2018 10:00 AM</span>
         <span class="timezone">America/Los_Angeles
         </span>
         <span class="title">Summary of the event</span>
         <span class="description">Description of the event</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><%= appointment.time.present? ? appointment.time.strftime("%I:%M%p")+'-'+(appointment.time+3600).strftime("%I:%M%p"): "" %></div>
      <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 text-center"><%= appointment.provider.present? ? link_to( appointment.provider.name, doctor_path(appointment.provider.id) ) : ""%></div>
      <div class="col-md-3 col-xs-2 col-sm-2 col-lg-3 text-center"><%= appointment.new_patient ? "New Patient" : "Follow Up" %></div>
      <div class="col-md-1 col-xs-2 col-sm-2 col-lg-1 text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appointments_<%=appointment.id%>">Modify</button></div>
      <div class="col-md-1 col-xs-2 col-sm-2 col-lg-1 text-center"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancel_appointment_<%=appointment.id%>">Cancel</button></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
