<div class="container">
  <h2>Appointment Request</h2>
  <p><strong>Date/Time:</strong> <%= @appointment.date_time %></p>
  <p><strong>Name:</strong> <%= @appointment.user.get_full_name %></p>
  <p><strong>Phone:</strong> <%= @appointment.user.phone_number %></p>
  <p><strong>Email:</strong> <%= @appointment.user.email %></p>
  <p><strong>Reason:</strong> <%= @appointment.reason %></p>
  <p><%= @appointment.provider.present? ? link_to("Back To #{@appointment.provider.name}", @appointment.provider, class: 'btn btn-default') : "" %></p>
</div>
