= simple_form_for [:admin, @resource ], url: @form_url do |f|
  =f.input :photo, as: :file
  =f.hidden_field :photo_cache
  -if @resource.photo?
    =image_tag(@resource.photo.thumb.url)
    br
    label
      | Remove Promotion Image
      =f.check_box :remove_photo
  =f.input :email, input_html: { :autocomplete => 'off' }
  =f.input :username
  =f.input :first_name
  =f.input :last_name
  =f.input :marked_as_provider
  - if f.object.new_record? || f.object.has_role?(:moderator, :any)
    = f.input :title, as: :select, collection: User::AVAILABLE_TITLES
  =f.date_select :date_of_birth, :start_year => 1900, :end_year => Date.current.year
  =f.label "Country Code"
  =f.select :phone_country_code, COUNTRY_CODE, {}, {class: "country-code-select"}
  =f.label "10 Digit Number"
  =f.input_field :phone_body, class: "ten-digit-number"
  =f.hidden_field :phone_number, class: "hidden_phone_number"
  =f.input :referral_activated, as: :boolean
  =f.input :city
  =f.input :co, as: :select, label: "Country", collection: country_collection
  =f.input :state
  =f.input :latitude
  =f.input :longitude
  =f.input :promotion_code
  =f.input :display_badge
  =f.input :email_opt_in, label: 'Subscribe To Digest Email'
  - if @resource.persisted?
    p Leave blank if not changing password
  =f.input :password
  =f.input :password_confirmation
  .row
    .columns
      .callout
        .row
          .columns.medium-6
            p Add roles
            =f.input :role_name
            =f.input :role_resource_id, label: "Role Resource Id"
            =f.input :role_resource_type, as: :select, collection: ['Doctor', 'Location']
          .columns.medium-6
            p Remove Roles
            - @resource.roles.each do |role|
              = check_box_tag "role_id[]", role.id
              label=role_name(role)
              br
  =f.button :submit
  - if !@resource.new_record? && current_user.has_role?(:admin)
    = link_to 'Delete User', admin_user_path(@resource), method: :delete, class: 'button alert ml-10', data: {confirm:"This will delete all votes, questions, comments, etc. and Are you sure?"}
javascript:
  $(".datetime").flatpickr({
    maxDate: 'today'
    });
