- unless resources.present?
  .alert-box.info
    = 'No match found.'
- else
  table
    thead
      tr
        th Email
        th Country
        th PromoCode
        th Referral Link
        th Referred By
        th Total Points
        th Last Sign In
        th
    tbody
      = render partial: "row", locals: {resources: resources}
  - if resources.present?
    = paginate(resources)