- resources.each do |list|
  tr
    td=link_to list.email, user_path(list)
    td=list.co
    td=list.promotion_code
    td=referral_link(list)
    td
      =link_to list.referring_user.username, user_path(list.referring_user) if list.referring_user.present?
    td=list.total_points
    td=time_for_moment(list.last_sign_in_at)
    td=link_to "Edit", [:edit, :admin, list], class: 'button tiny'
