h1 =@resource_name

.well
  = simple_form_for :user, method: :get, remote: true, url: admin_users_path do |f|
    .row
      .columns.medium-8
        =f.input :email, placeholder: "Email", input_html: { value: @search_term}
      .columns.medium-4.align-middle
        =f.button :button, "Search", value: 'Search'
br

.button-group
  =link_to "All", [:admin, :users], class: "button"
  =link_to "Subscription Only", "?subscription_only=true", class: "#{params[:subscription_only].present? ? "users-btn-active": ""} button"
  =link_to "Providers Only", "?roles=true", class: "#{params[:roles].present? ? "users-btn-active": ""} button"
  =link_to "Add", [:new, :admin, :user ], class: "button"

#list
  = render partial: 'list', locals: {resources: @resources}