=simple_form_for [:admin, @resource ] do |f|
  .row
    .columns.medium-4
      label=t("rating.doctor.use_date")
      #dpMonths.row.date data-date-format="mm-yyyy" data-start-view="year" data-min-view="year" style="max-width:200px;"
        div class="small-2 columns"
          span class="prefix"
            i class="fa fa-calendar"
        div class="small-10 columns"
          =f.input :use_date, as: :string, input_html: {size: 16, value: Date.today.strftime("%m-%Y")}, label: false
  .row
    .columns.medium-12
      =f.input :where, as: :radio_buttons, collection: DoctorReview.wheres.keys.map{|w| [t("doctor_review.where.options.#{w}"), w] }, label: t("doctor_review.where.label")
  .row
    .columns.doctor-review-inputs
      h4=t("doctor_review.heading")
      .callout.outpatient
        =f.input :overall_experience, as: :hidden, label: t("doctor_review.overall_experience"), input_html: {class: 'overall-experience enter-rating'}
        =f.input :explaintation, as: :hidden, label: t("doctor_review.explaintation"), input_html: {class: "enter-rating"}
        =f.input :trust, as: :hidden, label: t("doctor_review.trust"), input_html: {class: "enter-rating"}
        .outpatient.where
          =f.input :staff, as: :hidden, label: t("doctor_review.staff"), input_html: {class: "enter-rating"}
          =f.input :appt, as: :hidden, label: t("doctor_review.appt"), input_html: {class: "enter-rating"}
          =f.input :wait, as: :hidden, label: t("doctor_review.wait"), input_html: {class: "enter-rating"}
        .inpatient.where
          =f.input :skills, as: :hidden, label: t("doctor_review.skills"), input_html: {class: "enter-rating"}
      =f.input :recommend, as: :radio_buttons, collection: Rating::Recommend, label: t("doctor_review.recommend")
      =f.input :comment, label: t("rating.hospital.comment"), placeholder: "Minimum of 5 words"
      = render 'ratings/agreement'
      =f.button :submit, "Submit"
hr

p=link_to "Delete", admin_doctor_review_path(@resource), data: {confirm: "Are you sure?"}, method: :delete
