- unless resources.present?
  .alert-box.info
    = 'No match found.'
- else
  table
    thead
      tr
        th Doctor
        th User
        th Created At
        th
    tbody
      = render partial: "row", locals: {resources: resources}
  - if resources.present?
    .text-center
      = paginate(resources)

