- resources.each do |list|
  tr
    td= link_to list.doctor.name, doctor_path(list.location, anchor: "review#{list.id}")
    td= link_to list.user.email, edit_admin_user_path(list.user)
    td= list.created_at.strftime('%b %d %Y')
    td=link_to "Edit", edit_admin_doctor_review_path(list), class: 'button tiny'