p=link_to "Back to Blogs", admin_blogs_path, title: 'Back to Blogs'

= simple_form_for [:admin, @resource ], url: @form_url do |f|
  = f.input :title
  = f.input :slug
  = f.input :priority, collection: (1..10), label: 'Priority: 1-High, 10-Low'
  = f.input :tag_list, label: "Categories", collection: Blog.available_category_tags.sort, input_html: { multiple: true, class: 'select2 tag-list-select' }
  = f.input :tag_list, label: "Conditions", collection: Blog.available_condition_tags.sort, input_html: { multiple: true, class: 'select2 tag-list-select' }
  = f.input :tag_list, label: "Procedures", collection: Blog.available_procedure_tags.sort, input_html: { multiple: true, class: 'tag-list-select select2' }
  = f.association :doctor, collection: [@resource.doctor], input_html: {class: 'chosen-select-doctor'}, label: "Doctor (defaults to \"#{Blog::BLANK_AUTHOR}\", or custom name if not selected)"
  = f.input :author, label: "Add A Custom Author Name Here.  This Will Overwrite The Selected Doctor"
  = f.input :custom_author_photo, label: "Add The Custom Authors Image Here"
  - if @resource.custom_author_photo?
    = image_tag(@resource.custom_author_photo.thumb.url)

  label Featured Image (945 X 390 for optimal layout on the page)
  = f.input :featured_image, label: false
  = f.hidden_field :featured_image_cache

  = f.input :featured_image_alt, label: 'Feature Image Alt Text'
  - if @resource.featured_image?
    = image_tag(@resource.featured_image.thumb.url)
    br
    label
      | Remove Featured Image
      = f.check_box :remove_featured_image
  =f.input :content, input_html: {class: 'blog-form'}, label: 'Content Part 1 - Display above horizontal advert'
  =f.input :content_2, input_html: {class: 'blog-form'}, label: 'Content Part 2 - Display below horizontal advert'

  = f.input :published_at

  = f.input :video_html_code, label: 'HTML code for video'

  = f.nested_fields_for :blog_videos do |ff|
    .row
      .columns.large-8
        = ff.file_field :video, label: 'Upload Video'
        /! = video_tag ff.object.video, controls: true
        = image_tag ff.object.video.thumb if ff.object.video?
      .columns.large-4
        = ff.remove_nested_fields_link 'Remove', class: 'button tiny alert', role: 'button'

  = f.add_nested_fields_link :blog_videos, 'Add new video', class: 'button tiny success', role: 'button'

  p
    strong Meta info:
  =f.input :meta_title
  =f.input :meta_description
  =f.input :custom_meta_tags,
    placeholder: 'Example: <meta property="og:type" content="article" />',
    label: "Custom meta tags (enter html)"
  =f.button :submit

- if @resource.persisted?
  hr
  p =link_to "Delete", admin_blog_path(@resource), method: :delete, data: {confirm: "Are you sure?"}, title: 'Delete'
