h1 Blogs

.button-group
  =link_to "Add", [:new, :admin, @resource_slug.singularize ], class: "button", title: 'Add Blog'
  =link_to "Categories", admin_tags_path, class: "button", title: 'Categories'
= simple_form_for :search, url: admin_blogs_path, method: :get do |f|
  .row
    .columns.medium-6
      =f.input :q, label: 'Search', input_html: {value: @search_query}
    .columns.medium-4
      =f.input :tag, as: :select, collection: Blog.tags_to_filter_by.sort.map{ |t| [t.last, t.first] }, include_blank: "Any Tag", label: 'Tag', selected: @selected_tag, input_html: {class: 'select2'}
    .columns.medium-2
      br
      =f.button :button, "Search"
      =link_to " Clear", admin_blogs_path, title: 'Clear Search'
table data-nosearch=""
  thead
    tr
      th Id
      th Title
      th Author
      th Published
      th
  tbody
    - @resources.decorate.each do |list|
      tr
        td= list.id
        td=list.title
        td=list.author_name
        td=list.published_at
        td
          .btn-group
            =link_to "Edit", [:edit, :admin, list], class: 'button tiny', title: 'Edit'
            =link_to "View", list, class: 'button tiny', title: 'View'

- if @resources.present?
  .text-center
    = paginate(@resources, outer_window: 3)

