=simple_form_for [:admin, @resource] do |f|
  = f.association :practice_speciality
  = f.association :countries, :as => :select, input_html: { multiple: true, class: ' select2' }
  = f.input :faq_title
  = f.input :faq_body
  = f.input :publish
  = f.input :user_id, as: :hidden, input_html: {value: current_user.id}
  = f.button :button
