h1 Practice Specialities FAQs
p=link_to "New", new_admin_practice_specialities_faq_path, class: 'button'

table data-nosort=""
  thead
    tr
      th FAQ
      th Speciality
      th Countries
  tbody
    - @resources.order(:faq_title).each do |resource|
      tr
        td=link_to resource.faq_title, edit_admin_practice_specialities_faq_path(resource)
        td= resource.practice_speciality.name
        td= resource.countries.pluck(:name).join(', ')

- if @resources.present?
  .text-center
    = paginate(@resources)