-if @resource.persisted?
  p.text-right=link_to "Delete", [:admin, @resource], method: :delete
=simple_form_for [:admin, @resource] do |f|
  = render 'shared/errors', object: @resource
  =f.input :name
  =f.input :title, label: 'Title usage in a sentence; e.g. Dentist for Dentistry / Cardiologist for Cardiology'
  =f.input :common_speciality
  =f.input :user_facing_description
  p Default Description - Please use the following variables in the description to dynamically fill it with the Doctor's information %%name%% - Doctor's name, %%location%% - Doctor's Location,  %%specialities%% - Doctor's Specialities (comma seperated),  %%hospitals%% - Hospitals the Doctor is Affliated with (comma seperated.  N/A if none present)
  =f.input :default_description
  = f.input :doctorised_h1, label: 'Doctorised H1 - it displays on Doctor listing page'
  = f.input :doctorised_header, label: 'Doctorised Header - it displays on Doctor listing page', input_html: {class: 'froala_editor'}
  = f.input :doctorised_footer, label: 'Doctorised Footer - it displays on Doctor listing page', input_html: {class: 'froala_editor'}
  br
  =f.button :button


  =f.association :procedures
  =f.association :conditions
-if @resource.persisted?
  hr

  p Replace
  p This will replace the #{@resource.name} speciality and update all doctors to the below speciality:
  =simple_form_for :merge, url: admin_speciality_merge_path(@resource.id), method: :patch do |f|
    =f.input :merge_to, as: :select, collection: PracticeSpeciality.pluck(:name, :id).uniq.sort
    =f.button :button
