- unless resources.present?
  .alert-box.info
    = 'No match found.'
- else
  table
    thead
      tr
        th Name
        th Doctors
        th Total FAQs
    tbody
      - resources.each do |resource|
        tr
          td=link_to resource.name, edit_admin_practice_speciality_path(resource)
          td=resource.doctors.size
          td= link_to resource.practice_specialities_faqs.count, faqs_admin_practice_speciality_path(resource.id)
  
    tr
      - if resources.present?
        td.text-center{colspan=3}
          = paginate(resources)