h2
  = @speciality.name

table data-nosort=""
  thead
    tr
      th FAQ 
      th Countries
  tbody
    - @faqs.each do |f|
      tr
        td
          = f.faq_title
        td
          = f.countries.pluck(:name).join(',')
- if @faqs.present?
  .text-center
    = paginate(@faqs)