h1 Practice Specialities
p=link_to "New", new_admin_practice_speciality_path, class: 'button'

.well
  = simple_form_for :practice_speciality, method: :get, remote: true, url: admin_practice_specialities_path do |f|
    .row
      .columns.medium-8
        =f.input :name, placeholder: "Name", input_html: { value: @search_term}
      .columns.medium-4.align-middle
        =f.button :button, "Search", value: 'Search'

#list
  = render partial: 'list', locals: {resources: @resources}
