.vote-buttons data-resource-type="#{voteable.class.to_s}" data-resource-id="#{voteable.id}"
  =link_to "#", data: {vote: 'helpful'}, title: 'Helpful' do
    i class="fa fa-thumbs-up" aria-hidden="true"
    |  Helpful (
    span.count #{voteable.votes.helpful.count}
    | )  
  =link_to "#", data: {vote: 'unhelpful'}, title: 'Unhelpful' do
    i class="fa fa-thumbs-down" aria-hidden="true"
    |  UnHelpful (
    span.count #{voteable.votes.unhelpful.count}
    | )
