<% if @location.hospital? &&  @location.department_ratings.present? %>
  <div class="service-review-detail" id="departmentreviews">
    <h3>SPECIALITY SUMMARY</h3>
    <hr/>
    <% @location.department_ratings.each_slice(3) do |ratings| %>
      <div class="row over-all_section">
        <% ratings.each do |rating| %>
          <div class="col-md-4 over-all-rev-section"> 
            <h4><%= rating.department %></h4>
            <p><%= stars(rating.rating) %></p>
            <p>(<%= number(rating.rating) %>/5)</p>
          </div>
        <% end %>  
      </div>
    <% end %>
  </div><!--end-->  
<% end %>

