<% l = obj.decorate %>
<h3 class='panel-title'><%= l.featured_or_sponsored %></h3>
<div class='panel-body text-right'>
  <div class='row'>
    <div class='col-md-4 col-sm-12'>
      <a href="<%= url_for(l) %>"><%= l.circle_image %></a>     
    </div>
    <div class='col-md-8 col-sm-12'>
      <h4><%= link_to l.try(:name) || 'NA', l %></h4>
      <div><%= l.city %></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <% if l.has_reviews? %>
        Rating: <%= l.stars %> (<%= l.overall %>/5)
      <% end %>
    </div>
  </div>
</div>