<% country_id = Country.where(name: @location.country).first.try(:id) %>
<% @vertical_adverts = Advertisement.where(publish: true, subtype: 'Vertical', country_id: country_id) if country_id %>
  
<%= render partial: 'shared/random_advert' if @vertical_adverts.present? %>
<div class="col-md-3">

  <%= render partial: 'shared/blogs', locals: {cls: 'desktop-view-bp'} %>
  <% if @location.class == DoctorDecorator %>
    <%= render partial: 'sponsored' %>
    <%= render partial: "nearby_drs" %> 
    <%= render partial: 'shared/google_advert/widescreen_270_380' %>
  <% end %>
  <% if @vertical_adverts %>
    <br/>
    <div class='text-center' id='v-advert'>
      <%= render partial: 'shared/advert', locals: {advert: @vertical_adverts.sample, image_type: nil} %>
    </div>
  <% end %>

</div><!--3-->
