<% medicare_quality = [
  obj.hospital_overall_rating_graph, 
  obj.patient_experience_national_graph, 
  obj.safety_of_care_national_graph, 
  obj.mortality_national_graph, 
  obj.readmission_national_graph, 
  obj.timeliness_of_care_national_graph, 
  obj.effectiveness_of_care_national_graph, 
  obj.efficient_use_of_medical_imaging_national_graph].reject(&:blank?) %>

<% if medicare_quality.present? %>
  <% width = (100.to_f/3.to_f) %>
  <div class='service-review-detail'>
    <h3>Medicare Quality data</h3>
    <hr/>
    <div class="over-all_section">
  
      <% 
        below_to_above = [1,2,3]
        below_to_above_reverse = below_to_above.reverse
        below_to_above_words = ['Below', 'Same', 'Above']
        below_to_above_words_reverse = below_to_above_words.reverse
      %>
      <% 
        {
          'Overall rating' =>  [obj.hospital_overall_rating_graph],
          'Patient Experience' => [obj.patient_experience_national_graph],
          'Safety of care' => [obj.safety_of_care_national_graph],
          'Mortality' => [obj.mortality_national_graph, 'reverse'],
          'Readmission' => [obj.readmission_national_graph],
          'Timeliness of care' => [obj.timeliness_of_care_national_graph], 
          'Effectiveness of care' => [obj.effectiveness_of_care_national_graph],
          'Efficient use of imaging' => [obj.efficient_use_of_medical_imaging_national_graph]

        }.each_pair do |k, v|
          if v.first
            if v.last == 'reverse' 
              chart_lookup = below_to_above_reverse
            else
              chart_lookup = below_to_above
            end
            index_of_array = chart_lookup.index(v.first).to_i + 1
            chart_text = below_to_above_words[index_of_array-1]
            chart_color = Location::MEDICARE_CHART_COLOR[index_of_array-1]
        %>
          
          <div class='col-md-6 col-sm-12'>
            <b><%= k %></b>
            <div class="progress">
              <% (1..index_of_array).to_a.each do |i| %>
                <div class="progress-bar progress-bar-<%= chart_color %>" role="progressbar" style="width:<%= width %>%">
                </div>
              <% end %>
            </div>
          </div>
      <% end
        end %>
      <br/>
      <div class='row'><div class='col-md-12'><b>Legend</b></div></div>
      <div class='row'>
        <div class='col-md-3 col-sm-9 text-right'>Above national average</div>
        <div class='col-md-1 col-sm-3 progress-bar-success height-20'></div>
        <div class='col-md-3 col-sm-9 text-right'>Same as national average</div>
        <div class='col-md-1 col-sm-3 progress-bar-warning height-20'></div>
        <div class='col-md-3 col-sm-9 text-right'>Below national average</div>
        <div class='col-md-1 col-sm-3 progress-bar-danger height-20'></div>
      </div>
    </div>
  </div>
<% end %>

<% patient_experience = [
    obj.overall_performance_rate,
    obj.communication_with_nurses_rate,
    obj.communication_with_drs_rate,
    obj.responsiveness_of_hospital_staff_rate,
    obj.care_transition_rate,
    obj.communication_about_medicine_rate,
    obj.cleanliness_quietness_rate,
    obj.discharge_rate
  ].reject(&:blank?) %>
<% if patient_experience.present? %>
  <div class='service-review-detail'>
    <h3>Patient Experience (HCHAPS) data from Medicare</h3>
    <hr/>
    <div class="over-all_section">
      <% {
        'overall_performance_rate': 'Overall Performance',
        'communication_with_nurses_rate': 'Communication With Nurses', 
        'communication_with_drs_rate': 'Communication With Doctors',
        'responsiveness_of_hospital_staff_rate': 'Responsiveness Of Hospital Staff', 
        'care_transition_rate': 'Care Transition', 
        'communication_about_medicine_rate': 'Communication About Medicine', 
        'cleanliness_quietness_rate': 'Cleanliness & Quietness', 
        'discharge_rate': 'Discharge Process'}.to_a.each_slice(3) do |graphs| %>
        <div class='row'>
            <% graphs.each do |graph| 
              rate = graph.first
              title = graph.last
              if obj[rate].present?
                rates = Location.where(location_type_id: obj.location_type_id).where("#{rate} is not null").pluck(rate)
                max = rates.max.ceil
                min = rates.min.floor
                range = (min..max).to_a.in_groups(5, false) %>
                <% range.each_with_index do |r, index| 
                  if r.include?(obj[rate].floor)
                    val = index+1
                %>
                <div class='col-md-4 col-sm-12'>
                  <%= render partial: 'pie_chart', locals: {title: title, val: val, location_name: obj.name} %>
                </div>
                <%
                  end
                end
              end 
            end %>
        </div>
        <br/>
      <% end %>
    </div>
  </div>
<% end %>


