<% chart_div = "container_#{title.parameterize.underscore}" %>
<% data = []
  (1..5).to_a.each do |i|
    if (val == i)
      data[i-1] = {y: 20, color: Location::HVBP_CHART_COLOR[val-1], name: Location::HVBP_CHART_LABEL[val-1]}
    else
      clr = val > i ? Location::HVBP_CHART_COLOR[val-1] : 'grey'
      data[i-1] = {y: 20, color: clr}
    end
  end
%>
<div id=<%= chart_div %> style="margin: 0 auto; height:20%;"></div>
<script type='text/javascript'>
 $(document).ready(function() {
    var arr = ['Bad', 'Bad', 'Good', 'Better', 'Better']
    var chart1 = new Highcharts.Chart({
      chart: {
        type: 'pie',
        renderTo: '<%= chart_div %>',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
       title: {
        text: '<%=raw  title %>'
      },
      subtitle: {
        text: arr['<%= val-1 %>'],
        verticalAlign: 'middle',
        y: 25,
        floating: true
      },
      tooltip: {
        formatter: function() {
          if (this.point.name != 'Slice') {
            a = this.point.x + 1;
            alt = '<%=raw title %> score ' + a + ' <br/> for ' + '<%=raw location_name %> <br/>' + ' | HealthSoul';
            return alt  ;
          }else{
            return false;
          }
        }
      },
      plotOptions: {
        pie: {
          innerSize: '70%',
          dataLabels: {enabled: false}
        }
      },
      series: [{
        data: <%=raw  data.to_json %>
      }]
    });
  });
</script>