<div class="col-md-4 over-all-rev-section"> 
  <h4>OVERALL</h4>
  <p><%= stars(resource.ratings.rating_for(:overall_experience)) %></p>
  <p>(<%= resource.ratings.rating_for(:overall_experience) %>/5)</p>
</div>
<div class="col-md-4 over-all-rev-section"> 
  <h4>DOCTOR'S CARE</h4>
  <p><%= stars(resource.ratings.rating_for(:doctor_care)) %></p>
  <p>(<%= resource.ratings.rating_for(:doctor_care) %>/5)</p>
  <h4>CLEANINESS</h4>
  <p><%= stars(resource.ratings.rating_for(:cleanliness)) %></p>
  <p>(<%= resource.ratings.rating_for(:cleanliness) %>/5)</p>
</div>
<div class="col-md-4 over-all-rev-section"> 
  <h4>NURSING CARE</h4>
  <p><%= stars(resource.ratings.rating_for(:nursing_care)) %></p>
  <p>(<%= resource.ratings.rating_for(:nursing_care) %>/5)</p>
  <h4>FOOD SERVICES</h4>
  <p><%= stars(resource.ratings.rating_for(:food_services)) %></p>
  <p>(<%= resource.ratings.rating_for(:food_services) %>/5)</p>
</div>
