<div class="col-md-4"> 
  <div class="over-all-rev-section">
    <h4><%=t("ratings.health_insurance.overall_experience") %></h4>
    <p><%= stars(resource.ratings.rating_for(:overall_experience)) %></p>
    <p>(<%= resource.ratings.rating_for(:overall_experience) %>/5)</p>
  </div>							

  <div class="over-all-rev-section">
    <h4><%=t("ratings.health_insurance.claims_process") %></h4>
    <p><%= stars(resource.ratings.rating_for(:claims_process)) %></p>
    <p>(<%= resource.ratings.rating_for(:claims_process) %>/5)</p>
  </div>							
</div>

<div class="col-md-4"> 
  <div class="over-all-rev-section">
    <h4><%=t("ratings.health_insurance.customer_service") %></h4>
    <p><%= stars(resource.ratings.rating_for(:customer_service)) %></p>
    <p>(<%= resource.ratings.rating_for(:customer_service) %>/5)</p>
  </div>							
</div>

<div class="col-md-4"> 
  <div class="over-all-rev-section">
    <h4><%=t("ratings.health_insurance.cost_satisfaction") %></h4>
    <p><%= stars(resource.ratings.rating_for(:cost_satisfaction)) %></p>
    <p>(<%= resource.ratings.rating_for(:cost_satisfaction) %>/5)</p>
  </div>							
</div>
