<% if resource.ratings.outpatient.present? %>
<div class="row">
  <h3 class="doctor-review-summary">Outpatient Ratings</h3>
  <div class="col-md-4"> 
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.overall_experience") %></h4>
      <p><%= stars(resource.ratings.rating_for(:overall_experience, :outpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:overall_experience) %>/5)</p>
    </div>
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.staff") %></h4>
      <p><%= stars(resource.ratings.rating_for(:staff, :outpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:staff) %>/5)</p>
    </div>
  </div>

  <div class="col-md-4"> 
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.explaintation") %></h4>
      <p><%= stars(resource.ratings.rating_for(:explaintation, :outpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:explaintation) %>/5)</p>
    </div>
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.appt") %></h4>
      <p><%= stars(resource.ratings.rating_for(:appt, :outpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:appt) %>/5)</p>
    </div>
  </div>

  <div class="col-md-4"> 
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.trust") %></h4>
      <p><%= stars(resource.ratings.rating_for(:trust, :outpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:trust) %>/5)</p>
    </div>
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.wait") %></h4>
      <p><%= stars(resource.ratings.rating_for(:wait, :outpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:wait) %>/5)</p>
    </div>
  </div>
</div>
<% end %>

<% if resource.ratings.inpatient.present? %>
<div class="row">
  <h3 class="doctor-review-summary">Inpatient Ratings</h3>
  <div class="col-md-4"> 
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.overall_experience") %></h4>
      <p><%= stars(resource.ratings.rating_for(:overall_experience, :inpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:overall_experience) %>/5)</p>
    </div>
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.skills") %></h4>
      <p><%= stars(resource.ratings.rating_for(:skills, :inpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:skills) %>/5)</p>
    </div>
  </div>

  <div class="col-md-4"> 
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.explaintation") %></h4>
      <p><%= stars(resource.ratings.rating_for(:explaintation, :inpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:explaintation) %>/5)</p>
    </div>
  </div>

  <div class="col-md-4"> 
    <div class="over-all-rev-section">
      <h4><%=t("doctor_review.headings.trust") %></h4>
      <p><%= stars(resource.ratings.rating_for(:trust, :inpatient)) %></p>
      <p>(<%= resource.ratings.rating_for(:trust) %>/5)</p>
    </div>
  </div>
</div>
  
<% end %>
