<% if @location.ratings.present? %>
<div class="service-review-detail" id="servicereviews">
  <h3>PATIENT RATINGS OF <%= "#{@location.name}".upcase %></h3>
  <hr/>
  <div class="row over-all_section">
    <%= render "rating_summary_#{@location.map_type_slug}", resource: @location %>
  </div>
</div><!--end-->	
<% end %>
