<div class="hospital-reviews-result hospital-user-reviews-result row" id="userreviews">
    <div class="col-md-6">
      <h2 class="color-heading">PATIENT REVIEWS OF <%= "#{@location.name}".upcase %></h2>
    </div>
    <div class="col-md-6 soft-buyreviews-frame pull-right">
      <% if @location.hospital? || @location.doctor? %>
        Sort By:
        <select class="form-control" data-review-filter>
          <option value='' label='Filter Reviews'>Filter Reviews</option>
          <% @location.ratings.reasons.each do |reason| %>
            <option value="<%= reason.first %>"><%= reason.last %></option>
          <% end %>
        </select>
      <% end %>
    </div>
   
</div><!--end-->
<hr/>