<div id="review<%= rating.id %>" data-review-type="<%= rating.reason %>" class="user-care_main_frame">
  <div class="user-care review">
    <div class="row">
      <div class="col-md-4 user-care-left">
        <h5>
          <%= image_tag 'img/dp.png', class: 'icon_dp' %>
          <%= rating.user.username %>
        </h5>
        <% if rating.user and rating.user.display_badge and rating.user.badge_rank.present? %>
          <h5><%= image_tag "badge_#{rating.user.badge_rank}_black.svg" %><%= rating.user.badge_rank %></h5>
        <% end %>
        <% if rating.location.hospital? || rating.location.doctor? %>
          <p class="color-heading2">Services Used:  </p>
          <p><%= rating.reason_label %></p>
        <% end %>
        <p><span class="color-heading2">Date Visited:</span> <%= rating.use_date.present? ? l(rating.use_date, format: :use_date) : "N/A"%></p>
        <% if @user.present? %>
          <p>Type: <%= rating.location.type_name %></p>
          <p><%= link_to rating.location.name, rating.location %></p>
        <% end %>
      </div>
      <div class="col-md-4 user-care-middle">
        <%= simple_format rating.comment %>
        <p><%= rating.created_at.strftime('Created at: %m-%d-%Y')%></p>
      </div>
      <div class="col-md-4 user-care-right">
        <%= render "ratings/#{rating.location.map_type_slug}", rating: rating %>
      </div>
    </div>

    <% if rating.comments.present? %>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'comments/comment', collection: rating.comments %>
      </div>
    </div>   
    <% end %>
    
    <% if @location.present? && policy(@location.object).manage? %>
      <a data-toggle="collapse" href=<%="#new_comment_#{rating.id}"%> role="button" aria-expanded="false" aria-controls="collapseExample">New Comment</a>
      <div class="collapse" id= <%="new_comment_#{rating.id}"%> >
        <%= render partial: "comments/new", locals: {commentable: rating, comment: Comment.new(user: current_user)} %>
      </div>  
    <% end %>
  </div><!--user-->
  <div class="recommended-frame">
    <div class="col-md-6 helpful-un">
      <h4>Recommended: <%= recommend_tag(rating.recommend) %></h4>
    </div>
    <div class="col-md-6 helpful-un">
      <%=render "votes/vote_buttons", voteable: rating %>
    </div>
  </div>
</div>
