<% if ["Health Insurance", "Travel Health Insurance", 'Hospital'].include? @location.location_type.name %>
  <% set_meta_tags title: t("meta_title.#{@location.type_slug}", {name: @location.name, city: @location.city, state: @location.state}) %>
<% else %>
  <% set_meta_tags title: t("meta_title.generalise_location", {name: @location.name, location_type: @location.location_type.name}) %>
<% end %>
<% if ['Hospital', "Health Insurance", "Travel Health Insurance"].include? @location.location_type.name %>
  <% set_meta_tags description: t("meta_description.#{@location.type_slug}", {name: @location.name}) %>
<% else %>
  <% set_meta_tags description: t("meta_description.generalise_location", {name: @location.name, location_type: @location.location_type.name}) %>
<% end %>

<% set_meta_tags og: { image: @location.share_image_url} %>
<%= render "header" %>
<!-- <img src="http://pixel.yext-pub.com/plpixel?source=detailspage&action=click&target=website&pid=YFkonmbYaA&ids=<%#=@location.yext_id%>" width=1 height=1> -->
<section data-details-page id="hospital-reviews-frame_middle" class="hospital-reviews-frame_middle-fixed">
  <div class="container search-container">
    <div class="row">
      <%= render partial: "leftmenu", locals: {blogs: @blogs} %>
      <div class="col-md-9">
        <div class="overview-main-frame" id="overview">
          <h3 title=<%=@location.id%>>Overview of <span class="name"><%= @location.name %></span></h3>
          <div class="overview-main-frame-con">
            <% if @location.live? && @location.special_offer_message.present? %>
              <h4 class="specialOffer">
                <% if @location.special_offer_url.present? %>
                  <%= link_to @location.special_offer_message, @location.special_offer_url, target: '_blank' %>
                <% else %>
                  <%= @location.special_offer_message %>
                <% end %>
              </h4>
            <% end %>
            <div class="row">
              <div class="col-md-8">
                <h4 class='description'><%= @location.overview %></h4>
                <% if @location.doctors.present? %>
                  <div class='tbl_overview'>
                    <h5><strong>Affiliated Providers :</strong></h5>
                    <% @location.doctors_by_ratings.each_with_index do |doctor, index| %>
                      <% doctor_class = "doctor-name" %>
                      <% doctor_class = "doctor-hidden" if index > 3 %>
                      <div class='<%=doctor_class%>'>
                        <%= link_to doctor_path(doctor) do %>
                          <%= doctor.name %>
                        <% end %>
                        <% if doctor.overall != 0.0%>
                          <span data-stars=<%=doctor.overall%>></span>
                        <% end %>
                      </div>
                      <% if index == 3 %>
                       <div id="showAllDrs" class='pointer'>Show all <%= @location.doctors.count %> Doctors</div>
                      <% end %>
                    <% end %>
                  </div>
                  <hr>
                <% end %>
                <% if policy(@location).manage? %>
                  <%= link_to "Manage", manage_location_path(@location), class: 'btn btn-default' %>
                <% end %>
              </div>
              <div class="col-md-4">
                <% if @location.hospital? || @location.practice?%>
                  <%= render partial: 'shared/map', locals: {id: 'map'} %>
                  <%= render "business_hours", hour_obj: @location %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <% if @award.present? %>
              <div class="service-review-detail" id="departmentreviews">
                <% if @award.location_type == "Travel Health Insurance" %>
                     <h3>Consumer Satisfaction Awards</h3>
                <% else %>
                    <h3>Patient Satisfaction Awards</h3>
                <% end %>
                  <div class="over-all_section">
                      <%=image_tag "#{@award.award_type}.jpg", class: 'award_img', alt: @award.award_type %>
                  </div>
              </div><!--end-->
        <% end %>

        <%= render "review_summary" %>
        <%= render "department_summary" %>
        <%= render partial: "medicare_and_patient_experience_chart", locals: {obj: @location} %>
        <%= render "review_filter" %>
        <%= render partial: "user_rating", collection: @ratings, as: :rating %>
        <% if @ratings.blank? %>
        <div class="over-all_section over-all_section_CLAIM">
          <p><a href="<%= rating_url(@location) %>">WRITE A REVIEW</a></p>
        </div>
        <% end %>


        <div class="service-review-detail service-review-detail_last" id="qa">
          <h3>DO YOU HAVE QUESTIONS ABOUT <%= "#{@location.name}".upcase %></h3>
          <hr/>
          <div class="over-all_section over-all_section_CLAIM">
            <p>Do You Have Questions About Healthcare? <a href="<%= url_for([:new, @location, :question]) %>">ASK A QUESTION</a></p>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
            <% if @location.questions.any?  %>
              <%= render partial: "questions/question", collection: @location.questions.order(created_at: :desc) %>
            <% end %>
            </div>
          </div>
        </div>
        <%= render partial: 'shared/blogs', locals: {cls: 'mobile-view-bp-sec'} %>
        </div><!--8-->
    </div>
    <%= render partial: 'shared/near_by', locals: {country: @location.country_slug, state: @location.state_slug, city: @location.city_slug} if @location.hospital? %>
  </div>

  </section>

<% if @location.hospital? && @location.lat_lng_present? %>
  <% content_for :extra_js do %>
    <script  type="text/javascript">
      initMap(<%= @location.latitude %>, <%= @location.longitude %>, '<%= @location.name %>');
      $('.doctor-hidden').addClass('hide');
      $('#showAllDrs').click(function() {
        $(this).hide();
        $('.doctor-hidden').removeClass('hide');
      })
    </script>
  <% end %>
<% end %>
