h1 Procedures
p=link_to "New", new_admin_procedure_path, class: 'button'

.button-group
table data-nosort=""
  thead
    tr
      th Name
  tbody
    - @resources.order(:name).each do |resource|
      tr
        td=link_to resource.name, edit_admin_procedure_path(resource)
- if @resources.present?
  .text-center
    = paginate(@resources)