<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-93956350-1', 'auto');
  ga('send', 'pageview');
</script>
<meta name="google-site-verification" content="kxo0YpUVV06w7nuI-dOb1HMGWVpu4OGK6u53H2gpadg" />
<%= yield(:custom_meta_tags) %>
