.col-md-4
  div.revie-hosp-frame.affiliate-frame.row
    .col-md-4
      = avaliable_promotions.decorate.promotion_image
      - url = avaliable_promotions.display_on == 'Providers' ? manage_path(avaliable_promotions.id) : users_info_path(avaliable_promotions.id)

    .col-md-8
      .promotion-title
        = link_to strip_tags(avaliable_promotions.title), url
      = avaliable_promotions.blurb.html_safe
