<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', cache: 'cached/application' %>
<%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyAQhiNZwh9zNSLOafWgwNruO-KdFBGHFG8&libraries=places&callback=initMap', 'data-turbolinks-track': 'reload' %>
<%= csrf_meta_tags %>
<%= set_default_meta_tags %>
<meta name='ir-site-verification-token' value='1719880' />