<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="flash-wrapper row alert <%= bootstrap_class_for(name) %>">
      <%= content_tag :div, msg, :id => "flash_#{name}", class: 'columns medium-11' %>
      <button type="button" class="close columns medium-1" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
  <% end %>
<% end %>
