<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-md-3_footer_left">
          <div class="footer-logo">
            <a href="/">
              <%= image_tag 'img/footer-logo.png', class: "img-responsive" %>
            </a>
          </div>
          <div class='row footer-menu-list'>
            <div class="col-md-6">
              <%= render partial: 'shared/map', locals: {id: 'healthsoul_map'} %>
            </div>
            <div class='col-md-6'>
              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop='name'> HealthSoul, LLC </span><br/>
                P.O. Box <span itemprop='postOfficeBoxNumber'>9224 </span> <br/>
                <span itemprop='addressLocality'> Springfield</span>, 
                <span itemprop='addressRegion'> IL</span>, 
                <span itemprop='postalCode'> 62791</span>,
                <span itemprop='addressCountry'> USA</span><br/>
              </div>
              <div itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                <span itemprop='telephone'><%= link_to '217-993-2323', "tel:217-993-2323", title: '217-993-2323' %></span><br/>
                <span itemprop='email'><%= mail_to("info@healthsoul.com", "info@healthsoul.com") %></span>
                <meta itemprop="contactType" content="customer service" />
              </div>
            </div>
          </div>
        </div>
        <!--colmd3-->
        <div class="col-md-2 hidden-xs hidden-sm">
          <div class="footer-menu-list">
            <ul>
              <li><%= link_to "Doctors", search_doctors_path(clear: 'true'), title: "Doctors" %></li>
              <li><%= link_to "Hospitals", search_hospitals_path(clear: 'true'), title: "Hospitals" %></li>
              <li><%= link_to "FAQs", faqs_path, title: "FAQs" %></li>
              <li><%= link_to "About Us", about_path, title: "About Us" %></li>
              <li><%= link_to "Press", press_path, title: "Press" %></li>
              <li><%= link_to "Advertise", new_advertising_request_path, title: "Advertise" %></li>
              <li><%= link_to "Contributors", editorial_board_path, title: "Contributors" %></li>
            </ul>
          </div>
        </div>
        <!--colmd3-->
        <div class="col-md-2">
          <div class="footer-menu-list hidden-xs hidden-sm">
            <ul>
              <li><%= link_to "Calculators", calculators_path, title: "Calculators" %></li>
              <li><%= link_to "Health Insurance", search_health_insurances_by_country_path, title: "Health Insurance" %></li>
              <li><%= link_to "Travel Health Insurance", search_travel_health_insurances_by_country_path, title: "Travel Health Insurance" %></li>
              <li><%= link_to "Healthcare Facilities", search_healthcare_facilities_path, title: "Healthcare Facilities" %></li>
              <li><%= link_to "Trainees", medical_students_path, title: "Trainees" %></li>
              <li><%= link_to "Share your Story", new_patient_story_path, title: "Share your Story" %></li>
              <li><%= link_to "Patient Experience Awards", awards_path, title: "Patient Experience Awards" %></li>
              <li><%= link_to "Privacy Policy", privacy_policy_path, title: "Privacy Policy" %></li>
              <li><%= link_to "Terms & Conditions", terms_path, title: "Terms & Conditions" %></li>
            </ul>
          </div>
        </div>
        <!--colmd3-->
        <div class="col-md-2 hidden-xs hidden-sm">
          <div class="footer-menu-list">
            <ul>
              <% if user_signed_in? %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete , title: "Sign Out"%></li>
              <li><%= link_to "Profile", user_path(current_user), title: "Profile" %></li>
              <% else %>
              <li><%= link_to "Login", new_user_session_path, title: "Login" %></li>
              <li><%= link_to "Sign Up", new_user_registration_path, title: "Sign Up" %></li>
              <% end %>
              <li><%= link_to "Contact Us", new_contact_path, title: 'Contact Us' %></li>
              <li><%= link_to "Forum", forum_path, title: "Forum" %></li>
              <li><%= link_to "Sitemap", sitemap_path, title: 'Sitemap' %></li>
            </ul>
          </div>
        </div>
        <!--colmd3-->
        <div class="col-md-2">
          <div class="footer-menu-list">
            <h4>Follow Us</h4>
            <div class="follow-us">
              <div class="row">
                <div class="col-md-3 col-sm-1 col-xs-1 col-xs-offset-4 col-sm-offset-4 col-md-offset-0 col-lg-offset-0">
                  <a title='HealthSoul Facebook' rel='nofollow' target="_blank" href="https://www.facebook.com/HealthSoulGlobal/">
                    <%= image_tag "img/footer-fb.png", class: 'icon_social' %>
                  </a>
                </div>
                <div class="col-md-3 col-sm-1 col-xs-1">
                  <a title='HealthSoul Twitter' rel='nofollow' target="_blank" href="https://twitter.com/HealthSoul2">
                    <%= image_tag "img/footer-ln.png", class: 'icon_social' %>
                  </a>
                </div>
                <div class="col-md-3 col-sm-1 col-xs-1">
                  <a title='HealthSoul Linkedin' rel='nofollow' target="_blank" href="https://www.linkedin.com/company/13309234/admin/">
                    <%= image_tag "img/linkedin.png", class: 'icon_social' %>
                  </a>
                </div>
                <div class="col-md-3 col-sm-1 col-xs-1">
                  <a title='HealthSoul Youtube' rel='nofollow' target="_blank" href=<%= "https://youtu.be/#{YOUTUBE_CHANNEL}" %>>
                    <%= image_tag "img/yt.png", class: 'icon_yt' %>
                  </a>
                </div>

              </div>
            </div>
            <div class="subscribe_form">
            <% unless user_signed_in? %>
              <% @user = User.new %>
              <%= simple_form_for @user, url: url_for(controller: "users", action: "create_subscription_only"), html: { id: 'subscribe_new_user_form' } do |f| %>
                <p> Subscribe to our Newsletter </p>
                <%= f.input :email, placeholder: "Email", input_html: { class: 'form-control', id: 'subscribe_new_user' }, label: false %>
                <%= f.button :button, "Subscribe",type: :submit, class: "btn btn-default"%>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
        <!--colmd3-->
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Healthsoul is a comprehensive online directory of hospitals, travel insurance, health insurance, and doctors from around the world. We exist to promote transparency in worldwide healthcare systems and bring to you the most unbiased and real patient testimonials and reviews so you can make an informed choice.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left">Disclaimer - The content on this site is for informational purposes only. Always use your own judgement before making any decision
      </p>
      <p class="pull-right">Copyright © 2017. Health Soul LLC. All Rights Reserved</p>
    </div>
  </div>
</footer>
<% content_for :extra_js do %>
  <script type="text/javascript">
    initMap(<%= HEALTHSOUL_LAT %>, <%= HEALTHSOUL_LNG %>, '<%= HEALTHSOUL_NAME %>', 'healthsoul_map');
  </script>
<% end %>
