<div class="healthsoul-home-page" itemscope itemtype="http://schema.org/Organization">
  <header>
    <div class="header-right-list">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div id="navbar" class="navbar-collapse">
            <%= link_to root_path, itemprop: "url", href: "#{HOST}/" do %>
              <%= image_tag "img/logo.png", class: "header-logo", alt: 'HealthSoul', itemprop: "logo"%>
            <% end %>
            <ul class="nav navbar-nav  navbar-right">
              <li><%= link_to "Doctors", search_doctors_path(clear: 'true'), title: "Doctors" %></li>

              <li><%= link_to "Hospitals", search_hospitals_path(clear: 'true'), title: "Hospitals" %></li>

              <li><%= link_to "Health Insurance", search_health_insurances_by_country_path, title: "Health Insurance" %></li>
              
              <li><%= link_to "Travel Health Insurance", search_travel_health_insurances_by_country_path, title: "Travel Health Insurance" %></li>
              <!-- <li><%= link_to "Forum", forum_path %></li> -->
              <li><%= link_to "Blog", blogs_path, title: "Blog" %> </li>
              <li><%= link_to "Events", events_path, title: "Events" %> </li>
              <li class="dropdown"><%= link_to "How It Works", "#", class: 'dropdown-toggle', data: {toggle: 'dropdown'} %>
                <ul class="dropdown-menu">
                  <li><%= link_to "Users", users_info_path, title: "Users" %></li>
                  <li><%= link_to "Providers", current_user.present? ? manage_path : new_user_registration_path(:provider=> true), title: "Providers" %></li>
                </ul>
              </li>
              <% if user_signed_in? %>
              <li class="login"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, title: "Sign Out" %></li>
              <% if current_user.is_admin? %>
                <li><%= link_to "Admin", '/admin', title: "Admin" %></li>
              <% end %>
              <li><%= link_to "Profile", user_path(current_user), title: "Profile" %></li>
              <% else %>
                  <li class="login"><%= link_to "Login", new_user_session_path, title: "Login" %></li>
                  <li><%= link_to "Sign Up", new_user_registration_path, title: "Sign Up" %></li>
              <% end %>
              <li class="dropdown">
                <%= render "shared/country_select" %>
              </li>
            </ul>

          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>
    </div>
  </header>
  <div class="nav_munu_main_section">
    <div class="nav_munu_main_section_inner">
      <div class="nav_menu_logo_close">
        <div class="container">
          <div class=" nav_menu_logo">
            <div class="row">
              <div class="col-md-4">
                <div class="header-logo-frame">
                  <a href="<%= root_path %>">
                    <%= image_tag "img/logo.png" %>
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="right-nav pull-right">
                  <a class="close-nav" href="javascript:;">
                    <%= image_tag "img/close-nav.png", class: 'icon_close-nav' %>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div>
        <ul>
          <li class=<%= (params[:controller] == 'static_pages' && params[:action] == 'about') ? 'active' : '' %>>
            <%= link_to "About Us", about_path, title: 'About Us' %>
          </li>
          <li class=<%= params[:controller] == 'doctor_search' ? 'active' : '' %>>
            <%= link_to "Doctors", search_doctors_path(clear: true), title: 'Doctors' %>
          </li>
          <li class=<%= params[:controller] == 'searches' ? 'active' : '' %>>
            <%= link_to "Hospitals", search_hospitals_path(clear: true), title: 'Hospitals' %>
          </li>
          <li class=<%= params[:controller] == 'health_insurance' ? 'active' : '' %>>
            <%= link_to "Health Insurance", search_health_insurances_by_country_path, title: 'Health Insurance' %>
          </li>
          <li class=<%= params[:controller] == 'travel_health_insurance' ? 'active' : ''%>>
            <%= link_to "Travel Health Insurance", search_travel_health_insurances_by_country_path, title: 'Travel Health Insurance' %>
          </li>
          <li class=<%= (params[:controller] == 'static_pages' && params[:action] == 'users_info') ? 'active' : '' %>>
            <%= link_to "Healthcare User", users_info_path, title: 'Healthcare User' %>
          </li>
          <li class=<%= params[:controller] == 'registrations' ? 'active' : '' %>>
            <%= link_to "Healthcare Provider", current_user.present? ? manage_path : new_user_registration_path(:provider=> true), title: 'Healthcare Provider' %>
          </li>
          <li class=<%= params[:controller] == 'healthcare_facilities' ? 'active' : '' %>>
            <%= link_to "Healthcare Facilities", search_healthcare_facilities_path, title: "Healthcare Facilities" %>
          </li>
          <li class=<%=  params[:controller] == 'awards' ? 'active' : '' %>>
            <%= link_to "Patient Experience Awards", awards_path, title: 'Patient Experience Awards' %>
          </li>
          <li class=<%= params[:controller] == 'faqs' ? 'active' : ''%>>
            <%= link_to "Forum", forum_path, title: 'Forum' %>
          </li>
          <li class=<%= params[:controller] == 'advertising_requests' ? 'active' : '' %>>
            <%= link_to "Advertise", new_advertising_request_path, title: 'Advertise' %>
          </li>
          <li class=<%= (params[:controller] == 'static_pages' && params[:action] == 'faqs') ? 'active' : '' %>>
            <%= link_to "FAQs", faqs_path, title: 'FAQs' %>
          </li>
          <li class=<%= params[:controller] == 'blogs' ? 'active' : '' %>>
            <%= link_to "Blog", blogs_path, title: 'Blog'  %>
          </li>
          <li class=<%= (params[:controller] == 'static_pages' && params[:action] == 'press')? 'active' : '' %>>
            <%= link_to "Press", press_path, title: 'Press' %>
          </li>
          <li class=<%= (params[:controller] == 'static_pages' && params[:action] == 'terms')? 'active' : '' %>>
            <%= link_to "Terms & Conditions", terms_path, title: 'Terms & Conditions' %>
          </li>
          <li class=<%= params[:controller] == 'medical_students' ? 'active' : '' %>>
            <%= link_to "Trainees", medical_students_path, title: 'Trainees'  %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--nav-munu_main-section-->
  <div class="clear"></div>
  <nav class="nav_menu_logo visible-xs-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="header-logo-frame">
            <a href="<%= root_path %>">
              <%= image_tag "img/logo.png" %>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="right-nav pull-right">
            <a class="nav_click" href="javascript:;">
              <%= image_tag "img/nav.png", class: 'icon_nav' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
