- locale = session[:current_location]['country_alpha2'].try(:downcase)
- if locale
  - locale = "en-#{locale}"
  link href=("#{url_for(locale: locale, only_path: false)}") hreflang=locale rel="alternate" /

- else
  link href=("#{url_for(only_path: false)}") hreflang="x-default" rel="alternate" /


