<script type='application/ld+json'> 
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "HealthSoul",
    "url": "https://www.healthsoul.com/",
    "logo": "https://www.healthsoul.com/assets/img/logo.png",
    "description": "Global Directory of Healthcare Reviews",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "HealthSoul, LLC",
      "postOfficeBoxNumber": "9224",
      "addressLocality": "Springfield",
      "addressRegion": "illinois",
      "postalCode": "62791",
      "addressCountry": "USA"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-217-993-2323",
      "contactType": "customer service"
    }
  }
  <%= render_breadcrumbs builder: BreadcrumbsOnRails::JsonLd::Builder unless breadcrumbs.empty? %>
</script>
