		<div class="reviewed-items-section">
				<div class="col">
			
					<div class="col-md-12">
						<div class="reviewed-items-box">
						
							<div class="items-details">
      						<div class="row-md-9" >
   
       					 <h4><%= link_to recently_reviewed.name, recently_reviewed, title: recently_reviewed.name %> 
        					<p><%= recently_reviewed.city_country %></p>
        					<p><%= recently_reviewed.primary_specialty %></p></h4>
        					
		  				 </div>
		  				</div>
	 				</div>
	 			</div>
	 		</div>
	 	</div>