<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= render partial: 'layouts/default_header' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Locations", admin_locations_path %></li>
          <li><%= link_to "Reviews", admin_ratings_path %></li>
          <li><%= link_to "Questions", admin_questions_path %></li>
          <li><%= link_to "Users", admin_users_path %></li>
          <li><%= link_to "Doctors", admin_doctors_path %></li>
          <li><%= link_to "Practices", admin_practices_path %></li>
          <li><%= link_to "Practice Specialities", admin_practice_specialities_path %></li>
          <li><%= link_to "Practice Specialities FAQs", admin_practice_specialities_faqs_path %></li>
          <li><%= link_to "Conditions", admin_conditions_path %></li>
          <li><%= link_to "Procedures", admin_procedures_path %></li>
          <li><%= link_to "Claim Requests", admin_claim_requests_path %></li>
          <li><%= link_to "Blog", admin_blogs_path%></li>
          <li><%= link_to "Promotions", admin_promotions_path%></li>
          <li><%= link_to "Appointments", admin_appointments_path%></li>
          <li><%= link_to "Contributors", admin_editorial_members_path%></li>
          <li><%= link_to "Advertisements", admin_advertisements_path%></li>
          <li><%= link_to "Events", admin_events_path%></li>
          <li><%= link_to "Event Members", admin_event_members_path%></li>
          <li><%= link_to "Medical Students", admin_medical_students_path %></li>
          <li><%= link_to "Languages", admin_languages_path %></li>
          <li><%= link_to "Board Certifications", admin_board_certifications_path %></li>
          <li><%= link_to "Doctor & Hospital" , admin_doctor_hospitals_path %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <%= render 'layouts/flash', flash: flash %>
        <%= yield %>
        <%= yield(:extra_js) %>
      </div>
    </div>
  </body>
</html>
