<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/default_header' %>
    <% set_meta_tags icon: '/images/logo.png', type: 'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'design' %>
    <%= render partial: 'layouts/analytics' %>
    <%= render partial: 'layouts/facebook_pixel' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body class="<%= @body_class %>">
    <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button> 

      <ul class="vertical menu">
        <%= render 'shared/main_nav_links' %>
        <hr>
        <%= render 'shared/login_links' %>
      </ul>

    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <%= render 'shared/menu' %>
      <%= yield(:under_menu) %>
      <% if content_for?(:non_wrapper) %>
         <%= yield(:non_wrapper) %>
       <% else %>
        <div class="row">
          <div class="columns">
            <div class="content-wrapper">
              <%= render 'layouts/flash', flash: flash %>
              <%= yield %>
            </div>
          </div>
        </div>
       <% end %>
      <%= render 'shared/gdpr_modal' %>
      <%= render 'shared/footer' %>

    </div>


    <%= yield(:extra_js) %>
  </body>
</html>
