<!DOCTYPE html>
<html lang="en">

<head>
    <%= render partial: 'layouts/default_header' %>
    <%= canonical_tag -%>
    <%= favicon_link_tag asset_path('img/fav.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= favicon_link_tag asset_path('img/favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag 'design', media: 'all' %>
    <%= javascript_include_tag 'flexslider', cache: 'cached/flexslider' if [root_url, about_url].include? request.url %>
    <%= yield(:extra_styles) %>
    <%= render partial: 'layouts/analytics' %>
    <%= render partial: 'layouts/facebook_pixel' %>
    <% if controller.controller_name == 'blogs' && controller.action_name == "show" %>
      <!-- google adsense -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1905350847120100",
          enable_page_level_ads: true
        });
      </script>
      <!-- End google adsense -->
    <% end %>
</head>

<body class="<%= @body_class %>">
  <%= render "layouts/header" %>
  <%# We want to render the flash under the banner image for login, so check if the login page is being rendered.
      If it is, don't render the flash partial. %>
  <% unless hide_flash_message? %>
    <%= render 'layouts/flash', flash: flash %>
  <% end %>
  <%= render partial: 'layouts/breadcrumbs' %>
  <%= yield %>
  <% unless (params["controller"] == "static_pages" and (params["action"] == "privacy_policy" or params["action"] == "terms")) %>
    <%= render 'shared/gdpr_modal' %>
  <% end %>
  <%= render "layouts/footer" %>
  <%= yield(:extra_js) %>
</body>

</html>
