<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= set_default_meta_tags %>
    <%= canonical_tag -%>
    <%= yield(:custom_meta_tags) %>
    <meta name="google-site-verification" content="kxo0YpUVV06w7nuI-dOb1HMGWVpu4OGK6u53H2gpadg" />



    <%= favicon_link_tag asset_path('img/fav.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= favicon_link_tag asset_path('img/favicon.ico'), :rel => 'icon', :type => "image/x-icon" %> 
    <%= stylesheet_link_tag 'home_page', media: 'all' %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'true', cache: 'cached/home_page' %>
    <%= javascript_include_tag 'flexslider', cache: 'cached/flexslider' if [root_url, about_url].include? request.url %>
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyAQhiNZwh9zNSLOafWgwNruO-KdFBGHFG8&libraries=places&callback=initMap' %>
    <%= csrf_meta_tags %>
    <%= yield(:extra_styles) %>
    <%= render partial: 'layouts/analytics' %>
    <%= render partial: 'layouts/facebook_pixel' %>
</head>





<body class="<%= @body_class %>">
  <%= render "layouts/header" %>
  <%# We want to render the flash under the banner image for login, so check if the login page is being rendered.
      If it is, don't render the flash partial. %>
  <% unless hide_flash_message? %>
    <%= render 'layouts/flash', flash: flash %>
  <% end %>
  <%= yield %>
  <%= render 'shared/gdpr_modal' %>
  <%= render "layouts/footer" %>
  <%= yield(:extra_js) %>
</body>

</html>
