<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags og: {
      title: :title,
      site_name: :site,
      description: :description,
      image: asset_path('search-header.jpg'),
      type: 'website',
      url: request.original_url
    }%>
    <%= yield(:custom_meta_tags) %>
    <meta name="google-site-verification" content="kxo0YpUVV06w7nuI-dOb1HMGWVpu4OGK6u53H2gpadg" />
    <meta name='ir-site-verification-token' value='1719880' />
    <%= favicon_link_tag asset_path('img/fav.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= favicon_link_tag asset_path('img/favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <%= stylesheet_link_tag 'location_public', media: 'all', rel: "preload", onload: "this.rel = 'stylesheet'", as: "style" %>
    <%= javascript_include_tag 'location', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyAQhiNZwh9zNSLOafWgwNruO-KdFBGHFG8&libraries=places&callback=initMap' %>
    <%= csrf_meta_tags %>
    <%= yield(:extra_styles) %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93956350-1', 'auto');
      ga('send', 'pageview');
    </script>
    <%= render partial: 'layouts/facebook_pixel' %>
</head>

<body class="<%= @body_class %>">
  <%= render "layouts/header" %>
  <%# We want to render the flash under the banner image for login, so check if the login page is being rendered.
      If it is, don't render the flash partial. %>
  <% unless hide_flash_message? %>
    <%= render 'layouts/flash', flash: flash %>
  <% end %>
  <%= yield %>
  <% unless (params["controller"] == "static_pages" and (params["action"] == "privacy_policy" or params["action"] == "terms")) %>
    <%= render 'shared/gdpr_modal' %>
  <% end %>
  <%= render "layouts/footer" %>

  <script src="/js/jquery.flexslider.js"></script>
  <script src="/js/jquery.flexslider2.js"></script>

  <%= yield(:extra_js) %>
</body>

</html>
