<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="background: #ebebeb; font-family: arial; color: #676767;">
    <table style="background:#ebebeb;" width=100%>
      <tr>
        <td>
          <table align="center" style="background:#ccc;" width=600>
            <tr>
              <td style="padding: 20px; background: #fff;">
                <p style="text-align: center;"><img width="250" src="<%= image_url('img/logo.png', host: 'https://www.healthsoul.com') %>" /></p>
                <hr>
                <%= yield %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
