<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/default_header' %>

    <% set_meta_tags icon: '/images/logo.png', type: 'image/png' %>    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link as="script" href="<%= asset_path 'application.js' %>" rel="preload" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= render partial: 'layouts/analytics' %>
    <%= render partial: 'layouts/facebook_pixel' %>
  </head>

  <body class="<%= @body_class %>">
    <div class="row">
      <div class="columns">
        <div class="content-wrapper">
          <p class="text-right"><a href="javascript: history.go(-1)">Back</a></p>
          <%= render 'layouts/flash', flash: flash %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= yield(:extra_js) %>
  </body>
</html>
